.accreditation {
	.accredit-fl {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
		flex-wrap: wrap;

		.items {
			width: 32%;

			.item {
				width: 100%;
				margin-bottom: 20px;

				&:last-child {
					margin: 0;
				}

				p {
					font-size: 26px;
					bottom: 25px;
					left: 28px;
				}
			}
		}

		.item {
			width: 66%;
			position: relative;
			border-radius: 10px;

			img {
				width: 100%;
				object-fit: cover;
				height: 100%;
				border-radius: inherit;
			}
			p {
				position: absolute;
				bottom: 45px;
				color: #fff;
				font-size: 36px;
				left: 35px;
			}
			a {
				border-radius: inherit;
				width: 100%;
				height: 100%;
			}
		}
	}

	//guests
	&.accreditation-guests {
		.form-fl {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			label {
				width: 220px;

				input {
					width: 100% !important;
				}

				&:nth-child(2n) {
					width: 280px;
				}
			}
		}
	}

	//giveaway
	&.giveaway {
		form {
			h4 {
				margin: -15px 0 20px;
			}
		}
	}

	.block-fl {
		display: flex;
		flex-wrap: wrap;
		padding-top: 50px;

		.standart-form {
			margin-right: 40px;
		}
	}
	.rules {
		border: 1px dashed rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		padding: 25px 32px;
		margin-bottom: 27px;

		h4 {
			font-size: 26px;
			font-weight: 600;
			margin-bottom: 18px;
		}

		ul {
			font-size: 22px;

			li {
				position: relative;
				padding-left: 20px;
				line-height: 22px;
				margin-bottom: 10px;

				&:before {
					content: '.';
					position: absolute;
					color: #010101;
					left: 0;
					top: -3px;
				}
			}
		}
	}

	.text {
		font-size: 22px;

		a {
			color: #e73f60;
		}
	}

	@media screen and (max-width: 1024px) {
		.accredit-fl .items {
			width: 40%;
		}
		.accredit-fl .item {
			width: 58%;
		}
	}

	@media screen and (max-width: 500px) {
		.accredit-fl {
			.items {
				width: 100%;

				.item p {
					bottom: 25px;
					left: 25px;
					font-size: 25px;
				}
			}
			.item {
				width: 100%;
				margin-bottom: 20px;

				p {
					bottom: 25px;
					left: 25px;
					font-size: 25px;
				}
			}
		}
	}
}
