.financing {
	.tab-fl {
		display: flex;
	}

	.present-block {
		margin-left: 40px;
		font-size: 26px;
		font-family: 'GillSans-Bold', Helvetica, Arial, sans-serif;

		.present {
			border: 1px dashed rgba(0, 0, 0, 0.5);
			padding: 34px 49px;
			text-align: center;
			border-radius: 10px;
			margin-bottom: 30px;

			h4 {
				font-size: 26px;
				margin-bottom: 30px;
			}

			img {
				width: 100%;
			}
		}
		.present-text {
			line-height: 31px;
			span {
				color: #e73f60;
				font-weight: bold;
			}
		}
	}

	.names-fl {
		display: flex;
		flex-wrap: wrap;
	}

	.names-item {
		width: 23%;
		height: 180px;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
		border-radius: 10px;
		background: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 20px 27px;
		font-size: 24px;
		margin-bottom: 30px;
		margin-right: 30px;

		&:nth-child(4n) {
			margin-right: 0;
		}

		.amount {
			font-size: 45px;
			font-family: 'GillSans-Bold', Helvetica, Arial, sans-serif;
			line-height: 64px;
		}
		.name {
			line-height: 22px;
			margin: 15px 0 10px;
		}
		p.time {
			color: rgba(0, 0, 0, 0.4);
			line-height: 22px;
		}
	}

	.tab-content {
		margin-top: 40px;
	}

	@media screen and (max-width: 1024px) {
		.names-item .amount {
			font-size: 40px;
			line-height: 55px;
		}
	}

	@media screen and (max-width: 500px) {
		.present-block {
			margin: 0 !important;
		}
		.tab-fl {
			display: block;
		}
		.present-text br {
			display: none;
		}

		.present-text {
			font-size: 24px;
		}

		.names-fl {
			justify-content: space-between;

			.names-item {
				width: 48% !important;
				margin: 0 !important;
				margin-bottom: 20px !important;
				height: auto;

				.amount {
					font-size: 25px;
					line-height: initial;
				}
				.name {
					line-height: normal;
					margin: 5px 0;
					font-size: 18px;
				}
				p.time {
					font-size: 18px;
				}
			}
		}
	}

	@media screen and (max-width: 375px) {
		.names-item .amount {
			font-size: 22px !important;
		}
		.btn.btn--primary {
			padding: 10px 15px;
		}
	}

	@media screen and (max-width: 360px) {
		ul li {
			margin-right: 5px !important;
		}
		.present-text {
			font-size: 22px;
		}
		.names-item .amount {
			font-size: 20px !important;
		}
	}

	@media screen and (max-width: 320px) {
		.btn.btn--primary {
			font-size: 12px;
			padding: 10px;
		}
		.standart-form h3 {
			font-size: 28px;
		}
		.present-text {
			font-size: 19px;
		}
		.names-item .amount {
			font-size: 17px !important;
		}
	}
}
