.music_video {
	form {
		p {
			color: #000;
		}

		h3 {
			margin-bottom: 10px;
		}
		h4 {
			font-size: 22px;
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;

			a {
				color: #e73f60 !important;
				text-decoration: underline;
				text-underline-position: under;
				display: block;
			}
		}

		.form-fl {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			label {
				width: 280px;

				input {
					width: 100%;
				}

				&:nth-child(1) {
					width: 220px;
				}
				&:nth-child(4) {
					width: 220px;
				}
			}
		}

		.members {
			margin-top: 34px;

			h4 {
				margin-bottom: 10px;
			}

			.form-fl {
				label {
					width: 370px;
				}
			}

			.file {
				margin: 0;
				width: 134px !important;
				position: relative;

				&__chot {
					background: transparent;
					height: auto;
					padding: 0;
					position: absolute;
					height: 48px;
					bottom: 0;
					border: none;

					&:hover {
						border: 1px dashed #e73f60;
						&:before {
							color: #e73f60;
						}
					}
				}

				input {
					color: transparent;
					height: auto;
					padding: 0;
					position: absolute;
					height: 48px;
					bottom: 0;
					border: 1px dashed rgba(0, 0, 0, 0.1);

					&::-webkit-file-upload-button {
						visibility: hidden;
					}

					&:before {
						content: '+Добавить';
						color: rgba(0, 0, 0, 0.3);
						// border: 1px dashed rgba(0, 0, 0, 0.1);
						outline: none;
						cursor: pointer;
						position: absolute;
						width: 100%;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
					}

					&:after {
						position: absolute;
						content: '+';
						font-size: 18px;
						color: #e73f60;
						left: 25px;
						top: 10px;
					}

					&:hover {
						border: 1px dashed #e73f60;
						&:before {
							color: #e73f60;
						}
					}
				}
			}
		}
	}

	ul.events {
		flex-direction: column;
		display: flex;
		position: relative;

		li {
			position: relative;
			background: #f9f9f9;
			border-radius: 10px;
			margin-bottom: 50px;
			padding: 17px 17px 20px 23px;
			display: inline-block;
			margin-left: 30px;
			width: 320px;
			display: inline-block;

			&:nth-child(1) {
				h4 {
					color: #e73f60;
				}
				p {
					color: rgba(0, 0, 0, 0.6);
				}

				&:before {
					background: #e73f60;
				}
			}

			&:nth-child(2) {
				width: 365px;
			}

			&:nth-child(3) {
				width: 282px;
			}

			h4 {
				font-size: 26px;
				color: rgba(100, 100, 100, 0.6);
				margin-bottom: 3px;
				font-family: 'GillSans-Bold', Helvetica, Arial, sans-serif;
			}

			p {
				color: rgba(0, 0, 0, 0.2);
				font-size: 22px;
			}

			&:before {
				content: '';
				position: absolute;
				background: #a0a0a0;
				width: 22px;
				height: 22px;
				border-radius: 50%;
				left: -40px;
				top: 40%;
			}
			&:after {
				position: absolute;
				content: '';
				background: url(/images/icons/l-arrow.png);
				width: 10px;
				height: 10px;
				left: -9px;
				top: 45%;
			}
		}

		&:before {
			position: absolute;
			content: '';
			width: 2px;
			height: 69%;
			background: rgba(0, 0, 0, 0.1);
			top: 10%;
		}
	}

	@media screen and (max-width: 500px) {
		form {
			p {
				font-size: 16px;

				br {
					display: none;
				}
			}
			h4 {
				font-size: 20px;
				br {
					display: none;
				}
				a {
					font-size: 15px;
				}
			}
			.members {
				.file {
					input {
						position: unset !important;

						&:after {
							content: '+';
							font-size: 16px;
							left: 30px;
							top: 11px;
						}
					}
				}
			}
		}

		.rules-block {
			width: 100%;

			ul.events li {
				width: 90% !important;
			}
		}
	}

	@media screen and (max-width: 500px) {
		ul.events li {
			h4 {
				font-size: 22px !important;
			}
			p {
				font-size: 18px;
			}
		}
	}
}
