.pitches {
	// span.select2-selection.select2-selection--single span {
	// 	color: rgba(0, 0, 0, 0.3) !important;
	// }

	form {
		p {
			color: #000;
		}

		h3 {
			margin-bottom: 10px;
		}
		h4 {
			font-size: 22px;
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;

			a {
				color: #e73f60 !important;
				text-decoration: underline;
				text-underline-position: under;
				display: block;
			}
		}

		label.textarea {
			textarea {
				height: 110px;
				width: 100%;
				border: 1px solid #e2e2e2;
				border-radius: 2px;
				padding: 8.5px 18px;

				&::placeholder {
					color: rgba(0, 0, 0, 0.3);
				}
			}
		}

		.form-fl {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			label {
				width: 280px;

				input {
					width: 100%;
				}

				&:nth-child(1) {
					width: 220px;
				}
			}
		}

		span.select2.select2-container.select2-container--default {
			width: 430px !important;
		}

		.members {
			.form-fl {
				label {
					width: 370px;
				}
			}

			.file {
				margin: 0;
				width: 254px !important;
				position: relative;

				input {
					color: transparent;
					height: auto;
					padding: 0;
					height: 48px;
					border: none;
					border: 1px dashed rgba(0, 0, 0, 0.1);

					&::-webkit-file-upload-button {
						visibility: hidden;
					}

					&:before {
						content: '+Окончательный сценарий';
						color: rgba(0, 0, 0, 0.3);

						outline: none;
						cursor: pointer;
						position: absolute;
						width: 100%;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
					}

					&:after {
						position: absolute;
						content: '+';
						font-size: 18px;
						color: #e73f60;
						left: 24px;
						top: 11px;
					}

					&:hover {
						border: 1px dashed #e73f60;
						&:before {
							color: #e73f60;
						}
					}
				}

				&:nth-child(2) {
					input {
						&:before {
							content: '+Презентация проекта';
						}
						&:after {
							left: 40px;
						}
					}
				}
			}
		}
	}

	ul.events {
		flex-direction: column;
		display: flex;
		position: relative;

		li {
			position: relative;
			background: #f9f9f9;
			border-radius: 10px;
			margin-bottom: 50px;
			padding: 17px 17px 20px 23px;
			display: inline-block;
			margin-left: 30px;
			width: 320px;
			display: inline-block;

			&:nth-child(1) {
				h4 {
					color: #e73f60;
				}
				p {
					color: rgba(0, 0, 0, 0.6);
				}

				&:before {
					background: #e73f60;
				}
			}

			&:nth-child(2) {
				width: 365px;
			}

			&:nth-child(3) {
				width: 282px;
			}

			h4 {
				font-size: 26px;
				color: rgba(100, 100, 100, 0.6);
				margin-bottom: 3px;
				font-family: 'GillSans-Bold', Helvetica, Arial, sans-serif;
			}

			p {
				color: rgba(0, 0, 0, 0.2);
				font-size: 22px;
			}

			&:before {
				content: '';
				position: absolute;
				background: #a0a0a0;
				width: 22px;
				height: 22px;
				border-radius: 50%;
				left: -40px;
				top: 40%;
			}
			&:after {
				position: absolute;
				content: '';
				background: url(/images/icons/l-arrow.png);
				width: 10px;
				height: 10px;
				left: -9px;
				top: 45%;
			}
		}

		&:before {
			position: absolute;
			content: '';
			width: 2px;
			height: 69%;
			background: rgba(0, 0, 0, 0.1);
			top: 10%;
		}
	}

	@media screen and (max-width: 500px) {
		form {
			p {
				font-size: 16px;

				br {
					display: none;
				}
			}
			h4 {
				font-size: 20px;
				br {
					display: none;
				}
				a {
					font-size: 15px;
				}
			}
			.members {
				.file {
					input {
						position: unset !important;

						&:after {
							content: '+';
							font-size: 16px;
							left: 30px;
							top: 11px;
						}
					}
				}
			}
		}

		.rules-block {
			width: 100%;

			ul.events li {
				width: 90% !important;
			}
		}
	}

	@media screen and (max-width: 500px) {
		form {
			span.select2.select2-container.select2-container--default {
				width: 100% !important;
			}

			.file {
				input {
					&:after {
						left: 36px !important;
						top: 12px !important;
					}
				}

				&:nth-child(2) {
					input {
						&:after {
							left: 50px !important;
						}
					}
				}
			}
		}

		ul.events li {
			h4 {
				font-size: 22px !important;
			}
			p {
				font-size: 18px;
			}
		}
	}

	@media screen and (max-width: 320px) {
		form {
			.file {
				input {
					&:after {
						left: 33px !important;
					}
				}

				&:nth-child(2) {
					input {
						&:after {
							left: 48px !important;
						}
					}
				}
			}
		}
	}
}
