.video-contest {
	.tab-content {
		margin-top: 40px;

		h4 {
			font-size: 18px;
			color: #242730;
			margin-bottom: 30px;
		}

		.name {
			display: flex;
			font-size: 42px;
			align-items: center;
			line-height: 48px;
			margin-top: 5px;

			span {
				background: rgba(252, 80, 94, 0.1);
				color: #fc505e;
				margin-left: 20px;
				font-size: 21px;
				opacity: 0.7;
				line-height: 25px;
				padding: 3px 10px;
				border-radius: 2px;
			}
		}
	}

	.fl-block {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.item {
			width: 48%;
			border-radius: 10px;
			margin-bottom: 60px;

			iframe {
				border-radius: inherit;
				height: 350px;
			}
		}
	}

	.party-block {
		.film-item {
			display: flex;
			height: 500px;
			margin-bottom: 30px;

			.video {
				width: 50%;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;

				iframe {
					border-radius: inherit;
				}
			}
			.info {
				width: 50%;
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
				padding: 20px 25px;
				box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

				.name {
					font-size: 24px !important;

					span {
						font-size: 16px !important;
					}
				}
			}
		}

		.peoples-fl {
			display: flex;
			margin-top: 25px;
			flex-wrap: wrap;

			.item {
				display: block !important;
				text-align: center;
				width: 22.75%;
				font-size: 14px;
				height: auto !important;
				margin-right: 16px;
				margin-bottom: 10px;

				&:nth-child(4n) {
					margin-right: 0;
				}

				.person-name {
					font-weight: 600;
					margin: 5px 0 7px;
					line-height: 18px;
				}

				.proffession {
					font-size: 12px;
					line-height: 14px;
				}
			}
		}
	}

	@media screen and (max-width: 1024px) {
		.party-block {
			.peoples-fl {
				.item {
					width: 23%;
					margin-right: 10px;
					margin-bottom: 10px;
				}
			}
		}
	}

	@media screen and (max-width: 500px) {
		.name {
			flex-direction: column !important;
			align-items: flex-start !important;
			font-size: 26px !important;
			margin-top: -10px !important;
			line-height: auto !important;

			span {
				margin-left: 0 !important;
				font-size: 14px !important;
			}
		}

		.fl-block {
			.item {
				width: 100%;
				margin-bottom: 50px;

				iframe {
					height: 250px;
				}
			}
		}

		.party-block {
			.film-item {
				height: auto;
				display: block;

				.video {
					width: 100%;
					border-radius: 10px;
					height: 210px;
					border-bottom-right-radius: 0;
					border-bottom-left-radius: 0;
				}

				.info {
					width: 100%;
					border-bottom-left-radius: 10px;
					border-top-right-radius: 0;
				}
			}
			.peoples-fl .item {
				width: 31%;

				&:nth-child(4n) {
					margin-right: 10px;
				}
				&:nth-child(3n) {
					margin-right: 0px;
				}
			}
		}
	}

	@media screen and (max-width: 360px) {
		.party-block {
			.peoples-fl .item {
				width: 30%;
			}
		}
	}
}
