{% extends "layouts/default.njk" %}
{% set error__404 = true %}
{% block content %}

    <main class="main main--secondary error-404">
        <div class="container">
            <div class="error-page">
                <div class="error-body">
                    <h1>Упс, мы потерялись...404</h1>
                    <h2 class="title--primary">Упс, мы потерялись...</h2>
                    <p class="error-page-description">К сожалению страница не найдена, можете пройти по одной из ссылок, расположенных выше.</p>
                </div>
                <figure class="error-hero"><img src="images/human.png" alt=""></figure>
            </div>
        </div>
        <!-- end .container -->
    </main>

{% endblock %}

{% block script %}
    <script src="scripts/pages/404.bundle.js"></script>
{% endblock %}