{% extends "layouts/default.njk" %}
{% set about = true %}
{% block content %}

    <main class="main main--secondary">
        <div class="main-head">
            <div class="container">
                <h1>Всё о «Байконуре»</h1>
                <h3 class="title-section title-section--primary">Всё о «Байконуре»</h3>
            </div>
        </div>

        <div class="main-body">
            <section class="about">
                <div class="container">
                    <section class="about-main">
                        <div class="grid">
                            <div class="grid-item grid-item--content">
                                <article class="article clearfix">
                                    <h3 class="title--secondary">О фестивале</h3>
                                    <figure class="about-avatar pull-left"><img src="images/avatar-festival.png" class="img" alt=""></figure>
                                    <p>Республиканский фестиваль короткометражного кино «Байконур» — уникальное культурное мероприятие, которому нет аналогов в Казахстане. «Байконур» — это знакомство с работами молодых кинематографистов нашей страны, он призван стать стартовой площадкой для творческого «взлета» участников фестиваля и открытия новых имен в казахстанском кино. Задача Фестиваля — популяризировать молодое, короткометражное кино среди казахстанцев.</p>
                                </article>
                                <div class="tabs">
                                    <ul class="nav nav--tabs" role="tablist">
                                        <li class="nav-item active" role="presentation">
                                            <a href="#festRules" class="nav-link" aria-controls="festRules" role="tab" data-toggle="tab">Регламент</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a href="#festCategories" class="nav-link" aria-controls="festCategories" role="tab" data-toggle="tab">Номинации</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a href="#festOutside" class="nav-link" aria-controls="festOutside" role="tab" data-toggle="tab">Внеконкурсная программа</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="festRules">
                                            <article class="article">
                                                <p>I Республиканский фестиваль короткометражного кино «Байконур» (далее - Фестиваль) создан с целью поддержки молодых кинематографистов и развития казахстанской киноиндустрии. Организатором Фестиваля выступает профессиональный кинопортал «Бродвей».Фестивальная программа состоит из конкурсных и внеконкурсных короткометражных работ.</p>
                                            </article>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="festCategories">
                                            <article class="article">
                                                <p>Жюри конкурсной программы определяют победителей в номинациях:</p>
                                                <ul>
                                                    <li>&ndash; «Гран-при»</li>
                                                    <li>&ndash; «Лучшая актриса»</li>
                                                    <li>&ndash; «Лучший актер»</li>
                                                    <li>&ndash; «Лучший режиссер»</li>
                                                    <li>&ndash; «Лучший художник-постановщик»</li>
                                                    <li>&ndash; «Лучший оператор»</li>
                                                    <li>&ndash; «Лучший сценарий»</li>
                                                    <li>&ndash; «Лучший экспериментальный фильм»</li>
                                                    <li>&ndash; «Лучший документальный фильм»</li>
                                                    <li>&ndash; «Лучший анимационный фильм»</li>
                                                    <li>&ndash; «Выбор «Бродвея»</li>
                                                </ul>
                                                <p>В каждой категории побеждает лишь один фильм. Каждый участник может стать победителем не более двух номинаций.</p>
                                            </article>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="festOutside">
                                            <article class="article">
                                                <p>Во внеконкурсную программу принимаются короткометражные игровые, документальные, анимационные фильмы, которые не могут быть включены по правилам фестиваля в конкурсную программу.  Дирекция фестиваля имеет право вносить поправки и изменения во внеконкурсную программу.</p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item grid-item--secondary">
                                <div class="thumb thumb--dashed">
                                    <a href="retro.html" class="link--overlay"></a>
                                    <div class="thumb-title">Ретроспектива</div>
                                    <p class="thumb-description">История «Байконура»</p>
                                </div>

                                <aside class="contacts">
                                    <div class="title--secondary">Контакты</div>
                                    <div class="contacts-item">
                                        <div class="title">Ануар Кенжибаев</div>
                                        <div class="text">Директор фестиваля</div>
                                        <div class="meta">
                                            <a href="tel:+7 707 777-17-71" class="link">+7 707 777-17-71</a>
                                        </div>
                                    </div>
                                    <div class="contacts-item">
                                        <div class="title">Айдана Мамаева</div>
                                        <div class="text">Пресс-служба фестиваля (аккредитация)</div>
                                        <div class="meta">
                                            <a href="tel:+7 775 321-46-43" class="link">+7 775 321-46-43</a>
                                        </div>
                                    </div>
                                    <div class="contacts-item">
                                        <div class="meta">
                                            <strong class="strong">Почта:</strong>
                                            <a href="mailto:info@brod.kz" class="link">info@brod.kz</a>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </section>
                    <!-- end .about-main -->

                    <section class="about-team">
                        <div class="grid">
                            <div class="grid-item grid-item--content">
                                <h3 class="title--secondary">Команда фестиваля</h3>
                                <div class="people">
                                    <ul class="people-list">
                                        <li class="people-item">
                                            <a href="#" class="link--overlay"></a>
                                            <figure class="people-image"><img src="images/team1.png" alt=""></figure>
                                            <h5 class="people-name">Ануар Кенжибаев</h5>
                                            <p class="people-meta people-meta--primary">Директор фестиваля</p>
                                        </li>
                                        <li class="people-item">
                                            <a href="#" class="link--overlay"></a>
                                            <figure class="people-image"><img src="images/team2.png" alt=""></figure>
                                            <h5 class="people-name">Жасар Ниеталин</h5>
                                            <p class="people-meta people-meta--primary">Тех. поддержка</p>
                                        </li>
                                        <li class="people-item">
                                            <a href="#" class="link--overlay"></a>
                                            <figure class="people-image"><img src="images/team3.png" alt=""></figure>
                                            <h5 class="people-name">Гульнара Абикеева</h5>
                                            <p class="people-meta people-meta--primary">Советник фестиваля</p>
                                        </li>
                                        <li class="people-item">
                                            <a href="#" class="link--overlay"></a>
                                            <figure class="people-image"><img src="images/team4.png" alt=""></figure>
                                            <h5 class="people-name">Инна Смаилова</h5>
                                            <p class="people-meta people-meta--primary">Советник фестиваля</p>
                                        </li>

                                        <li class="people-item">
                                            <a href="#" class="link--overlay"></a>
                                            <figure class="people-image"><img src="images/team5.png" alt=""></figure>
                                            <h5 class="people-name">Аблай Куанышбеков</h5>
                                            <p class="people-meta people-meta--primary">Юрист</p>
                                        </li>
                                        <li class="people-item">
                                            <a href="#" class="link--overlay"></a>
                                            <figure class="people-image"><img src="images/team6.png" alt=""></figure>
                                            <h5 class="people-name">Айгерим Каскыр</h5>
                                            <p class="people-meta people-meta--primary">Журналист</p>
                                        </li>
                                        <li class="people-item">
                                            <a href="#" class="link--overlay"></a>
                                            <figure class="people-image"><img src="images/team7.png" alt=""></figure>
                                            <h5 class="people-name">Айдана Мамаева</h5>
                                            <p class="people-meta people-meta--primary">Пресс-секретарь</p>
                                        </li>
                                        <li class="people-item">
                                            <a href="#" class="link--overlay"></a>
                                            <figure class="people-image"><img src="images/team8.png" alt=""></figure>
                                            <h5 class="people-name">Роман Надеин</h5>
                                            <p class="people-meta">Руководитель проекта <br/>Rocket Firm</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="grid-item grid-item--secondary">
                                <div class="thumb thumb--dashed">
                                    <a href="//brod.kz" class="link--overlay"></a>
                                    <div class="thumb-title"><img src="images/logo-brod.svg" alt=""></div>
                                    <p class="thumb-description">«Бродвей» — главный организатор фестиваля</p>
                                </div>
                            </div>
                        </div>
                        <!-- end .grid -->
                    </section>
                    <!-- end .about-team -->
                </div>
                <!-- end .container -->
            </section>
        </div>
        <!-- end .main-body -->
    </main>

{% endblock %}