{% extends "layouts/default.njk" %}
{% set accreditation = true %}
{% block content %}

    <main class="main main--secondary accreditation">
        <div class="main-head">
            <div class="container">

                <h3 class="title-section title-section--primary">Аккредиатция</h3>
            </div>
        </div>
        <div class="main-body">
            <div class="container">
                <div class="accredit-fl">
                    <div class="item">
                        <a href="accreditation-guests.html">
                            <img src="images/accred1.jpg" alt="">
                            <p>Для гостей</p>
                        </a>
                    </div>
                    <div class="items">
                        <div class="item">
                            <a href="mass-media.html">
                                <img src="images/accred2.jpg" alt="">
                                <p>Для СМИ</p>
                            </a>
                        </div>
                        <div class="item">
                            <a href="giveaway.html">
                                <img src="images/accred3.jpg" alt="">
                                <p>Розыгрыш подарков <br> среди гостей</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}