{% extends "layouts/default.njk" %}
{% set accreditation = true %}
{% block content %}

    <main class="main main--secondary accreditation accreditation-guests">
        <div class="main-head">
            <div class="container">

                <h3 class="title-section title-section--primary">Гости</h3>
            </div>
        </div>
        <div class="main-body">
            <div class="container">
                <div class="block-fl">
                    <div class="standart-form">
                        <form action="" id="accreditation-guests-form">
                            <h3>Форма заявки</h3>

                            <div class="form-fl">
                                <label for="">Ваше имя
                                <input type="text" name="name" placeholder="Имя">
                                </label>
                                <label for="">Ваша фамилия
                                <input type="text" name="name" placeholder="Фамилия">
                                </label>
                                <label for=""> Телефон
                                <input type="tel" name="phone" id="intphone">
                                </label>
                                <label for="">Почта
                                <input type="email" name="email" placeholder="example@gmail.com">
                                </label>
                            </div>

                            <label for="">Кем являетесь
                            <select class="js-example-basic-single" name="state">
                                    <option value="Меломан (не работаю/учусь в этой сфере)">Меломан (не работаю/учусь в этой сфере)
                                </option>
                                    <option value="Студент-киношникs">Студент-киношник</option>
                                    <option value="Режиссер">Режиссер
                                </option>
                                    <option value="Режиссер монтажа">Режиссер монтажа
                                </option>
                                    <option value="Продюсер">Продюсер</option>
                                    <option value="Киновед/Кинокритик">Киновед/Кинокритик</option>
                                    <option value="Звукорежиссер">Звукорежиссер</option>
                                    <option value="Художник-постановщик">Художник-постановщик</option>
                                    <option value="Художник по костюму">Художник по костюму</option>
                                    <option value="Художник по гриму">Художник по гриму</option>
                                    <option value="Художник по визуальным эффектом">Художник по визуальным эффектом</option>
                                    <option value="Колорист">Колорист</option>
                                    <option value="Актер/Актриса">Актер/Актриса</option>
                                    <option value="Другое">Другое</option>
                                </select>
                            </label>
                            <label for="check" class="checkbox">
                                <input type="checkbox" name="" id="check">
                                <span class="checkmark"></span>
                            Подписаться на рассылку новостей
                        </label>
                            <button class="submit">Отправить заявку</button>
                        </form>
                    </div>

                    <div class="rules-block">
                        <div class="rules">
                            <h4>Правила подачи заявок</h4>
                            <ul>
                                <li>заполняйте поля без ошибок</li>
                                <li>все поля обзятельны для заполнения</li>
                            </ul>
                        </div>

                        <div class="text">
                        По всем вопросам аккредитации пишите <br>
нам на почту <a href="mailto:guest@baiqonyr.kz" target="_blank">guest@baiqonyr.kz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block script %}
    <script src="extra/utils.js"></script>
    <script src="extra/intl-tel-input.js"></script>
    <script src="extra/select2init.js"></script>

{% endblock %}