{% extends "layouts/default.njk" %}
{% set participate = true %}
{% block content %}

    <main class="main main--secondary">
        <div class="main-head">
            <div class="container">
                <h1>Подача заявки</h1>
                <h3 class="title-section title-section--primary">Подача заявки</h3>
            </div>
        </div>

        <div class="main-body">
            <div class="anycontest">
                <div class="container">
                    <div class="anycontest__content">
                        <a href="application.html" class="content">
                            <h6>Национальный конкурс</h6>
                            <p>Игровое, документальное, анимационное короткометражное кино</p>
                        </a>
                        <a href="application.html" class="content">
                            <h6>Основной<br> конкурс</h6>
                            <p>Допускаются режиссеры, 
              чьи фильмы прошли проверку отборочной комиссии</p>
                        </a>
                        <a href="music_video.html" class="content">
                            <h6>Конкурс музыкальных видео</h6>
                            <p>Специальный конкурс музыкального видео тюркских народов для клипмейкеров</p>
                        </a>
                        <a href="pitches.html" class="content">
                            <h6>Питчинги сценариев</h6>
                            <p>К участию приглашаются режиссеры, сценаристы, продюсеры со всего Казахстана</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </main>

{% endblock %}