{% extends "layouts/default.njk" %}
{% set participate = true %}
{% block content %}

    <script type="text/javascript">
        var siteData = {
            "genres": [
                {
                    "id": 42,
                    "title": "TV-программы"
                }, {
                    "id": 39,
                    "title": "азиатский"
                }, {
                    "id": 53,
                    "title": "аниме"
                }, {
                    "id": 32,
                    "title": "Антиутопия"
                }, {
                    "id": 40,
                    "title": "артхаус"
                }, {
                    "id": 10,
                    "title": "Биография"
                }, {
                    "id": 6,
                    "title": "Боевик"
                }, {
                    "id": 55,
                    "title": "боевые искусства"
                }, {
                    "id": 30,
                    "title": "Вестерн"
                }, {
                    "id": 23,
                    "title": "Военный"
                }, {
                    "id": 14,
                    "title": "Детектив"
                }, {
                    "id": 18,
                    "title": "Детский"
                }, {
                    "id": 36,
                    "title": "детский/семейный"
                }, {
                    "id": 51,
                    "title": "для дошкольников"
                }, {
                    "id": 52,
                    "title": "для школьников"
                }, {
                    "id": 12,
                    "title": "Документальный"
                }, {
                    "id": 5,
                    "title": "Драма"
                }, {
                    "id": 54,
                    "title": "игры"
                }, {
                    "id": 57,
                    "title": "искусство"
                }, {
                    "id": 13,
                    "title": "Исторический"
                }, {
                    "id": 38,
                    "title": "история"
                }, {
                    "id": 2,
                    "title": "Комедия"
                }, {
                    "id": 46,
                    "title": "короткометражный"
                }, {
                    "id": 4,
                    "title": "Криминал"
                }, {
                    "id": 1,
                    "title": "Мелодрама"
                }, {
                    "id": 44,
                    "title": "мистика"
                }, {
                    "id": 16,
                    "title": "Молодежный"
                }, {
                    "id": 50,
                    "title": "музыка"
                }, {
                    "id": 47,
                    "title": "музыкальный"
                }, {
                    "id": 11,
                    "title": "Мультфильм"
                }, {
                    "id": 48,
                    "title": "мюзикл"
                }, {
                    "id": 35,
                    "title": "на языке оригинала"
                }, {
                    "id": 60,
                    "title": "немое кино"
                }, {
                    "id": 56,
                    "title": "образование"
                }, {
                    "id": 28,
                    "title": "Пародия"
                }, {
                    "id": 31,
                    "title": "Постапокалипсис"
                }, {
                    "id": 7,
                    "title": "Приключения"
                }, {
                    "id": 37,
                    "title": "природа"
                }, {
                    "id": 41,
                    "title": "путешествия"
                }, {
                    "id": 58,
                    "title": "ретро"
                }, {
                    "id": 19,
                    "title": "Семейный"
                }, {
                    "id": 15,
                    "title": "Сериал"
                }, {
                    "id": 29,
                    "title": "Ситком"
                }, {
                    "id": 21,
                    "title": "Сказка"
                }, {
                    "id": 45,
                    "title": "советский"
                }, {
                    "id": 59,
                    "title": "спектакль"
                }, {
                    "id": 17,
                    "title": "Спорт"
                }, {
                    "id": 25,
                    "title": "Трагикомедия"
                }, {
                    "id": 3,
                    "title": "Триллер"
                }, {
                    "id": 9,
                    "title": "Ужасы"
                }, {
                    "id": 8,
                    "title": "Фантастика"
                }, {
                    "id": 34,
                    "title": "фестивальный"
                }, {
                    "id": 24,
                    "title": "Фильм-катастрофа"
                }, {
                    "id": 20,
                    "title": "Фильм-притча"
                }, {
                    "id": 33,
                    "title": "фэнтези"
                }, {
                    "id": 43,
                    "title": "хроника"
                }, {
                    "id": 27,
                    "title": "Художественный"
                }, {
                    "id": 49,
                    "title": "эротика"
                }
            ],
            "categories": [
                {
                    "id": 3,
                    "title": "Анимационный"
                }, {
                    "id": 1,
                    "title": "Документальный"
                }, {
                    "id": 2,
                    "title": "Игровой"
                }
            ],
            "labels": {
                "add_button": "Добавить",
                "remove_button": "Удалить",
                "director_name": "Режиссер",
                "author_name": "Автор",
                "link": "Ссылка на скачивание",
                "text": "Краткий синопсис к фильму",
                "title": "Оригинальное название фильма",
                "year": "Год выпуска",
                "form_title": "Форма заявки",
                "workshop_name": "Мастерская (опционально)",
                "production_director_name": "Режиссер-постановщик (опционально)",
                "operator_name": "Оператор (опционально)",
                "design_director_name": "Художник-постановщик (опционально)",
                "scenarist_name": "Сценарист (опционально)",
                "producer_name": "Продюсер (опционально)",
                "actor_name": "Актеры (опционально)",
                "duration": "Длительность в минутах",
                "language": "Язык фильма",
                "genres": "Жанр",
                "image": "Добавить постер",
                "category_id": "Категория",
                "contact_name": "Фамилия имя отчество",
                "email": "Электронная почта",
                "submit-general": "Подтвердить сведения",
                "submit-team": "Подтвердить команду",
                "submit-contacts": "Подать заявку на конкурс",
                "tab-general": "Общие сведения",
                "tab-contacts": "Контакты",
                "tab-team": "Команда",
                "terms-begin": "Я ознакомлен(а) и принимаю условия, описанные в",
                "terms-end": "Регламенте кинофестиваля",
                "access": "Я предоставляю согласие Республиканскому фестивалю короткометражного кино на сбор, накопление, хранение и обработку моих персональных данных",
                "error-check-field": "Проверьте поле",
                "success-header": "Ваша заявка принята!",
                "success-message": "Мы получили вашу заявку, спасибо. После того, как жюри рассмотрит все работы, мы свяжемся с вами и сообщим результаты.",
                "lang_rus": "Русский",
                "lang_kaz": "Казахский",
                "lang_eng": "Английский"
            },
            "placeholders": {
                "director_name": "Введите имя и фамилию",
                "author_name": "Введите имя и фамилию",
                "link": "Укажите ссылку на фильм",
                "text": "Расскажите про свой фильм",
                "title": "Введите название фильма",
                "year": "гггг",
                "production_director_name": "Введите имя и фамилию",
                "design_director_name": "Введите имя и фамилию",
                "workshop_name": "Введите имя и фамилию",
                "operator_name": "Введите имя и фамилию",
                "scenarist_name": "Введите имя и фамилию",
                "producer_name": "Введите имя и фамилию",
                "actor_name": "Введите имя и фамилию",
                "duration": "мм",
                "language": "Язык фильма",
                "genres": "Выберите жанр",
                "image": "Постер",
                "category_id": "Выберите категорию",
                "contact_name": "Введите имя",
                "email": "Электронная почта"
            },
            "imageNotice": [
                "Требования к постеру:",
                "- минимальный размер постера: 200х290 пикселей;",
                "- обязательное размещение название фильма;",
                "- на постере должна быть перечислина команда фильма;",
                "- текст должен контрастировать с задним фоном.",
                "Рекомендации к постеру:",
                "- ориентация постера должна быть вертикальная;",
                "- постер должен нести смысловую нагрузку;",
                "- желательно разместить на постере слоган фильма."
            ]
        };
    </script>

    <main class="main main--secondary">
        <div class="main-head">
            <div class="container">
                <h1>Подать заявку</h1>
                <h3 class="title-section title-section--primary">Подать заявку</h3>
            </div>
        </div>

        <div class="main-body">
            <section class="application">
                <div class="container">
                    <article class="article">
                        <p>Для регистрации Вашего фильма заполните, пожалуйста все поля.</p>
                        <p>Фестивальная конкурсная программа состоит из короткометражных игровых, документальных,
						анимационных фильмов, произведенных в период с 2015 по 2016 гг. К участию в Фестивале
						приглашаются резиденты Республики Казахстан. Режиссер, подающий заявку на участие в Фестивале,
						должен быть не старше 29 лет.</p>
                    </article>

                    <!-- REACT FORM -->
                    <section id="formReact" class="form-app" data-lang="kk"></section>

                    <!-- ********** -->
                    <input type="tel" name="phone" id="intphone" >

                    <div class="form-sidebar">
                        <div class="form-rules">
                            <div class="title">Правила подачи заявки</div>
                            <ul class="list">
                                <li class="list-item">внимательно заполните все поля;</li>
                                <li class="list-item">все поля необходимы для заполонения;</li>
                                <li class="list-item">возраст режиссёра, на момент подачи заявки, не должен превышать 29
								лет.</li>
                            </ul>
                        </div>
                        <div class="form-scheme">
                            <ul class="form-scheme-list">
                                <li class="form-scheme-item active">
                                    <div class="form-scheme-item-wrapper">
                                        <h3 class="form-scheme-item-title">25 мая – 24 июля</h3>
                                        <p class="form-scheme-item-description">приём заявок</p>
                                    </div>
                                </li>
                                <li class="form-scheme-item">
                                    <div class="form-scheme-item-wrapper">
                                        <h3 class="form-scheme-item-title">24 июля – 12 августа</h3>
                                        <p class="form-scheme-item-description">24 июля – 12 августа</p>
                                    </div>
                                </li>
                                <li class="form-scheme-item">
                                    <div class="form-scheme-item-wrapper">
                                        <h3 class="form-scheme-item-title">12 августа</h3>
                                        <p class="form-scheme-item-description">оглашение участников</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- end .container -->
            </section>
            <!-- end .application -->
        </div>
    </main>

    {% block script %}
        <script src="extra/utils.js"></script>
        <script src="extra/intl-tel-input.js"></script>
        <script src="extra/form-react.js"></script>
    {% endblock %}

{% endblock %}