{% extends "layouts/default.njk" %}
{% set news = true %}
{% block content %}

    <main class="main main--secondary">
        <div class="main-head">
            <div class="container">
                <h1>Новости</h1>
                <h3 class="title-section title-section--primary">Новости</h3>
            </div>
        </div>
        <div class="main-body">
            <section class="articles">
                <div class="container">
                    <div class="grid">
                        <div class="grid-item grid-item--content">
                            <article class="article">
                                <!--               <ul class="breadcrumbs">
                <li class="breadcrumbs-item"><a href="cinema.html" class="link">Новости</a></li>
                <li class="breadcrumbs-item active"><a href="cinema.html" class="link">История от создателя кинофестиваля</a></li>
              </ul> -->
                                <h1>История об создателя кинофестиваля</h1>
                                <h2 class="title--primary">История об создателя кинофестиваля, бредет бредет думает такой себе и во да</h2>
                                <ul class="article-meta">
                                    <li class="meta-item meta-date">9 августа</li>
                                    <li class="meta-item meta-author">
                                        <a href="#" class="link">Данияр Махкамбаев</a>
                                    </li>
                                    <li class="meta-item meta-views">
                                        <span class="icon icon--views icon--lg"></span>1 342</li>
                                    <li class="meta-item meta-views">
                                        <span class="icon icon--comments icon--lg"></span>54</li>
                                </ul>
                                <!-- <figure class="article-cover"><img src="images/article-cover.jpg" alt=""></figure> -->
                                <figure class="article-cover"><img src="images/article-cover.jpg" alt=""></figure>
                                <p class="article-lead">17 сентября в рамках X МКФ «Евразия» прошел показ совместного проекта Ермека Шинарбаева и Жерара Депардье — «Голос степей».</p>
                                <p class="article-text">Будучи ребенком, Анатоль побывал в Казахстане, где его родители участвовали в археологических раскопках. Тогда брат мальчика погибает в аварии, и Анатоль под воздействием шока перестает говорить. На помощь приходит местный шаман, который исцеляет мальчика, научив его слышать все звуки природы. Спустя полвека в Париже Анатоль знакомится с Абаем, внуком того самого шамана, который уверен, что его дед передал свои уникальные способности Анатолю… Начать хотелось бы с того, что «Голос степей» — очень медитативное кино, схожее ритмом с типичным казахстанским арт-хаусом, но отличающееся от него внятностью повествования. Синопсис в данном случае ничем не поможет, потому что эта картина в большей степени ориентирована на внутренние ощущения зрителя, поэтому у каждого человека, безусловно, возникнет собственное представление о том, что же он видел на экране.</p>
                                <figure class="article-figure">
                                    <img src="images/article-image.jpg" class="article-image" alt="">
                                    <figcaption class="article-image-description">Анатоль (Жерар Депардье) и Абай (Берик Айтжанов)</figcaption>
                                </figure>
                                <p class="article-text">Не знаю, можно ли назвать Жерара Депардье основным манком для привлечения аудитории на просмотр «Голоса степей», на мой взгляд, скорее нет. Здесь солирует звуковая атмосфера больше, чем игра любого из актеров и открытое пространство заставляет в какой-то момент уйти в свои мысли и абстрагироваться от героев картины. На месте Жерара Депардье (Анатоль) или Берика Айтжанова (Абай) мог быть кто-либо другой и, наверное, ничего бы не изменилось. А, возможно, все изменилось бы кардинально. Мне несколько трудно судить, потому что два часа экранного времени я провела в глубоко личных ощущениях и сравнила бы себя скорее с орлом, который так часто пролетал в небе над степью.</p>
                                <h3 class="title--secondary">Тенгрианская философия</h3>
                                <p class="article-text">«Голос степей» насквозь пропитан тенгрианской философией. В начале фильма появляется ключевая фигура всего рассказа и это не маленький Анатоль, как может подуматься, а скорей Шаман. Шаман - это человек, который умеет «видеть», а не «смотреть». В случае с Ерали (Эрик Жолжаксынов) - «слышать». Поэтому, с виду он совершенно не отличается от простых людей. Обаятельный и улыбчивый он помогает археологам в раскопках и за кадром наверняка активно принимает участие в жизни поселения. После того, как маленький Анатоль стал свидетелем смерти брата, именно Ерали помог ему осознать окружающий мир наиболее понятным и доступным им обоим способом - «слышать». То, что герой Жолжаксынова - шаман, понятно не из его внешнего вида, а скорей из его поступков. Это вызывает приятное ощущение того, что буквализм в казахстанском кино наконец-то сдает свои позиции. <a href="#">Ссылка в тексте</a>
                                </p>

                                <div class="article-gallery">
                                    <div class="article-gallery-description">Маленький Анатоль (Артем Лифанов) 1</div>
                                    <ul class="article-slider">
                                        <li class="article-slider-item" data-thumb="http://brod.kz/new-uploads/users/319/images/kinopoisk_ru-Will-Smith-513045.jpg" data-src="http://brod.kz/new-uploads/users/319/images/kinopoisk_ru-Will-Smith-513045.jpg" data-description="Маленький Анатоль (Артем Лифанов) 1">
                                            <img src="http://brod.kz/new-uploads/users/319/images/kinopoisk_ru-Will-Smith-513045.jpg" class="article-slider-image"/>
                                        </li>
                                        <li class="article-slider-item" data-thumb="http://brod.kz/new-uploads/users/319/images/kinopoisk_ru-Sylvester-Stallone-2373748.jpg" data-src="http://brod.kz/new-uploads/users/319/images/kinopoisk_ru-Sylvester-Stallone-2373748.jpg" data-description="Прошел показ совместного проекта Ермека Шинарбаева и Жерара Депардье 2">
                                            <img src="http://brod.kz/new-uploads/users/319/images/kinopoisk_ru-Sylvester-Stallone-2373748.jpg" class="article-slider-image"/>
                                        </li>
                                        <li class="article-slider-item" data-thumb="http://brod.kz/new-uploads/users/319/images/kinopoisk_ru-Elizabeth-Banks-1143821.jpg" data-src="http://brod.kz/new-uploads/users/319/images/kinopoisk_ru-Elizabeth-Banks-1143821.jpg" data-description="Анатоль (Жерар Депардье) и Абай (Берик Айтжанов) 3">
                                            <img src="http://brod.kz/new-uploads/users/319/images/kinopoisk_ru-Elizabeth-Banks-1143821.jpg" class="article-slider-image"/>
                                        </li>
                                        <li class="article-slider-item" data-thumb="images/article-cover.jpg" data-src="images/article-cover.jpg" data-description="Здесь солирует звуковая атмосфера 4">
                                            <img src="images/article-cover.jpg" class="article-slider-image"/>
                                        </li>
                                        <li class="article-slider-item" data-thumb="images/article-image2.jpg" data-src="images/article-image2.jpg" data-description="Маленький Анатоль (Артем Лифанов) 5">
                                            <img src="images/article-image2.jpg" class="article-slider-image"/>
                                        </li>
                                        <li class="article-slider-item" data-thumb="images/article-image.jpg" data-src="images/article-image.jpg" data-description="Анатоль (Жерар Депардье) и Абай (Берик Айтжанов) 6">
                                            <img src="images/article-image.jpg" class="article-slider-image"/>
                                        </li>
                                    </ul>
                                </div>
                                <!-- end .article-gallery -->

                                <p class="article-text">Отдельным рефреном в картине выступает пресловутая столица. Астана, в которой прячутся современные казахи - холодна и пустынна. Театр "Астана Опера" здесь скорее как символ благополучия, к которому стремятся представители современной «элиты». Такой же красивый внешне и совершенно не «звучащий» внутренне. Степь по контрасту — многогранна, звенит тысячами голосов и дышит сотнями звуков. Французы давно поняли, в любой непонятной ситуации - иди в степь и ищи. Что именно нужно искать непонятно никому и это абсолютно нормально. Невозможно ведь сказать, что Шарль из фильма «Улжан» искал гору, а Анатоль искал начало? Человек на пути духовной инициации идет туда, не зная, куда и находит то, не зная, что. На самом-то деле только сам ищущий во время поиска узнает, что же он нашел. В этой картине Все находят. Как бы смешно это ни звучало, но у всех героев есть свои собственные gps-передатчики. Жена Абая знает, где искать мужа - ее ведет любовь, Анатоль знает, зачем идет - его ведет звук, верблюд знает, куда идти - его ведет чувство пространства. Это действительно так и здесь нет ничего удивительного. В такой истории для совпадений места не остается.</p>

                                <div class="article-gallery">
                                    <div class="article-gallery-description">Уилл Смит 1</div>
                                    <ul class="article-slider">
                                        <li class="article-slider-item" data-thumb="http://brod.kz/new-uploads/users/319/images/kinopoisk_ru-Pixels-2629658.jpg" data-src="http://brod.kz/new-uploads/users/319/images/kinopoisk_ru-Pixels-2629658.jpg" data-description="Уилл Смит 1">
                                            <img src="http://brod.kz/new-uploads/users/319/images/kinopoisk_ru-Pixels-2629658.jpg"  class="article-slider-image"/>
                                        </li>
                                        <li class="article-slider-item" data-thumb="images/article-cover.jpg" data-src="images/article-cover.jpg" data-description="Сильвестер Сталлоне 2">
                                            <img src="images/article-cover.jpg"  class="article-slider-image"/>
                                        </li>
                                        <li class="article-slider-item" data-thumb="images/article-image.jpg" data-src="images/article-image.jpg" data-description="Жерар Депардье 3">
                                            <img src="images/article-image.jpg"  class="article-slider-image"/>
                                        </li>
                                        <li class="article-slider-item" data-thumb="images/article-cover.jpg" data-src="images/article-cover.jpg" data-description="Чак Норрис 4">
                                            <img src="images/article-cover.jpg" class="article-slider-image"/>
                                        </li>
                                        <li class="article-slider-item" data-thumb="images/article-image2.jpg" data-src="images/article-image2.jpg" data-description="Брюс Уиллис 5">
                                            <img src="images/article-image2.jpg" class="article-slider-image"/>
                                        </li>
                                        <li class="article-slider-item" data-thumb="images/article-image.jpg" data-src="images/article-image.jpg" data-description="Тарантино Кевин 6">
                                            <img src="images/article-image.jpg"  class="article-slider-image"/>
                                        </li>
                                    </ul>
                                </div>
                                <!-- end .article-gallery -->

                                <!-- BANNER -->
                                <div class="banner banner--article">
                                    <div class="banner-body">
                                        <a href="#" class="link--banner"><img src="images/banner-header.jpg" class="banner-image" alt="" style="display:block;margin:0 -30px;width:calc(100% + 60px);"></a>
                                    </div>
                                </div>

                                <div class="banner banner--article">
                                    <div class="banner-body">
                                        <a href="#" class="link--banner"><img src="images/g-partners.jpg" class="banner-image" alt=""></a>
                                    </div>
                                </div>

                                <ul class="article-meta article-meta--secondary">
                                    <li class="meta-item meta-date">9 августа</li>
                                    <li class="meta-item meta-author">
                                        <a href="#" class="link">Данияр Махкамбаев</a>
                                    </li>
                                    <li class="meta-item meta-views">
                                        <span class="icon icon--views icon--lg"></span>1 342</li>
                                    <li class="meta-item meta-views">
                                        <span class="icon icon--comments icon--lg"></span>54</li>
                                </ul>
                            </article>

                            <ul class="sharing">
                                <li class="sharing-item">
                                    <button class="btn btn--sharing fb">
                                        <span class="icon icon--social fb icon--color"></span>
                  Поделиться
                  <span class="number">12</span>
                                    </button>
                                </li>
                                <li class="sharing-item">
                                    <button class="btn btn--sharing vk">
                                        <span class="icon icon--social vk icon--color"></span>
                  Поделиться
                  <span class="number">12</span>
                                    </button>
                                </li>
                                <li class="sharing-item">
                                    <button class="btn btn--sharing twi">
                                        <span class="icon icon--social twi icon--color"></span>
                  Поделиться
                  <span class="number">12</span>
                                    </button>
                                </li>
                                <li class="sharing-item">
                                    <button class="btn btn--sharing wh">
                                        <span class="icon icon--social wh"></span>
                  Отправить
                  <span class="number">12</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <!-- grid-item -->

                        <div class="grid-item grid-item--sidebar hidden">
                            <figure class="banner--secondary">
                                <a href="#" class="link--image"><img src="images/banner-hero.jpg" alt=""></a>
                            </figure>

                            <div class="thumb thumb--article is-news">
                                <div class="thumb-meta">
                                    <figure class="thumb-image">
                                        <a href="#" class="link--image"><img src="images/about4.jpg" alt="Иконка статьи"></a>
                                    </figure>
                                    <a href="#" class="label--default label--primary label--news link--label">Новости</a>
                                </div>
                                <p class="thumb-date">9 августа</p>
                                <h4 class="thumb-title">
                                    <a href="#" class="link">Точный состав жюри опубликаван на сайте</a>
                                </h4>
                                <p class="thumb-description">В это трудно поверить, но с Мартином приедет и Тарантино.</p>
                            </div>

                            <div class="thumb thumb--article is-news">
                                <div class="thumb-meta">
                                    <figure class="thumb-image">
                                        <a href="#" class="link--image"><img src="images/about4.jpg" alt="Иконка статьи"></a>
                                    </figure>
                                    <a href="#" class="label--default label--primary label--news link--label">Новости</a>
                                </div>
                                <p class="thumb-date">9 августа</p>
                                <h4 class="thumb-title">
                                    <a href="#" class="link">Точный состав жюри опубликаван на сайте</a>
                                </h4>
                                <p class="thumb-description">В это трудно поверить, но с Мартином приедет и Тарантино.</p>
                            </div>

                            <div class="thumb thumb--article is-news">
                                <div class="thumb-meta">
                                    <figure class="thumb-image">
                                        <a href="#" class="link--image"><img src="images/about4.jpg" alt="Иконка статьи"></a>
                                    </figure>
                                    <a href="#" class="label--default label--primary label--news link--label">Новости</a>
                                </div>
                                <p class="thumb-date">9 августа</p>
                                <h4 class="thumb-title">
                                    <a href="#" class="link">Точный состав жюри опубликаван на сайте</a>
                                </h4>
                                <p class="thumb-description">В это трудно поверить, но с Мартином приедет и Тарантино.</p>
                            </div>
                        </div>
                        <!-- end .grid-item -->
                    </div>
                    <!-- end .grid -->
                </div>
                <!-- end .container -->
            </section>
        </div>
    </main>

{% endblock %}

{% block script %}
    <script src="extra/gallery.js"></script>
{% endblock %}