{% extends "layouts/default.njk" %}
{% set financing = true %}
{% block content %}

    <main class="main main--secondary financing">
        <div class="main-head">
            <div class="container">
                <h1>Всё о «Байконуре»</h1>
                <h3 class="title-section title-section--primary">Народное финансирование</h3>
            </div>
        </div>

        <div class="main-body">
            <div class="container">
                <div class="page-tabs">
                    <ul class="" role="tablist">
                        <li class=" active" role="presentation">
                            <a href="#tab1" aria-controls="generalConsert" role="tab" data-toggle="tab" aria-expanded="true"
                            class="btn btn--primary">Финансировать</a>
                        </li>
                        <li class="" role="presentation">
                            <a href="#tab2" aria-controls="nationalConsert" role="tab" data-toggle="tab"
                            aria-expanded="false" class="btn btn--primary">Финансировавшие</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" id="tab1" class="tab-pane active">
                            <div class="tab-fl">
                                <div class="standart-form">
                                    <form action="" id="financing-form">
                                        <h3>Форма финансирования</h3>
                                        <label for="">Ваше полное имя
                                        <input type="text" name="name" placeholder="ФИО">
                                        </label>
                                        <label for="">Почта
                                        <input type="email" name="email" placeholder="example@gmail.com">
                                        </label>
                                        <p>Отправим id для участия в <a href="#" target="_blank">Розыгрыше подарков</a>
                                        </p>
                                        <div class="line"></div>
                                        <label for="">Сумма финансирования
                                        <input type="number" name="amount" placeholder="Минимальная сумма 500 ₸">
                                        </label>
                                        <label for="check" class="checkbox">
                                            <input type="checkbox" name="" id="check">
                                            <span class="checkmark"></span>
                                        Согласиться на афиширование имени
                                    </label>
                                        <button class="submit">Перевести сумму</button>
                                    </form>
                                </div>

                                <div class="present-block">
                                    <div class="present">
                                        <h4>
                                        Подарки от спонсоров!
                                    </h4>
                                        <img src="images/present.png" alt="">
                                    </div>
                                    <div class="present-text">
                                    87 человек перевели средств <br>
                                    на сумму <span>1 023 540 ₸</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div role="tabpanel" id="tab2" class="people tab-pane">
                            <div class="names-fl">
                                <div class="names-item">
                                    <div class="amount">
                                    3 000 ₸
                                </div>
                                    <div class="name">
                                    Арманов Асылбек
                                </div>
                                    <p class="time">вчера в
                                    <time>12:27</time>
                                    </p>
                                </div>
                                <div class="names-item">
                                    <div class="amount">
                                    5 00 ₸
                                </div>
                                    <div class="name">
                                    Шарипова Меруерт
                                </div>
                                    <p class="time">вчера в
                                    <time>12:27</time>
                                    </p>
                                </div>
                                <div class="names-item">
                                    <div class="amount">
                                    22 500 ₸
                                </div>
                                    <div class="name">
                                    Асылов Арман
                                </div>
                                    <p class="time">вчера в
                                    <time>12:27</time>
                                    </p>
                                </div>
                                <div class="names-item">
                                    <div class="amount">
                                    509 065 ₸
                                </div>
                                    <div class="name">
                                    Арманов Асылбек
                                </div>
                                    <p class="time">вчера в
                                    <time>12:27</time>
                                    </p>
                                </div>
                                <div class="names-item">
                                    <div class="amount">
                                    3 000 ₸
                                </div>
                                    <div class="name">
                                    Арманов Асылбек
                                </div>
                                    <p class="time">вчера в
                                    <time>12:27</time>
                                    </p>
                                </div>
                                <div class="names-item">
                                    <div class="amount">
                                    3 000 ₸
                                </div>
                                    <div class="name">
                                    Арманов Асылбек
                                </div>
                                    <p class="time">вчера в
                                    <time>12:27</time>
                                    </p>
                                </div>
                                <div class="names-item">
                                    <div class="amount">
                                    3 000 ₸
                                </div>
                                    <div class="name">
                                    Арманов Асылбек
                                </div>
                                    <p class="time">вчера в
                                    <time>12:27</time>
                                    </p>
                                </div>
                                <div class="names-item">
                                    <div class="amount">
                                    3 000 ₸
                                </div>
                                    <div class="name">
                                    Арманов Асылбек
                                </div>
                                    <p class="time">вчера в
                                    <time>12:27</time>
                                    </p>
                                </div>
                                <div class="names-item">
                                    <div class="amount">
                                    3 000 ₸
                                </div>
                                    <div class="name">
                                    Арманов Асылбек
                                </div>
                                    <p class="time">вчера в
                                    <time>12:27</time>
                                    </p>
                                </div>
                                <div class="names-item">
                                    <div class="amount">
                                    3 000 ₸
                                </div>
                                    <div class="name">
                                    Арманов Асылбек
                                </div>
                                    <p class="time">вчера в
                                    <time>12:27</time>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}