{% extends "layouts/default.njk" %}
{% set accreditation = true %}
{% block content %}

    <main class="main main--secondary accreditation giveaway">
        <div class="main-head">
            <div class="container">

                <h3 class="title-section title-section--primary">Розыгрыш подарков среди гостей</h3>
            </div>
        </div>
        <div class="main-body">
            <div class="container">
                <div class="block-fl">
                    <div class="standart-form">
                        <form action="" id="accreditation-giveaway-form">
                            <h3>Форма участия</h3>
                            <h4>Для участия введите свой id-номер</h4>
                            <label for="">id-номер
                                <input type="text" name="number" placeholder="Введите номер">
                            </label>
                            <button class="submit">Принять участие</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block script %}
    <script src="extra/select2init.js"></script>
{% endblock %}