{% extends "layouts/default.njk" %}
{% set jury = true %}
{% block content %}

    <main class="main main--secondary">
        <div class="main-head">
            <div class="container">
                <h1>Жюри</h1>
                <h3 class="title-section title-section--primary">Жюри</h3>
            </div>
        </div>
        <div class="main-body">
            <div class="container">
                <div class="about-main">
                    <div class="grid">
                        <div class="grid-item jury">
                            <div class="small-tabs">
                                <ul class="people-list" role="tablist">
                                    <li class="people-item active" role="presentation">
                                        <a href="#generalConsert" aria-controls="generalConsert" role="tab" data-toggle="tab" aria-expanded="true" class="btn btn--primary">Основной конкурс</a>
                                    </li>
                                    <li class="people-item" role="presentation">
                                        <a href="#nationalConsert" aria-controls="nationalConsert" role="tab" data-toggle="tab" aria-expanded="false" class="btn btn--primary">Национальный конкурс</a>
                                    </li>
                                    <li class="people-item" role="presentation">
                                        <a href="#musicConsert" aria-controls="musicConsert" role="tab" data-toggle="tab" aria-expanded="false" class="btn btn--primary">Конкурс музыкальных видео</a>
                                    </li>
                                    <li class="people-item" role="presentation">
                                        <a href="#justAnother" aria-controls="justAnother" role="tab" data-toggle="tab" aria-expanded="false" class="btn btn--primary">Питчинги сценариев</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div role="tabpanel" id="generalConsert" class="people tab-pane active">
                                    <ul class="people-list">
                                        <li class="people-item jury-flex">
                                            <a href="#" class="link--overlay"></a>
                                            <figure class="people-image"><img src="images/jury-new-1.png" alt=""></figure>
                                            <h5 class="people-name">Рашид Нугманов</h5>
                                            <p class="people-meta people-meta--primary">Председатель жюри, режиссёр и сценарист</p>
                                        </li>
                                        <li class="people-item jury-flex">
                                            <a href="#" class="link--overlay"></a>
                                            <figure class="people-image"><img src="images/jury-new-2.png" alt=""></figure>
                                            <h5 class="people-name">Сабина Кузенбаева</h5>
                                            <p class="people-meta people-meta--primary">Кинопрокатчик</p>
                                        </li>
                                        <li class="people-item jury-flex">
                                            <a href="#" class="link--overlay"></a>
                                            <figure class="people-image"><img src="images/jury-new-3.png" alt=""></figure>
                                            <h5 class="people-name">Гульнара Абикеева</h5>
                                            <p class="people-meta people-meta--primary">Кинокритик, киновед</p>
                                        </li>
                                        <li class="people-item jury-flex">
                                            <a href="#" class="link--overlay"></a>
                                            <figure class="people-image"><img src="images/jury-new-4.png" alt=""></figure>
                                            <h5 class="people-name">Адильхан Ержанов</h5>
                                            <p class="people-meta people-meta--primary">Режиссёр и сценарист</p>
                                        </li>
                                        <li class="people-item jury-flex">
                                            <a href="#" class="link--overlay"></a>
                                            <figure class="people-image"><img src="images/jury-new-5.png" alt=""></figure>
                                            <h5 class="people-name">Толеген Байтукенов</h5>
                                            <p class="people-meta people-meta--primary">Кинокритик, режиссёр</p>
                                        </li>
                                        <li class="people-item jury-flex">
                                            <a href="#" class="link--overlay"></a>
                                            <figure class="people-image"><img src="images/jury-new-6.png" alt=""></figure>
                                            <h5 class="people-name">Ильяс Ахмет</h5>
                                            <p class="people-meta people-meta--primary">Директор Eurasia Spotlight</p>
                                        </li>
                                        <li class="people-item jury-flex">
                                            <a href="#" class="link--overlay"></a>
                                            <figure class="people-image"><img src="images/jury-new-7.png" alt=""></figure>
                                            <h5 class="people-name">Гали Мырзашев</h5>
                                            <p class="people-meta">Художник-аниматор</p>
                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" id="nationalConsert" class="people tab-pane">
                                    <ul class="people-list">
                                        <li class="people-item jury-flex">
                                            <a href="#" class="link--overlay"></a>
                                            <figure class="people-image"><img src="images/jury-new-4.png" alt=""></figure>
                                            <h5 class="people-name">Проверка</h5>
                                            <p class="people-meta people-meta--primary">Все работает ли?</p>
                                        </li>
                                        <li class="people-item jury-flex">
                                            <a href="#" class="link--overlay"></a>
                                            <figure class="people-image"><img src="images/jury-new-5.png" alt=""></figure>
                                            <h5 class="people-name">Чисто для проверки</h5>
                                            <p class="people-meta people-meta--primary">ХМмм</p>
                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" id="musicConsert" class="people tab-pane">
                                    <ul class="people-list">
                                        <li class="people-item jury-flex">
                                            <a href="#" class="link--overlay"></a>
                                            <figure class="people-image"><img src="images/jury-new-6.png" alt=""></figure>
                                            <h5 class="people-name">Проверка</h5>
                                            <p class="people-meta people-meta--primary">Все работает ли?</p>
                                        </li>
                                        <li class="people-item jury-flex">
                                            <a href="#" class="link--overlay"></a>
                                            <figure class="people-image"><img src="images/jury-new-7.png" alt=""></figure>
                                            <h5 class="people-name">Чисто для проверки</h5>
                                            <p class="people-meta people-meta--primary">ХМмм</p>
                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" id="justAnother" class="people tab-pane">
                                    <ul class="people-list">
                                        <li class="people-item jury-flex">
                                            <a href="#" class="link--overlay"></a>
                                            <figure class="people-image"><img src="images/jury-new-1.png" alt=""></figure>
                                            <h5 class="people-name">Все работает</h5>
                                            <p class="people-meta people-meta--primary">Серьезно</p>
                                        </li>
                                        <li class="people-item jury-flex">
                                            <a href="#" class="link--overlay"></a>
                                            <figure class="people-image"><img src="images/jury-new-5.png" alt=""></figure>
                                            <h5 class="people-name">Дота</h5>
                                            <p class="people-meta people-meta--primary">2</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end .grid -->
                </div>
                <!-- end .about-main -->
            </div>
            <!-- end .container -->
        </div>
    </main>

{% endblock %}