{% extends "layouts/default.njk" %}
{% set main = true %}
{% block content %}

  {# {% include '_blocks/top-block.njk' %} #}

  <section class="section section--first section-bg-placeholder"></section>

  <main class="main main--secondary main-page">
    <div class="container">
      <article class="article article--main">
        <h1>
          <strong>Второй республиканский фестиваль</strong> короткометражного кино</h1>
        <ul class="info-list">
          <li class="info-item">
            <div class="title">02-06</div>
            <div class="text">сентября</div>
          </li>
          {# <li class="info-item">
              <div class="title">Кок-Тобе</div>
              <div class="text">развлекательный комплекс</div>
            </li> #}
        </ul>
      </article>
    </div>
    <!-- end .container -->

  </main>

{% endblock %}

{# {% block script %}
  <script src="scripts/main.bundle.js"></script>
{% endblock %} #}