{% extends "layouts/default.njk" %}
{% set accreditation = true %}
{% block content %}

    <main class="main main--secondary accreditation mass-media">
        <div class="main-head">
            <div class="container">

                <h3 class="title-section title-section--primary">СМИ</h3>
            </div>
        </div>
        <div class="main-body">
            <div class="container">
                <div class="block-fl">
                    <div class="standart-form">
                        <form action="" id="accreditation-mass-medida-form">
                            <h3>Форма заявки</h3>

                            <label for="">Ваша организация
                                <input type="text" name="name" placeholder="Укажите полное название">
                            </label>
                            <label for="">Вас зовут
                                <input type="text" name="name" placeholder="ФИО">
                            </label>

                            <button class="submit">Отправить заявку</button>
                        </form>
                    </div>

                    <div class="rules-block">
                        <div class="rules">
                            <h4>Правила подачи заявок</h4>
                            <ul>
                                <li>заполняйте поля без ошибок</li>
                                <li>все поля обзятельны для заполнения</li>
                            </ul>
                        </div>

                        <div class="text">
                        По всем вопросам аккредитации пишите <br>
нам на почту <a href="mailto:guest@baiqonyr.kz" target="_blank">guest@baiqonyr.kz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block script %}
    <script src="extra/select2init.js"></script>
{% endblock %}