{% extends "layouts/default.njk" %}
{% set participants = true %}
{% block content %}

    <main class="main main--secondary main--movie">
        <div class="main-head">
            <div class="container">
                <h1>Он и она</h1>
                <h3 class="title-section title-section--primary">Он и она</h3>
            </div>
        </div>

        <div class="main-body">
            <section class="about">
                <div class="container">
                    <div class="grid">
                        <div class="grid-item grid-item--content">
                            <ul class="breadcrumbs">
                                <li class="breadcrumbs-item">
                                    <a href="participants.html" class="link">Фильмы</a>
                                </li>
                                <li class="breadcrumbs-item active">
                                    <a href="#" class="link">Он и она</a>
                                </li>
                            </ul>

                            <div class="movie">
                                <!--               <div class="movie-head">
                <h1>Он и Она (Ол және ол)</h1>
                <h2 class="title--primary">Он и Она  <span class="kz">(Ол және ол)</span></h2>
              </div> -->
                                <div class="movie-body clearfix">
                                    <div class="movie-hero pull-left">
                                        <figure class="movie-cover"><img src="images/movie-cover-lg.jpg" alt=""></figure>
                                    </div>

                                    <ul class="movie-info">
                                        <li class="movie-info-item">
                                            <p class="movie-info-title">Оператор-постановщик</p>
                                            <p class="movie-info-description">
                                                <a href="#" class="link">Айдар Оспанов</a>
                                            </p>
                                        </li>
                                        <li class="movie-info-item">
                                            <p class="movie-info-title">Продюсер</p>
                                            <p class="movie-info-description">
                                                <a href="#" class="link">Алия Мендыгожина</a>, <a href="#" class="link">Сакен Жолдас</a>
                                            </p>
                                        </li>
                                        <li class="movie-info-item">
                                            <p class="movie-info-title">Композитор</p>
                                            <p class="movie-info-description">
                                                <a href="#" class="link">Никита Карев</a>
                                            </p>
                                        </li>
                                        <li class="movie-info-item">
                                            <p class="movie-info-title">Сценарист</p>
                                            <p class="movie-info-description">Адамбай Нуртасов</p>
                                        </li>
                                        <li class="movie-info-item">
                                            <p class="movie-info-title">Жанр</p>
                                            <p class="movie-info-description">
                                                <a href="#" class="link">Комедия</a>, <a href="#" class="link">Мелодраммы</a>, <a href="#" class="link">Молодежный</a>
                                            </p>
                                        </li>
                                        <li class="movie-info-item">
                                            <p class="movie-info-title">Премьера (KZ)</p>
                                            <p class="movie-info-description">10 октября 2013</p>
                                        </li>
                                        <li class="movie-info-item">
                                            <p class="movie-info-title">Продолжительность</p>
                                            <p class="movie-info-description">90 мин.</p>
                                        </li>
                                        <li class="movie-info-item">
                                            <p class="movie-info-title">Производство</p>
                                            <p class="movie-info-description">
                                                <a href="#" class="link">Киностудия «Казахфильм»</a>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- end .movie-body -->
                                <div class="movie-info-synopsis">
                                    <p>В основе сюжета история обычного алматинского студента, мечтающего о настоящей любви, чья жизнь течет спокойно и размеренно, пока в нее не врывается Она – красивая, бесстрашная и полная сюрпризов. Она переворачивает все в его мире с ног на голову, и через несколько дней таинственно исчезает, оставляя героя и зрителя заинтригованными: куда она исчезла и суждено ли им быть вместе? Легкая, яркая, смешная и трогательная история разворачивается в Алма-Ате в наши дни.</p>
                                    <p>«Он и Она» - романтическая мелодрама с элементами комедии, снятая независимыми казахстанскими кинематографистами. Режиссером и автором сценария картины выступил Сакен Жолдас.</p>
                                </div>

                                <ul class="sharing">
                                    <li class="sharing-item">
                                        <button class="btn btn--sharing fb">
                                            <span class="icon icon--social fb icon--color"></span>
                    Поделиться
                    <span class="number">12</span>
                                        </button>
                                    </li>
                                    <li class="sharing-item">
                                        <button class="btn btn--sharing vk">
                                            <span class="icon icon--social vk icon--color"></span>
                    Поделиться
                    <span class="number">12</span>
                                        </button>
                                    </li>
                                    <li class="sharing-item">
                                        <button class="btn btn--sharing twi">
                                            <span class="icon icon--social twi icon--color"></span>
                    Поделиться
                    <span class="number">12</span>
                                        </button>
                                    </li>
                                    <li class="sharing-item">
                                        <button class="btn btn--sharing wh">
                                            <span class="icon icon--social wh"></span>
                    Поделиться
                    <span class="number">12</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <!-- end .movie -->

                            <div class="movie-watch">
                                <div class="movie-watch-head clearfix">
                                    <h3 class="title title-section--primary">Тизер нового фильма</h3>
                                </div>
                                <div class="movie-watch-body">
                                    <div class="video-wrapper">
                                        <iframe class="video-iframe" width="740" height="426" src="//www.youtube.com/embed/WjUxFI5Sm2U?showinfo=0" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <!-- <div class="video-tip"><a href="feedback.html" class="link">Не проигрывается видео?</a></div> -->
                                </div>
                                <!-- end .movie-watch-body -->
                            </div>
                            <!-- end .movie-watch -->
                        </div>
                        <!-- grid-item -->
                    </div>
                    <!-- end .grid -->
                </div>
                <!-- end .container -->
            </section>
        </div>
    </main>

{% endblock %}