{% extends "layouts/default.njk" %}
{% set participate = true %}
{% block content %}

    <main class="main main--secondary accreditation music_video">
        <div class="main-head">
            <div class="container">
                <h3 class="title-section title-section--primary">Конкурс музыкальных видео</h3>
            </div>
        </div>
        <div class="main-body">
            <div class="container">
                <div class="block-fl">
                    <div class="standart-form">
                        <form action="" id="music_vide-form">
                            <h3>Форма заявки</h3>
                            <h4>Для участия в конкурсном отборе <br>
                                музыкальных видео
                                <a href="#">Регламент</a>
                            </h4>

                            {# Form react #}
                            <div id="music-video-form"></div>
                            {# Form react end #}
                            <hr>
                            {# <label for="">Вас зовут 
                                <input type="text" name="name" placeholder="ФИО">
                            </label>
                            <div class="form-fl">
                                <label for=""> Телефон
                                <input type="tel" name="phone" id="intphone">
                                </label>
                                <label for="">Почта
                                <input type="email" name="email" placeholder="example@gmail.com">
                                </label>
                                <label for="">Исполнитель
                                <input type="text" name="executor" placeholder="Имя или псевдоним">
                                </label>
                                <label>Название песни
                                 <input type="text" name="music-name" placeholder="Название песни">
                                </label>
                            </div>
                            <label>Клип
                                 <input type="text" name="clip" placeholder="Вставьте ссылку на клип">
                            </label> #}

                            {#                            <div class="members">#}
                            {#                                <h4>Укажите участиков команды</h4>#}
                            {#                                <div class="form-fl">#}
                            {#                                    <label>Режиссер#}
                            {#                                 <input type="text" name="member" placeholder="Введите фамилию и имя">#}
                            {#                                    </label>#}
                            {#                                    <label for="file1" class="file">#}
                            {#                                        <input type="file" name="file" id="file1">#}
                            {#                                    </label>#}

                            {#                                    <label>Сценарист#}
                            {#                                 <input type="text" name="member" placeholder="Введите фамилию и имя">#}
                            {#                                    </label>#}
                            {#                                    <label for="file2" class="file">#}
                            {#                                        <input type="file" name="file" id="file2">#}
                            {#                                    </label>#}

                            {#                                    <label>Оператор#}
                            {#                                 <input type="text" name="member" placeholder="Введите фамилию и имя">#}
                            {#                                    </label>#}
                            {#                                    <label for="file3" class="file">#}
                            {#                                        <input type="file" name="file" id="file3">#}
                            {#                                    </label>#}

                            {#                                    <label>Художник#}
                            {#                                 <input type="text" name="member" placeholder="Введите фамилию и имя">#}
                            {#                                    </label>#}
                            {#                                    <label for="file4" class="file">#}
                            {#                                        <input type="file" name="file" id="file4">#}
                            {#                                    </label>#}

                            {#                                    <label>Режиссер монтажа#}
                            {#                                 <input type="text" name="member" placeholder="Введите фамилию и имя">#}
                            {#                                    </label>#}
                            {#                                    <label for="file5" class="file">#}
                            {#                                        <input type="file" name="file" id="file5">#}
                            {#                                    </label>#}

                            {#                                    <label>Графика#}
                            {#                                 <input type="text" name="member" placeholder="Введите фамилию и имя">#}
                            {#                                    </label>#}
                            {#                                    <label for="file6" class="file">#}
                            {#                                        <input type="file" name="file" id="file6">#}
                            {#                                    </label>#}
                            {#                                </div>#}
                            {#                            </div>#}

{#                            <label for="check1" class="checkbox">#}
{#                                <input type="checkbox" name="" id="check1">#}
{#                                <span class="checkmark"></span>#}
{#                                <p> Я ознакомлен(а) и принимаю условия, <br> описанные в <a href="#">Регламенте#}
{#                                        кинофестиваля</a>#}
{#                                </p>#}
{#                            </label>#}
{#                            <label for="check2" class="checkbox">#}
{#                                <input type="checkbox" name="" id="check2">#}
{#                                <span class="checkmark"></span>#}
{#                                <p> Я ознакомлен(а) и принимаю условия, <br> описанные в <a href="#">Положение#}
{#                                        кинофестиваля</a>#}
{#                                </p>#}
{#                            </label>#}
{#                            <label for="check3" class="checkbox">#}
{#                                <input type="checkbox" name="" id="check3">#}
{#                                <span class="checkmark"></span>#}
{#                                <p> Я предоставляю согласие Республиканскому <br> фестивалю короткометражного кино на#}
{#                                    сбор, <br> накопление, хранение и обработку моих <br> персональных данных</p>#}
{#                            </label>#}
{#                            <button class="submit">Отправить заявку</button>#}
                        </form>
                    </div>

                    <div class="rules-block">
                        <div class="rules">
                            <h4>Правила подачи заявок</h4>
                            <ul>
                                <li>заполняйте поля без ошибок</li>
                                <li>все поля обзятельны для заполнения</li>
                            </ul>
                        </div>

                        <ul class="events">
                            <li>
                                <h4>17 мая - 16 августа</h4>
                                <p>прием заявок</p>
                            </li>
                            <li>
                                <h4>15 августа - 18 августа</h4>
                                <p>отбор кандидатов</p>
                            </li>
                            <li>
                                <h4>19 августа</h4>
                                <p>объявление участников</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block script %}
    <script src="extra/utils.js"></script>
    <script src="extra/intl-tel-input.js"></script>
    <script src="extra/select2init.js"></script>

{% endblock %}