{% extends "layouts/default.njk" %}
{% set news = true %}
{% block content %}

    <main class="main main--secondary">
        <div class="main-head">
            <div class="container">
                <h1>Новости</h1>
                <h3 class="title-section title-section--primary">Новости</h3>
            </div>
        </div>

        <div class="main-body">
            <div class="container clearfix">
                <div class="grid grid--wide">
                    <div class="grid-item grid-item--primary">
                        <div class="thumb thumb--primary">
                            <a href="article.html" class="link--overlay"></a>
                            <figure class="thumb-image"><img src="images/article1-big.jpg" alt=""></figure>
                            <a href="#" class="label--default label--primary label--thumb link--label">Блоги</a>
                            <div class="thumb-info">
                                <p class="thumb-date">9 августа</p>
                                <h4 class="thumb-title">Триптих. Ержанов и Байгазин. Часть 2</h4>
                                <p class="thumb-description">«Снимаем!»  – кричит студент «Жургеновки», молодой режиссер Адильхан Ержанов, тем самым начиная отсчет истории, которая потом обретет название «Бахытжамал».</p>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="grid-item grid-item--secondary">
                                <div class="thumb thumb--article">
                                    <a href="#" class="label--default label--article link--image">
                                        <span class="icon icon--type photo"></span></a>
                                    <div class="thumb-meta">
                                        <figure class="thumb-image">
                                            <a href="#" class="link--image"><img src="images/article2.jpg" alt=""></a>
                                        </figure>
                                        <p class="thumb-category">
                                            <a href="#" class="link">Интервью</a>
                                        </p>
                                        <p class="thumb-date">11 августа</p>
                                    </div>
                                    <h4 class="thumb-title">
                                        <a href="#" class="link">Заговор Оберона или первый блин</a>
                                    </h4>
                                    <p class="thumb-description">Были у меня определенные сомнения насчет качества очередного отечественного «блокбастера».</p>
                                </div>

                            </div>
                            <!-- end .grid-item -->

                            <div class="grid-item grid-item--secondary">
                                <div class="thumb thumb--article">
                                    <a href="#" class="label--default label--article link--image">
                                        <span class="icon icon--type video"></span></a>
                                    <div class="thumb-meta">
                                        <figure class="thumb-image">
                                            <a href="#" class="link--image"><img src="images/article5.jpg" alt=""></a>
                                        </figure>
                                        <p class="thumb-category">
                                            <a href="#" class="link">Колонки</a>
                                        </p>
                                        <p class="thumb-date">9 августа</p>
                                    </div>
                                    <h4 class="thumb-title">
                                        <a href="#" class="link">С ног на голову или О, дивные миры Тима Бертона!</a>
                                    </h4>
                                    <p class="thumb-description">Для свежего взгляда на то, что давно известно, нужно все запутать, поменять местами и преувеличить. Кинематограф Тима Бертона— это приключения Алисы в Зазеркалье, которую чаще всего играет Джонни Депп.</p>
                                    <p class="thumb-author">
                                        <a href="#" class="link">Нуртас Адамбай</a>
                                    </p>
                                </div>

                            </div>
                            <!-- end .grid-item -->
                        </div>
                    </div>
                    <div class="grid-item grid-item--primary">
                        <div class="thumb thumb--primary">
                            <a href="article.html" class="link--overlay"></a>
                            <figure class="thumb-image"><img src="images/article1-big.jpg" alt=""></figure>
                            <a href="#" class="label--default label--primary label--thumb link--label">Блоги</a>
                            <div class="thumb-info">
                                <p class="thumb-date">9 августа</p>
                                <h4 class="thumb-title">Триптих. Ержанов и Байгазин. Часть 2</h4>
                                <p class="thumb-description">«Снимаем!»  – кричит студент «Жургеновки», молодой режиссер Адильхан Ержанов, тем самым начиная отсчет истории, которая потом обретет название «Бахытжамал».</p>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="grid-item grid-item--secondary">
                                <div class="thumb thumb--article">
                                    <a href="#" class="label--default label--article link--image">
                                        <span class="icon icon--type photo"></span></a>
                                    <div class="thumb-meta">
                                        <figure class="thumb-image">
                                            <a href="#" class="link--image"><img src="images/article2.jpg" alt=""></a>
                                        </figure>
                                        <p class="thumb-category">
                                            <a href="#" class="link">Интервью</a>
                                        </p>
                                        <p class="thumb-date">11 августа</p>
                                    </div>
                                    <h4 class="thumb-title">
                                        <a href="#" class="link">Заговор Оберона или первый блин</a>
                                    </h4>
                                    <p class="thumb-description">Были у меня определенные сомнения насчет качества очередного отечественного «блокбастера».</p>
                                </div>
                            </div>
                            <!-- end .grid-item -->

                            <div class="grid-item grid-item--secondary">
                                <div class="thumb thumb--article">
                                    <a href="#" class="label--default label--article link--image">
                                        <span class="icon icon--type video"></span></a>
                                    <div class="thumb-meta">
                                        <figure class="thumb-image">
                                            <a href="#" class="link--image"><img src="images/article5.jpg" alt=""></a>
                                        </figure>
                                        <p class="thumb-category">
                                            <a href="#" class="link">Колонки</a>
                                        </p>
                                        <p class="thumb-date">9 августа</p>
                                    </div>
                                    <h4 class="thumb-title">
                                        <a href="#" class="link">С ног на голову или О, дивные миры Тима Бертона!</a>
                                    </h4>
                                    <p class="thumb-description">Для свежего взгляда на то, что давно известно, нужно все запутать, поменять местами и преувеличить. Кинематограф Тима Бертона— это приключения Алисы в Зазеркалье, которую чаще всего играет Джонни Депп.</p>
                                    <p class="thumb-author">
                                        <a href="#" class="link">Нуртас Адамбай</a>
                                    </p>
                                </div>

                            </div>
                            <!-- end .grid-item -->
                        </div>
                    </div>
                </div>
                <!-- end .grid -->
            </div>
            <!-- end .container -->
        </div>
        <!-- end .main-body -->
    </main>

{% endblock %}