{% extends "layouts/default.njk" %}
{% set participate = true %}
{% block content %}

    <main class="main main--secondary accreditation  pitches">
        <div class="main-head">
            <div class="container">
                <h3 class="title-section title-section--primary">Питчинги сценариев</h3>
            </div>
        </div>
        <div class="main-body">
            <div class="container">
                <div class="block-fl">
                    <div class="standart-form">
                        <form action="" id="music_vide-form">
                            <h3>Форма заявки</h3>
                            <h4>Для участия в конкурсном отборе <br> BAIQONYR PITCHING
 
                                    <a href="#">Регламент</a>
                            </h4>

                            <label for="">Вас зовут 
                                <input type="text" name="name" placeholder="ФИО">
                            </label>
                            <div class="form-fl">
                                <label for=""> Телефон
                                <input type="tel" name="phone" id="intphone">
                                </label>
                                <label for="">Почта
                                <input type="email" name="email" placeholder="example@gmail.com">
                                </label>
                            </div>
                            <label>Название проекта
                                 <input type="text" name="project-name" placeholder="Введите название">
                            </label>

                            <label for="" class="genre">Жанр
                            <select class="js-example-basic-single" name="genre" placeholder="select">
                                    <option value="" class="hidden" disabled selected> Выберите жанр</option>
                                    <option value="Киновед/Кинокритик">Киновед/Кинокритик</option>
                                    <option value="Звукорежиссер">Звукорежиссер</option>
                                    <option value="Художник-постановщик">Художник-постановщик</option>
                                    <option value="Художник по костюму">Художник по костюму</option>
                                    <option value="Художник по гриму">Художник по гриму</option>
                                    <option value="Художник по визуальным эффектом">Художник по визуальным эффектом</option>
                                    <option value="Колорист">Колорист</option>
                                    <option value="Актер/Актриса">Актер/Актриса</option>
                                    <option value="Другое">Другое</option>
                                </select>
                            </label>

                            <label for="" class="textarea logline">Логлайн
                                 <textarea name="logline" placeholder="Кратко опишите содержание вашего фильма"></textarea>
                            </label>

                            <label for="" class="textarea logline">Синопсис к фильму
                                 <textarea name="logline" placeholder="Кратко опишите сценарий вашего фильма"></textarea>
                            </label>

                            <div class="members">
                                <div class="form-fl">

                                    <label for="file1" class="file">
                                        <input type="file" name="file" id="file1">
                                    </label>

                                    <label for="file2" class="file">
                                        <input type="file" name="file" id="file2">
                                    </label>

                                </div>
                            </div>

                            <label for="check1" class="checkbox">
                                <input type="checkbox" name="" id="check1">
                                <span class="checkmark"></span>
                                <p> Я ознакомлен(а) и принимаю условия, <br> описанные в <a href="#">Регламенте кинофестиваля</a>
                                </p>
                            </label>
                            <label for="check2" class="checkbox">
                                <input type="checkbox" name="" id="check2">
                                <span class="checkmark"></span>
                                <p> Я ознакомлен(а) и принимаю условия, <br> описанные в <a href="#">Положение кинофестиваля</a>
                                </p>
                            </label>
                            <label for="check3" class="checkbox">
                                <input type="checkbox" name="" id="check3">
                                <span class="checkmark"></span>
                                <p> Я предоставляю согласие Республиканскому <br> фестивалю короткометражного кино на сбор, <br> накопление, хранение и обработку моих <br> персональных данных</p>
                            </label>
                            <button class="submit">Отправить заявку</button>
                        </form>
                    </div>

                    <div class="rules-block">
                        <div class="rules">
                            <h4>Правила подачи заявок</h4>
                            <ul>
                                <li>заполняйте поля без ошибок</li>
                                <li>все поля обзятельны для заполнения</li>
                            </ul>
                        </div>

                        <ul class="events">
                            <li>
                                <h4>17 мая - 16 августа</h4>
                                <p>прием заявок</p>
                            </li>
                            <li>
                                <h4>15 августа - 18 августа</h4>
                                <p>отбор кандидатов</p>
                            </li>
                            <li>
                                <h4>19 августа</h4>
                                <p>объявление участников</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block script %}
    <script src="extra/utils.js"></script>
    <script src="extra/intl-tel-input.js"></script>
    <script src="extra/select2init.js"></script>

{% endblock %}