{% extends "layouts/default.njk" %}
{% set program = true %}
{% block content %}

    <main class="main main--secondary">

        <div class="main-head">
            <div class="container">
                <h1>Программа</h1>
                <h3 class="title-section title-section--primary">Программа</h3>
            </div>
        </div>

        <div class="main-body">
            <section class="program">
                <div class="container clearfix">
                    <div class="program-people">
                        <h3 class="title--secondary">О фестивале</h3>
                        <div class="soon">
                            <p class="text">Информация о программе появится после объявления участников.</p>
                        </div>
                        <div class="people hidden">
                            <ul class="people-list">
                                <li class="people-item">
                                    <div class="people-body">
                                        <a href="#" class="link--overlay"></a>
                                        <figure class="people-image"><img src="images/jury1.png" alt=""></figure>
                                        <h5 class="people-name">Акан Сатаев</h5>
                                    </div>
                                    <p class="people-meta people-meta--secondary">Мега-критик и уважаемый человек</p>
                                </li>
                                <li class="people-item">
                                    <div class="people-body">
                                        <a href="#" class="link--overlay"></a>
                                        <figure class="people-image"><img src="images/jury2.png" alt=""></figure>
                                        <h5 class="people-name">Ермек Турсунов</h5>
                                    </div>
                                    <p class="people-meta people-meta--secondary">Мега-критик и уважаемый человек</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="program-schedule">
                        <h3 class="title--secondary">Программа</h3>
                        <div class="grid">
                            <div class="grid-item grid-item--content tab-content">
                                <div class="soon">
                                    <p class="text">Информация о программе появится после объявления участников.</p>
                                </div>

                                <a href="#" target="_blank" class="pdf-download">Скачать PDF</a>

                                <section class="inner-nav hidden">
                                    <ul class="nav-pills nav--default nav--secondary">
                                        <li class="active">
                                            <a class="link link--primary" data-toggle="pill" href="#day1">27
											августа</a>
                                        </li>
                                        <li>
                                            <a class="link link--primary" data-toggle="pill" href="#day2">28 августа</a>
                                        </li>
                                        <li>
                                            <a class="link link--primary" data-toggle="pill" href="#day3">29 августа</a>
                                        </li>
                                    </ul>
                                </section>
                                <table class="table-program tab-pane fade in active hidden" id="day1">
                                    <tr class="table-header">
                                        <th class="program-time">№</th>
                                        <th class="program-name">Название</th>
                                        <th class="program-desc">Режиссер</th>
                                        <th class="program-desc">Год</th>
                                        <th class="program-desc">Хронометраж</th>
                                    </tr>
                                    <tr>
                                        <td class="program-time">1</td>
                                        <td class="program-name">Заика</td>
                                        <td class="program-desc">Аян Бугибаев</td>
                                        <td class="program-time">2015</td>
                                        <td class="program-time">13 мин 42 с</td>
                                    </tr>
                                    <tr>
                                        <td class="program-time">2</td>
                                        <td class="program-name">О, Счастливчик!</td>
                                        <td class="program-desc">Серик Сарсенбаев</td>
                                        <td class="program-time">2015</td>
                                        <td class="program-time">12 мин</td>
                                    </tr>
                                    <tr>
                                        <td class="program-time">3</td>
                                        <td class="program-name">Ауыл тынысы</td>
                                        <td class="program-desc">Кымбат Тойшы</td>
                                        <td class="program-time">2016</td>
                                        <td class="program-time">25 мин</td>
                                    </tr>
                                    <tr>
                                        <td class="program-time">4</td>
                                        <td class="program-name">Things That Matter - Journey of Bolashaker</td>
                                        <td class="program-time">Айдар Мусабеков</td>
                                        <td class="program-time">2015</td>
                                        <td class="program-time">2 мин 40 с</td>
                                    </tr>
                                    <tr>
                                        <td class="program-time">5</td>
                                        <td class="program-name">Папы особенных детей</td>
                                        <td class="program-desc">Салтанат Мурзалинова-Яковлева</td>
                                        <td class="program-time">2016</td>
                                        <td class="program-time">11 мин 07 с</td>
                                    </tr>
                                    <tr>
                                        <td class="program-time">6</td>
                                        <td class="program-name">Комендант Ильменау</td>
                                        <td class="program-desc">Санат Шакиева</td>
                                        <td class="program-time">2015</td>
                                        <td class="program-time">13 мин 58 с</td>
                                    </tr>
                                    <tr>
                                        <td class="program-time">7</td>
                                        <td class="program-name">Бір уыс бидай</td>
                                        <td class="program-desc">Жанар Бекбергенова</td>
                                        <td class="program-time">2015</td>
                                        <td class="program-time">11 мин 13 с</td>
                                    </tr>
                                    <tr>
                                        <td class="program-time">8</td>
                                        <td class="program-name">Сүйінші!</td>
                                        <td class="program-desc">Мадина Беспаева</td>
                                        <td class="program-time">2015</td>
                                        <td class="program-time">14 мин 57 с</td>
                                    </tr>
                                    <tr>
                                        <td class="program-time"></td>
                                        <td colspan="3" class="program-name">Общая продолжительность</td>
                                        <td class="program-time">14 мин 57 с</td>
                                    </tr>
                                </table>
                                <table class="table-program tab-pane fade" id="day2">

                                    <tr class="table-header">
                                        <th class="program-time">Время</th>
                                        <th class="program-name">Событие</th>
                                        <th class="program-desc">Описание</th>
                                    </tr>
                                    <tr>
                                        <td class="program-time">11:00 - 12:00</td>
                                        <td class="program-name">Открытие фестиваля</td>
                                        <td class="program-desc">Открытие фестиваля будет проведено Сэмуелем Л. Джексоном и
										Квентином Тарантино</td>
                                    </tr>
                                    <tr>
                                        <td class="program-time">12:00 - 13:00</td>
                                        <td class="program-name">Показ фильмов, часть 1</td>
                                        <td class="program-desc">Будут показаны фильмы «Сытые игры», «Вперед в прошлое» и
										«Спокойные кошки»</td>
                                    </tr>
                                    <tr>
                                        <td class="program-time">13:00 - 14:00</td>
                                        <td class="program-name">Обед</td>
                                        <td class="program-desc">Обед</td>
                                    </tr>
                                    <tr>
                                        <td class="program-time">14:00 - 15:00</td>
                                        <td class="program-name">Показ фильмов, часть 2</td>
                                        <td class="program-desc">Показ фильмов, часть 2</td>
                                    </tr>
                                    <tr>
                                        <td class="program-time">15:00 - 16:00</td>
                                        <td class="program-name">Награждение победителей</td>
                                        <td class="program-desc">Награждение победителей</td>
                                    </tr>
                                    <tr>
                                        <td class="program-time">16:00 - 17:00</td>
                                        <td class="program-name">Закрытие фестиваля</td>
                                        <td class="program-desc">Закрытие фестиваля</td>
                                    </tr>
                                </table>
                                <table class="table-program tab-pane fade" id="day3">
                                    <tr class="table-header">
                                        <th class="program-time">Время</th>
                                        <th class="program-name">Событие</th>
                                        <th class="program-desc">Описание</th>
                                    </tr>
                                    <tr>
                                        <td class="program-time">11:00 - 12:00</td>
                                        <td class="program-name">Открытие фестиваля</td>
                                        <td class="program-desc">Открытие фестиваля будет проведено Сэмуелем Л. Джексоном и
										Квентином Тарантино</td>
                                    </tr>
                                    <tr>
                                        <td class="program-time">12:00 - 13:00</td>
                                        <td class="program-name">Показ фильмов, часть 1</td>
                                        <td class="program-desc">Будут показаны фильмы «Сытые игры», «Вперед в прошлое» и
										«Спокойные кошки»</td>
                                    </tr>
                                    <tr>
                                        <td class="program-time">13:00 - 14:00</td>
                                        <td class="program-name">Обед</td>
                                        <td class="program-desc">Обед</td>
                                    </tr>
                                    <tr>
                                        <td class="program-time">14:00 - 15:00</td>
                                        <td class="program-name">Показ фильмов, часть 2</td>
                                        <td class="program-desc">Показ фильмов, часть 2</td>
                                    </tr>
                                    <tr>
                                        <td class="program-time">15:00 - 16:00</td>
                                        <td class="program-name">Награждение победителей</td>
                                        <td class="program-desc">Награждение победителей</td>
                                    </tr>
                                    <tr>
                                        <td class="program-time">16:00 - 17:00</td>
                                        <td class="program-name">Закрытие фестиваля</td>
                                        <td class="program-desc">Закрытие фестиваля</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="grid-item grid-item--sidebar">
                                <div class="map" id="map"></div>
                                <div class="map-info">
                                    <p class="info small">Как добраться к нам?</p>
                                    <p class="info">Чтобы добраться на фестиваль, нужно перечесь торговый центр, и
									отметиться на стойке регистрации.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end .grid -->
                    </div>
                    <!-- end .program-schedule -->
                </div>
                <!-- end .container -->
            </section>
            <!-- end .program -->
        </div>
    </main>

{% endblock %}

{% block script %}
    <script src="scripts/program.bundle.js"></script>
{% endblock %}