{% extends "layouts/default.njk" %}
{% set retro = true %}
{% block content %}

    <main class="main main--secondary">
        <div class="main-head">
            <div class="container">
                <h1>Ретроспектива</h1>
                <h3 class="title-section title-section--primary">Ретроспектива</h3>
                <nav class="nav nav--inner">
                    <a class="link link--primary" href="#">
          О фестивале
        </a>
                    <a class="link link--primary" href="retro-jury.html">
          Жюри
        </a>
                    <a class="link link--primary active" href="retro-participants.html">
          Фильмы
        </a>
                    <a class="link link--primary" href="retro-winners.html">
          Победители
        </a>
                </nav>
            </div>
        </div>
        <div class="main-body">
            <div class="container">
                <form action="/search/" class="form form--secondary form--search pull-right">
                    <div class="form-group">
                        <input class="form-control" type="text" name="t" value="" id="searchWord" placeholder="Искать за 2016 год">
                        <button type="button" class="icon icon--search" onclick="$('.form--search').submit();">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </form>

                <section class="inner-nav inner-nav-participants">
                    <div class="container">
                        <ul class="nav-pills nav--default nav--secondary">
                            <li class="active">
                                <a class="link link--primary" href="#">Все фильмы</a>
                            </li>
                            <li>
                                <a class="link link--primary" href="#">Заявители</a>
                            </li>
                            <li>
                                <a class="link link--primary"  href="#">Участники</a>
                            </li>
                            <li>
                                <a class="link link--primary"  href="#">Вне конкурса</a>
                            </li>
                        </ul>
                    </div>
                </section>

                <div class="control-bar">
                    <div class="control-bar-filters">
                        <div class="filters--primary">
                            <button type="button" class="btn btn--filter">Все категории</button>
                            <button type="button" class="btn btn--filter active">Документальный</button>
                            <button type="button" class="btn btn--filter">Игровой</button>
                            <button type="button" class="btn btn--filter">Анимационный</button>
                        </div>
                    </div>
                </div>
                <!-- end .control-bar -->

                <div class="movies">
                    <p class="movie-tab-description">До участия в конкурсе допускаются режиссеры, чьи фильмы прошли проверку отборочной комиссии, на данном этапе вы являетесь заявителем.  Далее следует проверка основного жюри, и успешно прошедшие являются участниками. А также если вы участник вне конкурса ваша работа помечается флажком в списке.</p>
                    <ul class="movies-list">
                        <li class="movies-item add-movie hidden">
                            <div class="movies-item-body">
                                <a href="application.html" class="link--overlay"></a>
                                <figure class="movies-item-cover"></figure>
                                <p class="movies-item-title">+</p>
                                <p>Подать свой фильм на участие в конкурсе</p>
                            </div>
                        </li>
                        <li class="movies-item">
                            <div class="movies-item-body">
                                <a href="movie.html" class="link--overlay"></a>
                                <figure class="movies-item-cover"><img src="images/poster-lg.jpg" alt=""></figure>
                                <span class="label--default label--primary label--news link--label">Внеконкурсная работа</span>
                                <h5 class="movies-item-title">Он и она</h5>
                            </div>
                            <div class="movies-item-description">Триллер, 2016</div>
                            <div class="movies-item-author">
                                <span class="highlight">Режиссер</span>: Алишер Джаксыбаев</div>
                            <div class="movies-meta">
                                <span class="movies-meta-item meta-date">13 янв 2015</span>
                                <span class="movies-meta-item meta-views">
                                    <span class="icon icon--views"></span>21 342</span>
                                <span class="movies-meta-item meta-comments">
                                    <span class="icon icon--comments"></span>542</span>
                            </div>
                            <div class="movies-item-rating clearfix">
                                <div class="starbox" data-rating="0.32"></div>
                                <span class="movies-item-rating-total">7,3</span>
                            </div>
                            <!-- end .movies-item-rating -->
                        </li>
                        <li class="movies-item">
                            <div class="movies-item-body">
                                <a href="movie.html" class="link--overlay"></a>
                                <figure class="movies-item-cover"><img src="images/poster-logan.jpg" alt=""></figure>
                                <h5 class="movies-item-title">Старый с когтями</h5>
                            </div>
                            <div class="movies-item-description">Триллер, 2017</div>
                            <div class="movies-item-author">
                                <span class="highlight">Режиссер</span>: Логан Иксменович</div>
                            <div class="movies-meta">
                                <span class="movies-meta-item meta-date">13 янв 2015</span>
                                <span class="movies-meta-item meta-views">
                                    <span class="icon icon--views"></span>21 342</span>
                                <span class="movies-meta-item meta-comments">
                                    <span class="icon icon--comments"></span>542</span>
                            </div>
                            <div class="movies-item-rating clearfix">
                                <div class="starbox" data-rating="0.32"></div>
                                <span class="movies-item-rating-total">7,3</span>
                            </div>
                            <!-- end .movies-item-rating -->
                        </li>
                        <li class="movies-item">
                            <div class="movies-item-body">
                                <a href="movie.html" class="link--overlay" title="Совсем нежданная любовь"></a>
                                <figure class="movies-item-cover"><img src="images/poster-lg-3.jpg" alt=""></figure>
                                <h5 class="movies-item-title">Совсем нежданная любовь</h5>
                            </div>
                            <div class="movies-item-description">Триллер, 2016</div>
                            <div class="movies-item-author">
                                <span class="highlight">Режиссер</span>: Алишер Джаксыбаев</div>
                            <div class="movies-meta">
                                <span class="movies-meta-item meta-date">13 янв 2015</span>
                                <span class="movies-meta-item meta-views">
                                    <span class="icon icon--views"></span>21 342</span>
                                <span class="movies-meta-item meta-comments">
                                    <span class="icon icon--comments"></span>542</span>
                            </div>
                            <div class="movies-item-rating clearfix">
                                <div class="starbox" data-rating="0.32"></div>
                                <span class="movies-item-rating-total">7,3</span>
                            </div>
                            <!-- end .movies-item-rating -->
                        </li>
                        <li class="movies-item">
                            <div class="movies-item-body">
                                <a href="movie.html" class="link--overlay"></a>
                                <figure class="movies-item-cover"><img src="images/poster-lg.jpg" alt=""></figure>
                                <h5 class="movies-item-title">Студент</h5>
                            </div>
                            <div class="movies-item-description">Триллер, 2016</div>
                            <div class="movies-item-author">
                                <span class="highlight">Режиссер</span>: Алишер Джаксыбаев</div>
                            <div class="movies-meta">
                                <span class="movies-meta-item meta-date">13 янв 2015</span>
                                <span class="movies-meta-item meta-views">
                                    <span class="icon icon--views"></span>21 342</span>
                                <span class="movies-meta-item meta-comments">
                                    <span class="icon icon--comments"></span>542</span>
                            </div>
                            <div class="movies-item-rating clearfix">
                                <div class="starbox" data-rating="0.32"></div>
                                <span class="movies-item-rating-total">7,3</span>
                            </div>
                            <!-- end .movies-item-rating -->
                        </li>
                        <li class="movies-item">
                            <div class="movies-item-body">
                                <a href="movie.html" class="link--overlay"></a>
                                <figure class="movies-item-cover"><img src="images/poster-lg-2.jpg" alt=""></figure>
                                <h5 class="movies-item-title">Рэкетир очень длинное название фильма</h5>
                            </div>
                            <div class="movies-item-description">Триллер, 2016</div>
                            <div class="movies-item-author">
                                <span class="highlight">Режиссер</span>: Алишер Джаксыбаев</div>
                            <div class="movies-meta">
                                <span class="movies-meta-item meta-date">9 июн 2015</span>
                                <span class="movies-meta-item meta-views">
                                    <span class="icon icon--views"></span>21 342</span>
                                <span class="movies-meta-item meta-comments">
                                    <span class="icon icon--comments"></span>542</span>
                            </div>
                            <div class="movies-item-rating clearfix">
                                <div class="starbox" data-rating="0.62"></div>
                                <span class="movies-item-rating-total">7,3</span>
                            </div>
                            <!-- end .movies-item-rating -->
                        </li>
                        <li class="movies-item">
                            <div class="movies-item-body">
                                <a href="movie.html" class="link--overlay"></a>
                                <figure class="movies-item-cover"><img src="images/poster-lg-3.jpg" alt=""></figure>
                                <h5 class="movies-item-title">Кто Вы, господин Ка?</h5>
                            </div>
                            <div class="movies-item-description">Триллер, 2016</div>
                            <div class="movies-item-author">
                                <span class="highlight">Режиссер</span>: Алишер Джаксыбаев</div>
                            <div class="movies-meta">
                                <span class="movies-meta-item meta-date">13 янв 2015</span>
                                <span class="movies-meta-item meta-views">
                                    <span class="icon icon--views"></span>21 342</span>
                                <span class="movies-meta-item meta-comments">
                                    <span class="icon icon--comments"></span>542</span>
                            </div>
                            <div class="movies-item-rating clearfix">
                                <div class="starbox" data-rating="0.32"></div>
                                <span class="movies-item-rating-total">7,3</span>
                            </div>
                            <!-- end .movies-item-rating -->
                        </li>
                        <li class="movies-item">
                            <div class="movies-item-body">
                                <a href="movie.html" class="link--overlay"></a>
                                <figure class="movies-item-cover"><img src="images/poster-lg.jpg" alt=""></figure>
                                <h5 class="movies-item-title">Возвращение в «А»</h5>
                            </div>
                            <div class="movies-item-description">Триллер, 2016</div>
                            <div class="movies-item-author">
                                <span class="highlight">Режиссер</span>: Алишер Джаксыбаев</div>
                            <div class="movies-meta">
                                <span class="movies-meta-item meta-date">13 янв 2015</span>
                                <span class="movies-meta-item meta-views">
                                    <span class="icon icon--views"></span>21 342</span>
                                <span class="movies-meta-item meta-comments">
                                    <span class="icon icon--comments"></span>542</span>
                            </div>
                            <div class="movies-item-rating clearfix">
                                <div class="starbox" data-rating="0.32"></div>
                                <span class="movies-item-rating-total">7,3</span>
                            </div>
                            <!-- end .movies-item-rating -->
                        </li>
                        <li class="movies-item">
                            <div class="movies-item-body">
                                <a href="movie.html" class="link--overlay"></a>
                                <figure class="movies-item-cover"><img src="images/poster-lg-2.jpg" alt=""></figure>
                                <h5 class="movies-item-title">Заговор Оберона</h5>
                            </div>
                            <div class="movies-item-description">Триллер, 2016</div>
                            <div class="movies-item-author">
                                <span class="highlight">Режиссер</span>: Алишер Джаксыбаев</div>
                            <div class="movies-meta">
                                <span class="movies-meta-item meta-date">13 янв 2015</span>
                                <span class="movies-meta-item meta-views">
                                    <span class="icon icon--views"></span>21 342</span>
                                <span class="movies-meta-item meta-comments">
                                    <span class="icon icon--comments"></span>542</span>
                            </div>
                            <div class="movies-item-rating clearfix">
                                <div class="starbox" data-rating="0.32"></div>
                                <span class="movies-item-rating-total">7,3</span>
                            </div>
                            <!-- end .movies-item-rating -->
                        </li>
                        <li class="movies-item">
                            <div class="movies-item-body">
                                <a href="movie.html" class="link--overlay"></a>
                                <figure class="movies-item-cover"><img src="images/poster-lg-3.jpg" alt=""></figure>
                                <h5 class="movies-item-title">Охота за призраком</h5>
                            </div>
                            <div class="movies-item-description">Триллер, 2016</div>
                            <div class="movies-item-author">
                                <span class="highlight">Режиссер</span>: Алишер Джаксыбаев</div>
                            <div class="movies-meta">
                                <span class="movies-meta-item meta-date">13 янв 2015</span>
                                <span class="movies-meta-item meta-views">
                                    <span class="icon icon--views"></span>21 342</span>
                                <span class="movies-meta-item meta-comments">
                                    <span class="icon icon--comments"></span>542</span>
                            </div>
                            <div class="movies-item-rating clearfix">
                                <div class="starbox" data-rating="0.32"></div>
                                <span class="movies-item-rating-total">7,3</span>
                            </div>
                            <!-- end .movies-item-rating -->
                        </li>
                        <li class="movies-item">
                            <div class="movies-item-body">
                                <a href="movie.html" class="link--overlay"></a>
                                <figure class="movies-item-cover"><img src="images/poster-lg.jpg" alt=""></figure>
                                <h5 class="movies-item-title">Небо моего детства</h5>
                            </div>
                            <div class="movies-item-description">Триллер, 2016</div>
                            <div class="movies-item-author">
                                <span class="highlight">Режиссер</span>: Алишер Джаксыбаев</div>
                            <div class="movies-meta">
                                <span class="movies-meta-item meta-date">13 янв 2015</span>
                                <span class="movies-meta-item meta-views">
                                    <span class="icon icon--views"></span>21 342</span>
                                <span class="movies-meta-item meta-comments">
                                    <span class="icon icon--comments"></span>542</span>
                            </div>
                            <div class="movies-item-rating clearfix">
                                <div class="starbox" data-rating="0.32"></div>
                                <span class="movies-item-rating-total">7,3</span>
                            </div>
                            <!-- end .movies-item-rating -->
                        </li>
                        <li class="movies-item">
                            <div class="movies-item-body">
                                <a href="movie.html" class="link--overlay"></a>
                                <figure class="movies-item-cover"><img src="images/poster-lg-2.jpg" alt=""></figure>
                                <h5 class="movies-item-title">Старик</h5>
                            </div>
                            <div class="movies-item-description">Триллер, 2016</div>
                            <div class="movies-item-author">
                                <span class="highlight">Режиссер</span>: Алишер Джаксыбаев</div>
                            <div class="movies-meta">
                                <span class="movies-meta-item meta-date">13 янв 2015</span>
                                <span class="movies-meta-item meta-views">
                                    <span class="icon icon--views"></span>21 342</span>
                                <span class="movies-meta-item meta-comments">
                                    <span class="icon icon--comments"></span>542</span>
                            </div>
                            <div class="movies-item-rating clearfix">
                                <div class="starbox" data-rating="0.32"></div>
                                <span class="movies-item-rating-total">7,3</span>
                            </div>
                            <!-- end .movies-item-rating -->
                        </li>
                        <li class="movies-item">
                            <div class="movies-item-body">
                                <a href="movie.html" class="link--overlay"></a>
                                <figure class="movies-item-cover"><img src="images/poster-lg-3.jpg" alt=""></figure>
                                <h5 class="movies-item-title">Аккыз</h5>
                            </div>
                            <div class="movies-item-description">Триллер, 2016</div>
                            <div class="movies-item-author">
                                <span class="highlight">Режиссер</span>: Алишер Джаксыбаев</div>
                            <div class="movies-meta">
                                <span class="movies-meta-item meta-date">13 янв 2015</span>
                                <span class="movies-meta-item meta-views">
                                    <span class="icon icon--views"></span>21 342</span>
                                <span class="movies-meta-item meta-comments">
                                    <span class="icon icon--comments"></span>542</span>
                            </div>
                            <div class="movies-item-rating clearfix">
                                <div class="starbox" data-rating="0.32"></div>
                                <span class="movies-item-rating-total">7,3</span>
                            </div>
                            <!-- end .movies-item-rating -->
                        </li>
                        <li class="movies-item">
                            <div class="movies-item-body">
                                <a href="movie.html" class="link--overlay"></a>
                                <figure class="movies-item-cover"><img src="images/poster-lg.jpg" alt=""></figure>
                                <h5 class="movies-item-title">Он и Она</h5>
                            </div>
                            <div class="movies-item-description">Триллер, 2016</div>
                            <div class="movies-item-author">
                                <span class="highlight">Режиссер</span>: Алишер Джаксыбаев</div>
                            <div class="movies-meta">
                                <span class="movies-meta-item meta-date">13 янв 2015</span>
                                <span class="movies-meta-item meta-views">
                                    <span class="icon icon--views"></span>21 342</span>
                                <span class="movies-meta-item meta-comments">
                                    <span class="icon icon--comments"></span>542</span>
                            </div>
                            <div class="movies-item-rating clearfix">
                                <div class="starbox" data-rating="0.32"></div>
                                <span class="movies-item-rating-total">7,3</span>
                            </div>
                            <!-- end .movies-item-rating -->
                        </li>
                    </ul>
                    <nav>
                        <ul class="pagination--primary pagination--industry">
                            <li class="pagination-item">
                                <a href="#" class="link pagination-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="pagination-item active">
                                <a href="#" class="link pagination-link">1</a>
                            </li>
                            <li class="pagination-item">
                                <a href="#" class="link pagination-link">2</a>
                            </li>
                            <li class="pagination-item">
                                <a href="#" class="link pagination-link">3</a>
                            </li>
                            <li class="pagination-item">
                                <a href="#" class="link pagination-link">4</a>
                            </li>
                            <li class="pagination-item">
                                <a href="#" class="link pagination-link">5</a>
                            </li>
                            <li class="pagination-item">
                                <a href="#" class="link pagination-link">...</a>
                            </li>
                            <li class="pagination-item">
                                <a href="#" class="link pagination-link">12</a>
                            </li>
                            <li class="pagination-item">
                                <a href="#" class="link pagination-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- end .movies -->
            </div>
        </div>
    </main>

{% endblock %}