{% extends "layouts/default.njk" %}
{% set retro = true %}
{% block content %}

    <main class="main main--secondary">
        <div class="main-head">
            <div class="container">
                <h1>Ретроспектива</h1>
                <h3 class="title-section title-section--primary">Ретроспектива</h3>
                <nav class="nav nav--inner">
                    <a class="link link--primary" href="retro.html">
          О фестивале
        </a>
                    <a class="link link--primary" href="retro-jury.html">
          Жюри
        </a>
                    <a class="link link--primary" href="retro-participants.html">
          Фильмы
        </a>
                    <a class="link link--primary active" href="retro-winners.html">
          Победители
        </a>
                </nav>
            </div>
        </div>
        <div class="main-body">
            <div class="container">
                <section class="movies movies--retro">
                    <ul class="movies-list">
                        <li class="movies-item">
                            <div class="movies-item-visual">
                                <figure class="movies-item-cover">
                                    <a href="#" class="link--image"><img src="images/poster-logan.jpg" alt=""></a>
                                </figure>
                                <span class="label--default label--primary label--news link--label">Гран-при</span>
                            </div>
                            <div class="movies-item-body">
                                <h5 class="movies-item-title">
                                    <a href="#" class="link">Старый с когтями</a>
                                </h5>
                                <div class="movies-item-author">
                                    <span class="highlight">Режиссер</span>: Логан Иксменович</div>
                                <div class="movies-item-description">Триллер, 2016</div>
                            </div>
                        </li>
                        <li class="movies-item">
                            <div class="movies-item-visual">
                                <figure class="movies-item-cover">
                                    <a href="#" class="link--image"><img src="images/poster-logan.jpg" alt=""></a>
                                </figure>
                                <span class="label--default label--primary label--news link--label">Гран-при</span>
                            </div>
                            <div class="movies-item-body">
                                <h5 class="movies-item-title">
                                    <a href="#" class="link">Старый с когтями</a>
                                </h5>
                                <div class="movies-item-author">
                                    <span class="highlight">Режиссер</span>: Логан Иксменович</div>
                                <div class="movies-item-description">Драма, 2017</div>
                            </div>
                        </li>
                        <li class="movies-item">
                            <div class="movies-item-visual">
                                <figure class="movies-item-cover">
                                    <a href="#" class="link--image"><img src="images/poster-logan.jpg" alt=""></a>
                                </figure>
                                <span class="label--default label--primary label--news link--label">Гран-при</span>
                            </div>
                            <div class="movies-item-body">
                                <h5 class="movies-item-title">
                                    <a href="#" class="link">Он и она</a>
                                </h5>
                                <div class="movies-item-author">
                                    <span class="highlight">Режиссер</span>: Алишер Джаксыбаев</div>
                                <div class="movies-item-description">Триллер, 2016</div>
                            </div>
                        </li>
                        <li class="movies-item">
                            <div class="movies-item-visual">
                                <figure class="movies-item-cover">
                                    <a href="#" class="link--image"><img src="images/poster-logan.jpg" alt=""></a>
                                </figure>
                                <span class="label--default label--primary label--news link--label">Гран-при</span>
                            </div>
                            <div class="movies-item-body">
                                <h5 class="movies-item-title">
                                    <a href="#" class="link">Он и она</a>
                                </h5>
                                <div class="movies-item-author">
                                    <span class="highlight">Режиссер</span>: Алишер Джаксыбаев</div>
                                <div class="movies-item-description">Триллер, 2016</div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </main>

{% endblock %}