{% extends "layouts/default.njk" %}
{% set retro = true %}
{% block content %}

    <main class="main main--secondary">
        <div class="main-head">
            <div class="container">
                <h1>Ретроспектива</h1>
                <h3 class="title-section title-section--primary">Ретроспектива</h3>
                <nav class="nav nav--inner">
                    <a class="link link--primary" href="retro.html">
          О фестивале
        </a>
                    <a class="link link--primary active" href="retro-jury.html">
          Жюри
        </a>
                    <a class="link link--primary" href="retro-participants.html">
          Фильмы
        </a>
                    <a class="link link--primary" href="retro-winners.html">
          Победители
        </a>
                </nav>
            </div>
        </div>
        <div class="main-body">
            <div class="container">
                <div class="about-main">
                    <div class="grid">
                        <div class="grid-item grid-item--content">
                            <h3 class="title--secondary">Жюри фестиваля</h3>
                            <div class="people">
                                <ul class="people-list">
                                    <li class="people-item">
                                        <a href="#" class="link--overlay"></a>
                                        <figure class="people-image"><img src="images/jury-new-1.png" alt=""></figure>
                                        <h5 class="people-name">Рашид Нугманов</h5>
                                        <p class="people-meta people-meta--primary">Председатель жюри, режиссёр и сценарист</p>
                                    </li>
                                    <li class="people-item">
                                        <a href="#" class="link--overlay"></a>
                                        <figure class="people-image"><img src="images/jury-new-2.png" alt=""></figure>
                                        <h5 class="people-name">Сабина Кузенбаева</h5>
                                        <p class="people-meta people-meta--primary">Кинопрокатчик</p>
                                    </li>
                                    <li class="people-item">
                                        <a href="#" class="link--overlay"></a>
                                        <figure class="people-image"><img src="images/jury-new-3.png" alt=""></figure>
                                        <h5 class="people-name">Гульнара Абикеева</h5>
                                        <p class="people-meta people-meta--primary">Кинокритик, киновед</p>
                                    </li>
                                    <li class="people-item">
                                        <a href="#" class="link--overlay"></a>
                                        <figure class="people-image"><img src="images/jury-new-4.png" alt=""></figure>
                                        <h5 class="people-name">Адильхан Ержанов</h5>
                                        <p class="people-meta people-meta--primary">Режиссёр и сценарист</p>
                                    </li>
                                    <li class="people-item">
                                        <a href="#" class="link--overlay"></a>
                                        <figure class="people-image"><img src="images/jury-new-5.png" alt=""></figure>
                                        <h5 class="people-name">Толеген Байтукенов</h5>
                                        <p class="people-meta people-meta--primary">Кинокритик, режиссёр</p>
                                    </li>
                                    <li class="people-item">
                                        <a href="#" class="link--overlay"></a>
                                        <figure class="people-image"><img src="images/jury-new-6.png" alt=""></figure>
                                        <h5 class="people-name">Ильяс Ахмет</h5>
                                        <p class="people-meta people-meta--primary">Директор Eurasia Spotlight</p>
                                    </li>
                                    <li class="people-item">
                                        <a href="#" class="link--overlay"></a>
                                        <figure class="people-image"><img src="images/jury-new-7.png" alt=""></figure>
                                        <h5 class="people-name">Гали Мырзашев</h5>
                                        <p class="people-meta">Художник-аниматор</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end .grid -->
                </div>
                <!-- end .about-main -->
            </div>
        </div>
    </main>

{% endblock %}