{% extends "layouts/default.njk" %}
{% set retro = true %}
{% block content %}

    <main class="main main--secondary">
        <div class="main-head">
            <div class="container">
                <h1>Байконур 2016</h1>
                <h3 class="title-section title-section--primary">
                    <nav>
                        <a href="#" class="title-section--year">2016</a>
                        <a href="#" class="title-section--year">2017</a>
                    </nav>
                </h3>
                <nav class="nav nav--inner">
                    <a class="link link--primary active" href="#">
          О фестивале
        </a>
                    <a class="link link--primary" href="retro-jury.html">
          Жюри
        </a>
                    <a class="link link--primary" href="retro-participants.html">
          Фильмы
        </a>
                    <a class="link link--primary" href="retro-winners.html">
          Победители
        </a>
                    <a class="link link--primary" href="retro-program.html">
          Программа
        </a>
                </nav>
            </div>
        </div>
        <div class="main-body">
            <div class="container">
                <section class="about">
                    <section class="about-main">
                        <div class="grid">
                            <div class="grid-item grid-item--content">
                                <article class="article clearfix">
                                    <h3 class="title--secondary">О фестивале</h3>
                                    <figure class="about-avatar pull-left"><img src="images/avatar-festival.png" class="img" alt=""></figure>
                                    <div class="article-body">
                                        <p class="text">Республиканский фестиваль короткометражного кино «Байконур» — уникальное культурное мероприятие, которому нет аналогов в Казахстане. «Байконур» — это знакомство с работами молодых кинематографистов нашей страны, он призван стать стартовой площадкой для творческого «взлета» участников фестиваля и открытия новых имен в казахстанском кино. Задача Фестиваля — популяризировать молодое, короткометражное кино среди казахстанцев.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit maiores magnam iusto, minima est vel ducimus illum! Dignissimos molestiae ipsam, quibusdam facere minima error, impedit consectetur consequatur quaerat sequi blanditiis?</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nam doloribus iste repellat, dolorem. Id placeat a rerum, vero deserunt ab ex? Sunt, et totam? Quibusdam architecto nisi, quae nemo?</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nam doloribus iste repellat, dolorem. Id placeat a rerum, vero deserunt ab ex? Sunt, et totam? Quibusdam architecto nisi, quae nemo?</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nam doloribus iste repellat, dolorem. Id placeat a rerum, vero deserunt ab ex? Sunt, et totam? Quibusdam architecto nisi, quae nemo?</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nam doloribus iste repellat, dolorem. Id placeat a rerum, vero deserunt ab ex? Sunt, et totam? Quibusdam architecto nisi, quae nemo?</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nam doloribus iste repellat, dolorem. Id placeat a rerum, vero deserunt ab ex? Sunt, et totam? Quibusdam architecto nisi, quae nemo?</p>
                                    </div>
                                </article>
                                <div class="about-info">
                                    <div class="item">
                                        <div class="text">Место проведения</div>
                                        <div class="title">Кок-Тобе</div>
                                    </div>
                                    <div class="item">
                                        <div class="text">Дата проведения</div>
                                        <div class="title">17-18 сентября</div>
                                    </div>
                                    <div class="item">
                                        <div class="text">Кол-во участников</div>
                                        <div class="title">36 фильмов</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- end .about-main -->

                    <section class="about-photos">
                        <h3 class="title--secondary">Фотоотчёт</h3>
                        <div class="grid">
                            <div class="grid-item grid-item--content">
                                <article class="article clearfix">
                                    <ul id="gallery-about">
                                        <li data-thumb="https://unsplash.it/900/500?image=123">
                                            <img src="https://unsplash.it/900/500?image=123"/>
                                        </li>
                                        <li data-thumb="https://unsplash.it/900/500?image=439">
                                            <img src="https://unsplash.it/900/500?image=439"/>
                                        </li>
                                        <li data-thumb="https://unsplash.it/900/500?image=146">
                                            <img src="https://unsplash.it/900/500?image=146"/>
                                        </li>
                                        <li data-thumb="https://unsplash.it/900/500?image=471">
                                            <img src="https://unsplash.it/900/500?image=471"/>
                                        </li>
                                        <li data-thumb="https://unsplash.it/900/500?image=341">
                                            <img src="https://unsplash.it/900/500?image=341"/>
                                        </li>
                                        <li data-thumb="https://unsplash.it/900/500?image=981">
                                            <img src="https://unsplash.it/900/500?image=981"/>
                                        </li>

                                        <li data-thumb="https://unsplash.it/900/500?image=71">
                                            <img src="https://unsplash.it/900/500?image=71"/>
                                        </li>
                                        <li data-thumb="https://unsplash.it/900/500?image=41">
                                            <img src="https://unsplash.it/900/500?image=41"/>
                                        </li>
                                        <li data-thumb="https://unsplash.it/900/500?image=903">
                                            <img src="https://unsplash.it/900/500?image=903"/>
                                        </li>
                                    </ul>
                                </article>
                            </div>
                        </div>
                    </section>
                    <!-- end .about-team -->
                </section>
            </div>
        </div>
    </main>

{% endblock %}

{% block script %}
    <script src="extra/gallery.js"></script>
{% endblock %}