{% extends "layouts/default.njk" %}
{% set statuette = true %}
{% block content %}

    <main class="main main--secondary main-page statuette">

        <section class="about about--secondary">
            <div class="container">
                <div class="grid">
                    <article class="grid-item grid-item--secondary grid-item--statue">
                        <figure class="statue"><img src="images/statue.png" alt=""></figure>
                        <h1>Статуэтка «Байконур»</h1>
                        <!-- <h3 class="title-section title-section--primary">О ФЕСТИВАЛЕ</h3> -->
                        <h3>Победители 10 номинаций I Республиканского фестиваля
             короткометражного кино «Байконур» получат одноименную эксклюзивную
             статуэтку, созданную в рамках творческого конкурса «Сотвори».</h3>
                        <p>Вес скульптуры составляет около 5 кг.</p>
                        <p>Материал, из которой сделана скульптура, латунь, основа - камень габбро
            (магматическая интрузивная горная порода основного состава).</p>
                        <p>Создание только 1 статуэтки занимает 7 дней.</p>
                        <p>Надпись «I Республиканский фестиваль короткометражного кино «Байконур» гравируется вручную.</p>
                        <p>Покрытие золотого напыления статуэтки - 0,9 грамм, золото 999 пробы.</p>
                        <p>Автор и исполнитель - Орынхан Рахимбеков.</p>
                    </article>
                </div>
                <!-- end .grid -->
            </div>
            <!-- end .container -->
        </section>

        {% include '_partials/partners.njk' %}
        {% include '_blocks/form.njk' %}

    {% endblock %}