{% extends "layouts/default.njk" %}
{% set ticket = true %}
{% block content %}

    <main class="main main--secondary">
        <section class="articles">
            <div class="container">
                <div class="grid">
                    <div class="grid-item grid-item--content">
                        <h1>Купить билет</h1>
                        <h3 class="title-section title-section--primary">Купить билет</h3>
                        <p>В стоимость билета входит безудержное веселье, безлимитное пиво, вино, карамельки и бутерброды. Также вас будет развлекать Сэмюэл Л. Джексон и Квентин собственными персонами. Так что билет стоит того. Покупайте прямо сейчас.</p>
                        <br>
                        <p class="price">2000 <span class="tenge">a</span></p>
                    </div>
                </div>

            </div>
            <!-- end .container -->
            <section>
                <div class=" container flex booking-wrapper">
                    <!-- Если будут картинки вместо надписей то не добавлять booking-item'у класс grey -->
                    <div class="booking-item grey">
                        <a href="#" class="link link--overlay"></a>
                        <figure>В меломане</figure>
                    </div>
                    <div class="booking-item grey">
                        <a href="#" class="link link--overlay"></a>
                        <figure>На Тикетоне</figure>
                    </div>
                    <div class="booking-item ">
                        <a href="#" class="link link--overlay"></a>
                        <figure><img src="images/about7.jpg" alt=""></figure>
                    </div>
                </section>
            </div>
        </div>
        <!-- end .container -->

        {# {{>partners}}

        {{>form}} #}

        {% include '_partials/partners.njk' %}
        {% include '_blocks/form.njk' %}

    </section>
</main>

{% endblock %}