{% extends "layouts/default.njk" %}
{% set video_contest = true %}
{% block content %}

    <main class="main main--secondary video-contest">
        <div class="main-head">
            <div class="container">
                {# <h1>Всё о «Байконуре»</h1> #}
                <h3 class="title-section title-section--primary">Конкурс музыкальных видео</h3>
            </div>
        </div>

        <div class="main-body">
            <div class="container">
                <div class="page-tabs">
                    <ul class="" role="tablist">
                        <li class=" active" role="presentation">
                            <a href="#tab1" aria-controls="generalConsert" role="tab" data-toggle="tab" aria-expanded="true"
                            class="btn btn--primary">Заявители</a>
                        </li>
                        <li class="" role="presentation">
                            <a href="#tab2" aria-controls="nationalConsert" role="tab" data-toggle="tab"
                            aria-expanded="false" class="btn btn--primary">Участники</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" id="tab1" class="tab-pane active">
                            <h4 class="upper">Лучшее музыкальное видео
</h4>
                            <div class="fl-block">
                                <div class="item">
                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Emh8GOdGOSA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="name">
                                    Франка <span>драма</span>
                                    </div>
                                </div>
                                <div class="item">
                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Emh8GOdGOSA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="name">
                                    Изгородь <span>Короткометражный</span>
                                    </div>
                                </div>
                                <div class="item">
                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Emh8GOdGOSA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="name">
                                    Моль <span>трагикомедия</span>
                                    </div>
                                </div>
                                <div class="item">
                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Emh8GOdGOSA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="name">
                                    Моль <span>Драма</span>
                                    </div>
                                </div>
                                <div class="item">
                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Emh8GOdGOSA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="name">
                                    Франка <span>Драма</span>
                                    </div>
                                </div>
                                <div class="item">
                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Emh8GOdGOSA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="name">
                                    Франка <span>Драма</span>
                                    </div>
                                </div>
                                <div class="item">
                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Emh8GOdGOSA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="name">
                                    Франка <span>Драма</span>
                                    </div>
                                </div>
                                <div class="item">
                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Emh8GOdGOSA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="name">
                                    Франка <span>Драма</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" id="tab2" class="tab-pane">
                            <h4 class="upper">Лучшее музыкальное видео</h4>
                            <div class="party-block">
                                <div class="film-item">
                                    <div class="video">
                                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Emh8GOdGOSA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <div class="info">
                                        <div class="name">
                                    Франка <span>драма</span>
                                        </div>

                                        <div class="peoples-fl">
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Митрий Семенов
                                                </div>
                                                <div class="proffession">
                                                 Режиссер, автор, художник-постановщик
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Павел Скакун
                                                </div>
                                                <div class="proffession">
                                                 Оператор
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Валентин Залужный
                                                </div>
                                                <div class="proffession">
                                                Сценарист
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Беларусьфильм
                                                </div>
                                                <div class="proffession">
                                                 Продюсер
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Марина Поддубная
                                                </div>
                                                <div class="proffession">
                                                Лидия
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Антон Жуков
                                                </div>
                                                <div class="proffession">
                                                Александр
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Зинаида Зубкова
                                                </div>
                                                <div class="proffession">
                                                 Маргарита
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Юлиана Михневич
                                                </div>
                                                <div class="proffession">
                                                 Яна
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Карина Самцова
                                                </div>
                                                <div class="proffession">
                                                 Катя
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Ксения Черницкая
                                                </div>
                                                <div class="proffession">
                                                 Карина
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="film-item">
                                    <div class="video">
                                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Emh8GOdGOSA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <div class="info">
                                        <div class="name">
                                    51+ <span>трагикомедия</span>
                                        </div>

                                        <div class="peoples-fl">
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Митрий Семенов
                                                </div>
                                                <div class="proffession">
                                                 Режиссер, автор, художник-постановщик
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Павел Скакун
                                                </div>
                                                <div class="proffession">
                                                 Оператор
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Валентин Залужный
                                                </div>
                                                <div class="proffession">
                                                Сценарист
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Беларусьфильм
                                                </div>
                                                <div class="proffession">
                                                 Продюсер
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Марина Поддубная
                                                </div>
                                                <div class="proffession">
                                                Лидия
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Антон Жуков
                                                </div>
                                                <div class="proffession">
                                                Александр
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Зинаида Зубкова
                                                </div>
                                                <div class="proffession">
                                                 Маргарита
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Юлиана Михневич
                                                </div>
                                                <div class="proffession">
                                                 Яна
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Карина Самцова
                                                </div>
                                                <div class="proffession">
                                                 Катя
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Ксения Черницкая
                                                </div>
                                                <div class="proffession">
                                                 Карина
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="film-item">
                                    <div class="video">
                                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Emh8GOdGOSA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <div class="info">
                                        <div class="name">
                                    Изгородь <span>трагикомедия</span>
                                        </div>

                                        <div class="peoples-fl">
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Митрий Семенов
                                                </div>
                                                <div class="proffession">
                                                 Режиссер, автор, художник-постановщик
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Павел Скакун
                                                </div>
                                                <div class="proffession">
                                                 Оператор
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Валентин Залужный
                                                </div>
                                                <div class="proffession">
                                                Сценарист
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Беларусьфильм
                                                </div>
                                                <div class="proffession">
                                                 Продюсер
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Марина Поддубная
                                                </div>
                                                <div class="proffession">
                                                Лидия
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Антон Жуков
                                                </div>
                                                <div class="proffession">
                                                Александр
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Зинаида Зубкова
                                                </div>
                                                <div class="proffession">
                                                 Маргарита
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Юлиана Михневич
                                                </div>
                                                <div class="proffession">
                                                 Яна
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Карина Самцова
                                                </div>
                                                <div class="proffession">
                                                 Катя
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Ксения Черницкая
                                                </div>
                                                <div class="proffession">
                                                 Карина
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="film-item">
                                    <div class="video">
                                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Emh8GOdGOSA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <div class="info">
                                        <div class="name">
                                    Моль <span>трагикомедия</span>
                                        </div>

                                        <div class="peoples-fl">
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Митрий Семенов
                                                </div>
                                                <div class="proffession">
                                                 Режиссер, автор, художник-постановщик
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Павел Скакун
                                                </div>
                                                <div class="proffession">
                                                 Оператор
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Валентин Залужный
                                                </div>
                                                <div class="proffession">
                                                Сценарист
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Беларусьфильм
                                                </div>
                                                <div class="proffession">
                                                 Продюсер
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Марина Поддубная
                                                </div>
                                                <div class="proffession">
                                                Лидия
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Антон Жуков
                                                </div>
                                                <div class="proffession">
                                                Александр
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Зинаида Зубкова
                                                </div>
                                                <div class="proffession">
                                                 Маргарита
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Юлиана Михневич
                                                </div>
                                                <div class="proffession">
                                                 Яна
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Карина Самцова
                                                </div>
                                                <div class="proffession">
                                                 Катя
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="images/ava.png" alt="">
                                                <div class="person-name">
                                                 Ксения Черницкая
                                                </div>
                                                <div class="proffession">
                                                 Карина
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}