{% extends "layouts/default.njk" %}
{% set winners = true %}
{% block content %}

    <main class="main main--secondary main--movie">
        <div class="main-head">
            <div class="container">
                <h1>Победители</h1>
                <h3 class="title-section title-section--primary">Победители</h3>
            </div>
        </div>

        <div class="main-body">
            <section class="articles">
                <div class="container">
                    <section class="winners">

                        <div class="winner">
                            <figure class="afisha">
                                <a href="#" class="link--overlay">
                                    <span><img src="images/afish/slider1.jpg" alt=""></span>
                                </a>
                                <span class="label--default label--primary label--news link--label">Гран-при</span>
                            </figure>

                            <div class="film-descr">
                                <figcaption>
                                    <a href="#">Человек-волк</a>
                                </figcaption>
                                <p class="info producer">
                                    <span>Режиссер:</span> Алишер Джаксыбеков</p>
                                <p class="info small">Азиатский, криминальный, коротметражный, drama, 2017</p>
                            </div>
                        </div>

                        <div class="winner">
                            <figure class="afisha">
                                <a href="#" class="link--overlay">
                                    <span><img src="images/afish/slider1.jpg" alt=""></span>
                                </a>
                                <span class="label--default label--primary label--news link--label">Лучший фильм-эксперимент</span>
                            </figure>

                            <div class="film-descr">
                                <figcaption>
                                    <a href="#">Человек-волк</a>
                                </figcaption>

                                <p class="info producer">
                                    <span>Режиссер:</span> Алишер Джаксыбеков</p>
                                <p class="info small">Триллер, 2014</p>
                            </div>
                        </div>

                        <div class="winner">
                            <figure class="afisha">
                                <a href="#" class="link--overlay">
                                    <span><img src="images/afish/slider1.jpg" alt=""></span>
                                </a>
                                <span class="label--default label--primary label--news link--label">Лучший фильм-эксперимент</span>
                            </figure>

                            <div class="film-descr">
                                <figcaption>
                                    <a href="#">Человек-волк</a>
                                </figcaption>

                                <p class="info producer">
                                    <span>Режиссер:</span> Алишер Джаксыбеков</p>
                                <p class="info small">Триллер, 2014</p>
                            </div>
                        </div>

                        <div class="winner">
                            <figure class="afisha">
                                <a href="#" class="link--overlay">
                                    <span><img src="images/afish/slider1.jpg" alt=""></span>
                                </a>
                                <span class="label--default label--primary label--news link--label">Лучший фильм-эксперимент</span>
                            </figure>

                            <div class="film-descr">
                                <figcaption>
                                    <a href="#">Человек-волк</a>
                                </figcaption>

                                <p class="info producer">
                                    <span>Режиссер:</span> Алишер Джаксыбеков</p>
                                <p class="info small">Триллер, 2014</p>
                            </div>
                        </div>

                        <div class="winner">
                            <figure class="afisha">
                                <a href="#" class="link--overlay">
                                    <span><img src="images/afish/slider1.jpg" alt=""></span>
                                </a>
                                <span class="label--default label--primary label--news link--label">Лучший фильм-эксперимент</span>
                            </figure>

                            <div class="film-descr">
                                <figcaption>
                                    <a href="#">Человек-волк</a>
                                </figcaption>

                                <p class="info producer">
                                    <span>Режиссер:</span> Алишер Джаксыбеков</p>
                                <p class="info small">Триллер, 2014</p>
                            </div>
                        </div>

                        <div class="winner">
                            <figure class="afisha">
                                <a href="#" class="link--overlay">
                                    <span><img src="images/afish/slider1.jpg" alt=""></span>
                                </a>
                                <span class="label--default label--primary label--news link--label">Лучший фильм-эксперимент</span>
                            </figure>

                            <div class="film-descr">
                                <figcaption>
                                    <a href="#">Человек-волк</a>
                                </figcaption>

                                <p class="info producer">
                                    <span>Режиссер:</span> Алишер Джаксыбеков</p>
                                <p class="info small">Триллер, 2014</p>
                            </div>
                        </div>

                        <div class="winner">
                            <figure class="afisha">
                                <a href="#" class="link--overlay">
                                    <span><img src="images/afish/slider1.jpg" alt=""></span>
                                </a>
                                <span class="label--default label--primary label--news link--label">Лучший фильм-эксперимент</span>
                            </figure>

                            <div class="film-descr">
                                <figcaption>
                                    <a href="#">Человек-волк</a>
                                </figcaption>

                                <p class="info producer">
                                    <span>Режиссер:</span> Алишер Джаксыбеков</p>
                                <p class="info small">Триллер, 2014</p>
                            </div>
                        </div>

                        <div class="winner">
                            <figure class="afisha">
                                <a href="#" class="link--overlay">
                                    <span><img src="images/afish/slider1.jpg" alt=""></span>
                                </a>
                                <span class="label--default label--primary label--news link--label">Лучший фильм-эксперимент</span>
                            </figure>

                            <div class="film-descr">
                                <figcaption>
                                    <a href="#">Человек-волк</a>
                                </figcaption>

                                <p class="info producer">
                                    <span>Режиссер:</span> Алишер Джаксыбеков</p>
                                <p class="info small">Триллер, 2014</p>
                            </div>
                        </div>

                        <div class="winner">
                            <figure class="afisha">
                                <a href="#" class="link--overlay">
                                    <span><img src="images/afish/slider1.jpg" alt=""></span>
                                </a>
                                <span class="label--default label--primary label--news link--label">Лучший фильм-эксперимент</span>
                            </figure>

                            <div class="film-descr">
                                <figcaption>
                                    <a href="#">Человек-волк</a>
                                </figcaption>

                                <p class="info producer">
                                    <span>Режиссер:</span> Алишер Джаксыбеков</p>
                                <p class="info small">Триллер, 2014</p>
                            </div>
                        </div>

                        <div class="winner">
                            <figure class="afisha">
                                <a href="#" class="link--overlay">
                                    <span><img src="images/afish/slider1.jpg" alt=""></span>
                                </a>
                                <span class="label--default label--primary label--news link--label">Лучший фильм-эксперимент</span>
                            </figure>

                            <div class="film-descr">
                                <figcaption>
                                    <a href="#">Человек-волк</a>
                                </figcaption>

                                <p class="info producer">
                                    <span>Режиссер:</span> Алишер Джаксыбеков</p>
                                <p class="info small">Триллер, 2014</p>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- end .container -->
            </section>
        </div>
    </main>

{% endblock %}