<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Байконур | Фестиваль NEW</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png">
    <link rel="icon" href="favicon.ico"/>
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <!-- build:css(.) styles/vendor.min.css -->
    <!-- bower:css -->
    <link rel=" stylesheet" href="node_modules/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="node_modules/lightgallery/dist/css/lightgallery.min.css">
    <link rel="stylesheet" href="node_modules/lightslider/dist/css/lightslider.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/react-select/dist/react-select.min.css">
    <link rel="stylesheet" href="node_modules/cropperjs/dist/cropper.min.css">
    <link rel="stylesheet" href="node_modules/react-image-crop/dist/ReactCrop.css">
    <link rel="stylesheet" href="node_modules/intl-tel-input/build/css/intlTelInput.css">
    <link href="node_modules/select2/dist/css/select2.min.css" rel="stylesheet"/>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.min.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor/modernizr.min.js -->
    <script src="node_modules/npm-modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor/respond.min.js -->
    <!--[if lt IE 9]>
    <script src="node_modules/respond/main.js"></script>
    <![endif]-->
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {# import icon macro to use svg icons from sprite #}
    {% from "_partials/mixins.njk" import icon %}
    {# import some variable from ../_partials/variables.njk file and use it later if needed #}
    {% from "_partials/variables.njk" import developers %}

    {% include "_blocks/header.njk" %}

    {% block content %}{% endblock %}

    {% include "_blocks/footer.njk" %}

    {% include "_blocks/modal-reglament.njk" %}
    {% include "_blocks/modal-login.njk" %}
    {% include "_blocks/modal-reg.njk" %}
    {% include "_blocks/modal-pass.njk" %}

    <!-- build:js(.) scripts/vendor.min.js -->
    <!-- bower:js -->

    {# {{ 'markup' variable is delivered from gulpfile's 'views' task data object #}
    {% if markup %}
      <script src="node_modules/jquery/dist/jquery.js"></script>
    {% endif %}

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="node_modules/jquery.maskedinput/src/jquery.maskedinput.js"></script>
    <script src="node_modules/swiper/js/swiper.min.js"></script>
    <script src="node_modules/lightslider/dist/js/lightslider.min.js"></script>
    <script src="node_modules/lightgallery/dist/js/lightgallery.min.js"></script>
    {# <script src="bower_components/jquery-widowfix/js/jquery.widowFix-1.3.2.min.js"></script> #}
    <script src="node_modules/cropit/dist/jquery.cropit.js"></script>
    <script src="node_modules/intl-tel-input/build/js/intlTelInput.js"></script>
    <script src="node_modules/select2/dist/js/select2.min.js"></script>

    <!-- endbower -->
    <!-- endbuild -->

    <script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=basic&lazy=true"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

    <!-- build:js(.tmp) scripts/main.min.js -->
    {# <script src="scripts/main.js"></script> #}
    <!-- endbuild -->

    <!-- page scripts start -->
    <script src="scripts/app.bundle.js"></script>
    {% block script %}{% endblock %}
    <!-- page scripts end -->

  </body>
</html>