.checkbox-tree {
  overflow: auto;
  max-height: 300px;
  width: 100%;
  border-right: 1px #ccc solid;
  padding: 0 10px 10px;
}

.checkbox-tree ul {
  padding-left: 20px;
}

.checkbox-tree > ul {
  padding: 0;
}

.checkbox-tree ul li {
  list-style: none;
}

.gallery-form .thumbnails .thumbnail {
  height: 360px;
  text-align: center;
  margin-left: 0;
  margin-right: 20px;
  position: relative;
  background: #eee;
}

.gallery-form .thumbnails .thumbnail img {
  max-height: 150px;
}

.gallery-form .thumbnails .thumbnail .caption {
  width: 99%;
  position: absolute;
  bottom: 0;
}

.gallery-form .thumbnail input {
  margin: 5px 0;
}

.gallery-form .thumbnails a.delete-image {
  opacity: 0.5;
  text-align: center;
}

.gallery-form .thumbnails a.delete-image:hover {
  opacity: 1;
}
