.dropzone {
    background-color: #cccccc;
    border: 1px solid;
    margin: 10px 19px 10px 0;
    padding: 10px;
    text-align: center;
}
.col-md-3 img {
    max-width: 283px;
}
.ui-datepicker{
    margin-top: 50px;
}

.btn.side-bar {
    width: 100%;
}
.col-md-3.gallery-image img {
    max-width: 160px;
}