
<div class="grid-item grid-item--secondary">
  <div class="thumb thumb--article">
    <a href="#" class="label--default label--article link--image"><span class="icon icon--type photo"></span></a>
    <div class="thumb-head">
      <figure class="thumb-image"><a href="#" class="link--image"><img src="images/thumb-columns1.jpg" alt=""></a></figure>
      <span class="thumb-category"><a href="#" class="link">Колонки</a></span>
      <p class="thumb-date">11 августа</p>
    </div>
    <h4 class="thumb-title"><a href="#" class="link">Триптих. Ержанов и Байгазин. Часть 3</a></h4>
    <p class="thumb-description">Байгазин – наше все. Даже если это не так, обстоятельства складываются таким образом, чтобы данное заявление осуществилось. А совсем свежий месседж главы культуры тоже этому способствует.</p>
    <p class="thumb-author"><a href="#" class="link">Айгерим Алимбаева</a></p>
  </div>
</div>

<div class="grid-item grid-item--secondary">
  <div class="thumb thumb--article">
    <div class="thumb-head">
      <figure class="thumb-image"><a href="#" class="link--image"><img src="images/thumb-columns2.jpg" alt=""></a></figure>
      <span class="thumb-category"><a href="#" class="link">Колонки</a></span>
      <p class="thumb-date">9 августа</p>
    </div>
    <h4 class="thumb-title"><a href="#" class="link">Ностальгия Сатыбалды Нарымбетова</a></h4>
    <p class="thumb-description">Когда-то один мудрец сказал: «Ностальгия – это невыплаканные в свое время слезы». В этом смысле фильм «Жизнеописание юного аккордеониста» – это невыплаканные слезы Сатыбалды Нарымбетова, режиссера этой картины.</p>
    <p class="thumb-author"><a href="#" class="link">Анелия Мухит</a></p>
  </div>
</div>

<div class="grid-item grid-item--secondary">
  <div class="thumb thumb--article">
    <a href="#" class="label--default label--article link--image"><span class="icon icon--type video"></span></a>
    <div class="thumb-head">
      <figure class="thumb-image"><a href="#" class="link--image"><img src="images/thumb-columns3.jpg" alt=""></a></figure>
      <span class="thumb-category"><a href="#" class="link">Колонки</a></span>
      <p class="thumb-date">11 августа</p>
    </div>
    <h4 class="thumb-title"><a href="#" class="link">В нескольких километрах от Джумейра-Бич</a></h4>
    <p class="thumb-description">Рецензия на фильм «Келинка Сабина: Правдивая история».</p>
    <p class="thumb-author"><a href="#" class="link">Олег Борецкий</a></p>
  </div>
</div>

<div class="grid-item grid-item--secondary">
  <div class="thumb thumb--article">
    <div class="thumb-head">
      <figure class="thumb-image"><a href="#" class="link--image"><img src="images/thumb-columns4.jpg" alt=""></a></figure>
      <span class="thumb-category"><a href="#" class="link">Колонки</a></span>
      <p class="thumb-date">9 августа</p>
    </div>
    <h4 class="thumb-title"><a href="#" class="link">Успешный «Концерт» режиссера</a></h4>
    <p class="thumb-description">Олжас Ермекбаев и победа на "Бастау" и "Clique".</p>
    <p class="thumb-author"><a href="#" class="link">Ермек Турсунов</a></p>
  </div>
</div>
