
<div class="comments">
  <div class="container">
    <div class="comments-inner">
      <div class="comments-header">
        <h4 class="comments-title">13 комментариев</h4>
        <!-- <button type="button" class="btn btn--login" data-toggle="modal" data-target="#modalLogin">Войти</button> -->
        <p class="tip pull-right"><button type="button" class="btn link" data-toggle="modal" data-target="#modalLogin">Войдите</button>, чтобы оставить комментарий</p>
      </div>
      <div class="comments-item">
        <div class="comments-item-wrapper clearfix">
          <figure class="comments-avatar pull-left"><a href="#" class="link--image"><img src="images/face7.jpg" class="comments-avatar-image" alt=""></a></figure>
          <div class="comments-body">
            <form action="" class="form form--primary clearfix">
              <input type="text" class="form-control" id ="searchText" name="search_text" placeholder="Ваш комментарий..." onfocus="if(this.placeholder  == 'Ваш комментарий...') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Ваш комментарий...'; }" />
              <button type="button" class="btn btn--primary pull-right">Комментировать</button>
            </form>
          </div>
        </div>
      </div><!-- end .comments-item -->
      <div class="comments-item">
        <div class="comments-item-wrapper clearfix">
          <figure class="comments-avatar pull-left"><a href="#" class="link--image"><img src="images/face3.jpg" class="comments-avatar-image" alt=""></a></figure>
          <div class="comments-body">
            <div class="comments-meta">
              <p class="comments-author"><a href="#" class="link">Serik Dossayev</a></p>
              <span class="icon--disc"></span>
              <span class="comments-time">12 часов назад</span>
            </div>
            <p class="comments-text">В преддверии выборов решением Центр-избиркома и апелляционной палаты была снята с предвыборной гонки партия "Патрия", по спискам которой проходил предприниматель Ренато Усатый. Поводом для этого стали материалы МВД, согласно которым партии якобы были переведены из-за рубежа около 500 тысяч долла...</p>
            <div class="comments-control">
              <button type="button" class="btn link">Ответить</button>
      <!--         <span class="icon--disc"></span>
              <button type="button" class="btn link">Поделиться</button> -->
            </div>
          </div>
        </div>
        <div class="comments-item">
          <div class="comments-item-wrapper clearfix">
            <figure class="comments-avatar pull-left"><a href="#" class="link--image"><img src="images/face7.jpg" class="comments-avatar-image" alt=""></a></figure>
            <div class="comments-body">
              <form action="" class="form form--primary clearfix">
                <input type="text" class="form-control" id ="searchText" name="search_text" placeholder="Ваш комментарий..." onfocus="if(this.placeholder  == 'Ваш комментарий...') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Ваш комментарий...'; }" />
                <button type="button" class="btn btn--primary pull-right">Комментировать</button>
              </form>
            </div>
          </div>
        </div><!-- end .comments-item -->
        <div class="comments-item">
          <div class="comments-item-wrapper clearfix">
            <figure class="comments-avatar pull-left"><a href="#" class="link--image"><img src="images/face5.jpg" class="comments-avatar-image" alt=""></a></figure>
            <div class="comments-body">
              <div class="comments-meta">
                <p class="comments-author"><a href="#" class="link">Serik Dossayev</a></p>
                <span class="icon--disc"></span>
                <span class="comments-time">12 часов назад</span>
              </div>
              <p class="comments-text">В преддверии выборов решением Центр-избиркома и апелляционной палаты была снята с предвыборной гонки партия "Патрия", по спискам которой проходил предприниматель Ренато Усатый. Поводом для этого стали материалы МВД, согласно которым партии якобы были переведены из-за рубежа около 500 тысяч долла...</p>
              <div class="comments-control">
                <button type="button" class="btn link">Ответить</button>
      <!--           <span class="icon--disc"></span>
                <button type="button" class="btn link">Поделиться</button> -->
              </div>
            </div>
          </div>
          <div class="comments-item">
            <div class="comments-item-wrapper clearfix">
              <figure class="comments-avatar pull-left"><a href="#" class="link--image"><img src="images/face6.jpg" class="comments-avatar-image" alt=""></a></figure>
              <div class="comments-body">
                <div class="comments-meta">
                  <p class="comments-author"><a href="#" class="link">Serik Dossayev</a></p>
                  <span class="icon--disc"></span>
                  <span class="comments-time">12 часов назад</span>
                </div>
                <p class="comments-text">В преддверии выборов решением Центр-избиркома и апелляционной палаты была снята с предвыборной гонки партия "Патрия", по спискам которой проходил предприниматель Ренато Усатый. Поводом для этого стали материалы МВД, согласно которым партии якобы были переведены из-за рубежа около 500 тысяч долла...</p>
                <div class="comments-control">
                  <button type="button" class="btn link">Ответить</button>
      <!--             <span class="icon--disc"></span>
                  <button type="button" class="btn link">Поделиться</button> -->
                </div>
              </div>
            </div>
            <div class="comments-item">
              <div class="comments-item-wrapper clearfix">
                <figure class="comments-avatar pull-left"><a href="#" class="link--image"><img src="images/face7.jpg" class="comments-avatar-image" alt=""></a></figure>
                <div class="comments-body">
                  <div class="comments-meta">
                    <p class="comments-author"><a href="#" class="link">Serik Dossayev</a></p>
                    <span class="icon--disc"></span>
                    <span class="comments-time">12 часов назад</span>
                  </div>
                  <p class="comments-text">В преддверии выборов решением Центр-избиркома и апелляционной палаты была снята с предвыборной гонки партия "Патрия", по спискам которой проходил предприниматель Ренато Усатый. Поводом для этого стали материалы МВД, согласно которым партии якобы были переведены из-за рубежа около 500 тысяч долла...</p>
                  <div class="comments-control">
                    <button type="button" class="btn link">Ответить</button>
      <!--               <span class="icon--disc"></span>
                    <button type="button" class="btn link">Поделиться</button> -->
                  </div>
                </div>
              </div>
            </div><!-- end .comments-item -->
          </div><!-- end .comments-item -->
          <div class="comments-item">
            <div class="comments-item-wrapper clearfix">
              <figure class="comments-avatar pull-left"><a href="#" class="link--image"><img src="images/face7.jpg" class="comments-avatar-image" alt=""></a></figure>
              <div class="comments-body">
                <form action="" class="form form--primary clearfix">
                  <input type="text" class="form-control" id ="searchText" name="search_text" placeholder="Ваш комментарий..." onfocus="if(this.placeholder  == 'Ваш комментарий...') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Ваш комментарий...'; }" />
                  <button type="button" class="btn btn--primary pull-right">Комментировать</button>
                </form>
              </div>
            </div>
          </div><!-- end .comments-item -->
        </div><!-- end .comments-item -->
        <div class="comments-item">
          <div class="comments-item-wrapper clearfix">
            <figure class="comments-avatar pull-left"><a href="#" class="link--image"><img src="images/face1.jpg" class="comments-avatar-image" alt=""></a></figure>
            <div class="comments-body">
              <div class="comments-meta">
                <p class="comments-author"><a href="#" class="link">Serik Dossayev</a></p>
                <span class="icon--disc"></span>
                <span class="comments-time">12 часов назад</span>
              </div>
              <p class="comments-text">В преддверии выборов решением Центр-избиркома и апелляционной палаты была снята с предвыборной гонки партия "Патрия", по спискам которой проходил предприниматель Ренато Усатый. Поводом для этого стали материалы МВД, согласно которым партии якобы были переведены из-за рубежа около 500 тысяч долла...</p>
              <div class="comments-control">
                <button type="button" class="btn link">Ответить</button>
      <!--           <span class="icon--disc"></span>
                <button type="button" class="btn link">Поделиться</button> -->
              </div>
            </div>
          </div>
        </div><!-- end .comments-item -->
      </div><!-- end .comments-item -->
      <div class="comments-item">
        <div class="comments-item-wrapper clearfix">
          <figure class="comments-avatar pull-left"><a href="#" class="link--image"><img src="images/face5.jpg" class="comments-avatar-image" alt=""></a></figure>
          <div class="comments-body">
            <div class="comments-meta">
              <p class="comments-author"><a href="#" class="link">Serik Dossayev</a></p>
              <span class="icon--disc"></span>
              <span class="comments-time">12 часов назад</span>
            </div>
            <p class="comments-text">В преддверии выборов решением Центр-избиркома и апелляционной палаты была снята с предвыборной гонки партия "Патрия", по спискам которой проходил предприниматель Ренато Усатый. Поводом для этого стали материалы МВД, согласно которым партии якобы были переведены из-за рубежа около 500 тысяч долла...</p>
            <div class="comments-control">
              <button type="button" class="btn link">Ответить</button>
      <!--         <span class="icon--disc"></span>
              <button type="button" class="btn link">Поделиться</button> -->
            </div>
          </div>
        </div>
      </div><!-- end .comments-item -->          
    </div><!-- end .comments-inner -->
  </div><!-- end .container -->
</div><!-- end .comments -->
