
<div class="grid-item grid-item--content">
  <div class="profile profile--edit">
    <form action="" class="form form--profile">
      <div class="form-header clearfix">
        <!-- в случае, если у пользователя уже есть фото, то добавлять класс .has-image к блоку .cropper, этот класс сразу делает видимыми кнопку удаления и замены фото -->
        <div class="cropper cropper--avatar pull-left">
          <div class="cropit-image-preview avatar avatar--lg"></div>
          <input type="file" class="cropit-image-input" name="user_avatar" id="userAvatar" />
          <button type="button" class="btn btn--remove" title="Удалить фото"><span class="icon icon--remove link--image"></span></button>
          <button type="button" class="btn btn--cropper link js-upload-trigger">Загрузить фото</button>
          <button type="button" class="btn btn--reupload link js-upload-trigger">Заменить фото</button>
          <span class="label--gender"><span class="icon icon--gender hidden"></span></span>
        </div><!-- end .cropper -->

<!--         <figure class="avatar avatar--lg avatar--static pull-left">
          <img src="images/face5.jpg" class="avatar-image" alt="">
        </figure> -->

        <div class="form-group form-group--about">
          <label for="userAbout" class="control-label">О себе</label>
          <textarea class="textarea form-control" type="text" name="user_about" id="userAbout" value="" placeholder="Расскажите немного о себе" onfocus="if(this.placeholder  == 'Расскажите немного о себе') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Расскажите немного о себе'; }"></textarea>
        </div>
      </div>
      <div class="form-body">
        <div class="grid">
          <div class="grid-item grid-item--form">
            <div class="form-group">
              <label for="userNameProfile" class="control-label">Как вас зовут</label>
              <input class="form-control" type="text" name="user_name_profile" id="userNameProfile" value="" placeholder="Введите ваше имя" onfocus="if(this.placeholder  == 'Введите ваше имя') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Введите ваше имя'; }" />
            </div>
            <div class="form-group">
              <label for="userEmailProfile" class="control-label">Почта</label>
              <input class="form-control" type="text" name="user_email_profile" id="userEmailProfile" value="" placeholder="Укажите электронную почту" onfocus="if(this.placeholder  == 'Укажите электронную почту') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Укажите электронную почту'; }" />
            </div>
            <div class="form-group">
              <label for="userPhoneProfile" class="control-label">Телефон</label>
              <div class="phone-group clearfix">
                <span class="phone-helper pull-left">+7</span>
                <input class="form-control pull-right js-masked" type="text" name="user_phone_profile" id="userPhoneProfile" value="" placeholder="___ ___ __ __" onfocus="if(this.placeholder  == '___ ___ __ __') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = '___ ___ __ __'; }" />
              </div>
            </div>
            <div class="form-group">
              <label for="userBirthDate" class="control-label">Дата рождения</label>
              <input class="form-control" type="date" name="user_birthdate" id="userBirthDate" value="" placeholder="Укажите электронную почту" onfocus="if(this.placeholder  == 'Укажите электронную почту') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Укажите электронную почту'; }" />
            </div>
            <div class="form-group">
              <label for="userGenderProfile" class="control-label">Пол</label>
              <div class="select-wrapper">
                <select class="form-control user-gender" id="userGenderProfile" name="user_gender_profile">
                  <option value="0">Не указывать пол</option>
                  <option value="1">Мужчина</option>
                  <option value="2">Женщина</option>
                </select>
              </div>
            </div>
            <div class="form-group checkbox">
              <input type="checkbox" class="" id="userNewsletter" name="user_newsletter" checked />
              <label for="userNewsletter" class="control-label">Получать рассылку от Бродвея</label>
            </div>
          </div>
          <div class="grid-item grid-item--form">
            <div class="form-group">
              <label for="userPassCurrentProfile" class="control-label">Текущий пароль</label>
              <input class="form-control" type="text" name="user_pass_current_profile" id="userPassCurrentProfile" value="" placeholder="Введите текущий пароль" onfocus="if(this.placeholder  == 'Введите текущий пароль') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Введите текущий пароль'; }" />
            </div>
            <div class="form-group">
              <label for="userPassNewProfile" class="control-label">Новый пароль</label>
              <input class="form-control" type="text" name="user_pass_new_profile" id="userPassNewProfile" value="" placeholder="Введите новый пароль" onfocus="if(this.placeholder  == 'Введите новый пароль') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Введите новый пароль'; }" />
            </div>
            <div class="form-group">
              <label for="userPassRepeatProfile" class="control-label">Подтверждение нового пароля</label>
              <input class="form-control" type="text" name="user_pass_repeat_profile" id="userPassRepeatProfile" value="" placeholder="Введите новый пароль снова" onfocus="if(this.placeholder  == 'Введите новый пароль снова') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Введите новый пароль снова'; }" />
            </div>
          </div>
        </div>
      </div>
      <div class="form-footer">
        <button type="button" class="btn btn--primary">Сохранить</button>
        <button type="button" class="btn link">Отменить изменения</button>
      </div>
    </form>
  </div><!-- end .profile -->
</div><!-- grid-item -->
