
<div class="grid-item grid-item--content">
  <div class="profile">
    <div class="profile-body">
      <div class="profile-meta clearfix">
        <figure class="avatar avatar--lg pull-left">
          <img src="images/avatar-default.jpg" class="avatar-image" alt="">
        </figure>
        <div class="profile-head">
          <h4 class="title--primary">Неопознанный киноман</h4>
          <a href="profile-edit.html" class="icon icon--edit"></a>
        </div>
        <ul class="profile-info">
          <li class="profile-info-item">
            <a href="#" class="link profile-info-item-email">kinoman@mail.ru</a>
            <a href="#" class="link profile-info-item-social">facebook</a>
          </li>
          <li class="profile-info-item profile-info-item--phone">+7 707 857 26 32</li>
          <li class="profile-info-item">28 лет</li>
        </ul>
      </div><!-- end .profile-meta -->
      <p class="profile-description">Кинокритик, киноман, кинозритель, эстет и просто крутой чувак. Люблю фильмы Тарантино, итальянскую кухню и пиксаровские мультики.</p>
    </div><!-- end .profile-body -->

    {{>tabs-profile}}

  </div><!-- end .profile -->
</div><!-- grid-item -->

<div class="grid-item grid-item--secondary">
  <div class="money">
    <p class="money-text">У вас на счету:</p>
    <p class="money-balance"><span class="number">2 304</span>a</p>
    <button class="btn btn--primary" data-toggle="modal" data-target="#modalPayment">Пополнить счет</button>
    <p class="money-text">Оплачивать фильмы с счета намного быстрее!</p>
  </div>
</div><!-- end .grid-item -->
