
<div class="grid-item grid-item--content">
  <div class="people">
    <ul class="people-list">
      <li class="people-item">
        <div class="people-body">
          <a href="person.html" class="link--overlay"></a>
          <figure class="people-image"><img src="images/author1.jpg" alt=""></figure>
          <h5 class="people-name">Дулат Кожахметов</h5>
        </div>
        <p class="people-meta people-meta--secondary"><a href="#" class="link">22 статьи</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/author2.jpg" alt=""></figure>
          <h5 class="people-name">Толеген Байтукенов</h5>
        </div>
        <p class="people-meta people-meta--secondary"><a href="#" class="link">22 статьи</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/author3.jpg" alt=""></figure>
          <h5 class="people-name">Олег Борецкий</h5>
        </div>
        <p class="people-meta people-meta--secondary"><a href="#" class="link">22 статьи</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="person.html" class="link--overlay"></a>
          <figure class="people-image"><img src="images/author1.jpg" alt=""></figure>
          <h5 class="people-name">Дулат Кожахметов</h5>
        </div>
        <p class="people-meta people-meta--secondary"><a href="#" class="link">22 статьи</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/author2.jpg" alt=""></figure>
          <h5 class="people-name">Толеген Байтукенов</h5>
        </div>
        <p class="people-meta people-meta--secondary"><a href="#" class="link">22 статьи</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/author3.jpg" alt=""></figure>
          <h5 class="people-name">Олег Борецкий</h5>
        </div>
        <p class="people-meta people-meta--secondary"><a href="#" class="link">22 статьи</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="person.html" class="link--overlay"></a>
          <figure class="people-image"><img src="images/author1.jpg" alt=""></figure>
          <h5 class="people-name">Дулат Кожахметов</h5>
        </div>
        <p class="people-meta people-meta--secondary"><a href="#" class="link">22 статьи</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/author2.jpg" alt=""></figure>
          <h5 class="people-name">Толеген Байтукенов</h5>
        </div>
        <p class="people-meta people-meta--secondary"><a href="#" class="link">22 статьи</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/author3.jpg" alt=""></figure>
          <h5 class="people-name">Олег Борецкий</h5>
        </div>
        <p class="people-meta people-meta--secondary"><a href="#" class="link">22 статьи</a></p>
      </li>
    </ul>
  </div><!-- end .companies -->
</div>

<div class="grid-item grid-item--sidebar">
  <figure class="banner--secondary"><a href="#" class="link--image"><img src="images/banner-hero.jpg" alt=""></a></figure>
</div><!-- end .grid-item -->
