
<div class="grid-item grid-item--content">
  <div class="control-bar">
    <div class="control-bar-filters">
      <div class="filters--secondary filters--movies">
        <div class="filters-order">

          <!-- dropdown-filter-mobile ВЫВОДИМ ТОЛЬКО НА МОБИЛЕ -->
          <div class="dropdown dropdown--dashed dropdown-filter-mobile">
            <button id="movieSort" type="button" class="btn btn--dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="dropdown-status">По рейтингу</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="movieSort">
              <li class="dropdown-menu-item link active">По рейтингу</li>
              <li class="dropdown-menu-item link">По кол-ву проголосовавших</li>
              <li class="dropdown-menu-item link">По дате релиза</li>
              <li class="dropdown-menu-item link">Только с онлайн-просмотром</li>
            </ul>
          </div>

          <span class="icon icon--order"></span>
          <!-- СЛЕДУЮЩИЕ 3 ЭЛЕМЕНТА ВЫВОДИТЬ ТОЛЬКО НА ДЕСКТОПНОЙ ВЕРСИИ -->
<!--      <button type="button" class="btn btn--dashed active">По рейтингу</button>
          <button type="button" class="btn btn--dashed">По кол-ву проголосовавших</button>
          <button type="button" class="btn btn--dashed">По дате релиза</button> -->

          <button type="button" class="btn btn--default active">Только с онлайн-просмотром</button>
        </div>
      </div>
    </div>
  </div><!-- end .control-bar -->

  <div class="rating">
    <ul class="rating-list">
      <li class="rating-item">
        <div class="rating-data pull-right">
          <figure class="rating-data-star"><img src="images/icon-star-lg-red.png" alt=""></figure>
          <span class="rating-index">9,96</span>
          <span class="rating-people">(15 459)</span>
        </div>
        <span class="rating-number">1</span>
        <div class="rating-movie">
          <figure class="rating-movie-cover"><a href="#" class="link--image"><img src="images/movie-rating1.jpg" alt=""></a></figure>
          <div class="rating-movie-meta">
            <div class="meta-head"><h6 class="meta-title"><a href="#" class="link">Балкон</a></h6></div>
            <p class="meta-description">Драма, 1988</p>
          </div>
        </div>
      </li>
      <li class="rating-item">
        <div class="rating-data pull-right">
          <figure class="rating-data-star"><img src="images/icon-star-lg-red.png" alt=""></figure>
          <span class="rating-index">9,92</span>
          <span class="rating-people">(10 459)</span>
        </div>
        <span class="rating-number">2</span>
        <div class="rating-movie">
          <figure class="rating-movie-cover"><a href="#" class="link--image"><img src="images/movie-rating2.jpg" alt=""></a></figure>
          <div class="rating-movie-meta">
            <div class="meta-head"><h6 class="meta-title"><a href="#" class="link">Меня зовут Кожа</a></h6></div>
            <p class="meta-description">Комедия, 1963</p>
          </div>
        </div>
      </li>
      <li class="rating-item">
        <div class="rating-data pull-right">
          <figure class="rating-data-star"><img src="images/icon-star-lg-red.png" alt=""></figure>
          <span class="rating-index">9,91</span>
          <span class="rating-people">(15 459)</span>
        </div>
        <span class="rating-number">3</span>
        <div class="rating-movie">
          <figure class="rating-movie-cover"><a href="#" class="link--image"><img src="images/movie-rating3.jpg" alt=""></a></figure>
          <div class="rating-movie-meta">
            <div class="meta-head">
              <h6 class="meta-title"><a href="#" class="link">Бойся, враг, девятого сына</a></h6>
              <div class="meta-labels">
                <a class="label--default label--primary label--thumb link--label">Онлайн</a>
                <a class="label--default label--primary label--thumb link--label">Бесплатно</a>
              </div>
            </div>
            <p class="meta-description">Семейный, сказка, 1984</p>
          </div>
        </div>
      </li>
      <li class="rating-item">
        <div class="rating-data pull-right">
          <figure class="rating-data-star"><img src="images/icon-star-lg-red.png" alt=""></figure>
          <span class="rating-index">9,22</span>
          <span class="rating-people">(2 459)</span>
        </div>
        <span class="rating-number">4</span>
        <div class="rating-movie">
          <figure class="rating-movie-cover"><a href="#" class="link--image"><img src="images/movie-rating4.jpg" alt=""></a></figure>
          <div class="rating-movie-meta">
            <div class="meta-head">
              <h6 class="meta-title"><a href="#" class="link">Весь мир у ваших ног</a></h6>
              <div class="meta-labels">
                <a class="label--default label--primary label--thumb link--label">Онлайн</a>
                <a class="label--default label--primary label--thumb link--label">Бесплатно</a>
              </div>
            </div>
            <p class="meta-description">Боевик, драма, криминал, 2013</p>
          </div>
        </div>
      </li>
      <li class="rating-item">
        <div class="rating-data pull-right">
          <figure class="rating-data-star"><img src="images/icon-star-lg-red.png" alt=""></figure>
          <span class="rating-index">9,46</span>
          <span class="rating-people">(6 459)</span>
        </div>
        <span class="rating-number">5</span>
        <div class="rating-movie">
          <figure class="rating-movie-cover"><a href="#" class="link--image"><img src="images/movie-rating5.jpg" alt=""></a></figure>
          <div class="rating-movie-meta">
            <div class="meta-head">
              <h6 class="meta-title"><a href="#" class="link">Наш милый доктор</a></h6>
              <div class="meta-labels">
                <a class="label--default label--primary label--thumb link--label">Онлайн</a>
              </div>
            </div>
            <p class="meta-description">Комедия, 1957</p>
          </div>
        </div>
      </li>
      <li class="rating-item">
        <div class="rating-data pull-right">
          <figure class="rating-data-star"><img src="images/icon-star-lg-red.png" alt=""></figure>
          <span class="rating-index">9,96</span>
          <span class="rating-people">(15 459)</span>
        </div>
        <span class="rating-number">6</span>
        <div class="rating-movie">
          <figure class="rating-movie-cover"><a href="#" class="link--image"><img src="images/movie-rating6.jpg" alt=""></a></figure>
          <div class="rating-movie-meta">
            <div class="meta-head">
              <h6 class="meta-title"><a href="#" class="link">Ангел в тюбетейке</a></h6>
              <div class="meta-labels">
                <a class="label--default label--primary label--thumb link--label">Онлайн</a>
                <a class="label--default label--primary label--thumb link--label">Бесплатно</a>
              </div>
            </div>
            <p class="meta-description">Комедя, 1968</p>
          </div>
        </div>
      </li>
      <li class="rating-item">
        <div class="rating-data pull-right">
          <figure class="rating-data-star"><img src="images/icon-star-lg-red.png" alt=""></figure>
          <span class="rating-index">9,92</span>
          <span class="rating-people">(10 459)</span>
        </div>
        <span class="rating-number">7</span>
        <div class="rating-movie">
          <figure class="rating-movie-cover"><a href="#" class="link--image"><img src="images/movie-rating7.jpg" alt=""></a></figure>
          <div class="rating-movie-meta">
            <div class="meta-head">
              <h6 class="meta-title"><a href="#" class="link">Девушка-джигит</a></h6>
            </div>
            <p class="meta-description">Комедия, 1955</p>
          </div>
        </div>
      </li>
      <li class="rating-item">
        <div class="rating-data pull-right">
          <figure class="rating-data-star"><img src="images/icon-star-lg-red.png" alt=""></figure>
          <span class="rating-index">9,91</span>
          <span class="rating-people">(15 459)</span>
        </div>
        <span class="rating-number">8</span>
        <div class="rating-movie">
          <figure class="rating-movie-cover"><a href="#" class="link--image"><img src="images/movie-rating8.jpg" alt=""></a></figure>
          <div class="rating-movie-meta">
            <div class="meta-head">
              <h6 class="meta-title"><a href="#" class="link">Кыз-Жибек</a></h6>
            </div>
            <p class="meta-description">Драма, 1970</p>
          </div>
        </div>
      </li>
      <li class="rating-item">
        <div class="rating-data pull-right">
          <figure class="rating-data-star"><img src="images/icon-star-lg-red.png" alt=""></figure>
          <span class="rating-index">9,22</span>
          <span class="rating-people">(2 459)</span>
        </div>
        <span class="rating-number">9</span>
        <div class="rating-movie">
          <figure class="rating-movie-cover"><a href="#" class="link--image"><img src="images/movie-rating9.jpg" alt=""></a></figure>
          <div class="rating-movie-meta">
            <div class="meta-head">
              <h6 class="meta-title"><a href="#" class="link">Сказ о розовом зайце</a></h6>
              <div class="meta-labels">
                <a class="label--default label--primary label--thumb link--label">Онлайн</a>
                <a class="label--default label--primary label--thumb link--label">Бесплатно</a>
              </div>
            </div>
            <p class="meta-description">Драма, криминал, молодежный, 2010</p>
          </div>
        </div>
      </li>
      <li class="rating-item">
        <div class="rating-data pull-right">
          <figure class="rating-data-star"><img src="images/icon-star-lg-red.png" alt=""></figure>
          <span class="rating-index">9,46</span>
          <span class="rating-people">(6 459)</span>
        </div>
        <span class="rating-number">10</span>
        <div class="rating-movie">
          <figure class="rating-movie-cover"><a href="#" class="link--image"><img src="images/movie-rating10.jpg" alt=""></a></figure>
          <div class="rating-movie-meta">
            <div class="meta-head">
              <h6 class="meta-title"><a href="#" class="link">Султан Бейбарс</a></h6>
              <div class="meta-labels">
                <a class="label--default label--primary label--thumb link--label">Онлайн</a>
                <a class="label--default label--primary label--thumb link--label">Бесплатно</a>
              </div>
            </div>
            <p class="meta-description">Исторический, 1989</p>
          </div>
        </div>
      </li>
      <li class="rating-item">
        <div class="rating-data pull-right">
          <figure class="rating-data-star"><img src="images/icon-star-lg-red.png" alt=""></figure>
          <span class="rating-index">9,96</span>
          <span class="rating-people">(15 459)</span>
        </div>
        <span class="rating-number">11</span>
        <div class="rating-movie">
          <figure class="rating-movie-cover"><a href="#" class="link--image"><img src="images/movie-rating1.jpg" alt=""></a></figure>
          <div class="rating-movie-meta">
            <div class="meta-head"><h6 class="meta-title"><a href="#" class="link">Балкон</a></h6></div>
            <p class="meta-description">Драма, 1988</p>
          </div>
        </div>
      </li>
      <li class="rating-item">
        <div class="rating-data pull-right">
          <figure class="rating-data-star"><img src="images/icon-star-lg-red.png" alt=""></figure>
          <span class="rating-index">9,92</span>
          <span class="rating-people">(10 459)</span>
        </div>
        <span class="rating-number">12</span>
        <div class="rating-movie">
          <figure class="rating-movie-cover"><a href="#" class="link--image"><img src="images/movie-rating2.jpg" alt=""></a></figure>
          <div class="rating-movie-meta">
            <div class="meta-head"><h6 class="meta-title"><a href="#" class="link">Меня зовут Кожа</a></h6></div>
            <p class="meta-description">Комедия, 1963</p>
          </div>
        </div>
      </li>
      <li class="rating-item">
        <div class="rating-data pull-right">
          <figure class="rating-data-star"><img src="images/icon-star-lg-red.png" alt=""></figure>
          <span class="rating-index">9,91</span>
          <span class="rating-people">(15 459)</span>
        </div>
        <span class="rating-number">13</span>
        <div class="rating-movie">
          <figure class="rating-movie-cover"><a href="#" class="link--image"><img src="images/movie-rating3.jpg" alt=""></a></figure>
          <div class="rating-movie-meta">
            <div class="meta-head">
              <h6 class="meta-title"><a href="#" class="link">Бойся, враг, девятого сына</a></h6>
              <div class="meta-labels">
                <a class="label--default label--primary label--thumb link--label">Онлайн</a>
                <a class="label--default label--primary label--thumb link--label">Бесплатно</a>
              </div>
            </div>
            <p class="meta-description">Семейный, сказка, 1984</p>
          </div>
        </div>
      </li>
      <li class="rating-item">
        <div class="rating-data pull-right">
          <figure class="rating-data-star"><img src="images/icon-star-lg-red.png" alt=""></figure>
          <span class="rating-index">9,22</span>
          <span class="rating-people">(2 459)</span>
        </div>
        <span class="rating-number">14</span>
        <div class="rating-movie">
          <figure class="rating-movie-cover"><a href="#" class="link--image"><img src="images/movie-rating4.jpg" alt=""></a></figure>
          <div class="rating-movie-meta">
            <div class="meta-head">
              <h6 class="meta-title"><a href="#" class="link">Весь мир у ваших ног</a></h6>
              <div class="meta-labels">
                <a class="label--default label--primary label--thumb link--label">Онлайн</a>
                <a class="label--default label--primary label--thumb link--label">Бесплатно</a>
              </div>
            </div>
            <p class="meta-description">Боевик, драма, криминал, 2013</p>
          </div>
        </div>
      </li>
      <li class="rating-item">
        <div class="rating-data pull-right">
          <figure class="rating-data-star"><img src="images/icon-star-lg-red.png" alt=""></figure>
          <span class="rating-index">9,46</span>
          <span class="rating-people">(6 459)</span>
        </div>
        <span class="rating-number">15</span>
        <div class="rating-movie">
          <figure class="rating-movie-cover"><a href="#" class="link--image"><img src="images/movie-rating5.jpg" alt=""></a></figure>
          <div class="rating-movie-meta">
            <div class="meta-head">
              <h6 class="meta-title"><a href="#" class="link">Наш милый доктор</a></h6>
              <div class="meta-labels">
                <a class="label--default label--primary label--thumb link--label">Онлайн</a>
              </div>
            </div>
            <p class="meta-description">Комедия, 1957</p>
          </div>
        </div>
      </li>
      <li class="rating-item">
        <div class="rating-data pull-right">
          <figure class="rating-data-star"><img src="images/icon-star-lg-red.png" alt=""></figure>
          <span class="rating-index">9,96</span>
          <span class="rating-people">(15 459)</span>
        </div>
        <span class="rating-number">16</span>
        <div class="rating-movie">
          <figure class="rating-movie-cover"><a href="#" class="link--image"><img src="images/movie-rating6.jpg" alt=""></a></figure>
          <div class="rating-movie-meta">
            <div class="meta-head">
              <h6 class="meta-title"><a href="#" class="link">Ангел в тюбетейке</a></h6>
              <div class="meta-labels">
                <a class="label--default label--primary label--thumb link--label">Онлайн</a>
                <a class="label--default label--primary label--thumb link--label">Бесплатно</a>
              </div>
            </div>
            <p class="meta-description">Комедя, 1968</p>
          </div>
        </div>
      </li>
      <li class="rating-item">
        <div class="rating-data pull-right">
          <figure class="rating-data-star"><img src="images/icon-star-lg-red.png" alt=""></figure>
          <span class="rating-index">9,92</span>
          <span class="rating-people">(10 459)</span>
        </div>
        <span class="rating-number">17</span>
        <div class="rating-movie">
          <figure class="rating-movie-cover"><a href="#" class="link--image"><img src="images/movie-rating7.jpg" alt=""></a></figure>
          <div class="rating-movie-meta">
            <div class="meta-head">
              <h6 class="meta-title"><a href="#" class="link">Девушка-джигит</a></h6>
            </div>
            <p class="meta-description">Комедия, 1955</p>
          </div>
        </div>
      </li>
      <li class="rating-item">
        <div class="rating-data pull-right">
          <figure class="rating-data-star"><img src="images/icon-star-lg-red.png" alt=""></figure>
          <span class="rating-index">9,91</span>
          <span class="rating-people">(15 459)</span>
        </div>
        <span class="rating-number">18</span>
        <div class="rating-movie">
          <figure class="rating-movie-cover"><a href="#" class="link--image"><img src="images/movie-rating8.jpg" alt=""></a></figure>
          <div class="rating-movie-meta">
            <div class="meta-head">
              <h6 class="meta-title"><a href="#" class="link">Кыз-Жибек</a></h6>
            </div>
            <p class="meta-description">Драма, 1970</p>
          </div>
        </div>
      </li>
      <li class="rating-item">
        <div class="rating-data pull-right">
          <figure class="rating-data-star"><img src="images/icon-star-lg-red.png" alt=""></figure>
          <span class="rating-index">9,22</span>
          <span class="rating-people">(2 459)</span>
        </div>
        <span class="rating-number">19</span>
        <div class="rating-movie">
          <figure class="rating-movie-cover"><a href="#" class="link--image"><img src="images/movie-rating9.jpg" alt=""></a></figure>
          <div class="rating-movie-meta">
            <div class="meta-head">
              <h6 class="meta-title"><a href="#" class="link">Сказ о розовом зайце</a></h6>
              <div class="meta-labels">
                <a class="label--default label--primary label--thumb link--label">Онлайн</a>
                <a class="label--default label--primary label--thumb link--label">Бесплатно</a>
              </div>
            </div>
            <p class="meta-description">Драма, криминал, молодежный, 2010</p>
          </div>
        </div>
      </li>
      <li class="rating-item">
        <div class="rating-data pull-right">
          <figure class="rating-data-star"><img src="images/icon-star-lg-red.png" alt=""></figure>
          <span class="rating-index">9,46</span>
          <span class="rating-people">(6 459)</span>
        </div>
        <span class="rating-number">20</span>
        <div class="rating-movie">
          <figure class="rating-movie-cover"><a href="#" class="link--image"><img src="images/movie-rating10.jpg" alt=""></a></figure>
          <div class="rating-movie-meta">
            <div class="meta-head">
              <h6 class="meta-title"><a href="#" class="link">Султан Бейбарс</a></h6>
              <div class="meta-labels">
                <a class="label--default label--primary label--thumb link--label">Онлайн</a>
                <a class="label--default label--primary label--thumb link--label">Бесплатно</a>
              </div>
            </div>
            <p class="meta-description">Исторический, 1989</p>
          </div>
        </div>
      </li>
    </ul>
  </div><!-- end .companies -->
</div>

<div class="grid-item grid-item--sidebar">
  <figure class="banner--secondary"><a href="#" class="link--image"><img src="images/banner-hero.jpg" alt=""></a></figure>

  <div class="movies-item">
    <figure class="movies-item-cover"><a href="#" class="link--image"><img src="images/movies-oberon.jpg" alt=""></a></figure>
    <p class="movies-item-category"><a href="#" class="link">Смотреть онлайн</a></p>
    <h5 class="movies-item-title"><a href="#" class="link">Заговор Оберона</a></h5>
    <div class="movies-item-rating clearfix">
      <ul class="stars-list clearfix">
        <li class="stars-item pull-left"><img src="images/icon-star.png" alt=""></li>
        <li class="stars-item pull-left"><img src="images/icon-star.png" alt=""></li>
        <li class="stars-item pull-left"><img src="images/icon-star.png" alt=""></li>
        <li class="stars-item pull-left"><img src="images/icon-star.png" alt=""></li>
        <li class="stars-item pull-left"><img src="images/icon-star.png" alt=""></li>
        <li class="stars-item pull-left"><img src="images/icon-star.png" alt=""></li>
        <li class="stars-item pull-left"><img src="images/icon-star.png" alt=""></li>
        <li class="stars-item pull-left"><img src="images/icon-star.png" alt=""></li>
        <li class="stars-item pull-left"><img src="images/icon-star.png" alt=""></li>
        <li class="stars-item pull-left"><img src="images/icon-star.png" alt=""></li>
      </ul><!-- end .stars-list -->
      <span class="movies-item-rating-total">7,3</span>
    </div><!-- end .movies-item-rating -->
  </div>

  <div class="live live--comments">
    <h5 class="title--secondary">Сейчас обсуждают</h5>
    <div class="live-item">
      <h6 class="live-title"><a href="#" class="link">Побудь в моей шкуре</a></h6>
      <p class="live-description">А на мой взгляд фильм не затронул главную идею, ради чего только его и стоило снимать — отношения между сыном и отцом.</p>
      <div class="live-meta">
        <p class="meta-author"><a href="#" class="link">Gulnaz Omarova</a></p>
        <p class="meta-date">22 мин. назад</p>
      </div>
    </div>
    <div class="live-item">
      <h6 class="live-title"><a href="#" class="link">Побудь в моей шкуре</a></h6>
      <p class="live-description">А на мой взгляд фильм не затронул главную идею, ради чего только его и стоило снимать — отношения между сыном и отцом.</p>
      <div class="live-meta">
        <p class="meta-author"><a href="#" class="link">Gulnaz Omarova</a></p>
        <p class="meta-date">22 мин. назад</p>
      </div>
    </div>
    <div class="live-item">
      <h6 class="live-title"><a href="#" class="link">Побудь в моей шкуре</a></h6>
      <p class="live-description">А на мой взгляд фильм не затронул главную идею, ради чего только его и стоило снимать — отношения между сыном и отцом.</p>
      <div class="live-meta">
        <p class="meta-author"><a href="#" class="link">Gulnaz Omarova</a></p>
        <p class="meta-date">22 мин. назад</p>
      </div>
    </div>
    <div class="live-item">
      <h6 class="live-title"><a href="#" class="link">Побудь в моей шкуре</a></h6>
      <p class="live-description">А на мой взгляд фильм не затронул главную идею, ради чего только его и стоило снимать — отношения между сыном и отцом.</p>
      <div class="live-meta">
        <p class="meta-author"><a href="#" class="link">Gulnaz Omarova</a></p>
        <p class="meta-date">22 мин. назад</p>
      </div>
    </div>
  </div>
</div><!-- end .grid-item -->
