
<div class="grid-item grid-item--content">
  <div class="grid">
    <div class="studio-meta">
      <figure class="studio-logo"><img src="images/logo-studio.png" alt=""></figure>
      <ul class="studio-contacts">
        <li class="studio-phone">+7 727 317-26-02</li>
        <li class="studio-phone">+7 727 317-26-02</li>
        <li class="studio-email"><a href="#" class="link">email.kz</a></li>
      </ul>
      <div class="filters--primary filters--studio">
        <button type="button" class="btn btn--filter">Продакшн</button>
        <button type="button" class="btn btn--filter active">Кастинги</button>
        <button type="button" class="btn btn--filter">Телерадиокорпорации</button>
      </div>
      <p class="studio-address">г. Алматы, ул. Абдуллиных, 38, театр-студия «Өркен»</p>
      <figure class="studio-map"><img src="images/studio-map.jpg" class="studio-map-image" alt=""></figure>
    </div><!-- end .studio-meta -->

    <div class="studio-info">
      <div class="studio-head">
        <h1>Кастинг студия OPS</h1>
        <h2 class="title--primary">Кастинг студия OPS</h2>
        <div class="studio-rating">Оценить:
          <div class="starbox" data-rating="0.44"></div>
          <span class="studio-rating-total"></span>
        </div>
      </div>
      <div class="studio-body">
        <p class="studio-description">Одним из наших основных направлений являются услуги кастинга. В нашей базе более 15 000 человек различных категорий, национальностей и возрастов: профессиональные театральные актеры г. Алматы, Караганды, Астаны, Усть-Каменогорска, кино-актеры, модели, стрит-кастинг.</p>
        <div class="list-group">
          <h5 class="list-title">Нашими партнерами и клиентами являются студии:</h5>
          <ul class="list--default">
            <li class="list-item">Атом Фильм (Украина)</li>
            <li class="list-item">23/32 Production Company Prontofilm (Украина)</li>
            <li class="list-item">Family Production (Украина)</li>
            <li class="list-item">Radioakrtivefilm (Украина)</li>
            <li class="list-item">The Martini Shot (Украина)</li>
            <li class="list-item">Marmeladefilm (Украина)</li>
            <li class="list-item">Adrenalin (Украина)</li>
            <li class="list-item">Idee Fixe (Украина)</li>
            <li class="list-item">The Magicbox (Украина)</li>
          </ul>
        </div><!-- end .list-group -->
        <div class="list-group">
          <h5 class="list-title">Нашими клиентами являются международные агентства:</h5>
          <ul class="list--default">
            <li class="list-item">Атом Фильм (Украина)</li>
            <li class="list-item">23/32 Production Company Prontofilm (Украина)</li>
            <li class="list-item">Family Production (Украина)</li>
            <li class="list-item">Radioakrtivefilm (Украина)</li>
            <li class="list-item">The Martini Shot (Украина)</li>
            <li class="list-item">Marmeladefilm (Украина)</li>
            <li class="list-item">Adrenalin (Украина)</li>
            <li class="list-item">Idee Fixe (Украина)</li>
            <li class="list-item">The Magicbox (Украина)</li>
          </ul>
        </div><!-- end .list-group -->
        <div class="list-group">
          <h5 class="list-title">Продакшн-сервисы на территории Казахстана:</h5>
          <ul class="list--default">
            <li class="list-item">Атом Фильм (Украина)</li>
            <li class="list-item">23/32 Production Company Prontofilm (Украина)</li>
            <li class="list-item">Family Production (Украина)</li>
            <li class="list-item">Art-Department: услуги художника-постановщика, построение декораций, оформление съемочной локации, услуги визажистов, парикмахеров, стилистов</li>
            <li class="list-item">The Martini Shot (Украина)</li>
            <li class="list-item">Marmeladefilm (Украина)</li>
            <li class="list-item">Adrenalin (Украина)</li>
            <li class="list-item">Idee Fixe (Украина)</li>
            <li class="list-item">The Magicbox (Украина)</li>
          </ul>
        </div><!-- end .list-group -->
      </div><!-- end .studio-body -->
    </div><!-- end .studio-info -->
  </div><!-- end .grid -->

  <ul class="sharing">
    <li class="sharing-item">
      <button class="btn btn--sharing fb">
        <span class="icon icon--social fb icon--color"></span>
        Поделиться
        <span class="number">12</span>
      </button>
    </li>
    <li class="sharing-item">
      <button class="btn btn--sharing vk">
        <span class="icon icon--social vk icon--color"></span>
        Поделиться
        <span class="number">12</span>
      </button>
    </li>
    <li class="sharing-item">
      <button class="btn btn--sharing twi">
        <span class="icon icon--social twi icon--color"></span>
        Поделиться
        <span class="number">12</span>
      </button>
    </li>
    <li class="sharing-item">
      <button class="btn btn--sharing wh">
        <span class="icon icon--social wh"></span>
        <span class="number">12</span>
      </button>
    </li>
  </ul>

  <div class="comments">
    {{>comments}}
  </div><!-- end .comments -->

</div><!-- grid-item -->

<div class="grid-item grid-item--sidebar">
  <figure class="banner--secondary"><a href="#" class="link--image"><img src="images/banner-hero.jpg" alt=""></a></figure>

  <div class="live live--studios">
    <h5 class="title--secondary">Похожие компании</h5>
    <div class="live-item clearfix">
      <h5 class="live-title"><a href="#" class="link">Киношкола «Сталкер»</a></h5>
      <ul class="tags">
        <li class="tags-item"><a href="#" class="link">Продакшн</a></li>
        <li class="tags-item"><a href="#" class="link">Телекомпании</a></li>
        <li class="tags-item"><a href="#" class="link">Кастинги</a></li>
        <li class="tags-item"><a href="#" class="link">Дистрибьюция</a></li>
      </ul>
      <p class="live-item-address">г. Алматы, ул. Абдуллиных, 38, театр-студия «Өркен»</p>
      <p class="live-item-phone">+7 727 317-26-02</p>
      <div class="live-item-rating">
        <div class="studio-rating">
          <div class="starbox" data-rating="0.74"></div>
        </div>
      </div>
    </div><!-- end .live-item -->
    <div class="live-item clearfix">
      <h5 class="live-title"><a href="#" class="link">РТРК «Казахстан»</a></h5>
      <ul class="tags">
        <li class="tags-item"><a href="#" class="link">Продакшн</a></li>
        <li class="tags-item"><a href="#" class="link">Телекомпании</a></li>
        <li class="tags-item"><a href="#" class="link">Кастинги</a></li>
        <li class="tags-item"><a href="#" class="link">Дистрибьюция</a></li>
      </ul>
      <p class="live-item-address">г. Алматы, ул. Абдуллиных, 38, театр-студия «Өркен»</p>
      <p class="live-item-phone">+7 727 317-26-02</p>
      <div class="live-item-rating">
        <div class="studio-rating">
          <div class="starbox" data-rating="0.84"></div>
        </div>
      </div>
    </div><!-- end .live-item -->
    <div class="live-item clearfix">
      <h5 class="live-title"><a href="#" class="link">ТОО ТРК «31 КАНАЛ» Медиа Холдинг</a></h5>
      <ul class="tags">
        <li class="tags-item"><a href="#" class="link">Продакшн</a></li>
        <li class="tags-item"><a href="#" class="link">Телекомпании</a></li>
        <li class="tags-item"><a href="#" class="link">Кастинги</a></li>
        <li class="tags-item"><a href="#" class="link">Дистрибьюция</a></li>
      </ul>
      <p class="live-item-address">г. Алматы, ул. Абдуллиных, 38, театр-студия «Өркен»</p>
      <p class="live-item-phone">+7 727 317-26-02</p>
      <div class="live-item-rating">
        <div class="studio-rating">
          <div class="starbox" data-rating="0.74"></div>
        </div>
      </div>
    </div><!-- end .live-item -->
    <div class="live-item clearfix">
      <h5 class="live-title"><a href="#" class="link">РТРК «Казахстан»</a></h5>
      <ul class="tags">
        <li class="tags-item"><a href="#" class="link">Продакшн</a></li>
        <li class="tags-item"><a href="#" class="link">Телекомпании</a></li>
        <li class="tags-item"><a href="#" class="link">Кастинги</a></li>
        <li class="tags-item"><a href="#" class="link">Дистрибьюция</a></li>
      </ul>
      <p class="live-item-address">г. Алматы, ул. Абдуллиных, 38, театр-студия «Өркен»</p>
      <p class="live-item-phone">+7 727 317-26-02</p>
      <div class="live-item-rating">
        <div class="studio-rating">
          <div class="starbox" data-rating="0.88"></div>
        </div>
      </div>
    </div><!-- end .live-item -->
  </div><!-- end .live -->

</div><!-- end .grid-item -->
