
<div class="grid-item grid-item--content">
  <section class="faq">
    <h1>Помощь</h1>
    <h2 class="title--primary">Помощь</h2>
    <p class="faq-lead">Здесь собраны ответы на частозадаваемые вопросы. Можно быстро найти нужный вопрос и ответ на него, выбрав категорию, с которой ваш вопрос связан.</p>

    <div class="control-bar-filters">
      <div class="filters--primary">
        <button type="button" class="btn btn--filter active" data-type="all">Все вопросы</button>
        <button type="button" class="btn btn--filter" data-type="reg" id="a-1">Регистрация</button>
        <button type="button" class="btn btn--filter" data-type="films" id="b-1">Фильмы</button>
        <button type="button" class="btn btn--filter" data-type="columns" id="c-1">Колонки</button>
        <button type="button" class="btn btn--filter" data-type="other" id="d-1">Другое</button>
      </div>
    </div><!-- end .control-bar-filters -->

    <div class="panel-group faq-list" id="accordion1" role="tablist" aria-multiselectable="true">
      <div class="panel faq-item" data-id="a-1">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title faq-question">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse1-0" aria-expanded="false" aria-controls="collapse1-0">
              <span>Как зарегистрироваться на сайте?</span>
            </a>
          </h4>
        </div>
        <div id="collapse1-0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <p class="panel-body faq-answer"><span class="divider"></span><span class="faq-answer-text">Фильм можно просмотреть в течение 3-х дней после покупки. Это сделано для того, чтобы пользователи не начали меняться друг с другом аккаунтами и не смотрели фильмы бесплатно. На самом деле они и так будут это делать, только в течение 3-х дней. Еще у нас договор с кинопроизводителями не позволяет.</span></p>
        </div>
      </div><!-- end .faq-item -->

      <div class="panel faq-item" data-id="a-1">
        <div class="panel-heading" role="tab" id="headingSeven">
          <h4 class="panel-title faq-question">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse1-7" aria-expanded="false" aria-controls="collapse1-7">
              <span>Можно положить деньги на баланс при регистрации на сайте?</span>
            </a>
          </h4>
        </div>
        <div id="collapse1-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
          <p class="panel-body faq-answer"><span class="divider"></span><span class="faq-answer-text">Фильм можно просмотреть в течение 3-х дней после покупки. Это сделано для того, чтобы пользователи не начали меняться друг с другом аккаунтами и не смотрели фильмы бесплатно. На самом деле они и так будут это делать, только в течение 3-х дней. Еще у нас договор с кинопроизводителями не позволяет.</span></p>
        </div>
      </div><!-- end .faq-item -->

      <div class="panel faq-item" data-id="c-1">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title faq-question">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse1-1" aria-expanded="false" aria-controls="collapse1-1">
              <span>Купил фильм, но не могу его просмотреть. Что делать?</span>
            </a>
          </h4>
        </div>
        <div id="collapse1-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <p class="panel-body faq-answer"><span class="divider"></span><span class="faq-answer-text">Фильм можно просмотреть в течение 3-х дней после покупки. Это сделано для того, чтобы пользователи не начали меняться друг с другом аккаунтами и не смотрели фильмы бесплатно. На самом деле они и так будут это делать, только в течение 3-х дней. Еще у нас договор с кинопроизводителями не позволяет.</span></p>
        </div>
      </div><!-- end .faq-item -->

      <div class="panel faq-item" data-id="b-1">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title faq-question">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse1-2" aria-expanded="false" aria-controls="collapse1-2">
              <span>Как написать статью на сайте?</span>
            </a>
          </h4>
        </div>
        <div id="collapse1-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <p class="panel-body faq-answer"><span class="divider"></span><span class="faq-answer-text">Фильм можно просмотреть в течение 3-х дней после покупки. Это сделано для того, чтобы пользователи не начали меняться друг с другом аккаунтами и не смотрели фильмы бесплатно. На самом деле они и так будут это делать, только в течение 3-х дней. Еще у нас договор с кинопроизводителями не позволяет.</span></p>
        </div>
      </div><!-- end .faq-item -->

      <div class="panel faq-item" data-id="c-1">
        <div class="panel-heading" role="tab" id="headingFour">
          <h4 class="panel-title faq-question">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse1-3" aria-expanded="false" aria-controls="collapse1-3">
              <span>Можно ли добавить другого пользователя в друзья?</span>
            </a>
          </h4>
        </div>
        <div id="collapse1-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <p class="panel-body faq-answer"><span class="divider"></span><span class="faq-answer-text">Фильм можно просмотреть в течение 3-х дней после покупки. Это сделано для того, чтобы пользователи не начали меняться друг с другом аккаунтами и не смотрели фильмы бесплатно. На самом деле они и так будут это делать, только в течение 3-х дней. Еще у нас договор с кинопроизводителями не позволяет.</span></p>
        </div>
      </div><!-- end .faq-item -->

      <div class="panel faq-item" data-id="d-1">
        <div class="panel-heading" role="tab" id="headingFive">
          <h4 class="panel-title faq-question">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse1-4" aria-expanded="false" aria-controls="collapse1-4">
              <span>Сколько дней после покупки фильма я могу его смотреть?</span>
            </a>
          </h4>
        </div>
        <div id="collapse1-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
          <p class="panel-body faq-answer"><span class="divider"></span><span class="faq-answer-text">Фильм можно просмотреть в течение 3-х дней после покупки. Это сделано для того, чтобы пользователи не начали меняться друг с другом аккаунтами и не смотрели фильмы бесплатно. На самом деле они и так будут это делать, только в течение 3-х дней. Еще у нас договор с кинопроизводителями не позволяет.</span></p>
        </div>
      </div><!-- end .faq-item -->

      <div class="panel faq-item" data-id="d-1">
        <div class="panel-heading" role="tab" id="headingSix">
          <h4 class="panel-title faq-question">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse1-5" aria-expanded="false" aria-controls="collapse1-5">
              <span>Как написать статью на сайте?</span>
            </a>
          </h4>
        </div>
        <div id="collapse1-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
          <p class="panel-body faq-answer"><span class="divider"></span><span class="faq-answer-text">Фильм можно просмотреть в течение 3-х дней после покупки. Это сделано для того, чтобы пользователи не начали меняться друг с другом аккаунтами и не смотрели фильмы бесплатно. На самом деле они и так будут это делать, только в течение 3-х дней. Еще у нас договор с кинопроизводителями не позволяет.</span></p>
        </div>
      </div><!-- end .faq-item -->

      <div class="panel faq-item" data-id="b-1">
        <div class="panel-heading" role="tab" id="headingSeven">
          <h4 class="panel-title faq-question">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse1-6" aria-expanded="false" aria-controls="collapse1-6">
              <span>Можно ли добавить другого пользователя в друзья?</span>
            </a>
          </h4>
        </div>
        <div id="collapse1-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
          <p class="panel-body faq-answer"><span class="divider"></span><span class="faq-answer-text">Фильм можно просмотреть в течение 3-х дней после покупки. Это сделано для того, чтобы пользователи не начали меняться друг с другом аккаунтами и не смотрели фильмы бесплатно. На самом деле они и так будут это делать, только в течение 3-х дней. Еще у нас договор с кинопроизводителями не позволяет.</span></p>
        </div>
      </div><!-- end .faq-item -->
    </div><!-- end .faq-list -->

    <div class="faq-user">
      <div class="faq-form">
        <h3 class="title--primary">Не нашли ответа на свой вопрос? Спросите нас</h3>
        <form action="" class="form form--feedback">
          <div class="form-header clearfix">
            <div class="feedback-meta">
              <div class="form-group">
                <label for="userEmailFaq" class="control-label">Почта</label>
                <input class="form-control form-control--email" type="text" name="user_email_faq" id="userEmailFaq" value="" placeholder="Укажите электронную почту" onfocus="if(this.placeholder  == 'Укажите электронную почту') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Укажите электронную почту'; }" />
                <p class="form-tip">Почта нужна, чтобы мы смогли ответить вам</p>
              </div>
            </div><!-- end .feedback-meta -->
          </div>
          <div class="form-body">
            <div class="form-group">
              <label for="userMessageFaq" class="control-label">Задайте вопрос</label>
              <textarea class="form-control textarea" type="text" name="user_message_faq" id="userMessageFaq" cols="30" rows="10" placeholder="Напишите ваш вопрос" onfocus="if(this.placeholder  == 'Напишите ваш вопрос') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Напишите ваш вопрос'; }"></textarea>
            </div>
          </div>
          <div class="form-footer clearfix">
            <button type="button" class="btn btn--primary pull-right is-disabled">Задать вопрос</button>
          </div>
        </form>
      </div>

      <div class="faq-response">
        <h3 class="title--primary">Ваш вопрос отправлен!</h3>
        <p class="faq-response-text">Мы ответим на него в ближайшее время. Ответ на вопрос будет отправлен Вам на почту и, возможно будет опубликован в этом разделе.</p>
        <button type="button" class="btn btn--primary">Задать другой вопрос</button>
      </div>
    </div>

  </section><!-- end .faq -->
</div><!-- grid-item -->

<div class="grid-item grid-item--sidebar">
  <figure class="banner--secondary"><a href="#" class="link--image"><img src="images/banner-hero.jpg" alt=""></a></figure>
</div><!-- end .grid-item -->
