
<div class="control-bar clearfix">
  <form action="" class="form form--primary form--search hidden">
    <input type="text" class="form-control" id ="searchText" name="search_text" placeholder="Введите название фильма или все что связано с ним" onfocus="if(this.placeholder  == 'Введите название фильма или все что связано с ним') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Введите название фильма или все что связано с ним'; }" />
    <button type="button" class="btn btn--primary">Найти</button>
  </form>

  <form action="" class="form form--secondary form--search pull-right">
    <div class="form-group">
      <input class="form-control" type="text" name="search_word" id="searchWord" value="" placeholder="Найти на Бродвее"/>
      <button type="button" class="icon icon--search"></button>
    </div>
  </form>
  <div class="control-bar-filters">
    <div class="filters--primary">
      <button type="button" class="btn btn--filter">Все категории</button>
      <button type="button" class="btn btn--filter active">Фильмы</button>
      <button type="button" class="btn btn--filter">Сериалы</button>
      <button type="button" class="btn btn--filter active">Мультфильмы</button>
      <button type="button" class="btn btn--filter">Короткометражки</button>
    </div>
    <div class="filters--secondary filters--movies">
      <span class="filters-result">144 фильма показано</span>
      <div class="filters-order">
        <div class="dropdown dropdown--dashed dropdown-filter-mobile">
          <button id="movieType" type="button" class="btn btn--dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="dropdown-status">Все категории</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="movieType">
            <li class="dropdown-menu-item link active">Все категории</li>
            <li class="dropdown-menu-item link">Полный метр</li>
            <li class="dropdown-menu-item link">Фильмы</li>
            <li class="dropdown-menu-item link">Сериалы</li>
            <li class="dropdown-menu-item link">Мультфильмы</li>
            <li class="dropdown-menu-item link">Короткий метр</li>
          </ul>
        </div>

        <div class="dropdown dropdown--dashed">
          <button id="movieGenres" type="button" class="btn btn--dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="dropdown-status">Все жанры</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="movieGenres">
            <li class="dropdown-menu-item link active">Все жанры</li>
            <li class="dropdown-menu-item link">Боевики</li>
            <li class="dropdown-menu-item link">Комедии</li>
            <li class="dropdown-menu-item link">Фантастика</li>
            <li class="dropdown-menu-item link">Сериалы</li>
          </ul>
        </div>

        <div class="dropdown dropdown--dashed dropdown-filter-mobile">
          <button id="movieSort" type="button" class="btn btn--dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="dropdown-status">По алфавиту</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="movieSort">
            <li class="dropdown-menu-item link active">По алфавиту</li>
            <li class="dropdown-menu-item link">По рейтингу</li>
            <li class="dropdown-menu-item link">По дате</li>
            <li class="dropdown-menu-item link">Мелодраммы</li>
          </ul>
        </div>

        <!-- СЛЕДУЮЩИЕ 4 ЭЛЕМЕНТА ВЫВОДИТЬ ТОЛЬКО НА ДЕСКТОПНОЙ ВЕРСИИ -->
        <button type="button" class="btn hidden btn--dashed">Показать только бесплатные</button>
        <span class="icon icon--order"></span>
        <button type="button" class="btn hidden btn--dashed">По алфавиту</button>
        <button type="button" class="btn hidden btn--dashed active">По рейтингу</button>
        <button type="button" class="btn hidden btn--dashed">По дате</button>
      </div>
    </div>
  </div>
</div><!-- end .control-bar -->

<div class="movies">
  <ul class="movies-list clearfix">
    <li class="movies-item">
      <a href="#" class="label--default label--primary label--movies link--label">Онлайн</a>
      <div class="movies-item-body">
        <a href="movie-payment.html" class="link--overlay"></a>
        <figure class="movies-item-cover"><img src="images/movies1.jpg" alt=""></figure>
        <h5 class="movies-item-title">Он и она</h5>
      </div>
      <div class="movies-meta">
        <span class="movies-meta-item meta-date">13 янв 2015</span>
        <span class="movies-meta-item meta-views"><span class="icon icon--views"></span>21 342</span>
        <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>542</span>
      </div>
      <div class="movies-item-rating clearfix">
        <div class="starbox" data-rating="0.32"></div>
        <span class="movies-item-rating-total">7,3</span>
      </div><!-- end .movies-item-rating -->
    </li>
    <li class="movies-item">
      <div class="movies-item-body">
        <a href="movie-no-watch.html" class="link--overlay"></a>
        <figure class="movies-item-cover"><img src="images/movies2.jpg" alt=""></figure>
        <h5 class="movies-item-title">Качели любви</h5>
      </div>
      <div class="movies-meta">
        <span class="movies-meta-item meta-date">13 фев 2015</span>
        <span class="movies-meta-item meta-views"><span class="icon icon--views"></span>21 342</span>
        <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>542</span>
      </div>
      <div class="movies-item-rating clearfix">
        <div class="starbox" data-rating="0.5"></div>
        <span class="movies-item-rating-total">7,3</span>
      </div><!-- end .movies-item-rating -->
    </li>
    <li class="movies-item">
      <div class="movies-item-body">
        <a href="#" class="link--overlay"></a>
        <figure class="movies-item-cover"><img src="images/movies3.jpg" alt=""></figure>
        <h5 class="movies-item-title">Нежданная любовь</h5>
      </div>
      <div class="movies-meta">
        <span class="movies-meta-item meta-date">13 мар 2015</span>
        <span class="movies-meta-item meta-views"><span class="icon icon--views"></span>21 342</span>
        <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>542</span>
      </div>
      <div class="movies-item-rating clearfix">
        <div class="starbox" data-rating="0.72"></div>
        <span class="movies-item-rating-total">7,3</span>
      </div><!-- end .movies-item-rating -->
    </li>
    <li class="movies-item">
      <div class="movies-item-body">
        <a href="#" class="link--overlay"></a>
        <figure class="movies-item-cover"><img src="images/movies4.jpg" alt=""></figure>
        <h5 class="movies-item-title">Студент</h5>
      </div>
      <div class="movies-meta">
        <span class="movies-meta-item meta-date">12 мая 2015</span>
        <span class="movies-meta-item meta-views"><span class="icon icon--views"></span>21 342</span>
        <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>542</span>
      </div>
      <div class="movies-item-rating clearfix">
        <div class="starbox" data-rating="0.72"></div>
        <span class="movies-item-rating-total">7,3</span>
      </div><!-- end .movies-item-rating -->
    </li>
    <li class="movies-item">
      <a href="#" class="label--default label--primary label--movies link--label">Онлайн</a>
      <div class="movies-item-body">
        <a href="#" class="link--overlay"></a>
        <figure class="movies-item-cover"><img src="images/movies5.jpg" alt=""></figure>
        <h5 class="movies-item-title">Рэкетир</h5>
      </div>
      <div class="movies-meta">
        <span class="movies-meta-item meta-date">9 июн 2015</span>
        <span class="movies-meta-item meta-views"><span class="icon icon--views"></span>21 342</span>
        <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>542</span>
      </div>
      <div class="movies-item-rating clearfix">
        <div class="starbox" data-rating="0.62"></div>
        <span class="movies-item-rating-total">7,3</span>
      </div><!-- end .movies-item-rating -->
    </li>
    <li class="movies-item">
      <div class="movies-item-body">
        <a href="#" class="link--overlay"></a>
        <figure class="movies-item-cover"><img src="images/movies6.jpg" alt=""></figure>
        <h5 class="movies-item-title">Кто Вы, господин Ка?</h5>
      </div>
      <div class="movies-meta">
        <span class="movies-meta-item meta-date">9 июл 2015</span>
        <span class="movies-meta-item meta-views"><span class="icon icon--views"></span>21 342</span>
        <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>542</span>
      </div>
      <div class="movies-item-rating clearfix">
        <div class="starbox" data-rating="0.13"></div>
        <span class="movies-item-rating-total">7,3</span>
      </div><!-- end .movies-item-rating -->
    </li>
    <li class="movies-item">
      <div class="movies-item-body">
        <a href="#" class="link--overlay"></a>
        <figure class="movies-item-cover"><img src="images/movies7.jpg" alt=""></figure>
        <h5 class="movies-item-title">Возвращение в «А»</h5>
      </div>
      <div class="movies-meta">
        <span class="movies-meta-item meta-date">13 авг 2015</span>
        <span class="movies-meta-item meta-views"><span class="icon icon--views"></span>21 342</span>
        <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>542</span>
      </div>
      <div class="movies-item-rating clearfix">
        <div class="starbox" data-rating="0.44"></div>
        <span class="movies-item-rating-total">7,3</span>
      </div><!-- end .movies-item-rating -->
    </li>
    <li class="movies-item">
      <a href="#" class="label--default label--secondary label--movies link--label">Эксклюзив</a>
      <div class="movies-item-body">
        <a href="#" class="link--overlay"></a>
        <figure class="movies-item-cover"><img src="images/movies8.jpg" alt=""></figure>
        <h5 class="movies-item-title">Заговор Оберона</h5>
      </div>
      <div class="movies-meta">
        <span class="movies-meta-item meta-date">13 сен 2015</span>
        <span class="movies-meta-item meta-views"><span class="icon icon--views"></span>21 342</span>
        <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>542</span>
      </div>
      <div class="movies-item-rating clearfix">
        <div class="starbox" data-rating="0.22"></div>
        <span class="movies-item-rating-total">7,3</span>
      </div><!-- end .movies-item-rating -->
    </li>
    <li class="movies-item">
      <div class="movies-item-body">
        <a href="#" class="link--overlay"></a>
        <figure class="movies-item-cover"><img src="images/movies9.jpg" alt=""></figure>
        <h5 class="movies-item-title">Охота за призраком</h5>
      </div>
      <div class="movies-meta">
        <span class="movies-meta-item meta-date">13 окт 2015</span>
        <span class="movies-meta-item meta-views"><span class="icon icon--views"></span>21 342</span>
        <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>542</span>
      </div>
      <div class="movies-item-rating clearfix">
        <div class="starbox" data-rating="0.32"></div>
        <span class="movies-item-rating-total">7,3</span>
      </div><!-- end .movies-item-rating -->
    </li>
    <li class="movies-item">
      <div class="movies-item-body">
        <a href="#" class="link--overlay"></a>
        <figure class="movies-item-cover"><img src="images/movies10.jpg" alt=""></figure>
        <h5 class="movies-item-title">Небо моего детства</h5>
      </div>
      <div class="movies-meta">
        <span class="movies-meta-item meta-date">13 ноя 2015</span>
        <span class="movies-meta-item meta-views"><span class="icon icon--views"></span>21 342</span>
        <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>542</span>
      </div>
      <div class="movies-item-rating clearfix">
        <div class="starbox" data-rating="0.12"></div>
        <span class="movies-item-rating-total">7,3</span>
      </div><!-- end .movies-item-rating -->
    </li>
    <li class="movies-item">
      <div class="movies-item-body">
        <a href="#" class="link--overlay"></a>
        <figure class="movies-item-cover"><img src="images/movies11.jpg" alt=""></figure>
        <h5 class="movies-item-title">Старик</h5>
      </div>
      <div class="movies-meta">
        <span class="movies-meta-item meta-date">13 дек 2015</span>
        <span class="movies-meta-item meta-views"><span class="icon icon--views"></span>21 342</span>
        <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>542</span>
      </div>
      <div class="movies-item-rating clearfix">
        <div class="starbox" data-rating="0.86"></div>
        <span class="movies-item-rating-total">7,3</span>
      </div><!-- end .movies-item-rating -->
    </li>
    <li class="movies-item">
      <div class="movies-item-body">
        <a href="#" class="link--overlay"></a>
        <figure class="movies-item-cover"><img src="images/movies12.jpg" alt=""></figure>
        <h5 class="movies-item-title">Аккыз</h5>
      </div>
      <div class="movies-meta">
        <span class="movies-meta-item meta-date">13 янв 2016</span>
        <span class="movies-meta-item meta-views"><span class="icon icon--views"></span>21 342</span>
        <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>542</span>
      </div>
      <div class="movies-item-rating clearfix">
        <div class="starbox" data-rating="0.72"></div>
        <span class="movies-item-rating-total">7,3</span>
      </div><!-- end .movies-item-rating -->
    </li>
    <li class="movies-item">
      <div class="movies-item-body">
        <a href="#" class="link--overlay"></a>
        <figure class="movies-item-cover"><img src="images/movies1.jpg" alt=""></figure>
        <h5 class="movies-item-title">Он и Она</h5>
      </div>
      <div class="movies-meta">
        <span class="movies-meta-item meta-date">13 фев 2016</span>
        <span class="movies-meta-item meta-views"><span class="icon icon--views"></span>21 342</span>
        <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>542</span>
      </div>
      <div class="movies-item-rating clearfix">
        <div class="starbox" data-rating="0.22"></div>
        <span class="movies-item-rating-total">7,3</span>
      </div><!-- end .movies-item-rating -->
    </li>
    <li class="movies-item">
      <div class="movies-item-body">
        <a href="#" class="link--overlay"></a>
        <figure class="movies-item-cover"><img src="images/movies2.jpg" alt=""></figure>
        <h5 class="movies-item-title">Качели любви</h5>
      </div>
      <div class="movies-meta">
        <span class="movies-meta-item meta-date">13 мар 2016</span>
        <span class="movies-meta-item meta-views"><span class="icon icon--views"></span>21 342</span>
        <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>542</span>
      </div>
      <div class="movies-item-rating clearfix">
        <div class="starbox" data-rating="0.62"></div>
        <span class="movies-item-rating-total">7,3</span>
      </div><!-- end .movies-item-rating -->
    </li>
    <li class="movies-item">
      <div class="movies-item-body">
        <a href="#" class="link--overlay"></a>
        <figure class="movies-item-cover"><img src="images/movies3.jpg" alt=""></figure>
        <h5 class="movies-item-title">Нежданная любовь</h5>
      </div>
      <div class="movies-meta">
        <span class="movies-meta-item meta-date">14 апр 2016</span>
        <span class="movies-meta-item meta-views"><span class="icon icon--views"></span>21 342</span>
        <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>542</span>
      </div>
      <div class="movies-item-rating clearfix">
        <div class="starbox" data-rating="0.52"></div>
        <span class="movies-item-rating-total">7,3</span>
      </div><!-- end .movies-item-rating -->
    </li>
    <li class="movies-item">
      <div class="movies-item-body">
        <a href="#" class="link--overlay"></a>
        <figure class="movies-item-cover"><img src="images/movies4.jpg" alt=""></figure>
        <h5 class="movies-item-title">Студент</h5>
      </div>
      <div class="movies-meta">
        <span class="movies-meta-item meta-date">13 мая 2016</span>
        <span class="movies-meta-item meta-views"><span class="icon icon--views"></span>21 342</span>
        <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>542</span>
      </div>
      <div class="movies-item-rating clearfix">
        <div class="starbox" data-rating="0.72"></div>
        <span class="movies-item-rating-total">7,3</span>
      </div><!-- end .movies-item-rating -->
    </li>
  </ul>
</div><!-- end .movies -->
