
<div class="grid-item grid-item--content">
  <h3 class="title--primary">Написать нам</h3>
  <p class="feedback-description">Бродвей в первую очередь работает для вас. Мы открыты вашим идеям, предложениям и критике.</p>
  <form action="" class="form form--feedback">
    <div class="form-header clearfix">
      <div class="feedback-meta">
        <div class="form-group">
          <label for="userEmailFeedback" class="control-label">Почта</label>
          <input class="form-control" type="text" name="user_email_feedback" id="userEmailFeedback" value="" placeholder="Укажите электронную почту" onfocus="if(this.placeholder  == 'Укажите электронную почту') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Укажите электронную почту'; }" />
          <p class="form-tip">Мы просим указать почту, чтобы потом ответить вам</p>
        </div>
        <div class="form-group">
          <label for="userMessageTheme" class="control-label">Тема вашего сообщения</label>
          <input class="form-control" type="text" name="user_message_theme" id="userMessageTheme" value="" placeholder="Укажите тему" onfocus="if(this.placeholder  == 'Укажите тему') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Укажите тему'; }" />
        </div>
      </div><!-- end .feedback-meta -->
    </div>
    <div class="form-body">
      <div class="form-group">
        <label for="userMessageFeedback" class="control-label">Что вы хотите сказать?</label>
        <textarea class="form-control textarea" type="text" name="user_message_feedback" id="userMessageFeedback" cols="30" rows="10" placeholder="Введите сообщение" onfocus="if(this.placeholder  == 'Введите сообщение') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Введите сообщение'; }"></textarea>
      </div>
    </div>
    <div class="form-footer clearfix">
      <button type="button" class="btn btn--primary pull-right">Отправить</button>
    </div>
  </form>
</div>

<div class="grid-item grid-item--sidebar">
  <figure class="banner--secondary"><a href="#" class="link--image"><img src="images/banner-hero.jpg" alt=""></a></figure>
</div>
