
<div class="grid-item grid-item--content">
  <div class="control-bar">
    <form action="" class="form form--primary form--search">
      <input type="text" class="form-control" id ="searchText" name="search_text" placeholder="Введите название компании" />
      <button type="button" class="btn btn--primary">Найти</button>
    </form>
    <div class="control-bar-filters">
      <div class="filters--primary">
        <button type="button" class="btn btn--filter">Все компании</button>
        <button type="button" class="btn btn--filter active">Пре-продакшн</button>
        <button type="button" class="btn btn--filter">Продакшн</button>
        <button type="button" class="btn btn--filter">Пост-продакшн</button>
        <button type="button" class="btn btn--filter active">Дистрибьюция</button>
        <button type="button" class="btn btn--filter">Кастинги</button>
        <button type="button" class="btn btn--filter">Телекомпании</button>
        <button type="button" class="btn btn--filter">Телерадиокорпорации</button>
        <button type="button" class="btn btn--filter active">Киношколы</button>
      </div>
      <div class="filters--secondary clearfix">
        <div class="dropdown dropdown--dashed">
          <button id="citiesMenu" type="button" class="btn btn--dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="icon icon--map"></span>
            <span class="dropdown-status">Все города</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="citiesMenu">
            <li class="dropdown-menu-item link active">Все города</li>
            <li class="dropdown-menu-item link">Астана</li>
            <li class="dropdown-menu-item link">Алматы</li>
            <li class="dropdown-menu-item link">Кокшетау</li>
            <li class="dropdown-menu-item link">Семипалатинск</li>
          </ul>
        </div>
        <div class="filters-order">
          <!-- <div class="dropdown dropdown--dashed dropdown-filter-mobile">
            <button id="studioTypes" type="button" class="btn btn--dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="dropdown-status">Все типы компаний</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="studioTypes">
              <li class="dropdown-menu-item link active">Все типы компаний</li>
              <li class="dropdown-menu-item link">Продакшн</li>
              <li class="dropdown-menu-item link">Дистрибьюция</li>
              <li class="dropdown-menu-item link">Телекомпании</li>
              <li class="dropdown-menu-item link">Киношколы</li>
            </ul>
          </div>

          <div class="dropdown dropdown--dashed dropdown-filter-mobile">
            <button id="studioSort" type="button" class="btn btn--dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="dropdown-status">По алфавиту</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="studioSort">
              <li class="dropdown-menu-item link active">По алфавиту</li>
              <li class="dropdown-menu-item link">По рейтингу</li>
              <li class="dropdown-menu-item link">По дате</li>
              <li class="dropdown-menu-item link">Мелодраммы</li>
            </ul>
          </div> -->

          <!-- СЛЕДУЮЩИЕ 4 ЭЛЕМЕНТА ВЫВОДИТЬ ТОЛЬКО НА ДЕСКТОПНОЙ ВЕРСИИ -->
          <span class="filters-result">88 компаний показано</span>
          <span class="icon icon--order"></span>
          <button type="button" class="btn btn--dashed">По алфавиту</button>
          <button type="button" class="btn btn--dashed active">По рейтингу</button>
        </div>
      </div>
    </div>
  </div><!-- end .control-bar -->

  <div class="companies">
    <ul class="companies-list">
      <li class="companies-item">
        <div class="companies-head">
          <h4 class="companies-title"><a href="industry-item.html" class="link">Мастерская игровой режиссуры «ACTION!»</a></h4>
          <div class="studio-rating">
            <div class="starbox" data-rating="0.44"></div>
          </div>
        </div>
        <div class="companies-meta">
          <p class="companies-address">г. Алматы, ул. Абдуллиных, 38, театр-студия «Өркен»</p>
          <p class="companies-phone">+7 727 317-26-02</p>
        </div>
        <button type="button" class="btn btn--dashed">На карте</button>
      </li>
      <li class="companies-item">
        <div class="companies-head">
          <h4 class="companies-title"><a href="#" class="link">РТРК «Казахстан»</a></h4>
          <div class="studio-rating">
            <div class="starbox" data-rating="0.34"></div>
          </div>
        </div>
        <div class="companies-meta">
          <p class="companies-address">г. Астана, ул. Кунаева, 4</p>
          <p class="companies-phone">+7 717 255-33-35 <br>+7 717 255-33-35</p>
        </div>
        <button type="button" class="btn btn--dashed">На карте</button>
      </li>
      <li class="companies-item">
        <div class="companies-head">
          <h4 class="companies-title"><a href="#" class="link">Мастерская игровой режиссуры «ACTION!»</a></h4>
          <div class="studio-rating">
            <div class="starbox" data-rating="0.24"></div>
          </div>
        </div>
        <div class="companies-meta">
          <p class="companies-address">г. Алматы, ул. Абдуллиных, 38, театр-студия «Өркен»</p>
          <p class="companies-phone">+7 727 317-26-02</p>
        </div>
        <button type="button" class="btn btn--dashed">На карте</button>
      </li>
      <li class="companies-item">
        <div class="companies-head">
          <h4 class="companies-title"><a href="#" class="link">РТРК «Казахстан»</a></h4>
          <div class="studio-rating">
            <div class="starbox" data-rating="0.84"></div>
          </div>
        </div>
        <div class="companies-meta">
          <p class="companies-address">г. Астана, ул. Кунаева, 4</p>
          <p class="companies-phone">+7 717 255-33-35 <br>+7 717 255-33-35</p>
        </div>
        <button type="button" class="btn btn--dashed">На карте</button>
      </li>
      <li class="companies-item">
        <div class="companies-head">
          <h4 class="companies-title"><a href="#" class="link">Мастерская игровой режиссуры «ACTION!»</a></h4>
          <div class="studio-rating">
            <div class="starbox" data-rating="0.54"></div>
          </div>
        </div>
        <div class="companies-meta">
          <p class="companies-address">г. Алматы, ул. Абдуллиных, 38, театр-студия «Өркен»</p>
          <p class="companies-phone">+7 727 317-26-02</p>
        </div>
        <button type="button" class="btn btn--dashed">На карте</button>
      </li>
      <li class="companies-item">
        <div class="companies-head">
          <h4 class="companies-title"><a href="#" class="link">РТРК «Казахстан»</a></h4>
          <div class="studio-rating">
            <div class="starbox" data-rating="0.84"></div>
          </div>
        </div>
        <div class="companies-meta">
          <p class="companies-address">г. Астана, ул. Кунаева, 4</p>
          <p class="companies-phone">+7 717 255-33-35 <br>+7 717 255-33-35</p>
        </div>
        <button type="button" class="btn btn--dashed">На карте</button>
      </li>
      <li class="companies-item">
        <div class="companies-head">
          <h4 class="companies-title"><a href="#" class="link">Мастерская игровой режиссуры «ACTION!»</a></h4>
          <div class="studio-rating">
            <div class="starbox" data-rating="0.74"></div>
          </div>
        </div>
        <div class="companies-meta">
          <p class="companies-address">г. Алматы, ул. Абдуллиных, 38, театр-студия «Өркен»</p>
          <p class="companies-phone">+7 727 317-26-02</p>
        </div>
        <button type="button" class="btn btn--dashed">На карте</button>
      </li>
      <li class="companies-item">
        <div class="companies-head">
          <h4 class="companies-title"><a href="#" class="link">РТРК «Казахстан»</a></h4>
          <div class="studio-rating">
            <div class="starbox" data-rating="0.78"></div>
          </div>
        </div>
        <div class="companies-meta">
          <p class="companies-address">г. Астана, ул. Кунаева, 4</p>
          <p class="companies-phone">+7 717 255-33-35 <br>+7 717 255-33-35</p>
        </div>
        <button type="button" class="btn btn--dashed">На карте</button>
      </li>
      <li class="companies-item">
        <div class="companies-head">
          <h4 class="companies-title"><a href="#" class="link">Мастерская игровой режиссуры «ACTION!»</a></h4>
          <div class="studio-rating">
            <div class="starbox" data-rating="0.64"></div>
          </div>
        </div>
        <div class="companies-meta">
          <p class="companies-address">г. Алматы, ул. Абдуллиных, 38, театр-студия «Өркен»</p>
          <p class="companies-phone">+7 727 317-26-02</p>
        </div>
        <button type="button" class="btn btn--dashed">На карте</button>
      </li>
      <li class="companies-item">
        <div class="companies-head">
          <h4 class="companies-title"><a href="#" class="link">РТРК «Казахстан»</a></h4>
          <div class="studio-rating">
            <div class="starbox" data-rating="0.42"></div>
          </div>
        </div>
        <div class="companies-meta">
          <p class="companies-address">г. Астана, ул. Кунаева, 4</p>
          <p class="companies-phone">+7 717 255-33-35 <br>+7 717 255-33-35</p>
        </div>
        <button type="button" class="btn btn--dashed">На карте</button>
      </li>
      <li class="companies-item">
        <div class="companies-head">
          <h4 class="companies-title"><a href="#" class="link">Мастерская игровой режиссуры «ACTION!»</a></h4>
          <div class="studio-rating">
            <div class="starbox" data-rating="0.74"></div>
          </div>
        </div>
        <div class="companies-meta">
          <p class="companies-address">г. Алматы, ул. Абдуллиных, 38, театр-студия «Өркен»</p>
          <p class="companies-phone">+7 727 317-26-02</p>
        </div>
        <button type="button" class="btn btn--dashed">На карте</button>
      </li>
      <li class="companies-item">
        <div class="companies-head">
          <h4 class="companies-title"><a href="#" class="link">РТРК «Казахстан»</a></h4>
          <div class="studio-rating">
            <div class="starbox" data-rating="0.88"></div>
          </div>
        </div>
        <div class="companies-meta">
          <p class="companies-address">г. Астана, ул. Кунаева, 4</p>
          <p class="companies-phone">+7 717 255-33-35 <br>+7 717 255-33-35</p>
        </div>
        <button type="button" class="btn btn--dashed">На карте</button>
      </li>
    </ul>
  </div><!-- end .companies -->
</div>

<div class="grid-item grid-item--sidebar">
  <figure class="banner--secondary"><a href="#" class="link--image"><img src="images/banner-hero.jpg" alt=""></a></figure>

  <div class="movies-item">
    <figure class="movies-item-cover"><a href="#" class="link--image"><img src="images/movies-oberon.jpg" alt=""></a></figure>
    <p class="movies-item-category"><a href="#" class="link">Смотреть онлайн</a></p>
    <h5 class="movies-item-title"><a href="#" class="link">Заговор Оберона</a></h5>
    <div class="movies-item-rating clearfix">
      <div class="starbox" data-rating="0.34"></div>
      <span class="movies-item-rating-total"></span>
    </div><!-- end .movies-item-rating -->
  </div>

  <div class="live live--comments">
    <h5 class="title--secondary">Сейчас обсуждают</h5>
    <div class="live-item">
      <h6 class="live-title"><a href="#" class="link">Побудь в моей шкуре</a></h6>
      <p class="live-description">А на мой взгляд фильм не затронул главную идею, ради чего только его и стоило снимать — отношения между сыном и отцом.</p>
      <div class="live-meta">
        <p class="meta-author"><a href="#" class="link">Gulnaz Omarova</a></p>
        <p class="meta-date">22 мин. назад</p>
      </div>
    </div>
    <div class="live-item">
      <h6 class="live-title"><a href="#" class="link">Побудь в моей шкуре</a></h6>
      <p class="live-description">А на мой взгляд фильм не затронул главную идею, ради чего только его и стоило снимать — отношения между сыном и отцом.</p>
      <div class="live-meta">
        <p class="meta-author"><a href="#" class="link">Gulnaz Omarova</a></p>
        <p class="meta-date">22 мин. назад</p>
      </div>
    </div>
    <div class="live-item">
      <h6 class="live-title"><a href="#" class="link">Побудь в моей шкуре</a></h6>
      <p class="live-description">А на мой взгляд фильм не затронул главную идею, ради чего только его и стоило снимать — отношения между сыном и отцом.</p>
      <div class="live-meta">
        <p class="meta-author"><a href="#" class="link">Gulnaz Omarova</a></p>
        <p class="meta-date">22 мин. назад</p>
      </div>
    </div>
    <div class="live-item">
      <h6 class="live-title"><a href="#" class="link">Побудь в моей шкуре</a></h6>
      <p class="live-description">А на мой взгляд фильм не затронул главную идею, ради чего только его и стоило снимать — отношения между сыном и отцом.</p>
      <div class="live-meta">
        <p class="meta-author"><a href="#" class="link">Gulnaz Omarova</a></p>
        <p class="meta-date">22 мин. назад</p>
      </div>
    </div>
  </div>
</div><!-- end .grid-item -->
