
<div class="grid-item grid-item--content">
  <div class="control-bar">
    <form action="" class="form form--primary form--search">
      <input type="text" class="form-control" id ="searchText" name="search_text" placeholder="Введите имя" onfocus="if(this.placeholder  == 'Введите имя') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Введите имя'; }" />
      <button type="button" class="btn btn--primary">Найти</button>
    </form>
    <div class="control-bar-filters">
      <div class="filters--primary">
        <button type="button" class="btn btn--filter">Все профессии</button>
        <button type="button" class="btn btn--filter active">Режиссеры</button>
        <button type="button" class="btn btn--filter">Продюсеры</button>
        <button type="button" class="btn btn--filter active">Актеры</button>
        <button type="button" class="btn btn--filter">Сценаристы</button>
        <button type="button" class="btn btn--filter">Композиторы</button>
        <button type="button" class="btn btn--filter">Аниматоры</button>
        <button type="button" class="btn btn--filter active">Операторы</button>
        <button type="button" class="btn btn--filter">Дикторы</button>
        <button type="button" class="btn btn--filter">Художники</button>
        <button type="button" class="btn btn--filter active">Звукорежиссеры</button>
      </div>
      <div class="filters--secondary clearfix">
        <span class="filters-result">88 компаний показано</span>
        <div class="filters-order pull-right">
          <!-- <div class="dropdown dropdown--dashed dropdown-filter-mobile">
            <button id="movieGenres" type="button" class="btn btn--dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="dropdown-status">По профессии</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="movieGenres">
              <li class="dropdown-menu-item link active">По профессии</li>
              <li class="dropdown-menu-item link">Режиссеры</li>
              <li class="dropdown-menu-item link">Продюсеры</li>
              <li class="dropdown-menu-item link">Актеры</li>
              <li class="dropdown-menu-item link">Операторы</li>
            </ul>
          </div>

          <div class="dropdown dropdown--dashed dropdown-filter-mobile">
            <button id="movieSort" type="button" class="btn btn--dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="dropdown-status">По популярности</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="movieSort">
              <li class="dropdown-menu-item link active">По популярности</li>
              <li class="dropdown-menu-item link">По алфавиту</li>
            </ul>
          </div> -->

          <!-- СЛЕДУЮЩИЕ 4 ЭЛЕМЕНТА ВЫВОДИТЬ ТОЛЬКО НА ДЕСКТОПНОЙ ВЕРСИИ -->
          <span class="icon icon--order"></span>
          <button type="button" class="btn btn--dashed">По алфавиту</button>
          <button type="button" class="btn btn--dashed active">По популярности</button>
        </div>
      </div>
    </div>
  </div><!-- end .control-bar -->

  <div class="people">
    <ul class="people-list">
      <li class="people-item">
        <div class="people-body">
          <a href="person.html" class="link--overlay"></a>
          <figure class="people-image"><img src="images/face1-lg.jpg" alt=""></figure>
          <h5 class="people-name">Аружан Джазильбекова</h5>
        </div>
        <p class="people-meta people-meta--primary"><a href="#" class="link">Актриса</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/face2-lg.jpg" alt=""></figure>
          <h5 class="people-name">Марина Кунарова</h5>
        </div>
        <p class="people-meta people-meta--primary"><a href="#" class="link">Режиссер</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/face3-lg.jpg" alt=""></figure>
          <h5 class="people-name">Максим Акбаров</h5>
        </div>
        <p class="people-meta people-meta--primary"><a href="#" class="link">Актер</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/face4-lg.jpg" alt=""></figure>
          <h5 class="people-name">Аубакир Сулеев</h5>
        </div>
        <p class="people-meta people-meta--primary"><a href="#" class="link">Оператор-постановщик</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/face5-lg.jpg" alt=""></figure>
          <h5 class="people-name">Искандер Нарымбетов</h5>
        </div>
        <p class="people-meta people-meta--primary"><a href="#" class="link">Оператор-постановщик</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/face6-lg.jpg" alt=""></figure>
          <h5 class="people-name">Меруерт Утекешева</h5>
        </div>
        <p class="people-meta people-meta--primary"><a href="#" class="link">Актриса</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/face3-lg.jpg" alt=""></figure>
          <h5 class="people-name">Максим Акбаров</h5>
        </div>
        <p class="people-meta people-meta--primary"><a href="#" class="link">Актер</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/face2-lg.jpg" alt=""></figure>
          <h5 class="people-name">Марина Кунарова</h5>
        </div>
        <p class="people-meta people-meta--primary"><a href="#" class="link">Режиссер</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/face1-lg.jpg" alt=""></figure>
          <h5 class="people-name">Аружан Джазильбекова</h5>
        </div>
        <p class="people-meta people-meta--primary"><a href="#" class="link">Актриса</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/face4-lg.jpg" alt=""></figure>
          <h5 class="people-name">Аубакир Сулеев</h5>
        </div>
        <p class="people-meta people-meta--primary"><a href="#" class="link">Оператор-постановщик</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/face5-lg.jpg" alt=""></figure>
          <h5 class="people-name">Искандер Нарымбетов</h5>
        </div>
        <p class="people-meta people-meta--primary"><a href="#" class="link">Оператор-постановщик</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/face6-lg.jpg" alt=""></figure>
          <h5 class="people-name">Меруерт Утекешева</h5>
        </div>
        <p class="people-meta people-meta--primary"><a href="#" class="link">Актриса</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/face2-lg.jpg" alt=""></figure>
          <h5 class="people-name">Марина Кунарова</h5>
        </div>
        <p class="people-meta people-meta--primary"><a href="#" class="link">Режиссер</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/face1-lg.jpg" alt=""></figure>
          <h5 class="people-name">Аружан Джазильбекова</h5>
        </div>
        <p class="people-meta people-meta--primary"><a href="#" class="link">Актриса</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/face3-lg.jpg" alt=""></figure>
          <h5 class="people-name">Максим Акбаров</h5>
        </div>
        <p class="people-meta people-meta--primary"><a href="#" class="link">Актер</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/face4-lg.jpg" alt=""></figure>
          <h5 class="people-name">Аубакир Сулеев</h5>
        </div>
        <p class="people-meta people-meta--primary"><a href="#" class="link">Оператор-постановщик</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/face5-lg.jpg" alt=""></figure>
          <h5 class="people-name">Искандер Нарымбетов</h5>
        </div>
        <p class="people-meta people-meta--primary"><a href="#" class="link">Оператор-постановщик</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/face6-lg.jpg" alt=""></figure>
          <h5 class="people-name">Меруерт Утекешева</h5>
        </div>
        <p class="people-meta people-meta--primary"><a href="#" class="link">Актриса</a></p>
      </li>
    </ul>
  </div><!-- end .companies -->
</div>

<div class="grid-item grid-item--sidebar">
  <figure class="banner--secondary"><a href="#" class="link--image"><img src="images/banner-hero.jpg" alt=""></a></figure>

  <div class="movies-item">
    <figure class="movies-item-cover"><a href="#" class="link--image"><img src="images/movies-oberon.jpg" alt=""></a></figure>
    <p class="movies-item-category"><a href="#" class="link">Смотреть онлайн</a></p>
    <h5 class="movies-item-title"><a href="#" class="link">Заговор Оберона</a></h5>
    <div class="movies-item-rating clearfix">
      <div class="starbox" data-rating="0.54"></div>
      <span class="movies-item-rating-total"></span>
    </div><!-- end .movies-item-rating -->
  </div>

  <div class="live live--comments">
    <h5 class="title--secondary">Сейчас обсуждают</h5>
    <div class="live-item">
      <h6 class="live-title"><a href="#" class="link">Побудь в моей шкуре</a></h6>
      <p class="live-description">А на мой взгляд фильм не затронул главную идею, ради чего только его и стоило снимать — отношения между сыном и отцом.</p>
      <div class="live-meta">
        <p class="meta-author"><a href="#" class="link">Gulnaz Omarova</a></p>
        <p class="meta-date">22 мин. назад</p>
      </div>
    </div>
    <div class="live-item">
      <h6 class="live-title"><a href="#" class="link">Побудь в моей шкуре</a></h6>
      <p class="live-description">А на мой взгляд фильм не затронул главную идею, ради чего только его и стоило снимать — отношения между сыном и отцом.</p>
      <div class="live-meta">
        <p class="meta-author"><a href="#" class="link">Gulnaz Omarova</a></p>
        <p class="meta-date">22 мин. назад</p>
      </div>
    </div>
    <div class="live-item">
      <h6 class="live-title"><a href="#" class="link">Побудь в моей шкуре</a></h6>
      <p class="live-description">А на мой взгляд фильм не затронул главную идею, ради чего только его и стоило снимать — отношения между сыном и отцом.</p>
      <div class="live-meta">
        <p class="meta-author"><a href="#" class="link">Gulnaz Omarova</a></p>
        <p class="meta-date">22 мин. назад</p>
      </div>
    </div>
    <div class="live-item">
      <h6 class="live-title"><a href="#" class="link">Побудь в моей шкуре</a></h6>
      <p class="live-description">А на мой взгляд фильм не затронул главную идею, ради чего только его и стоило снимать — отношения между сыном и отцом.</p>
      <div class="live-meta">
        <p class="meta-author"><a href="#" class="link">Gulnaz Omarova</a></p>
        <p class="meta-date">22 мин. назад</p>
      </div>
    </div>
  </div>
</div><!-- end .grid-item -->
