
<div class="afiche-controls">
  <h3 class="title-section title-section--primary">Афиша</h3>
  <span class="afiche-tip">Сперва выберу</span>
  <ul class="afiche-types clearfix">
    <li class="afiche-types-item pull-left"><a href="#" class="btn btn--primary" data-type="cinemas">Кинотеатр</a></li>
    <li class="afiche-types-item pull-left active"><a href="#" class="btn btn--primary" data-type="movies">Фильм</a></li>
  </ul>
  <div class="dropdown dropdown--dashed">
    <button id="citiesMenu" type="button" class="btn btn--dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="icon icon--map"></span>
      <span class="dropdown-status">Алматы</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="citiesMenu">
      <li class="dropdown-menu-item link active" data-city="Almaty"><a href="#">Алматы</a></li>
      <li class="dropdown-menu-item link" data-city="Astana"><a href="#">Астана</a></li>
      <li class="dropdown-menu-item link" data-city="Aksu"><a href="#">Аксу</a></li>
      <li class="dropdown-menu-item link" data-city="Aktau"><a href="#">Актау</a></li>
      <li class="dropdown-menu-item link" data-city="Aktobe"><a href="#">Актобе</a></li>
      <li class="dropdown-menu-item link" data-city="Atyrau"><a href="#">Атырау</a></li>
      <li class="dropdown-menu-item link" data-city="Balhash"><a href="#">Балхаш</a></li>
      <li class="dropdown-menu-item link" data-city="ZHanaozen"><a href="#">Жанаозен</a></li>
      <li class="dropdown-menu-item link" data-city="Karaganda"><a href="#">Караганда</a></li>
      <li class="dropdown-menu-item link" data-city="Kokshetau"><a href="#">Кокшетау</a></li>
      <li class="dropdown-menu-item link" data-city="Kostanaj"><a href="#">Костанай</a></li>
      <li class="dropdown-menu-item link" data-city="Kyzylorda"><a href="#">Кызылорда</a></li>
      <li class="dropdown-menu-item link" data-city="Pavlodar"><a href="#">Павлодар</a></li>
      <li class="dropdown-menu-item link" data-city="Petropavlovsk"><a href="#">Петропавловск</a></li>
      <li class="dropdown-menu-item link" data-city="Semej"><a href="#">Семей</a></li>
      <li class="dropdown-menu-item link" data-city="Stepnogorsk"><a href="#">Степногорск</a></li>
      <li class="dropdown-menu-item link" data-city="Taldykorgan"><a href="#">Талдыкорган</a></li>
      <li class="dropdown-menu-item link" data-city="Taraz"><a href="#">Тараз</a></li>
      <li class="dropdown-menu-item link" data-city="Temirtau"><a href="#">Темиртау</a></li>
      <li class="dropdown-menu-item link" data-city="Uralsk"><a href="#">Уральск</a></li>
      <li class="dropdown-menu-item link" data-city="Ust-Kamenogorsk"><a href="#">Усть-Каменогорск</a></li>
      <li class="dropdown-menu-item link" data-city="SHu"><a href="#">Шу</a></li>
      <li class="dropdown-menu-item link" data-city="SHymkent"><a href="#">Шымкент</a></li>
      <li class="dropdown-menu-item link" data-city="CSHuchinsk"><a href="#">Щучинск</a></li>
      <li class="dropdown-menu-item link" data-city="Ekibastuz"><a href="#">Экибастуз</a></li>
    </ul>
  </div>
</div><!-- end .afiche-controls -->

<nav class="afiche-nav">
  <ul class="afiche-nav-list">
    <li class="afiche-nav-item">
      <a href="afiche.html" class="link"><span class="afiche-nav-meta">Вс, 17 сен</span><span class="afiche-nav-title">Сегодня</span></a>
    </li>
    <li class="afiche-nav-item">
      <a href="afiche.html" class="link"><span class="afiche-nav-meta">Пн, 18 сен</span><span class="afiche-nav-title">Завтра</span></a>
    </li>
    <li class="afiche-nav-item active">
      <a href="afiche-soon.html" class="link"><span class="afiche-nav-meta"></span><span class="afiche-nav-title">Скоро</span></a>
    </li>
  </ul>
</nav><!-- end .afiche-nav -->

<div class="afiche-body afiche-body--soon">
  <div class="afiche-list active" id="accordionAficheMovies" role="tablist" aria-multiselectable="true" data-type="movies">
    <div class="afiche-item">
      <a class="link--afiche" href="afiche-item-soon.html">
        <span class="afiche-item-title">
          <span class="afiche-item-title-name">Superнянь 2</span>
          <span class="afiche-item-title-description">Комедия, Россия, от 16 лет</span>
        </span>
        <span class="afiche-item-meta"><span>Премьера: 11.02.2016</span></span>
      </a>
    </div><!-- end .faq-item -->

    <div class="afiche-item">
      <a class="link--afiche" href="afiche-item-soon.html">
        <span class="afiche-item-title">
          <span class="afiche-item-title-name">Люди Икс: Апокалипсис</span>
          <span class="afiche-item-title-description">Фантастика, США, от 12 лет</span>
        </span>
        <span class="afiche-item-meta"><span>Премьера: 11.05.2016</span></span>
      </a>
    </div><!-- end .faq-item -->

    <div class="afiche-item">
      <a class="link--afiche" href="afiche-item-soon.html">
        <span class="afiche-item-title">
          <span class="afiche-item-title-name">Адель</span>
          <span class="afiche-item-title-description">Мелдрама, Франция, от 18 лет</span>
        </span>
        <span class="afiche-item-meta"><span>Премьера: 11.02.2016</span></span>
      </a>
    </div><!-- end .faq-item -->

    <div class="afiche-item" data-target="movie-4">
      <a class="link--afiche" href="afiche-item-soon.html">
        <span class="afiche-item-title">
          <span class="afiche-item-title-name">SOS, Дед Мороз или Все сбудется!</span>
          <span class="afiche-item-title-description">Триллер, США, от 16 лет</span>
        </span>
        <span class="afiche-item-meta"><span>Премьера: 11.02.2016</span></span>
      </a>
    </div><!-- end .faq-item -->

    <div class="afiche-item" data-target="movie-3">
      <a href="afiche-item-soon.html" class="link--afiche">
        <span class="afiche-item-title">
          <span class="afiche-item-title-name">Голодные игры: сойка пересмешница. Часть 2</span>
          <span class="afiche-item-title-description">Триллер, США, от 16 лет</span>
        </span>
        <span class="afiche-item-meta"><span>Премьера: 11.02.2016</span></span>
      </a>
    </div><!-- end .faq-item -->
  </div><!-- end .afiche-list -->

  <a href="#" class="link--archive">Архив фильмов</a>

  <!-- BANNER -->
  <div class="banner banner--afiche">
    <div class="banner-body">
      <a href="#" class="link--banner"><img src="images/banner-header.jpg" class="banner-image" alt="" style="display:block;margin:0 -30px;width:calc(100% + 60px);"></a>
    </div>
  </div>

  <div class="banner banner--afiche">
    <div class="banner-body">
      <a href="#" class="link--banner"><img src="images/g-partners.jpg" class="banner-image" alt=""></a>
    </div>
  </div>
</div><!-- end .afiche-body -->
