
<div class="grid-item grid-item--content">
  <div class="person">
    <div class="person-body clearfix">
      <figure class="person-hero pull-left"><img src="images/person.jpg" class="person-image" alt=""></figure>
      <a href="#" class="link--insta">@jazzyjazzy_official</a>
      <a href="#" class="link--twitter">@arujazz</a>
      <h1>Аружан Джазильбекова</h1>
      <h2 class="title--primary">Аружан Джазильбекова</h2>
      <ul class="person-info">
        <li class="person-info-item">
          <p class="person-info-title">Профессия</p>
          <p class="person-info-description">Актриса</p>
        </li>
        <li class="person-info-item">
          <p class="person-info-title">Дата рождения</p>
          <p class="person-info-description">25 июня 1986 года</p>
        </li>
        <li class="person-info-item">
          <p class="person-info-title">Место рождения</p>
          <p class="person-info-description">Алматы, Казахстан</p>
        </li>
        <li class="person-info-item">
          <p class="person-info-title">Жанры</p>
          <p class="person-info-description"><a href="#" class="link">Боевик</a>, <a href="#" class="link">Драма</a>, <a href="#" class="link">Комедия</a>, <a href="#" class="link">Криминал</a>, <a href="#" class="link">Мелодрама</a>, <a href="#" class="link">Художественный</a></p>
        </li>
        <li class="person-info-item">
          <p class="person-info-title">Кол-во фильмов</p>
          <p class="person-info-description">5</p>
        </li>
        <li class="person-info-item">
          <p class="person-info-title">Первый фильм</p>
          <p class="person-info-description">Качели любви</p>
        </li>
        <li class="person-info-item">
          <p class="person-info-title">Последний фильм</p>
          <p class="person-info-description">Рэкетир 2</p>
        </li>
      </ul>
    </div><!-- end .person-body -->

    <ul class="sharing">
      <li class="sharing-item">
        <button class="btn btn--sharing fb">
          <span class="icon icon--social fb icon--color"></span>
          Поделиться
          <span class="number">12</span>
        </button>
      </li>
      <li class="sharing-item">
        <button class="btn btn--sharing vk">
          <span class="icon icon--social vk icon--color"></span>
          Поделиться
          <span class="number">12</span>
        </button>
      </li>
      <li class="sharing-item">
        <button class="btn btn--sharing twi">
          <span class="icon icon--social twi icon--color"></span>
          Поделиться
          <span class="number">12</span>
        </button>
      </li>
      <li class="sharing-item">
        <button class="btn btn--sharing wh">
          <span class="icon icon--social wh"></span>
          Поделиться
          <span class="number">12</span>
        </button>
      </li>
    </ul>

    <figure class="person-chart">
      <div class="person-meta">
        <h4 class="title--secondary">Рейтинг фильмографии:</h4>
        <div class="person-rating">
          <figure class="rating-star"><img src="images/icon-star-lg-red.png" class="star" alt=""></figure>
          <p class="rating-index">8,7 (24 фильма)</p>
        </div>
      </div>
      <canvas id="chartPerson" class="chart chart-person" width="540" height="220"></canvas>
       <div class="chart-filters">
         <div class="filter-job">
           <h5 class="title--secondary">Амплуа</h5>
           <div class="dropdown dropdown--dashed">
             <button id="jobMenu" type="button" class="btn btn--dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="dropdown-status">Актриса</span>
               <span class="caret"></span>
             </button>
             <ul class="dropdown-menu" aria-labelledby="jobMenu">
               <li class="dropdown-menu-item link active">Режиссер</li>
               <li class="dropdown-menu-item link">Сценарист</li>
             </ul>
           </div>
           <div class="dropdown dropdown--dashed">
             <button id="typeMenu" type="button" class="btn btn--dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="dropdown-status">Фильмы</span>
               <span class="caret"></span>
             </button>
             <ul class="dropdown-menu" aria-labelledby="typeMenu">
               <li class="dropdown-menu-item link active">Фильмы</li>
               <li class="dropdown-menu-item link">Сериалы</li>
               <li class="dropdown-menu-item link">Короткометражки</li>
             </ul>
           </div>
         </div>
         <div class="filter-period">
           <h5 class="title--secondary">Период</h5>
           с <div class="dropdown dropdown--dashed">
               <button id="typeMenu" type="button" class="btn btn--dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <span class="dropdown-status">2003</span>
                 <span class="caret"></span>
               </button>
               <ul class="dropdown-menu" aria-labelledby="typeMenu">
                 <li class="dropdown-menu-item link active">2003</li>
                 <li class="dropdown-menu-item link">2004</li>
                 <li class="dropdown-menu-item link">2005</li>
                 <li class="dropdown-menu-item link">2006</li>
               </ul>
             </div>
            по <div class="dropdown dropdown--dashed">
               <button id="typeMenu" type="button" class="btn btn--dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <span class="dropdown-status">2012</span>
                 <span class="caret"></span>
               </button>
               <ul class="dropdown-menu" aria-labelledby="typeMenu">
                 <li class="dropdown-menu-item link active">2012</li>
                 <li class="dropdown-menu-item link">2013</li>
                 <li class="dropdown-menu-item link">2014</li>
               </ul>
             </div>
         </div>
       </div>
    </figure><!-- end .person-chart -->

    {{>tabs-person}}

    <div class="person-insta">
      <h6 class="person-insta-title">Аружан в Интсраграмме: <a href="#" class="link--insta">@arujazz</a></h6>
      <span class="control-shadow shadow--left"></span>
      <span class="control-shadow shadow--right"></span>
      <div class="swiper-container swiper-insta">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="thumb thumb--insta">
              <a href="#" class="link--overlay"></a>
              <figure class="thumb-figure"><img src="images/aruzhan1.jpg" class="thumb-figure-image" alt=""></figure>
              <ul class="thumb-meta">
                <li class="meta-item meta-date">18 октября</li>
                <li class="meta-item meta-likes"><span class="font-icons">&#0083;</span>12 000</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="thumb thumb--insta">
              <a href="#" class="link--overlay"></a>
              <figure class="thumb-figure"><img src="images/aruzhan2.jpg" class="thumb-figure-image" alt=""></figure>
              <ul class="thumb-meta">
                <li class="meta-item meta-date">18 октября</li>
                <li class="meta-item meta-likes"><span class="font-icons">&#0083;</span>12 000</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="thumb thumb--insta">
              <a href="#" class="link--overlay"></a>
              <figure class="thumb-figure"><img src="images/aruzhan3.jpg" class="thumb-figure-image" alt=""></figure>
              <ul class="thumb-meta">
                <li class="meta-item meta-date">18 октября</li>
                <li class="meta-item meta-likes"><span class="font-icons">&#0083;</span>12 000</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="thumb thumb--insta">
              <a href="#" class="link--overlay"></a>
              <figure class="thumb-figure"><img src="images/aruzhan4.jpg" class="thumb-figure-image" alt=""></figure>
              <ul class="thumb-meta">
                <li class="meta-item meta-date">18 октября</li>
                <li class="meta-item meta-likes"><span class="font-icons">&#0083;</span>12 000</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="thumb thumb--insta">
              <a href="#" class="link--overlay"></a>
              <figure class="thumb-figure"><img src="images/aruzhan5.jpg" class="thumb-figure-image" alt=""></figure>
              <ul class="thumb-meta">
                <li class="meta-item meta-date">18 октября</li>
                <li class="meta-item meta-likes"><span class="font-icons">&#0083;</span>12 000</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="thumb thumb--insta">
              <a href="#" class="link--overlay"></a>
              <figure class="thumb-figure"><img src="images/aruzhan6.jpg" class="thumb-figure-image" alt=""></figure>
              <ul class="thumb-meta">
                <li class="meta-item meta-date">18 октября</li>
                <li class="meta-item meta-likes"><span class="font-icons">&#0083;</span>12 000</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="thumb thumb--insta">
              <a href="#" class="link--overlay"></a>
              <figure class="thumb-figure"><img src="images/aruzhan7.jpg" class="thumb-figure-image" alt=""></figure>
              <ul class="thumb-meta">
                <li class="meta-item meta-date">18 октября</li>
                <li class="meta-item meta-likes"><span class="font-icons">&#0083;</span>12 000</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="thumb thumb--insta">
              <figure class="thumb-figure"><img src="images/aruzhan1.jpg" class="thumb-figure-image" alt=""></figure>
              <ul class="thumb-meta">
                <li class="meta-item meta-date">18 октября</li>
                <li class="meta-item meta-likes"><span class="font-icons">&#0083;</span>12 000</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="thumb thumb--insta">
              <figure class="thumb-figure"><img src="images/aruzhan2.jpg" class="thumb-figure-image" alt=""></figure>
              <ul class="thumb-meta">
                <li class="meta-item meta-date">18 октября</li>
                <li class="meta-item meta-likes"><span class="font-icons">&#0083;</span>12 000</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end .person-insta -->

    <div class="person-twitter">
      <h6 class="person-twitter-title">Аружан в Твиттере: <a href="#" class="link--twitter">@arujazz</a></h6>
      <div class="thumb thumb--twitter">
        <div class="thumb-text">В прямом эфире в <a href="#" class="link">#Periscope</a>: попытка 2 <a href="//www.periscope.tv/w/aPDnAzFkclF…" class="link">www.periscope.tv/w/aPDnAzFkclF…</a></div>
        <div class="thumb-meta">18 октября, 15:34</div>
      </div>
      <div class="thumb thumb--twitter">
        <div class="thumb-text">Смешные дубли...обожаю! Премьера картины состоится 6 ноября. А пока этот ролик скрасит ваше ожидание… <a href="http://instagram.com/p/tiFVLAnqYe/" class="link">instagram.com/p/tiFVLAnqYe/</a></div>
        <div class="thumb-meta">18 октября, 15:34</div>
      </div>
      <div class="thumb thumb--twitter">
        <div class="thumb-text">Сергей Прокудин-Горский. Нужно запомнить. Смотрю фильм Парфенова о создателе цветной фотографии. Невероятно интересно!</div>
        <div class="thumb-meta">18 октября, 15:34</div>
      </div>
    </div><!-- end .person-twitter -->

    <ul class="sharing">
      <li class="sharing-item">
        <button class="btn btn--sharing fb">
          <span class="icon icon--social fb icon--color"></span>
          Поделиться
          <span class="number">12</span>
        </button>
      </li>
      <li class="sharing-item">
        <button class="btn btn--sharing vk">
          <span class="icon icon--social vk icon--color"></span>
          Поделиться
          <span class="number">12</span>
        </button>
      </li>
      <li class="sharing-item">
        <button class="btn btn--sharing twi">
          <span class="icon icon--social twi icon--color"></span>
          Поделиться
          <span class="number">12</span>
        </button>
      </li>
    </ul>

  </div><!-- end .person -->

  <div class="comments">
    {{>comments}}
  </div><!-- end .comments -->
</div><!-- grid-item -->

<div class="grid-item grid-item--sidebar">
  <figure class="banner--secondary"><a href="#" class="link--image"><img src="images/banner-hero.jpg" alt=""></a></figure>

  <div class="live live--comments">
    <h5 class="title--secondary">Сейчас обсуждают</h5>
    <div class="live-item">
      <h6 class="live-title"><a href="#" class="link">Побудь в моей шкуре</a></h6>
      <p class="live-description">А на мой взгляд фильм не затронул главную идею, ради чего только его и стоило снимать — отношения между сыном и отцом.</p>
      <div class="live-meta">
        <p class="meta-author"><a href="#" class="link">Gulnaz Omarova</a></p>
        <p class="meta-date">22 мин. назад</p>
      </div>
    </div>
    <div class="live-item">
      <h6 class="live-title"><a href="#" class="link">Побудь в моей шкуре</a></h6>
      <p class="live-description">А на мой взгляд фильм не затронул главную идею, ради чего только его и стоило снимать — отношения между сыном и отцом.</p>
      <div class="live-meta">
        <p class="meta-author"><a href="#" class="link">Gulnaz Omarova</a></p>
        <p class="meta-date">22 мин. назад</p>
      </div>
    </div>
    <div class="live-item">
      <h6 class="live-title"><a href="#" class="link">Побудь в моей шкуре</a></h6>
      <p class="live-description">А на мой взгляд фильм не затронул главную идею, ради чего только его и стоило снимать — отношения между сыном и отцом.</p>
      <div class="live-meta">
        <p class="meta-author"><a href="#" class="link">Gulnaz Omarova</a></p>
        <p class="meta-date">22 мин. назад</p>
      </div>
    </div>
    <div class="live-item">
      <h6 class="live-title"><a href="#" class="link">Побудь в моей шкуре</a></h6>
      <p class="live-description">А на мой взгляд фильм не затронул главную идею, ради чего только его и стоило снимать — отношения между сыном и отцом.</p>
      <div class="live-meta">
        <p class="meta-author"><a href="#" class="link">Gulnaz Omarova</a></p>
        <p class="meta-date">22 мин. назад</p>
      </div>
    </div>
  </div><!-- end .live -->

</div><!-- end .grid-item -->
