
<div class="grid-item grid-item--content">
  <div class="control-bar">
    <div class="control-bar-filters">
      <div class="filters--secondary filters--search">Искать в:
        <div class="filters-order">
          <button type="button" class="btn btn--dashed active">Везде</button>
          <button type="button" class="btn btn--dashed">Новостях и статьях</button>
          <button type="button" class="btn btn--dashed">Фильмах</button>
          <button type="button" class="btn btn--dashed">Персонах</button>
          <button type="button" class="btn btn--dashed">Местах</button>
        </div>
      </div>
    </div>
  </div><!-- end .control-bar -->

  <div class="search-section">
    <div class="title--secondary">Фильмы</div>
    <div class="movies">
      <ul class="movies-list clearfix">
        <li class="movies-item">
          <a href="#" class="label--default label--primary label--movies link--label">Онлайн</a>
          <div class="movies-item-body">
            <a href="movie-payment.html" class="link--overlay"></a>
            <figure class="movies-item-cover"><img src="images/movies1.jpg" alt=""></figure>
            <h5 class="movies-item-title">Он и она</h5>
          </div>
          <div class="movies-meta">
            <span class="movies-meta-item meta-date">13 сентября</span>
            <span class="movies-meta-item meta-veiws"><span class="icon icon--views"></span>21 342</span>
            <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>54</span>
          </div>
          <div class="movies-item-rating clearfix">
            <div class="starbox" data-rating="0.22"></div>
            <span class="movies-item-rating-total"></span>
          </div><!-- end .movies-item-rating -->
        </li>
        <li class="movies-item">
          <div class="movies-item-body">
            <a href="movie-no-watch.html" class="link--overlay"></a>
            <figure class="movies-item-cover"><img src="images/movies2.jpg" alt=""></figure>
            <h5 class="movies-item-title">Качели любви</h5>
          </div>
          <div class="movies-meta">
            <span class="movies-meta-item meta-date">13 сентября</span>
            <span class="movies-meta-item meta-veiws"><span class="icon icon--views"></span>21 342</span>
            <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>54</span>
          </div>
          <div class="movies-item-rating clearfix">
            <div class="starbox" data-rating="0.32"></div>
            <span class="movies-item-rating-total"></span>
          </div><!-- end .movies-item-rating -->
        </li>
        <li class="movies-item">
          <div class="movies-item-body">
            <a href="#" class="link--overlay"></a>
            <figure class="movies-item-cover"><img src="images/movies3.jpg" alt=""></figure>
            <h5 class="movies-item-title">Нежданная любовь</h5>
          </div>
          <div class="movies-meta">
            <span class="movies-meta-item meta-date">13 сентября</span>
            <span class="movies-meta-item meta-veiws"><span class="icon icon--views"></span>21 342</span>
            <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>54</span>
          </div>
          <div class="movies-item-rating clearfix">
            <div class="starbox" data-rating="0.72"></div>
            <span class="movies-item-rating-total"></span>
          </div><!-- end .movies-item-rating -->
        </li>
        <li class="movies-item">
          <div class="movies-item-body">
            <a href="#" class="link--overlay"></a>
            <figure class="movies-item-cover"><img src="images/movies4.jpg" alt=""></figure>
            <h5 class="movies-item-title">Студент</h5>
          </div>
          <div class="movies-meta">
            <span class="movies-meta-item meta-date">13 сентября</span>
            <span class="movies-meta-item meta-veiws"><span class="icon icon--views"></span>21 342</span>
            <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>54</span>
          </div>
          <div class="movies-item-rating clearfix">
            <div class="starbox" data-rating="0.16"></div>
            <span class="movies-item-rating-total"></span>
          </div><!-- end .movies-item-rating -->
        </li>
        <li class="movies-item">
          <a href="#" class="label--default label--primary label--movies link--label">Онлайн</a>
          <div class="movies-item-body">
            <a href="#" class="link--overlay"></a>
            <figure class="movies-item-cover"><img src="images/movies5.jpg" alt=""></figure>
            <h5 class="movies-item-title">Рэкетир</h5>
          </div>
          <div class="movies-meta">
            <span class="movies-meta-item meta-date">9 августа</span>
            <span class="movies-meta-item meta-veiws"><span class="icon icon--views"></span>21 342</span>
            <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>54</span>
          </div>
          <div class="movies-item-rating clearfix">
            <div class="starbox" data-rating="0.42"></div>
            <span class="movies-item-rating-total"></span>
          </div><!-- end .movies-item-rating -->
        </li>
        <li class="movies-item">
          <div class="movies-item-body">
            <a href="#" class="link--overlay"></a>
            <figure class="movies-item-cover"><img src="images/movies6.jpg" alt=""></figure>
            <h5 class="movies-item-title">Кто Вы, господин Ка?</h5>
          </div>
          <div class="movies-meta">
            <span class="movies-meta-item meta-date">9 августа</span>
            <span class="movies-meta-item meta-veiws"><span class="icon icon--views"></span>21 342</span>
            <span class="movies-meta-item meta-comments"><span class="icon icon--comments"></span>54</span>
          </div>
          <div class="movies-item-rating clearfix">
            <div class="starbox" data-rating="0.42"></div>
            <span class="movies-item-rating-total"></span>
          </div><!-- end .movies-item-rating -->
        </li>
      </ul>
    </div><!-- end .movies -->
  </div><!-- end .search-section -->

  <div class="search-section">
    <div class="title--secondary">Новости и статьи</div>
    <div class="grid">
      <div class="grid-item grid-item--secondary">
        <div class="thumb thumb--article">
          <div class="thumb-meta">
            <figure class="thumb-image"><a href="#" class="link--image"><img src="images/article2.jpg" alt=""></a></figure>
            <p class="thumb-category"><a href="#" class="link">Интервью</a></p>
            <p class="thumb-date">11 августа</p>
          </div>
          <h4 class="thumb-title"><a href="#" class="link">Заговор Оберона или первый блин</a></h4>
          <p class="thumb-description">Были у меня определенные сомнения насчет качества очередного отечественного «блокбастера».</p>
        </div>
      </div>
      <div class="grid-item grid-item--secondary">
        <div class="thumb thumb--article">
          <div class="thumb-meta">
            <figure class="thumb-image"><a href="#" class="link--image"><img src="images/article4.jpg" alt=""></a></figure>
            <p class="thumb-category"><a href="#" class="link">Мнения</a></p>
            <p class="thumb-date">11 августа</p>
          </div>
          <h4 class="thumb-title"><a href="#" class="link">Береги себя от фейка или история о том, как хаос поглотил здравый смысл</a></h4>
          <p class="thumb-description">Сегодня, в этот прекрасный вечер, я должен был неспешно собирать свои вещи в чемодан и готовиться к скорому отбытию на родину. Однако врожденное любопытство и настойчивость моих друзей с кино-портала Бродвей в итоге привели меня на премьеру мелодрамы «FAKE: береги себя».</p>
          <p class="thumb-author"><a href="#" class="link">Нуртас Адамбай</a></p>
        </div>
      </div>
      <div class="grid-item grid-item--secondary">
        <div class="thumb thumb--article">
          <div class="thumb-meta">
            <figure class="thumb-image"><a href="#" class="link--image"><img src="images/article3.jpg" alt=""></a></figure>
            <p class="thumb-category"><a href="#" class="link">Мнения</a></p>
            <p class="thumb-date">11 августа</p>
          </div>
          <h4 class="thumb-title"><a href="#" class="link">История о французе, который неторопливо бредет по казахстанским степям</a></h4>
          <p class="thumb-description">17 сентября в рамках X МКФ «Евразия» прошел показ совместного проекта Ермека Шинарбаева и Жерара Депардье — «Голос степей».</p>
          <p class="thumb-author"><a href="#" class="link">Нуртас Адамбай</a></p>
        </div>
      </div>
    </div>
  </div><!-- end .search-section -->

  <div class="search-section">
    <div class="title--secondary">Персоны</div>
    <ul class="people-list">
      <li class="people-item">
        <div class="people-body">
          <a href="person.html" class="link--overlay"></a>
          <figure class="people-image"><img src="images/face1-lg.jpg" alt=""></figure>
          <h5 class="people-name">Аружан Джазильбекова</h5>
        </div>
        <p class="people-meta people-meta--primary"><a href="#" class="link">Актриса</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/face2-lg.jpg" alt=""></figure>
          <h5 class="people-name">Марина Кунарова</h5>
        </div>
        <p class="people-meta people-meta--primary"><a href="#" class="link">Режиссер</a></p>
      </li>
      <li class="people-item">
        <div class="people-body">
          <a href="#" class="link--overlay"></a>
          <figure class="people-image"><img src="images/face3-lg.jpg" alt=""></figure>
          <h5 class="people-name">Максим Акбаров</h5>
        </div>
        <p class="people-meta people-meta--primary"><a href="#" class="link">Актер</a></p>
      </li>
    </ul>
  </div><!-- end .search-section -->

  <div class="search-section">
    <div class="title--secondary">Места</div>
    <ul class="companies-list">
      <li class="companies-item">
        <div class="companies-head">
          <h4 class="companies-title"><a href="industry-item.html" class="link">Мастерская игровой режиссуры «ACTION!»</a></h4>
          <ul class="stars-list clearfix">
            <li class="stars-item pull-left"><img src="images/icon-star-lg-red.png" alt=""></li>
            <li class="stars-item pull-left"><img src="images/icon-star-lg-red.png" alt=""></li>
            <li class="stars-item pull-left"><img src="images/icon-star-lg-red.png" alt=""></li>
            <li class="stars-item pull-left"><img src="images/icon-star-lg-red.png" alt=""></li>
            <li class="stars-item pull-left"><img src="images/icon-star-lg-red.png" alt=""></li>
          </ul><!-- end .stars-list -->
        </div>
        <div class="companies-meta">
          <p class="companies-address">г. Алматы, ул. Абдуллиных, 38, театр-студия «Өркен»</p>
          <p class="companies-phone">+7 727 317-26-02</p>
        </div>
        <button type="button" class="btn btn--dashed">На карте</button>
      </li>
      <li class="companies-item">
        <div class="companies-head">
          <h4 class="companies-title"><a href="#" class="link">РТРК «Казахстан»</a></h4>
          <ul class="stars-list clearfix">
            <li class="stars-item pull-left"><img src="images/icon-star-lg-red.png" alt=""></li>
            <li class="stars-item pull-left"><img src="images/icon-star-lg-red.png" alt=""></li>
            <li class="stars-item pull-left"><img src="images/icon-star-lg-red.png" alt=""></li>
            <li class="stars-item pull-left"><img src="images/icon-star-lg-red.png" alt=""></li>
            <li class="stars-item pull-left"><img src="images/icon-star-lg-red.png" alt=""></li>
          </ul><!-- end .stars-list -->
        </div>
        <div class="companies-meta">
          <p class="companies-address">г. Астана, ул. Кунаева, 4</p>
          <p class="companies-phone">+7 717 255-33-35 <br>+7 717 255-33-35</p>
        </div>
        <button type="button" class="btn btn--dashed">На карте</button>
      </li>
      <li class="companies-item">
        <div class="companies-head">
          <h4 class="companies-title"><a href="#" class="link">Мастерская игровой режиссуры «ACTION!»</a></h4>
          <ul class="stars-list clearfix">
            <li class="stars-item pull-left"><img src="images/icon-star-lg-red.png" alt=""></li>
            <li class="stars-item pull-left"><img src="images/icon-star-lg-red.png" alt=""></li>
            <li class="stars-item pull-left"><img src="images/icon-star-lg-red.png" alt=""></li>
            <li class="stars-item pull-left"><img src="images/icon-star-lg-red.png" alt=""></li>
            <li class="stars-item pull-left"><img src="images/icon-star-lg-red.png" alt=""></li>
          </ul><!-- end .stars-list -->
        </div>
        <div class="companies-meta">
          <p class="companies-address">г. Алматы, ул. Абдуллиных, 38, театр-студия «Өркен»</p>
          <p class="companies-phone">+7 727 317-26-02</p>
        </div>
        <button type="button" class="btn btn--dashed">На карте</button>
      </li>
    </ul>
  </div><!-- end .search-section -->
</div><!-- end .grid-item -->

<div class="grid-item grid-item--sidebar">
  <figure class="banner--secondary"><a href="#" class="link--image"><img src="images/banner-hero.jpg" alt=""></a></figure>
</div><!-- end .grid-item -->
