
<div class="grid-item grid-item--content">
  <div class="profile">
    <div class="profile-body">
      <div class="profile-meta clearfix">
        <figure class="avatar avatar--lg pull-left">
          <img src="images/avatar1.jpg" class="avatar-image" alt="">
          <span class="label--gender"><span class="icon icon--gender man"></span></span>
        </figure>
        <div class="profile-head">
          <h4 class="title--primary">Неопознанный киноман</h4>
        </div>
        <ul class="profile-info">
          <li class="profile-info-item">
            <a href="#" class="link profile-info-item-social">facebook/kinoman</a>
          </li>
          <li class="profile-info-item">28 лет</li>
        </ul>
      </div><!-- end .profile-meta -->
      <p class="profile-description">Кинокритик, киноман, кинозритель, эстет и просто крутой чувак. Люблю фильмы Тарантино, итальянскую кухню и пиксаровские мультики.</p>
    </div><!-- end .profile-body -->

    {{>tabs-profile-users}}

  </div><!-- end .profile -->
</div><!-- grid-item -->
