
<div class="grid-item grid-item--content">
  <article class="article article--casting">
    <h1>Кастинг на фильм «Так суждено звездами»</h1>
    <h2 class="title--primary">Кастинг на фильм «Так суждено звездами»</h2>
    <ul class="article-meta">
      <li class="meta-item meta-date">9 августа</li>
      <li class="meta-item meta-author"><a href="#" class="link">Администриация Бродвея</a></li>
      <li class="meta-item meta-views"><span class="icon icon--views icon--lg"></span>1 342</li>
      <li class="meta-item meta-views"><span class="icon icon--comments icon--lg"></span>54</li>
    </ul>
    <figure class="article-cover"><img src="images/article-cover-casting.jpg" alt=""></figure>
    <ul class="article-lead">
      <li class="article-lead-item">Студия: <a href="industry-item.html" class="link link--bold">«Казахфильм»</a></li>
      <li class="article-lead-item">Возраст кандидатов: мужчины 35&ndash;80 лет, женщины 35&ndash;55 лет</li>
      <li class="article-lead-item">Даты кастинга: 8–9 августа 2015</li>
      <li class="article-lead-item">Время: 8:00 &ndash; 13:00</li>
      <li class="article-lead-item">Контактное лицо: Гульнара, +7 701 472 92 32</li>
    </ul>
    <p class="article-text">Будучи ребенком, Анатоль побывал в Казахстане, где его родители участвовали в археологических раскопках. Тогда брат мальчика погибает в аварии, и Анатоль под воздействием шока перестает говорить. На помощь приходит местный шаман, который исцеляет мальчика, научив его слышать все звуки природы. Спустя полвека в Париже Анатоль знакомится с Абаем, внуком того самого шамана, который уверен, что его дед передал свои уникальные способности Анатолю… Начать хотелось бы с того, что «Голос степей» — очень медитативное кино, схожее ритмом с типичным казахстанским арт-хаусом, но отличающееся от него внятностью повествования. Синопсис в данном случае ничем не поможет, потому что эта картина в большей степени ориентирована на внутренние ощущения зрителя, поэтому у каждого человека, безусловно, возникнет собственное представление о том, что же он видел на экране.</p>
    <figure class="article-figure">
      <img src="images/article-image.jpg" class="article-image" alt="">
      <figcaption class="article-image-description">Анатоль (Жерар Депардье) и Абай (Берик Айтжанов)</figcaption>
    </figure>
    <p class="article-text">Не знаю, можно ли назвать Жерара Депардье основным манком для привлечения аудитории на просмотр «Голоса степей», на мой взгляд, скорее нет. Здесь солирует звуковая атмосфера больше, чем игра любого из актеров и открытое пространство заставляет в какой-то момент уйти в свои мысли и абстрагироваться от героев картины. На месте Жерара Депардье (Анатоль) или Берика Айтжанова (Абай) мог быть кто-либо другой и, наверное, ничего бы не изменилось. А, возможно, все изменилось бы кардинально. Мне несколько трудно судить, потому что два часа экранного времени я провела в глубоко личных ощущениях и сравнила бы себя скорее с орлом, который так часто пролетал в небе над степью.</p>
    <h3 class="title--secondary">Тенгрианская философия</h3>
    <p class="article-text">«Голос степей» насквозь пропитан тенгрианской философией. В начале фильма появляется ключевая фигура всего рассказа и это не маленький Анатоль, как может подуматься, а скорей Шаман. Шаман - это человек, который умеет «видеть», а не «смотреть». В случае с Ерали (Эрик Жолжаксынов) - «слышать». Поэтому, с виду он совершенно не отличается от простых людей. Обаятельный и улыбчивый он помогает археологам в раскопках и за кадром наверняка активно принимает участие в жизни поселения. После того, как маленький Анатоль стал свидетелем смерти брата, именно Ерали помог ему осознать окружающий мир наиболее понятным и доступным им обоим способом - «слышать». То, что герой Жолжаксынова - шаман, понятно не из его внешнего вида, а скорей из его поступков. Это вызывает приятное ощущение того, что буквализм в казахстанском кино наконец-то сдает свои позиции.</p>

    <div class="article-gallery">
      <div class="article-gallery-description">Маленький Анатоль (Артем Лифанов)</div>
      <ul class="article-slider">
        <li class="article-slider-item" data-thumb="images/article-image2.jpg" data-src="images/article-image2.jpg" data-description="Маленький Анатоль (Артем Лифанов) 1">
          <img src="images/article-image2.jpg"  class="article-slider-image"/>
        </li>
        <li class="article-slider-item" data-thumb="images/article-cover.jpg" data-src="images/article-cover.jpg" data-description="Прошел показ совместного проекта Ермека Шинарбаева и Жерара Депардье">
          <img src="images/article-cover.jpg"  class="article-slider-image"/>
        </li>
        <li class="article-slider-item" data-thumb="images/article-image.jpg" data-src="images/article-image.jpg" data-description="Анатоль (Жерар Депардье) и Абай (Берик Айтжанов)">
          <img src="images/article-image.jpg"  class="article-slider-image"/>
        </li>
        <li class="article-slider-item" data-thumb="images/article-cover.jpg" data-src="images/article-cover.jpg" data-description="Здесь солирует звуковая атмосфера">
          <img src="images/article-cover.jpg" class="article-slider-image"/>
        </li>
        <li class="article-slider-item" data-thumb="images/article-image2.jpg" data-src="images/article-image2.jpg" data-description="Маленький Анатоль (Артем Лифанов) 5">
          <img src="images/article-image2.jpg" class="article-slider-image" />
        </li>
        <li class="article-slider-item" data-thumb="images/article-image.jpg" data-src="images/article-image.jpg" data-description="Анатоль (Жерар Депардье) и Абай (Берик Айтжанов)">
          <img src="images/article-image.jpg"  class="article-slider-image"/>
        </li>
      </ul>
    </div><!-- end .article-gallery -->

    <p class="article-text">Отдельным рефреном в картине выступает пресловутая столица. Астана, в которой прячутся современные казахи - холодна и пустынна. Театр "Астана Опера" здесь скорее как символ благополучия, к которому стремятся представители современной «элиты». Такой же красивый внешне и совершенно не «звучащий» внутренне. Степь по контрасту — многогранна, звенит тысячами голосов и дышит сотнями звуков. Французы давно поняли, в любой непонятной ситуации - иди в степь и ищи. Что именно нужно искать непонятно никому и это абсолютно нормально. Невозможно ведь сказать, что Шарль из фильма «Улжан» искал гору, а Анатоль искал начало? Человек на пути духовной инициации идет туда, не зная, куда и находит то, не зная, что. На самом-то деле только сам ищущий во время поиска узнает, что же он нашел. В этой картине Все находят. Как бы смешно это ни звучало, но у всех героев есть свои собственные gps-передатчики. Жена Абая знает, где искать мужа - ее ведет любовь, Анатоль знает, зачем идет - его ведет звук, верблюд знает, куда идти - его ведет чувство пространства. Это действительно так и здесь нет ничего удивительного. В такой истории для совпадений места не остается.</p>
    <ul class="article-meta article-meta--secondary">
      <li class="meta-item meta-date">9 августа</li>
      <li class="meta-item meta-author"><a href="#" class="link">Администрация Бродвея</a></li>
      <li class="meta-item meta-views"><span class="icon icon--views icon--lg"></span>1 342</li>
      <li class="meta-item meta-views"><span class="icon icon--comments icon--lg"></span>54</li>
    </ul>
  </article>

  <ul class="sharing">
    <li class="sharing-item">
      <button class="btn btn--sharing fb">
        <span class="icon icon--social fb icon--color"></span>
        Поделиться
        <span class="number">12</span>
      </button>
    </li>
    <li class="sharing-item">
      <button class="btn btn--sharing vk">
        <span class="icon icon--social vk icon--color"></span>
        Поделиться
        <span class="number">12</span>
      </button>
    </li>
    <li class="sharing-item">
      <button class="btn btn--sharing twi">
        <span class="icon icon--social twi icon--color"></span>
        Поделиться
        <span class="number">12</span>
      </button>
    </li>
  </ul>

  <div class="comments">
    {{>comments}}
  </div><!-- end .comments -->
</div><!-- grid-item -->

<div class="grid-item grid-item--sidebar">
  <figure class="banner--secondary"><a href="#" class="link--image"><img src="images/banner-hero.jpg" alt=""></a></figure>

  <div class="thumb thumb--secondary">
    <a href="#" class="link--overlay"></a>
    <figure class="thumb-image"><img src="images/news-highlight.jpg" alt=""></figure>
    <a href="#" class="label--default label--primary label--thumb link--label">Казахстанское кино</a>
    <div class="thumb-info">
      <p class="thumb-date">14 августа</p>
      <h4 class="thumb-title">Азиз Жамбакиев о своей работе в непальском фильме</h4>
    </div>
  </div>

  <div class="movies-item">
    <figure class="movies-item-cover"><a href="#" class="link--image"><img src="images/movies-oberon.jpg" alt=""></a></figure>
    <p class="movies-item-category"><a href="#" class="link">Смотреть онлайн</a></p>
    <h5 class="movies-item-title"><a href="#" class="link">Заговор Оберона</a></h5>
    <div class="movies-item-rating clearfix">
      <ul class="stars-list clearfix">
        <li class="stars-item pull-left"><img src="images/icon-star.png" alt=""></li>
        <li class="stars-item pull-left"><img src="images/icon-star.png" alt=""></li>
        <li class="stars-item pull-left"><img src="images/icon-star.png" alt=""></li>
        <li class="stars-item pull-left"><img src="images/icon-star.png" alt=""></li>
        <li class="stars-item pull-left"><img src="images/icon-star.png" alt=""></li>
        <li class="stars-item pull-left"><img src="images/icon-star.png" alt=""></li>
        <li class="stars-item pull-left"><img src="images/icon-star.png" alt=""></li>
        <li class="stars-item pull-left"><img src="images/icon-star.png" alt=""></li>
        <li class="stars-item pull-left"><img src="images/icon-star.png" alt=""></li>
        <li class="stars-item pull-left"><img src="images/icon-star.png" alt=""></li>
      </ul><!-- end .stars-list -->
      <span class="movies-item-rating-total">7,3</span>
    </div><!-- end .movies-item-rating -->
  </div>

  <div class="thumb thumb--secondary">
    <a href="#" class="link--overlay"></a>
    <figure class="thumb-image"><img src="images/news-highlight2.jpg" alt=""></figure>
    <a href="#" class="label--default label--primary label--thumb link--label">Казахстанское кино</a>
    <div class="thumb-info">
      <p class="thumb-date">14 августа</p>
      <h4 class="thumb-title">Совместный проект с коллегами из Индии</h4>
    </div>
  </div>

  <div class="thumb thumb--secondary thumb--casting">
    <a href="#" class="link--overlay"></a>
    <figure class="thumb-image"><img src="images/image-casting.jpg" alt=""></figure>
    <a href="#" class="label--default label--primary label--thumb link--label">Кастинг</a>
    <div class="thumb-info">
      <h4 class="thumb-title">Кастинг на фильм <br>«Так сложились звезды»</h4>
      <p class="thumb-description">Требуются актеры второго плана в роли депутатов ЦК: статные, презентабельного вида мужчины в возрасте 35-80 лет, а также женщины от 35 до 55 лет всех национальностей.</p>
      <p class="thumb-contacts"><span class="numbers">+7 701 338 83 72</span>, Гульнар</p>
    </div>
  </div>

</div><!-- end .grid-item -->
