
<div class="profile profile--edit">
  <form action="" class="form form--profile form--blog">
    <div class="form-header clearfix">

      <div class="form-group form-group--cover pull-right">
        <div class="cropper cropper--blog pull-left">
          <div class="cropit-image-preview blog-cover"></div>
          <input type="file" class="cropit-image-input" name="blog_cover" id="blogCover" />
          <button type="button" class="btn btn--cropper link js-upload-trigger">Загрузите <br>обложку статьи</button>
          <button type="button" class="btn btn--reupload link js-upload-trigger">Заменить фото</button>
          <button type="button" class="btn btn--remove" title="Удалить фото"><span class="icon icon--remove link--image"></span></button>
        </div><!-- end .cropper -->
      </div>

      <div class="blog-meta">
        <div class="form-group form-group--rubrics">
          <label for="blogRubric" class="control-label">Рубрика</label>
          <input class="form-control" type="text" name="blog_rubric" id="blogRubric" value="" placeholder="Выберите рубрику" onfocus="if(this.placeholder  == 'Выберите рубрику') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Выберите рубрику'; }" />
        </div>
        <div class="form-group">
          <label for="blogTitle" class="control-label">Заголовок статьи</label>
          <input class="form-control" type="text" name="blog_title" id="blogTitle" value="" placeholder="Введите заголовок" onfocus="if(this.placeholder  == 'Введите заголовок') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Введите заголовок'; }" />
        </div>
        <div class="form-group">
          <label for="blogSynopsis" class="control-label">Краткое описание</label>
          <textarea class="textarea form-control" type="text" name="blog_synopsis" id="blogSynopsis" cols="30" rows="10" placeholder="Изложите суть вашей статьи в 1-2 предложениях" onfocus="if(this.placeholder  == 'Изложите суть вашей статьи в 1-2 предложениях') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Изложите суть вашей статьи в 1-2 предложениях'; }"></textarea>
        </div>
      </div><!-- end .blog-meta -->

    </div>
    <div class="form-body">
      <div class="form-group">
        <label for="blogArticle" class="control-label">Текст статьи</label>
        <textarea class="form-control textarea textarea--article" type="text" name="blog_article" id="blogArticle" cols="30" rows="10" placeholder="Основной текст вашей статьи здесь" onfocus="if(this.placeholder  == 'Основной текст вашей статьи здесь') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Основной текст вашей статьи здесь'; }"></textarea>
      </div>
      <div class="form-group form-group--tags">
        <label for="blogTags" class="control-label">Теги</label>
        <input class="form-control" type="text" name="blog_tags" id="blogTags" value="" placeholder="Укажите ключевые слова через запятую" onfocus="if(this.placeholder  == 'Укажите ключевые слова через запятую') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Укажите ключевые слова через запятую'; }" />
      </div>
    </div>
    <div class="form-footer">
      <button type="button" class="btn btn--primary">Опубликовать</button>
      <button type="button" class="btn link">Сохранить и дописать позже</button>
    </div>
  </form>
</div><!-- end .profile -->
