<footer class="footer {{'footer--main transparent ' if main}} {{'footer--main  footer-error' if error__404}}">
    {# {{#if main}} footer--main{{/if}}  #}
    <div class="container">
        {# {{>partners}} #}

        {% include '_partials/partners.njk' %}

        <div class="footer--primary clearfix">
            <!--       <ul class="social-list pull-right">
        <li class="social-list-item"><a href="#" class="link--social"><span class="icon icon--social fb"></span>Фейсбук</a></li>
        <li class="social-list-item"><a href="#" class="link--social"><span class="icon icon--social insta"></span>Инстаграм</a></li>
        <li class="social-list-item"><a href="#" class="link--social"><span class="icon icon--social vk"></span>Вконтакте</a></li>
      </ul>
      <figure class="logo--secondary"><a href="main.html" class="link--image"><img src="images/logo.svg" width="202" height="54" alt="Фестиваль кино Байконур"></a></figure>
      <p class="brand-description">Байконур — фестиваль студенческих короткометражных фильмов. Это возможность для студентов любого казахстанского ВУЗа продемонстрировать свое творение публике.</p> -->
            <!-- 
      <ul class="nav--default nav--footer">
        <li class="nav-item"><a class="link link--primary active" href="about.html">О фестивале</a></li>
        <li class="nav-item"><a class="link link--primary" href="program.html">Партнёры</a></li>
        <li class="nav-item"><a class="link link--primary" href="participants.html">Фильмы</a></li>
        <li class="nav-item"><a class="link link--primary" href="jury.html">Новости</a></li>
        <li class="nav-item"><a href="winners.html" class="link link--primary">История</a></li>
        <li class="nav-item"><a class="link link--primary" href="about.html">Жюри</a></li>
        <li class="nav-item"><a class="link link--primary" href="program.html">Программа</a></li>
        <li class="nav-item"><a class="link link--primary" href="participants.html">Контакты</a></li>
      </ul> -->

            <div class="nav--default nav--footer">
                <div class="col">
                    <div class="nav-item">
                        <a class="link link--primary active" href="about.html">О фестивале</a>
                    </div>
                    <div class="nav-item">
                        <a class="link link--primary" href="program.html">Партнёры</a>
                    </div>
                </div>
                <div class="col">
                    <div class="nav-item">
                        <a class="link link--primary" href="participants.html">Фильмы</a>
                    </div>
                    <div class="nav-item">
                        <a class="link link--primary" href="news.html">Новости</a>
                    </div>
                </div>
                <div class="col">
                    <div class="nav-item">
                        <a href="retro.html" class="link link--primary">История</a>
                    </div>
                    <div class="nav-item">
                        <a class="link link--primary" href="jury.html">Жюри</a>
                    </div>
                </div>
                <div class="col">
                    <div class="nav-item">
                        <a class="link link--primary" href="program.html">Программа</a>
                    </div>
                    <div class="nav-item">
                        <a class="link link--primary" href="contacts.html">Контакты</a>
                    </div>
                </div>
                <div class="col">
                    <div class="nav-item">
                        <a class="link link--primary active" href="about.html">О фестивале</a>
                    </div>
                    <div class="nav-item">
                        <a class="link link--primary" href="program.html">Партнёры</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer--secondary clearfix">
            <a class="rocket-link pull-right" href="http://rocketfirm.com" target="_blank">
                <svg class="rocket-logo"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 105 14.47">
                    <title>Rocket Firm logo</title>
                    <path class="logo-letter"
            d="M5,11.67L3.28,8.51H1.89v3.16H0V2.78H4.17A3.44,3.44,0,0,1,5.41,3,2.6,2.6,0,0,1,6.95,4.51a3.08,3.08,0,0,1,.21,1.14,3,3,0,0,1-.17,1,2.51,2.51,0,0,1-.45.78A2.54,2.54,0,0,1,5.91,8a2.39,2.39,0,0,1-.71.29l2,3.38H5ZM3.88,6.85a1.43,1.43,0,0,0,1-.32,1.09,1.09,0,0,0,.38-0.88,1.09,1.09,0,0,0-.38-0.88,1.43,1.43,0,0,0-1-.32h-2v2.4h2Z"/>
                    <path class="logo-letter"
            d="M13.11,11.83a5,5,0,0,1-1.85-.34A4.29,4.29,0,0,1,8.82,9.08a4.82,4.82,0,0,1-.35-1.85,4.82,4.82,0,0,1,.35-1.85A4.29,4.29,0,0,1,11.26,3,5.25,5.25,0,0,1,15,3a4.29,4.29,0,0,1,2.44,2.41,4.82,4.82,0,0,1,.35,1.85,4.82,4.82,0,0,1-.35,1.85A4.29,4.29,0,0,1,15,11.49,5,5,0,0,1,13.11,11.83Zm0-1.68a2.67,2.67,0,0,0,1.11-.23,2.6,2.6,0,0,0,.85-0.61,2.73,2.73,0,0,0,.55-0.92,3.58,3.58,0,0,0,0-2.32,2.8,2.8,0,0,0-.55-0.93,2.46,2.46,0,0,0-.85-0.61,2.93,2.93,0,0,0-2.23,0,2.39,2.39,0,0,0-.85.61,2.85,2.85,0,0,0-.54.93,3.57,3.57,0,0,0,0,2.32,2.77,2.77,0,0,0,.54.92,2.52,2.52,0,0,0,.85.61A2.67,2.67,0,0,0,13.11,10.15Z"/>
                    <path class="logo-letter"
            d="M23.67,11.83a5.15,5.15,0,0,1-1.87-.33,4.35,4.35,0,0,1-2.5-2.39,4.66,4.66,0,0,1-.37-1.87,4.66,4.66,0,0,1,.37-1.87A4.35,4.35,0,0,1,21.8,3a5.15,5.15,0,0,1,1.87-.33A4.34,4.34,0,0,1,25,2.82a4.14,4.14,0,0,1,1,.49,3.68,3.68,0,0,1,.79.69,5.6,5.6,0,0,1,.57.81l-1.63.8a2.43,2.43,0,0,0-.84-0.92,2.21,2.21,0,0,0-1.25-.37,2.8,2.8,0,0,0-1.11.22,2.63,2.63,0,0,0-.89.61,2.79,2.79,0,0,0-.58.93,3.19,3.19,0,0,0-.21,1.16,3.23,3.23,0,0,0,.21,1.17,2.71,2.71,0,0,0,.58.93,2.68,2.68,0,0,0,.89.61,2.8,2.8,0,0,0,1.11.22,2.24,2.24,0,0,0,1.25-.37,2.36,2.36,0,0,0,.84-0.93l1.63,0.79a5.54,5.54,0,0,1-.57.81,3.87,3.87,0,0,1-.79.7,4,4,0,0,1-1,.49A4.34,4.34,0,0,1,23.67,11.83Z"/>
                    <path class="logo-letter"
            d="M34.53,11.67L31.84,8.11l-0.69.83v2.73H29.25V2.78h1.89v4l3.15-4h2.33L33.09,7l3.77,4.72H34.53Z"/>
                    <path class="logo-letter" d="M38.53,11.67V2.78h6.29V4.45h-4.4V6.33h4.3V8h-4.3v2h4.4v1.67H38.53Z"/>
                    <path class="logo-letter" d="M49.21,11.67V4.45h-2.6V2.78h7.08V4.45H51.11v7.22H49.21Z"/>
                    <path class="logo-letter" d="M73.56,11.67V2.78h6.29V4.45h-4.4V6.33h4.3V8h-4.3v3.68H73.56Z"/>
                    <path class="logo-letter" d="M82,11.67V2.78h1.89v8.89H82Z"/>
                    <path class="logo-letter"
            d="M91.18,11.67L89.43,8.51H88v3.16H86.15V2.78h4.17A3.44,3.44,0,0,1,91.57,3,2.6,2.6,0,0,1,93.1,4.51a3.08,3.08,0,0,1,.21,1.14,3,3,0,0,1-.17,1,2.51,2.51,0,0,1-.45.78,2.54,2.54,0,0,1-.63.53,2.39,2.39,0,0,1-.71.29l2,3.38H91.18ZM90,6.85a1.43,1.43,0,0,0,1-.32,1.09,1.09,0,0,0,.38-0.88A1.09,1.09,0,0,0,91,4.77a1.43,1.43,0,0,0-1-.32H88v2.4h2Z"/>
                    <path class="logo-letter"
            d="M102.92,11.67V5.45l-2.51,6.22H99.59L97.08,5.45v6.22H95.19V2.78h2.65L100,8.16l2.16-5.37h2.66v8.89h-1.89Z"/>
                    <path class="logo-icon"
            d="M70.57,7.23a7.24,7.24,0,1,0-7.24,7.24A7.23,7.23,0,0,0,70.57,7.23ZM61.75,12c-0.36.07-.32-0.1-0.21-0.25l0.15-.17c0.77-.87,1.37-1.19.37-1.19s-1.32,0-1.59-.28h0a2.62,2.62,0,0,1-.28-1.59c0-1-.32-0.4-1.2.37L58.81,9c-0.15.11-.32,0.15-0.25-0.21A5.23,5.23,0,0,1,60,6.14a12,12,0,0,1,2.38-.89c2.29-1.65,4.48-2.31,4.95-2s-0.32,2.65-2,4.95a12,12,0,0,1-.89,2.38A5.23,5.23,0,0,1,61.75,12Z"/>
                    <path class="logo-icon" d="M65.08,6.78A1.24,1.24,0,0,1,63.79,8,1.25,1.25,0,1,1,65.08,6.78Z"/>
                </svg>
                <span class="logo-year">2017</span>
            </a>

            <p class="copyright">&copy; 2016–2017 Байконур — проект <a class="link link--primary" target="_blanc"
          href="https://brod.kz/">Бродвея</a>
            </p>
        </div>
    </div>
</footer>