<section class="form-application  {{'form-application--inner' if ticket}}" id="form--add-movie">
	{# {{#unless main}} form-application--inner{} #}
	<div class="container">
		<div class="application-completed">
			<h3 class="form-title">Завершена подача заявок</h3>
			<p>Работы принимались до 5 сентября, но вы можете прийти на фестиваль как зритель</p>
		</div>
		<!--<form action="" class="form form--profile">
			<div class="grid">

				<div class="grid-item form-group--text form-wrapper">
					<h3 class="form-title">Подать свой фильм на фестиваль</h3>
					<div class="grid"><!-- start inner grid -->
		<!--<div class="grid-item grid-item--form">
					    <div class="form-group">
					      <label for="movieName" class="control-label">Название фильма</label>
					      <input class="form-control" type="text" name="movie_name" id="movieName" value="" placeholder="Введите название фильма" onfocus="if(this.placeholder  == 'Введите название фильма') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Введите название фильма'; }" />
					      <p class="info small">Полное название фильма</p>
					    </div><!--end form-group -->
		<!--</div>
					  <div class="grid-item grid-item--form grid-item--year">
					    <div class="form-group">
							<label for="movieYear" class="control-label">Год выпуска</label>
							<div class="select-wrapper">
								<select class="form-control" name="movie_year" id="movieYear">
									<option>2015</option>
									<option>2016</option>
								</select>
							</div>
					    </div><!--end form-group -->
		<!--</div>
					</div><!--end inner grid -->
		<!--<div class="form-group">
						<label for="movieType" class="control-label">Жанр</label>
						<div class="select-wrapper">
							<select class="form-control" name="movie_type" multiple="multiple" id="movieType">
								<option>Комедия</option>
								<option>Трагедия</option>
								<option>Драма</option>
							</select>
						</div>
				  </div><!--end form-group -->
		<!--<div class="form-group">
						<label for="userEmailFeedback" class="control-label">Ссылка на фильм</label>
						<input class="form-control" type="text" name="user_email_feedback" id="userEmailFeedback" value="" placeholder="Укажите ссылку на фильм" onfocus="if(this.placeholder  == 'Укажите ссылку на фильм') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Укажите ссылку на фильм'; }" />
						<p class="info small">Google Drive, DropBox, Яндекс.Диск</p>
					</div>
					<div class="form-group">
						<label for="userMessageFeedback" class="control-label">Краткий синопсис к фильму</label>
						<textarea class="form-control textarea" type="text" name="user_message_feedback" id="userMessageFeedback" cols="30" rows="5" placeholder="Расскажите про свой фильм" onfocus="if(this.placeholder  == 'Расскажите про свой фильм') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Расскажите про свой фильм'; }"></textarea>
						<p class="info small">История создания, творческий путь режиссера и т. д.</p>
					</div>
					<div class="form-footer">
				  	<a href="application.html" class="btn btn--primary">Продолжить подачу</a>
					</div>
				</div><!-- end .grid-item -->

		<!--<div class="form-scheme">
				  <ul class="form-scheme-list">
						<li class="form-scheme-item">
							<h3 class="form-scheme-item-title">Подайте заявку</h3>
							<p class="form-scheme-item-description">Расскажите про заявку, почему решили снимать в этом жанре и тд</p>
						</li>

						<li class="form-scheme-item">
							<h3 class="form-scheme-item-title">Время для модерации</h3>
							<p class="form-scheme-item-description">Модератор рассмотрит Вашу работу. В случае одобрения Ваша работа появится на сайте</p>
						</li>

						<li class="form-scheme-item">
							<h3 class="form-scheme-item-title">Участвуйте в конкурсе</h3>
							<p class="form-scheme-item-description">Теперь Вы являетесь официальным участником конкурса!</p>
						</li>
					</ul>
				</div><!-- end .form-scheme -->

		<!--</div><!-- end .grid -->
		<!--</form>-->
	</div>
	<!-- end .container -->
</section>