<header class="header {{'transparent' if main}} {{'transparent' if error__404}}">
    <div class="container clearfix">
        <nav class="nav nav--user pull-right">
            <a href="#" class="link link--primary link--login" data-toggle="modal" data-target="#modalLogin">
                Войти <span class="fa fa-sign-in"></span>
            </a>
            <a href="#" class="link link--primary link--lang">Ққ</a>
        </nav>
        <a class="btn btn--primary pull-right hidden" href="ticket.html">Купить билет</a>
        <figure class="logo pull-left">
            <a href="main.html"><img src="images/logo.svg" width="190" height="52" alt="Фестиваль кино Байконур"></a>
        </figure>
        <nav class="nav--default nav--primary">
            {# <!-- Если пункт главного меню имеет вложенные пункты добавляется класс has-inner-nav --> #}
            <a class="link link--primary has-inner-nav {{'active' if about}}" href="about.html">
                О фестивале
            </a>
            <a class="link link--primary {{'active' if participants}}" href="participants.html">
                Фильмы
            </a>
            <a class="link link--primary {{'active' if program}}" href="program.html">
                Программа
            </a>
            <a class="link link--primary {{'active' if jury}}" href="jury.html">
                Жюри
            </a>
            <a class="link link--primary {{'active' if accreditation}}" href="accreditation.html">
            Аккредиатция
            </a>
        </nav>
        <nav class="nav nav--default nav--mini">
            <a class="link link--primary" href="winners.html">Победители</a>

            <a class="link link--primary has-inner-nav {{'active' if news}}" href="news.html"> 
                Новости
            </a>
            <a class="link link--primary {{'active' if retro}}" href="retro.html">
                Ретроспектива
            </a>
            <a class="link link--primary {{'active' if video_contest}}" href="video-contest.html">Видеоконкурс</a>
            <a class="link link--primary {{'active' if financing}}" href="financing.html">Финансирование</a>
            <a class="link link--primary {{'active' if participate}}" href="any-contest.html">
                Подать заявку
            </a>
        </nav>

        <!-- end .nav -->
    </div>
    <!-- end .container -->
</header>

<header class="header header--mobile">
    <div class="container clearfix">
        <button type="button" class="btn--menu js-menu-toggle"></button>
        <figure class="logo">
            <a href="main.html">
                {% include "_blocks/logo.njk" %}
            </a>
        </figure>
    </div>
    <!-- end .container -->
</header>

{% include "_blocks/menu.njk" %}