<div class="menu">
  <div class="menu-wrapper">
    <nav class="nav--default nav--primary pull-left">
      {# <!-- Если пункт главного меню имеет вложенные пункты добавляется класс has-inner-nav --> #}
      <a class="link link--primary has-inner-nav {{'active' if about}}" href="about.html">
        О фестивале
      </a>
      <a class="link link--primary {{'active' if participants}}" href="participants.html">
        Фильмы
      </a>
      <a class="link link--primary {{'active' if program}}" href="program.html">
        Программа
      </a>
      <a class="link link--primary {{'active' if jury}}" href="jury.html">
        Жюри
      </a>
      <a class="link link--primary {{'active' if accreditation}}" href="accreditation.html">
            Аккредиатция
            </a>
      <a class="link link--primary" href="winners.html">Победители</a>
      <a class="link link--primary has-inner-nav {{'active' if news}}" href="news.html">
        Новости
      </a>
      <a class="link link--primary {{'active' if retro}}}" href="retro.html">
        Ретроспектива
      </a>
      <a class="link link--primary {{'active' if video_contest}}" href="video-contest.html">Видеоконкурс</a>
      <a class="link link--primary {{'active' if financing}}" href="financing.html">Финансирование</a>
      <a class="link link--primary {{'active' if participate}}" href="application.html">
        Подать заявку
      </a>

      {# <!-- <a class="link link--primary {{#is title 'participants'}} active{{/is}}" href="participants.html">
          Участники
        </a> --> #}

      <a href="#" class="link link--primary link--login" data-toggle="modal" data-target="#modalLogin">
        Войти <span class="fa fa-sign-in"></span>
      </a>
      <a href="#" class="link link--primary link--lang">Ққ</a>
      {# <!-- <a href="winners.html" class="link link--primary {{#is title 'winners'}} active{{/is}}">
          Победители
        </a> --> #}
    </nav>
    <!-- end .nav -->
  </div>
  <!-- end .menu-wrapper -->
</div>
<!-- end .menu -->