

<div class="modal fade modal--auth modal--reg" id="modalReg" tabindex="-1" role="dialog" aria-labelledby="modalRegLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon icon--close"></span></button>
        <a href="#" class="link link--title js-open-next-modal" data-dismiss="modal" data-next-modal="#modalLogin">Вход</a>
        <div class="modal-title">Регистрация</div>
      </div>
      <div class="modal-body">
        <form action="" class="form form--auth">
          <div class="form-group">
            <label for="userEmailReg" class="control-label">Почта</label>
            <input class="form-control" type="text" name="user_email_reg" id="userEmailReg" value="" placeholder="Укажите электронную почту" onfocus="if(this.placeholder  == 'Укажите электронную почту') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Укажите электронную почту'; }" />
          </div>
<!--           <div class="form-group">
            <label for="userPhone" class="control-label">Телефон</label>
            <div class="phone-group clearfix">
              <span class="phone-helper pull-left">+7</span>
              <input class="form-control pull-right js-masked" type="text" name="user_phone" id="userPhone" value="" placeholder="___ ___ __ __" onfocus="if(this.placeholder  == '___ ___ __ __') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = '___ ___ __ __'; }" />
              <div class="help-block">Неправильный пароль</div>
            </div>
          </div> -->
          <div class="form-group form-group--phone">
            <label for="userPhone" class="control-label">Телефон</label>
            <input class="form-control pull-right js-masked" type="text" name="user_phone" id="userPhone" value="" placeholder="+7 ___ ___ __ __" onfocus="if(this.placeholder  == '+7 ___ ___ __ __') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = '+7 ___ ___ __ __'; }" />
            <div class="help-block">Неправильный пароль</div>
          </div>
          <div class="form-group">
            <label for="userPasswordReg" class="control-label">Пароль</label>
            <input class="form-control" type="text" name="user_password_reg" id="userPasswordReg" value="" placeholder="Придумайте пароль" onfocus="if(this.placeholder  == 'Придумайте пароль') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Придумайте пароль'; }" />
            <div class="help-block">Неправильный пароль</div>
          </div>
          <div class="form-group">
            <label for="userPasswordRegRepeat" class="control-label">Подтверждение  пароля</label>
            <input class="form-control" type="text" name="user_password_reg_repeat" id="userPasswordRegRepeat" value="" placeholder="Повторите пароль" onfocus="if(this.placeholder  == 'Повторите пароль') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Повторите пароль'; }" />
            <div class="help-block">Неправильный пароль</div>
          </div>
          <div class="form-help">
            <div class="form-group checkbox">
              <input type="checkbox" class="form-control" id="userConditions" name="user_conditions" checked />
              <label for="userConditions" class="control-label">Я согласен с условиями <a href="#" class="link" data-toggle="modal" data-target="#modalConditions" data-dismiss="modal">пользовательского соглашения</a></label>
            </div>
          </div>
          <div class="form-group form-group--submit">
            <button type="button" class="btn btn--primary" data-toggle="modal" data-target="#modalAbout" data-dismiss="modal">Зарегистрироваться</button>
          </div>
        </form>
        <section class="auth-soc">
          <p class="auth-soc-title">или</p>
          <ul class="auth-soc-list">
            <li class="auth-soc-list-item"><a href="#" class="link--social fb"><span class="icon icon--social fb"></span>через Фейсбук</a></li>
            <li class="auth-soc-list-item"><a href="#" class="link--social twi"><span class="icon icon--social twi"></span>через Твиттер</a></li>
          </ul>
          <ul class="auth-soc-list">
            <li class="auth-soc-list-item"><a href="#" class="link--social vk"><span class="icon icon--social vk"></span>через Вконтакте</a></li>
            <li class="auth-soc-list-item"><a href="#" class="link--social google"><span class="icon icon--social google"></span>через Гугл плюс</a></li>
          </ul>
        </section>
      </div><!-- end .modal-body -->
      <div class="modal-footer">
        <p>Уже есть аккаунт?<a href="#" class="link link--form" data-toggle="modal" data-target="#modalLogin" data-dismiss="modal">Войти</a></p>
      </div><!-- end .modal-footer -->
    </div><!-- end .modal-content -->
  </div><!-- end .modal-dialog -->
</div><!-- end .modal -->
