
<div class="modal fade modal--auth modal--pass" id="modalPass" tabindex="-1" role="dialog" aria-labelledby="modalPassLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon icon--close"></span></button>
        <div class="modal-title">Восстановление пароля</div>
      </div>
      <div class="modal-body">
        <form action="" class="form form--auth form--pass">
          <div class="form-group">
            <label for="userEmailRecover" class="control-label">Почта</label>
            <input class="form-control" type="text" name="user_email" id="userEmailRecover" value="" placeholder="Укажите свою электронную почту" onfocus="if(this.placeholder  == 'Укажите свою электронную почту') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Укажите свою электронную почту'; }" />
          </div>
          <div class="form-group form-group--submit">
            <button type="button" class="btn btn--primary">Отправить</button>
          </div>
        </form>
      </div><!-- end .modal-body -->
      <div class="modal-footer">
        <p>Нет, спасибо.<a href="#" class="link link--form js-open-next-modal" data-dismiss="modal" data-next-modal="#modalLogin" >Я вспомнил пароль</a></p>
      </div><!-- end .modal-footer -->
    </div><!-- end .modal-content -->
  </div><!-- end .modal-dialog -->
</div><!-- end .modal -->
