
<div class="modal fade modal--reglament" id="modalReglament" tabindex="-1" role="dialog" aria-labelledby="modalReglamentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close hidden" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon icon--close"></span></button>
        <div class="modal-title">Пользовательское соглашение</div>
      </div>
      <div class="modal-body">
        <ul class="list--default">
          <li class="list-item">Первый шаг к кинематографу был сделан в 1685 году, когда был изобретён «волшебный фонарь» — камера обскура (вопреки информации о более ранних событиях в других странах, таких как театр теней в Китае и Японии).</li>
          <li class="list-item">Второй шаг к кинематографу сделал в 1830 году Майкл Фарадей и его друг Макс Роджер. Вся Европа старалась изобрести аппарат, чтобы оживить рисунок. Прибор Фарадея назывался Фенакистископом. К аппарату прилагался ряд последовательных картинок. Учёный Жозеф Плато занимался разложением движения на фазы (например, движение человека). Когда Фарадей получил в руки эти труды, ему до завершения финакистископа оставалось совсем немного.</li>
          <li class="list-item">Третий шаг состоялся в 1877 году с изобретением хронофотографии. Он стал возможен благодаря работам Луи Дагера и Жозе Ньепса, разработавших мокрый коллодионный процесс с достаточно высокой светочувствительностью, но требующий приготовления фотоматериала непосредственно перед съёмкой.</li>
        </ul>
      </div><!-- end .modal-body -->
      <div class="modal-footer">
        <p><a href="#" class="link link--form" data-dismiss="modal">С соглашением ознакомился</a></p>
      </div><!-- end .modal-footer -->
    </div><!-- end .modal-content -->
  </div><!-- end .modal-dialog -->
</div><!-- end .modal -->
