
<div class="modal fade modal--result" id="modalResult" tabindex="-1" role="dialog" aria-labelledby="modalResultLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close hidden" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon icon--close"></span></button>
        <div class="modal-title">Спасибо за заявку!</div>
      </div>
      <div class="modal-body">
        <p>Ваша работа скоро появится на сайте.</p>
      </div><!-- end .modal-body -->
      <div class="modal-footer">
        <p><a href="main.html" class="link link--form">Вернуться на главную страницу</a></p>
      </div><!-- end .modal-footer -->
    </div><!-- end .modal-content -->
  </div><!-- end .modal-dialog -->
</div><!-- end .modal -->
