
<div class="modal fade modal--auth modal--login" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon icon--close"></span></button>
        <div class="modal-title">Вход</div>
        <a href="#" class="link link--title js-open-next-modal" data-dismiss="modal" data-next-modal="#modalReg">Регистрация</a>
      </div>
      <div class="modal-body">
        <form action="" class="form form--auth">
          <div class="form-tip">Вы можете использовать аккаунт brod.kz</div>
          <div class="form-group">
            <label for="userEmailLogin" class="control-label">Почта</label>
            <input class="form-control" type="text" name="user_email_login" id="userEmailLogin" value="" placeholder="Укажите электронную почту" onfocus="if(this.placeholder  == 'Укажите электронную почту') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Укажите электронную почту'; }" />
          </div>
          <div class="form-group">
            <label for="userPasswordLogin" class="control-label">Пароль</label>
            <input class="form-control" type="text" name="user_password_login" id="userPasswordLogin" value="" placeholder="Введите пароль" onfocus="if(this.placeholder  == 'Введите пароль') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Введите пароль'; }" />
            <div class="help-block">Неправильный пароль</div>
          </div>
          <div class="form-help clearfix hidden">
            <div class="form-group checkbox">
              <input type="checkbox" class="form-control" id="userRemember" name="user_remember" checked />
              <label for="userRemember" class="control-label">Запомнить меня</label>
            </div>
          </div>
          <div class="form-group form-group--submit">
            <button type="button" class="btn btn--primary">Войти</button>
            <a href="#" class="link link--form js-open-next-modal" data-dismiss="modal" data-next-modal="#modalPass">Напомнить пароль?</a>
          </div>
        </form>
        <section class="auth-soc">
          <p class="auth-soc-title">или</p>
          <ul class="auth-soc-list">
            <li class="auth-soc-list-item"><a href="#" class="link--social fb"><span class="icon icon--social fb"></span>через Фейсбук</a></li>
            <li class="auth-soc-list-item"><a href="#" class="link--social twi"><span class="icon icon--social twi"></span>через Твиттер</a></li>
          </ul>
          <ul class="auth-soc-list">
            <li class="auth-soc-list-item"><a href="#" class="link--social vk"><span class="icon icon--social vk"></span>через Вконтакте</a></li>
            <li class="auth-soc-list-item"><a href="#" class="link--social google"><span class="icon icon--social google"></span>через Гугл плюс</a></li>
          </ul>
        </section>
      </div><!-- end .modal-body -->
      <div class="modal-footer">
        <p>Нет аккаунта?<a href="#" class="link link--form" data-toggle="modal" data-target="#modalReg" data-dismiss="modal">Зарегистрироваться</a></p>
      </div><!-- end .modal-footer -->
    </div><!-- end .modal-content -->
  </div><!-- end .modal-dialog -->
</div><!-- end .modal -->
