
<div class="payment-wrapper">
  <div class="container">
    <div class="payment payment--movie">
      <button type="button" class="btn btn--close"><span class="icon icon--close"></span></button>
      <form action="" class="form form--payment">
        <div class="form-section form-section--movie is-chosen">
          <h4 class="title--secondary"><span class="step">1</span>Выберите сезон для оплаты</h4>
          <div class="form-col">
            <div class="form-group checkbox">
              <input type="checkbox" class="form-control" id="season1" name="1" value="500" checked />
              <label for="season1" class="control-label">1 сезон 500 <span class="tenge">a</span></label>
            </div>
            <div class="form-group checkbox">
              <input type="checkbox" class="form-control" id="season2" name="2" value="400" />
              <label for="season2" class="control-label">2 сезон 400 <span class="tenge">a</span></label>
            </div>
            <div class="form-group checkbox">
              <input type="checkbox" class="form-control" id="season3" name="3" value="300" />
              <label for="season3" class="control-label">3 сезон 300 <span class="tenge">a</span></label>
            </div>
          </div>
          <div class="form-col">
            <div class="form-group checkbox">
              <input type="checkbox" class="form-control" id="season4" name="4" value="200" />
              <label for="season4" class="control-label">4 сезон 200 <span class="tenge">a</span></label>
            </div>
            <div class="form-group checkbox">
              <input type="checkbox" class="form-control" id="season5" name="5" value="2500" />
              <label for="season5" class="control-label">5 сезон 2500 <span class="tenge">a</span></label>
            </div>
          </div>
        </div><!-- end .fom-section -->
        <div class="form-section form-section--method">
          <h4 class="title--secondary"><span class="step">2</span>Выберите способ оплаты</h4>
<!--           <div class="radio">
            <div class="form-group">
              <input type="radio" class="form-control" id="personalAccount" name="payment_method" />
              <label for="personalAccount" class="control-label">Средства на личном счете</label>
              <p class="payment-meta">Осталось 2 504 а</p>
            </div>
            <div class="form-group">
              <input type="radio" class="form-control" id="bankCard" name="payment_method" />
              <label for="bankCard" class="control-label">Банковская карта</label>
              <ul class="payment-meta">
                <li class="meta-item"><img src="images/logo-visa.jpg" alt=""></li>
                <li class="meta-item"><img src="images/logo-visa-electron.jpg" alt=""></li>
                <li class="meta-item"><img src="images/logo-mastercard.jpg" alt=""></li>
                <li class="meta-item"><img src="images/logo-maestro.jpg" alt=""></li>
                <li class="meta-item"><img src="images/logo-cirrus.jpg" alt=""></li>
                <li class="meta-item"><img src="images/logo-amex.jpg" alt=""></li>
              </ul>
            </div>
            <div class="form-group">
              <input type="radio" class="form-control" id="qiwiWallet" name="payment_method" />
              <label for="qiwiWallet" class="control-label">QIWI-терминал</label>
              <figure class="payment-meta"><img src="images/logo-qiwi.jpg" alt=""></figure>
            </div>
          </div> -->

          <div class="radio">
            <div class="form-group">
              <input type="radio" class="form-control" id="bankCard" name="payment_method" />
              <label for="bankCard" class="control-label">Банковская карта</label>
              <ul class="payment-meta payment-meta--bank">
                <li class="meta-item"><img src="images/logo-visa.jpg" alt=""></li>
                <li class="meta-item"><img src="images/logo-visa-electron.jpg" alt=""></li>
                <li class="meta-item"><img src="images/logo-mastercard.jpg" alt=""></li>
                <li class="meta-item"><img src="images/logo-maestro.jpg" alt=""></li>
                <li class="meta-item"><img src="images/logo-cirrus.jpg" alt=""></li>
                <li class="meta-item"><img src="images/logo-amex.jpg" alt=""></li>
              </ul>
            </div>
<!--             <div class="form-group">
              <input type="radio" class="form-control" id="qiwiWallet" name="payment_method" />
              <label for="qiwiWallet" class="control-label">QIWI-терминал</label>
              <figure class="payment-meta payment-meta--qiwi"><img src="images/qiwi-terminal.png" alt=""></figure>
            </div> -->
            <div class="form-group is-disabled">
              <input type="radio" class="form-control" id="personalBalance" name="payment_method" />
              <label for="personalBalance" class="control-label">C личного счета</label>
              <p class="payment-meta payment-meta--balance">2 544 <span class="tenge">a</span> <span class="meta-message">Недостаточно средств</span></p>
            </div>
          </div>
        </div><!-- end .form-section -->
        <div class="form-section form-section--sum">
          <h4 class="title--secondary"><span class="step">3</span>К оплате: <span class="number"><span class="sum">1 500</span> <span class="letter tenge">a</span></span> за сериал «Наш милый доктор»</h4>
          <div class="form-group form-group--promo">
            <div class="promo-normal">
              <label for="userPromoCode" class="control-label">Есть промо код?</label>
              <input type="text" class="form-control" id="userPromoCode" name="user_promo_code" placeholder="Введите промо-код" onfocus="if(this.placeholder  == 'Введите промо-код') {this.placeholder = '';}" onblur="if(this.value == '') { this.placeholder = 'Введите промо-код'; }" />
              <button type="button" class="btn btn--swag js-promo-code-submit is-disabled">Получить скидку</button>
              <span class="tip">Купон не найден</span>
            </div>
            <div class="promo-success">
              Вы использовали промо-код <span class="promo-code">ASJDAJ89</span> <br>и сэкономили <span class="economy">890</span> тенге!
              <button type="button" class="btn btn--swag">Пересчитать скидку</button>
            </div>
          </div>
          <div class="form-group checkbox">
            <input type="checkbox" class="form-control" id="userConditionsMovie" name="user_conditions_movie" checked />
            <label for="userConditionsMovie" class="control-label">Я согласен с условиями <a href="#" class="link" data-toggle="modal" data-target="#modalConditions">пользовательского соглашения</a></label>
          </div>
          <div class="form-group form-group--submit">
            <!-- <button type="button" class="btn btn--primary is-disabled" data-toggle="modal" data-target="#modalPaymentCinema">Оплатить</button> -->
            <button type="button" class="btn btn--primary is-disabled" data-sum="">Оплатить</button>
          </div>
        </div><!-- end .form-section -->
      </form>
    </div><!-- end .payment -->

    <div class="payment--success clearfix hidden">
      <span class="icon icon--success pull-left"></span>
      <div class="success-body">
        <h3 class="title--primary">Оплата прошла успешно!</h3>
        <p class="success-description">Вы успешно купили фильм «Осень в моем сердце». Посмотреть его можно здесь, в любое время. Также он доступен к личном кабинете, в разделе покупок.</p>
        <a href="cinema-watch.html" class="btn btn--primary">Перейти к просмотру фильма</a>
      </div>
    </div><!-- end .payment--success -->
  </div><!-- end .container -->
</div><!-- end .payment-wrapper -->
