
<div class="movies-hero active">
  <div class="container">
    <div class="swiper-container swiper-movies-hero">
      <button class="btn arrow--left"></button>
      <button class="btn arrow--right"></button>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="movies-hero-item" style="background-image: url('images/movie-hero1.jpg');-webkit-background-size:cover;background-size:cover;" data-description="В основе сюжета история обычного алматинского студента, мечтающего о настоящей любви, чья жизнь течет спокойно и размеренно, пока в нее не врывается Она – красивая, бесстрашная и полная сюрпризов. Она переворачивает все в его мире с ног на голову, и через несколько дней таинственно исчезает, оставляя героя и зрителя заинтригованными: куда она исчезла и суждено ли им быть вместе? Легкая, яркая, смешная и трогательная история разворачивается в Алма-Ате в наши дни." data-views="1200" data-director="Сакен Жолдас" data-director-link="person.html" data-rating="0.23" data-timing="91" data-movie-link="movie1.html" data-id="id23" data-serial="true" data-cost="321">
            <hgroup class="hgroup movies-meta">
              <p class="meta-year">Казахстан, 2013</p>
              <h2 class="title--primary">Сказ о розовом зайце</h2>
              <ul class="meta-genres">
                <li class="genres-item">Полнометражный фильм</li>
                <li class="genres-item">Мелодрама</li>
                <li class="genres-item">Комедия</li>
              </ul>
            </hgroup>
            <button type="button" class="btn btn--primary js-movie-payment">Смотреть за 500 <span class="tenge">a</span></button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="movies-hero-item" style="background-image: url('//www.kinonews.ru/insimgs/trailer/trailer9967.jpg');-webkit-background-size:cover;background-size:cover;" data-description="Культовый советский художественный кинофильм, снятый в 1988 году на студии «Казахфильм» имени Шакена Айманова. Режиссёр Рашид Нугманов. Сценарий: Александр Баранов и Бахыт Килибаев. Премьера фильма состоялась 16 сентября 1988 года в Алма-Ате и в феврале 1989 года в Москве. Главные роли в фильме исполнили рок-музыканты — Виктор Цой («Кино») и Пётр Мамонов («Звуки Му»). Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut assumenda soluta quod nisi repellendus laboriosam, dolore error adipisci blanditiis saepe deserunt doloremque recusandae accusamus. Incidunt illo in harum tenetur modi?" data-views="43390" data-director="Рашид Нугманов" data-director-link="article.html" data-rating="0.98" data-timing="81" data-movie-link="movie2.html" data-id="id17" data-serial="false" data-cost="500">
            <hgroup class="hgroup movies-meta">
              <p class="meta-year">Казахстан, 1988</p>
              <h2 class="title--primary">Игла</h2>
              <ul class="meta-genres">
                <li class="genres-item">Полнометражный фильм</li>
                <li class="genres-item">Драма</li>
              </ul>
            </hgroup>
            <button type="button" class="btn btn--primary js-movie-payment">Смотреть за 500 <span class="tenge">a</span></button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="movies-hero-item" style="background-image: url('//img.nur.kz/afisha/05/3/on_iona_top.jpg');-webkit-background-size:cover;background-size:cover;" data-description="Для свежего взгляда на то, что давно известно, нужно все запутать, поменять местами и преувеличить. Кинематограф Тима Бертона— это приключения Алисы в Зазеркалье, которую чаще всего играет Джонни Депп." data-director-link="industry.html" data-views="2300" data-director="Марина Кунарова" data-rating="0.45" data-timing="90" data-movie-link="movie3.html" data-id="id56" data-serial="true" data-cost="223">
            <hgroup class="hgroup movies-meta">
              <p class="meta-year">Казахстан, 2010</p>
              <h2 class="title--primary">Он и Она</h2>
              <ul class="meta-genres">
                <li class="genres-item">Полнометражный фильм</li>
                <li class="genres-item">Мелодрама</li>
                <li class="genres-item">Комедия</li>
              </ul>
            </hgroup>
            <button type="button" class="btn btn--primary js-movie-payment" data-watch-link="cinema-watch.html">Смотреть за 500 <span class="tenge">a</span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="movies-hero-body">
      <ul class="movies-meta clearfix">
        <li class="meta-item pull-right">
          <ul class="sharing">
            <li class="sharing-item">
              <button class="btn btn--sharing">Скопировать ссылку</button>
            </li>
            <li class="sharing-item">
              <button class="btn btn--sharing fb">
                <span class="icon icon--social fb"></span>
                Поделиться
                <span class="number">12</span>
              </button>
            </li>
            <li class="sharing-item">
              <button class="btn btn--sharing vk">
                <span class="icon icon--social vk"></span>
                Поделиться
                <span class="number">12</span>
              </button>
            </li>
            <li class="sharing-item">
              <button class="btn btn--sharing twi">
                <span class="icon icon--social twi"></span>
                Поделиться
                <span class="number">12</span>
              </button>
            </li>
            <li class="sharing-item">
              <button class="btn btn--sharing wh">
                <span class="icon icon--social wh"></span>
                <span class="number">12</span>
              </button>
            </li>
          </ul>
        </li>
        <li class="meta-item meta-views"><span class="icon icon--views icon--lg"></span><span class="number">21 342</span></li>
        <li class="meta-item meta-rating">
          <div class="movies-item-rating clearfix" data-id="id56">
            <div class="starbox" data-rating="0.32"></div>
            <span class="movies-item-rating-total">7,3</span>
          </div>
        </li>
      </ul>
      <div class="movies-info clearfix">
        <aside class="aside pull-right">
          <p class="movie-length">Продолжительность: <span class="number">90</span> мин</p>
          <p class="movie-director">Режиссер: <a href="person.html" class="link">Сакен Жолдас</a></p>
        </aside>
        <h4 class="title--primary">О фильме</h4>
        <p class="movies-info-description">В основе сюжета история обычного алматинского студента, мечтающего о настоящей любви, чья жизнь течет спокойно и размеренно, пока в нее не врывается Она – красивая, бесстрашная и полная сюрпризов. Она переворачивает все в его мире с ног на голову, и через несколько дней таинственно исчезает, оставляя героя и зрителя заинтригованными: куда она исчезла и суждено ли им быть вместе? Легкая, яркая, смешная и трогательная история разворачивается в Алма-Ате в наши дни.</p>
        <a href="movie-payment.html" class="link movie-link">Полная информация о фильме</a>
      </div><!-- end .movies-info -->
    </div><!-- end .movies-body -->
  </div>
</div>

{{>movie-payment}}
