
<div class="movies-hero movies-hero--watch active">
  <div class="container">
    <div class="video--primary">
      <a href="cinema.html" class="link--backwards pull-right">К выбору фильма</a>
      <h1>Шал, Казахстан 2012</h1>
      <h2 class="title--primary">Шал, Казахстан 2012</h2>
      <div class="video-player">
        <iframe class="video-iframe" width="1000" height="500" src="//www.youtube.com/embed/dxvKntdEZPw?showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <ul class="watch-meta">
        <li class="dropdown dropdown--dashed watch-meta-item">
          <button id="seasonMenu" type="button" class="btn btn--dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="dropdown-status">Трейлер</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="seasonMenu">
            <li class="dropdown-menu-item link active">Трейлер</li>
            <li class="dropdown-menu-item link">Трейлер 2</li>
          </ul>
        </li>
        <li class="dropdown dropdown--dashed watch-meta-item">
          <button id="seasonMenu" type="button" class="btn btn--dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="dropdown-status">1 сезон</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="seasonMenu">
            <li class="dropdown-menu-item link active">1 сезон</li>
            <li class="dropdown-menu-item link">2 сезон</li>
            <li class="dropdown-menu-item link">3 сезон</li>
            <li class="dropdown-menu-item link">4 сезон</li>
            <li class="dropdown-menu-item link">5 сезон</li>
            <li class="dropdown-menu-item link">2 сезон</li>
            <li class="dropdown-menu-item link">3 сезон</li>
            <li class="dropdown-menu-item link">4 сезон</li>
            <li class="dropdown-menu-item link">5 сезон</li>
            <li class="dropdown-menu-item link">2 сезон</li>
            <li class="dropdown-menu-item link">3 сезон</li>
            <li class="dropdown-menu-item link">4 сезон</li>
            <li class="dropdown-menu-item link">5 сезон</li>
          </ul>
        </li>
        <li class="dropdown dropdown--dashed watch-meta-item">
          <button id="seriesMenu" type="button" class="btn btn--dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="dropdown-status">1 серия</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="seriesMenu">
            <li class="dropdown-menu-item link active">1 серия</li>
            <li class="dropdown-menu-item link">2 серия</li>
            <li class="dropdown-menu-item link">3 серия</li>
            <li class="dropdown-menu-item link">4 серия</li>
            <li class="dropdown-menu-item link">5 серия</li>
          </ul>
        </li>
      </ul>
      <div class="video-tip pull-right"><a href="feedback.html" class="link">Не проигрывается видео?</a></div>
    </div><!-- end .video--primary -->
    <div class="movies-hero-body">
      <ul class="movies-meta clearfix">
        <li class="meta-item pull-right">
          <ul class="sharing">
            <li class="sharing-item">
              <button class="btn btn--sharing">Скопировать ссылку</button>
            </li>
            <li class="sharing-item">
              <button class="btn btn--sharing fb">
                <span class="icon icon--social fb"></span>
                Поделиться
                <span class="number">12</span>
              </button>
            </li>
            <li class="sharing-item">
              <button class="btn btn--sharing vk">
                <span class="icon icon--social vk"></span>
                Поделиться
                <span class="number">12</span>
              </button>
            </li>
            <li class="sharing-item">
              <button class="btn btn--sharing twi">
                <span class="icon icon--social twi"></span>
                Поделиться
                <span class="number">12</span>
              </button>
            </li>
          </ul>
        </li>
        <li class="meta-item meta-views"><span class="icon icon--views icon--lg"></span><span class="number">12 141</span></li>
        <li class="meta-item meta-rating">
          <div class="movies-item-rating clearfix">
            <div class="starbox" data-rating="0.87"></div>
            <span class="movies-item-rating-total"></span>
          </div>
        </li>
      </ul>
      <div class="movies-info clearfix">
        <aside class="aside pull-right">
          <p class="movie-length">Продолжительность: <span class="number">102</span> мин</p>
          <p class="movie-director">Режиссер: <a href="person.html" class="link">Ермек Турсунов</a></p>
        </aside>
        <h4 class="title--primary">О фильме</h4>
        <p class="movies-info-description">Фильм, снятый по мотивам повести Эрнеста Хемингуэя «Старик и море». Премьера картины состоялась 11 октября 2012 года. Фильм является второй частью трилогии, задуманной режиссёром. Первым фильмом стал фильм «Невестка». В сентябре 2013 года Казахстан выдвинул фильм «Шал» на соискание премии «Оскар» в номинации «Лучший фильм на иностранном языке».</p>
        <a href="movie-payment.html" class="link">Полная информация о фильме</a>
      </div><!-- end .movies-info -->
    </div><!-- end .movies-body -->
  </div>
</div>
