
<!-- Swiper -->
<div class="swiper-container swiper-movie-online">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="movies-item">
        <div class="movies-item-body">
          <a href="#" class="link--overlay"></a>
          <figure class="movies-item-cover"><img src="images/movies-online1.jpg" alt=""></figure>
          <h5 class="movies-item-title">Ликвидатор</h5>
        </div>
        <div class="movies-item-rating">
          <div class="starbox" data-rating="0.25"></div>
          <span class="movies-item-rating-total">7,3</span>
        </div><!-- end .movies-item-rating -->
      </div>
    </div>
    <div class="swiper-slide">
      <div class="movies-item">
        <div class="movies-item-body">
          <a href="#" class="link--overlay"></a>
          <figure class="movies-item-cover"><img src="images/movies-online2.jpg" alt=""></figure>
          <h5 class="movies-item-title">Девушка-ветер</h5>
        </div>
        <div class="movies-item-rating">
          <div class="starbox" data-rating="0.54"></div>
          <span class="movies-item-rating-total">7,3</span>
        </div><!-- end .movies-item-rating -->
      </div>
    </div>
    <div class="swiper-slide">
      <div class="movies-item">
        <div class="movies-item-body">
          <a href="#" class="link--overlay"></a>
          <figure class="movies-item-cover"><img src="images/movies-online3.jpg" alt=""></figure>
          <h5 class="movies-item-title">Старик</h5>
        </div>
        <div class="movies-item-rating clearfix">
          <div class="starbox" data-rating="0.73"></div>
          <span class="movies-item-rating-total">7,3</span>
        </div><!-- end .movies-item-rating -->
      </div>
    </div>
    <div class="swiper-slide">
      <div class="movies-item">
        <a href="#" class="label--default label--primary label--movies link--label">Бесплатно</a>
        <div class="movies-item-body">
          <a href="#" class="link--overlay"></a>
          <figure class="movies-item-cover"><img src="images/movies-online4.jpg" alt=""></figure>
          <h5 class="movies-item-title">Жас Улан</h5>
        </div>
        <div class="movies-item-rating clearfix">
          <div class="starbox" data-rating="0.17"></div>
          <span class="movies-item-rating-total">7,3</span>
        </div><!-- end .movies-item-rating -->
      </div>
    </div>
    <div class="swiper-slide">
      <div class="movies-item">
        <div class="movies-item-body">
          <a href="#" class="link--overlay"></a>
          <figure class="movies-item-cover"><img src="images/movies-online5.jpg" alt=""></figure>
          <h5 class="movies-item-title">Заговор Оберона</h5>
        </div>
        <div class="movies-item-rating clearfix">
          <div class="starbox" data-rating="0.58"></div>
          <span class="movies-item-rating-total">7,3</span>
        </div><!-- end .movies-item-rating -->
      </div>
    </div>
    <div class="swiper-slide">
      <div class="movies-item">
        <a href="#" class="label--default label--secondary label--movies link--label">Эксклюзив</a>
        <div class="movies-item-body">
          <a href="#" class="link--overlay"></a>
          <figure class="movies-item-cover"><img src="images/movies-online0.jpg" alt=""></figure>
          <h5 class="movies-item-title">Встречная проверка</h5>
        </div>
        <div class="movies-item-rating clearfix">
          <div class="starbox" data-rating="0.27"></div>
          <span class="movies-item-rating-total">7,3</span>
        </div><!-- end .movies-item-rating -->
      </div>
    </div>
    <div class="swiper-slide">
      <div class="movies-item">
        <div class="movies-item-body">
          <a href="#" class="link--overlay"></a>
          <figure class="movies-item-cover"><img src="images/movies-online1.jpg" alt=""></figure>
          <h5 class="movies-item-title">Ликвидатор</h5>
        </div>
        <div class="movies-item-rating clearfix">
          <div class="starbox" data-rating="0.7"></div>
          <span class="movies-item-rating-total">7,3</span>
        </div><!-- end .movies-item-rating -->
      </div>
    </div>
    <div class="swiper-slide">
      <div class="movies-item">
        <a href="#" class="label--default label--secondary label--movies link--label">Эксклюзив</a>
        <div class="movies-item-body">
          <a href="#" class="link--overlay"></a>
          <figure class="movies-item-cover"><img src="images/movies-online0.jpg" alt=""></figure>
          <h5 class="movies-item-title">Встречная проверка</h5>
        </div>
        <div class="movies-item-rating clearfix">
          <div class="starbox" data-rating="0.3"></div>
          <span class="movies-item-rating-total">7,3</span>
        </div><!-- end .movies-item-rating -->
      </div>
    </div>
  </div>
</div><!-- end .swiper-container -->
