
<div class="grid-item grid-item--secondary">
  <div class="thumb thumb--article">
    <a href="#" class="label--default label--article link--image"><span class="icon icon--type photo"></span></a>
    <div class="thumb-meta">
      <figure class="thumb-image"><a href="#" class="link--image"><img src="images/thumb-article1.jpg" alt=""></a></figure>
      <p class="thumb-category"><a href="#" class="link">Мировое кино</a></p>
      <p class="thumb-date">11 августа</p>
    </div>
    <h4 class="thumb-title"><a href="#" class="link">Капитан Америка ответил Спилбергу за супергеройское кино</a></h4>
    <p class="thumb-description">На прошедшей неделе Стивен Спилберг напророчил смерть супергеройского кино в обозримом будущем, сравнив будущий закат жанра с потерей интереса к некогда популярным вестернам.</p>
  </div>

  <div class="thumb thumb--article">
    <div class="thumb-meta">
      <figure class="thumb-image"><a href="#" class="link--image"><img src="images/thumb-article3.jpg" alt=""></a></figure>
      <p class="thumb-category"><a href="#" class="link">Казахстанское кино</a></p>
      <p class="thumb-date">11 августа</p>
    </div>
    <h4 class="thumb-title"><a href="#" class="link">Восстанет ли «Феникс»?</a></h4>
    <p class="thumb-description">Еще не успели утихнуть отголоски скандала, связанного с воистину эпическим сериалом «Казахское ханство», как среди казахстанских кинематографистов вновь разгорелось недовольство.</p>
  </div>
</div><!-- end .grid-item -->

<div class="grid-item grid-item--secondary">
  <div class="thumb thumb--article">
    <a href="#" class="label--default label--article link--image"><span class="icon icon--type video"></span></a>
    <div class="thumb-meta">
      <figure class="thumb-image"><a href="#" class="link--image"><img src="images/thumb-article2.jpg" alt=""></a></figure>
      <p class="thumb-category"><a href="#" class="link">Звездные новости</a></p>
      <p class="thumb-date">9 августа</p>
    </div>
    <h4 class="thumb-title"><a href="#" class="link">Джесси Айзенберг: <br>«У нас с Кристен Стюарт удивительная связь»</a></h4>
    <p class="thumb-description">В прокат выходит фильм «Ультра американцы», собравший в себе все, что привлекает и радует зрителя в последнее время — шпионов, безумное веселье и Джесси Айзенберга.</p>
  </div>

  <div class="thumb thumb--article">
    <a href="#" class="label--default label--article link--image"><span class="icon icon--type photo"></span></a>
    <div class="thumb-meta">
      <figure class="thumb-image"><a href="#" class="link--image"><img src="images/thumb-article4.jpg" alt=""></a></figure>
      <p class="thumb-category"><a href="#" class="link">Казахстанское кино</a></p>
      <p class="thumb-date">9 августа</p>
    </div>
    <h4 class="thumb-title"><a href="#" class="link">Телесериал «Сыргалым» выходит на DVD</a></h4>
    <p class="thumb-description">19 июня 2015 года, в г. Алматы, в главном зале магазина «Меломан», расположенного по адресу: ул. Гоголя, 58, уг. ул. Панфилова, в 12:00 состоится презентация официального DVD-издания сериала «Сыргалым».</p>
  </div>
</div><!-- end .grid-item -->

<div class="grid-item grid-item--secondary grid-item--reviews">
  <div class="reviews-box">
    <div class="thumb thumb--article">
      <div class="thumb-meta">
        <p class="thumb-category"><a href="#" class="link">Рецензии</a></p>
        <p class="thumb-date">9 августа</p>
      </div>
      <h4 class="thumb-title"><a href="#" class="link">Побудь в моей шкуре</a></h4>
      <p class="thumb-description">Английский клипмейкер Джонатан Глэйзер, работавший с такими знаменитыми группами как «Blur» и «Radiohead», обратил свой взор и на полнометражный кинематограф, не став при этом, правда, первопроходцем при смене трудового амплуа.</p>
      <p class="thumb-author"><a href="#" class="link">Айгерим Алимбаева</a></p>
    </div>
    <div class="thumb thumb--article">
      <div class="thumb-meta">
        <p class="thumb-category"><a href="#" class="link">Рецензии</a></p>
        <p class="thumb-date">7 августа</p>
      </div>
      <h4 class="thumb-title"><a href="#" class="link">«Он и Она», или Кино о «Них»</a></h4>
      <p class="thumb-description">Алкмаарский «живодёр» Том Сикс, продолжает удивлять, придуманной в извращённых недрах его голландской фантазии, таким творением, как  человеческая многоножка — на этот раз забабацанная в местах не столь отдалённых.</p>
      <p class="thumb-author"><a href="#" class="link">Нуртас Адамбай</a></p>
    </div>
    <div class="thumb thumb--article">
      <div class="thumb-meta">
        <p class="thumb-category"><a href="#" class="link">Рецензии</a></p>
        <p class="thumb-date">5 августа</p>
      </div>
      <h4 class="thumb-title"><a href="#" class="link">Час расплаты</a></h4>
      <p class="thumb-description">Мне не понравился этот фильм. У данного триллера был известный режиссер, отличный состав актеров, заманчивый трейлер и неплохой постер.</p>
      <p class="thumb-author"><a href="#" class="link">Ануар Нурпеисов</a></p>
    </div>
  </div>
</div><!-- end .grid-item.grid-reviews -->

<div class="grid-item grid-item--secondary">
  <div class="thumb thumb--secondary">
    <a href="#" class="link--overlay"></a>
    <figure class="thumb-image"><img src="images/news-highlight.jpg" alt=""></figure>
    <a href="#" class="label--default label--primary label--thumb link--label">Казахстанское кино</a>
    <div class="thumb-info">
      <p class="thumb-date">14 августа</p>
      <h4 class="thumb-title">Азиз Жамбакиев о своей работе в непальском фильме</h4>
    </div>
  </div>

  <div class="thumb thumb--secondary thumb--casting">
    <a href="#" class="link--overlay"></a>
    <figure class="thumb-image"><img src="images/image-casting.jpg" alt=""></figure>
    <a href="#" class="label--default label--primary label--thumb link--label">Кастинг</a>
    <div class="thumb-info">
      <h4 class="thumb-title">Кастинг на фильм <br>«Так сложились звезды»</h4>
      <p class="thumb-description">Требуются актеры второго плана в роли депутатов ЦК: статные, презентабельного вида мужчины в возрасте 35-80 лет, а также женщины от 35 до 55 лет всех национальностей.</p>
      <p class="thumb-contacts"><span class="numbers">+7 701 338 83 72</span>, Гульнар</p>
    </div>
  </div>
</div><!-- end .grid-item -->
