
<div class="grid-item grid-item--secondary">
  <div class="thumb thumb--article">
    <a href="#" class="label--default label--article link--image"><span class="icon icon--type photo"></span></a>
    <div class="thumb-meta">
      <figure class="thumb-image"><a href="#" class="link--image"><img src="images/article2.jpg" alt=""></a></figure>
      <p class="thumb-category"><a href="#" class="link">Интервью</a></p>
      <p class="thumb-date">11 августа</p>
    </div>
    <h4 class="thumb-title"><a href="#" class="link">Заговор Оберона или первый блин</a></h4>
    <p class="thumb-description">Были у меня определенные сомнения насчет качества очередного отечественного «блокбастера».</p>
  </div>

  <div class="thumb thumb--article">
    <div class="thumb-meta">
      <figure class="thumb-image"><a href="#" class="link--image"><img src="images/article3.jpg" alt=""></a></figure>
      <p class="thumb-category"><a href="#" class="link">Мнения</a></p>
      <p class="thumb-date">11 августа</p>
    </div>
    <h4 class="thumb-title"><a href="#" class="link">История о французе, который неторопливо бредет по казахстанским степям</a></h4>
    <p class="thumb-description">17 сентября в рамках X МКФ «Евразия» прошел показ совместного проекта Ермека Шинарбаева и Жерара Депардье — «Голос степей».</p>
    <p class="thumb-author"><a href="#" class="link">Нуртас Адамбай</a></p>
  </div>
</div>

<div class="grid-item grid-item--secondary">
  <div class="thumb thumb--article">
    <a href="#" class="label--default label--article link--image"><span class="icon icon--type photo"></span></a>
    <div class="thumb-meta">
      <figure class="thumb-image"><a href="#" class="link--image"><img src="images/article4.jpg" alt=""></a></figure>
      <p class="thumb-category"><a href="#" class="link">Мнения</a></p>
      <p class="thumb-date">11 августа</p>
    </div>
    <h4 class="thumb-title"><a href="#" class="link">Береги себя от фейка или история о том, как хаос поглотил здравый смысл</a></h4>
    <p class="thumb-description">Сегодня, в этот прекрасный вечер, я должен был неспешно собирать свои вещи в чемодан и готовиться к скорому отбытию на родину. Однако врожденное любопытство и настойчивость моих друзей с кино-портала Бродвей в итоге привели меня на премьеру мелодрамы «FAKE: береги себя».</p>
    <p class="thumb-author"><a href="#" class="link">Нуртас Адамбай</a></p>
  </div>
  <div class="thumb thumb--article">
    <a href="#" class="label--default label--article link--image"><span class="icon icon--type video"></span></a>
    <div class="thumb-meta">
      <figure class="thumb-image"><a href="#" class="link--image"><img src="images/article5.jpg" alt=""></a></figure>
      <p class="thumb-category"><a href="#" class="link">Колонки</a></p>
      <p class="thumb-date">9 августа</p>
    </div>
    <h4 class="thumb-title"><a href="#" class="link">С ног на голову или О, дивные миры Тима Бертона!</a></h4>
    <p class="thumb-description">Для свежего взгляда на то, что давно известно, нужно все запутать, поменять местами и преувеличить. Кинематограф Тима Бертона— это приключения Алисы в Зазеркалье, которую чаще всего играет Джонни Депп.</p>
    <p class="thumb-author"><a href="#" class="link">Нуртас Адамбай</a></p>
  </div>
</div>

<div class="grid-item grid-item--secondary">
  <div class="thumb thumb--article">
    <div class="thumb-meta">
      <figure class="thumb-image"><a href="#" class="link--image"><img src="images/news-block1.jpg" alt=""></a></figure>
      <p class="thumb-category"><a href="#" class="link">Казахстанское кино</a></p>
      <p class="thumb-date">11 августа</p>
    </div>
    <h4 class="thumb-title"><a href="#" class="link">Восстанет ли «Феникс»?</a></h4>
    <p class="thumb-description">Еще не успели утихнуть отголоски скандала, связанного с воистину эпическим сериалом «Казахское ханство», как среди казахстанских кинематографистов вновь разгорелось недовольство.</p>
  </div>
  <div class="thumb thumb--article">
    <a href="#" class="label--default label--article link--image"><span class="icon icon--type photo"></span></a>
    <div class="thumb-meta">
      <figure class="thumb-image"><a href="#" class="link--image"><img src="images/article6.jpg" alt=""></a></figure>
      <p class="thumb-category"><a href="#" class="link">Интервью</a></p>
      <p class="thumb-date">9 августа</p>
    </div>
    <h4 class="thumb-title"><a href="#" class="link">Сказ о том, как Дракула на темную сторону переходил</a></h4>
    <p class="thumb-description">19 июня 2015 года, в г. Алматы, в главном зале магазина «Меломан», расположенного по адресу: ул. Гоголя, 58, уг. ул. Панфилова, в 12:00 состоится презентация официального DVD-издания сериала «Сыргалым».</p>
  </div>
</div>
