
<div class="grid-item grid-item--primary">
  <div class="thumb thumb--primary thumb--square">
    <a href="#" class="link--overlay"></a>
    <figure class="thumb-image" style="background:url(images/thumb-square.jpg) center top no-repeat;-webkit-background-size:cover;background-size:cover;"></figure>
    <a href="#" class="label--default label--primary label--thumb link--label">Казахстанское кино</a>
    <div class="thumb-info">
      <p class="thumb-date">9 августа</p>
      <h4 class="thumb-title">Дэниел Крэйг выбрал следующего исполнителя роли Джеймса Бонда</h4>
      <p class="thumb-description">Пока «Голодные игры» готовятся к завершению, а «Дивергент» и «Бегущий в лабиринте» набирают обороты, студия Sony запускает новую подростковую приключенческую франшизу по мотивам бестселлеров Янси Рика «5 волна».</p>
    </div>
  </div>

  <div class="grid">
    <div class="grid-item grid-item--secondary">
      <div class="thumb thumb--article is-news">
        <a href="#" class="label--default label--primary label--news link--label">Казахстанские новости</a>
        <div class="thumb-meta">
          <figure class="thumb-image"><a href="#" class="link--image"><img src="images/thumb-article1.jpg" alt=""></a></figure>
          <p class="thumb-date">11 августа</p>
        </div>
        <h4 class="thumb-title"><a href="#" class="link">Капитан Америка ответил Спилбергу за супергеройское кино</a></h4>
        <p class="thumb-description">На прошедшей неделе Стивен Спилберг напророчил смерть супергеройского кино в обозримом будущем, сравнив будущий закат жанра с потерей интереса к некогда популярным вестернам.</p>
      </div>
      <div class="thumb thumb--article is-news">
        <a href="#" class="label--default label--primary label--news link--label">Казахстанские новости</a>
        <div class="thumb-meta">
          <figure class="thumb-image"><a href="#" class="link--image"><img src="images/thumb-article3.jpg" alt=""></a></figure>
          <p class="thumb-date">11 августа</p>
        </div>
        <h4 class="thumb-title"><a href="#" class="link">Восстанет ли «Феникс»?</a></h4>
        <p class="thumb-description">Еще не успели утихнуть отголоски скандала, связанного с воистину эпическим сериалом «Казахское ханство», как среди казахстанских кинематографистов вновь разгорелось недовольство.</p>
      </div>
      <div class="thumb thumb--article is-news">
        <a href="#" class="label--default label--primary label--news link--label">Мировые новости</a>
        <div class="thumb-meta">
          <figure class="thumb-image"><a href="#" class="link--image"><img src="images/thumb-article1.jpg" alt=""></a></figure>
          <p class="thumb-date">11 августа</p>
        </div>
        <h4 class="thumb-title"><a href="#" class="link">Капитан Америка ответил Спилбергу за супергеройское кино</a></h4>
        <p class="thumb-description">На прошедшей неделе Стивен Спилберг напророчил смерть супергеройского кино в обозримом будущем, сравнив будущий закат жанра с потерей интереса к некогда популярным вестернам.</p>
      </div>
    </div><!-- end .grid-item -->

    <div class="grid-item grid-item--secondary">
      <div class="thumb thumb--article is-news">
        <a href="#" class="label--default label--primary label--news link--label">Звездные новости</a>
        <div class="thumb-meta">
          <figure class="thumb-image"><a href="#" class="link--image"><img src="images/thumb-article2.jpg" alt=""></a></figure>
          <p class="thumb-date">9 августа</p>
        </div>
        <h4 class="thumb-title"><a href="#" class="link">Джесси Айзенберг: <br>«У нас с Кристен Стюарт удивительная связь»</a></h4>
        <p class="thumb-description">В прокат выходит фильм «Ультра американцы», собравший в себе все, что привлекает и радует зрителя в последнее время — шпионов, безумное веселье и Джесси Айзенберга.</p>
      </div>
      <div class="thumb thumb--article is-news">
        <a href="#" class="label--default label--primary label--news link--label">Казахстанские новости</a>
        <div class="thumb-meta">
          <figure class="thumb-image"><a href="#" class="link--image"><img src="images/thumb-article4.jpg" alt=""></a></figure>
          <p class="thumb-date">9 августа</p>
        </div>
        <h4 class="thumb-title"><a href="#" class="link">Телесериал «Сыргалым» выходит на DVD</a></h4>
        <p class="thumb-description">19 июня 2015 года, в г. Алматы, в главном зале магазина «Меломан», расположенного по адресу: ул. Гоголя, 58, уг. ул. Панфилова, в 12:00 состоится презентация официального DVD-издания сериала «Сыргалым».</p>
      </div>
      <div class="thumb thumb--article is-news">
        <a href="#" class="label--default label--primary label--news link--label">Казахстанские новости</a>
        <div class="thumb-meta">
          <figure class="thumb-image"><a href="#" class="link--image"><img src="images/thumb-article2.jpg" alt=""></a></figure>
          <p class="thumb-date">9 августа</p>
        </div>
        <h4 class="thumb-title"><a href="#" class="link">Джесси Айзенберг: <br>«У нас с Кристен Стюарт удивительная связь»</a></h4>
        <p class="thumb-description">В прокат выходит фильм «Ультра американцы», собравший в себе все, что привлекает и радует зрителя в последнее время — шпионов, безумное веселье и Джесси Айзенберга.</p>
      </div>
    </div><!-- end .grid-item -->
  </div>
</div>

<div class="grid-item grid-item--secondary">
  <div class="thumb thumb--article is-news">
    <a href="#" class="label--default label--primary label--news link--label">Казахстанские новости</a>
    <div class="thumb-meta">
      <figure class="thumb-image"><a href="#" class="link--image"><img src="images/thumb-article4.jpg" alt=""></a></figure>
      <p class="thumb-date">9 августа</p>
    </div>
    <h4 class="thumb-title"><a href="#" class="link">Телесериал «Сыргалым» выходит на DVD</a></h4>
    <p class="thumb-description">19 июня 2015 года, в г. Алматы, в главном зале магазина «Меломан», расположенного по адресу: ул. Гоголя, 58, уг. ул. Панфилова, в 12:00 состоится презентация официального DVD-издания сериала «Сыргалым».</p>
  </div>
  <div class="thumb thumb--article is-news">
    <a href="#" class="label--default label--primary label--news link--label">Звездные новости</a>
    <div class="thumb-meta">
      <figure class="thumb-image"><a href="#" class="link--image"><img src="images/thumb-article2.jpg" alt=""></a></figure>
      <p class="thumb-date">9 августа</p>
    </div>
    <h4 class="thumb-title"><a href="#" class="link">Джесси Айзенберг: <br>«У нас с Кристен Стюарт удивительная связь»</a></h4>
    <p class="thumb-description">В прокат выходит фильм «Ультра американцы», собравший в себе все, что привлекает и радует зрителя в последнее время — шпионов, безумное веселье и Джесси Айзенберга.</p>
  </div>
  <div class="thumb thumb--article is-news">
    <a href="#" class="label--default label--primary label--news link--label">Казахстанские новости</a>
    <div class="thumb-meta">
      <figure class="thumb-image"><a href="#" class="link--image"><img src="images/thumb-article4.jpg" alt=""></a></figure>
      <p class="thumb-date">9 августа</p>
    </div>
    <h4 class="thumb-title"><a href="#" class="link">Телесериал «Сыргалым» выходит на DVD</a></h4>
    <p class="thumb-description">19 июня 2015 года, в г. Алматы, в главном зале магазина «Меломан», расположенного по адресу: ул. Гоголя, 58, уг. ул. Панфилова, в 12:00 состоится презентация официального DVD-издания сериала «Сыргалым».</p>
  </div>
  <div class="thumb thumb--article is-news">
    <a href="#" class="label--default label--primary label--news link--label">Казахстанские новости</a>
    <div class="thumb-meta">
      <figure class="thumb-image"><a href="#" class="link--image"><img src="images/thumb-article1.jpg" alt=""></a></figure>
      <p class="thumb-date">11 августа</p>
    </div>
    <h4 class="thumb-title"><a href="#" class="link">Капитан Америка ответил Спилбергу за супергеройское кино</a></h4>
    <p class="thumb-description">На прошедшей неделе Стивен Спилберг напророчил смерть супергеройского кино в обозримом будущем, сравнив будущий закат жанра с потерей интереса к некогда популярным вестернам.</p>
  </div>
</div><!-- end .grid-item.grid-reviews -->

<div class="grid-item grid-item--sidebar">
  <figure class="banner--secondary"><a href="#" class="link--image"><img src="images/banner-hero.jpg" alt=""></a></figure>

  <div class="live live--comments">
    <h5 class="title--secondary">Сейчас обсуждают</h5>
    <div class="live-item">
      <h6 class="live-title"><a href="#" class="link">Побудь в моей шкуре</a></h6>
      <p class="live-description">А на мой взгляд фильм не затронул главную идею, ради чего только его и стоило снимать — отношения между сыном и отцом.</p>
      <div class="live-meta">
        <p class="meta-author"><a href="#" class="link">Gulnaz Omarova</a></p>
        <p class="meta-date">22 мин. назад</p>
      </div>
    </div>
    <div class="live-item">
      <h6 class="live-title"><a href="#" class="link">Побудь в моей шкуре</a></h6>
      <p class="live-description">А на мой взгляд фильм не затронул главную идею, ради чего только его и стоило снимать — отношения между сыном и отцом.</p>
      <div class="live-meta">
        <p class="meta-author"><a href="#" class="link">Gulnaz Omarova</a></p>
        <p class="meta-date">22 мин. назад</p>
      </div>
    </div>
    <div class="live-item">
      <h6 class="live-title"><a href="#" class="link">Побудь в моей шкуре</a></h6>
      <p class="live-description">А на мой взгляд фильм не затронул главную идею, ради чего только его и стоило снимать — отношения между сыном и отцом.</p>
      <div class="live-meta">
        <p class="meta-author"><a href="#" class="link">Gulnaz Omarova</a></p>
        <p class="meta-date">22 мин. назад</p>
      </div>
    </div>
    <div class="live-item">
      <h6 class="live-title"><a href="#" class="link">Побудь в моей шкуре</a></h6>
      <p class="live-description">А на мой взгляд фильм не затронул главную идею, ради чего только его и стоило снимать — отношения между сыном и отцом.</p>
      <div class="live-meta">
        <p class="meta-author"><a href="#" class="link">Gulnaz Omarova</a></p>
        <p class="meta-date">22 мин. назад</p>
      </div>
    </div>
  </div>
</div><!-- end .grid-item -->
