
<section class="partners">
  <div class="partners-list">
    <div class="partners-item">
      <div class="partners-body">
        <a href="#" class="link--overlay"></a>
        <figure class="partners-image"><img src="images/logo-brod.png" alt=""></figure>
        <h5 class="partners-name">Кинопортал Бродвей</h5>
        <p class="partners-meta">Партнер</p>
      </div>
    </div>
    <div class="partners-item">
      <div class="partners-body">
        <a href="#" class="link--overlay"></a>
        <figure class="partners-image"><img src="images/partners/logo-massaget.png" alt=""></figure>
        <h5 class="partners-name">Массагет</h5>
        <p class="partners-meta">Генеральный спонсор</p>
      </div>
    </div>
    <div class="partners-item">
      <div class="partners-body">
        <a href="#" class="link--overlay"></a>
        <figure class="partners-image"><img src="images/partners/logo-rf-partner.png" alt=""></figure>
        <h5 class="partners-name">Ракетная фирма</h5>
        <p class="partners-meta">Технический партнер</p>
      </div>
    </div>
    <div class="partners-item">
      <div class="partners-body">
        <a href="#" class="link--overlay"></a>
        <figure class="partners-image"><img src="images/partners/logo-tengri_news.png" alt=""></figure>
        <h5 class="partners-name">Tengri News</h5>
        <p class="partners-meta">Технический партнер</p>
      </div>
    </div>
    <div class="partners-item">
      <div class="partners-body">
        <a href="#" class="link--overlay"></a>
        <figure class="partners-image"><img src="images/partners/logo-tengri_tv.png" alt=""></figure>
        <h5 class="partners-name">Tengri TV</h5>
        <p class="partners-meta">Технический партнер</p>
      </div>
    </div>
    <div class="partners-item">
      <div class="partners-body">
        <a href="http://presidentfoundation.kz/" class="link--overlay"></a>
        <figure class="partners-image"><img src="images/partners/logo-fond.png" alt=""></figure>
        <h5 class="partners-name">Фонд Первого Президента Республики Казахстан <br />&ndash; Лидера Нации</h5>
        <p class="partners-meta">Партнер</p>
      </div>
    </div>

<!--       <div class="partners-item hidden">
      <div class="partners-body">
        <a href="#" class="link--overlay"></a>
        <figure class="partners-image"><img src="images/partners/p2.png" alt=""></figure>
        <h5 class="partners-name">Yvision.kz</h5>
        <p class="partners-meta">Информационный партнер</p>
      </div>
    </div>

    <div class="partners-item hidden">
      <div class="partners-body">
        <a href="#" class="link--overlay"></a>
        <figure class="partners-image"><img src="images/partners/p3.png" alt=""></figure>
        <h5 class="partners-name">Тикетон</h5>
        <p class="partners-meta">Продажа билетов онлайн</p>
      </div>
    </div>

    <div class="partners-item">
      <div class="partners-body">
        <a href="#" class="link--overlay"></a>
        <figure class="partners-image"><img src="images/partners/p4.png" alt=""></figure>
        <h5 class="partners-name">Сеть «Меломан»</h5>
        <p class="partners-meta">Продажа билетов</p>
      </div>
    </div> -->

    <div class="partners-item hidden">
      <div class="partners-body">
        <a href="#" class="link--overlay"></a>
        <figure class="partners-image"><img src="images/partners/p5.png" alt=""></figure>
        <h5 class="partners-name">SEGA</h5>
        <p class="partners-meta">Игровой партнер</p>
      </div>
    </div>      
  </div>
</section>
