
.about--secondary {
	padding-top: 80px;
}

.about-contacts {
  font-family: $font-gill-regular;
  font-size: 17px;
  line-height: 24px;
}

.about-info-list {
  margin: 20px 0;
}

.about-info-item {
  position: relative;
  padding: 12px 0;
  padding-left: 40px;
  padding-right: 10px;
  line-height: 1.2;
  font-family: $font-gill-regular;
  &:before {
    content: "";
    background-position: 50% 10%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    left:0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.about-info-item {
  &.about-info-item-cal:before {
    background-image: url(../images/icons/cal.svg);
  }
  &.about-info-item-pin:before {
    background-image: url(../images/icons/pin.svg);
  }
  &.about-info-item-dollar:before {
    background-image: url(../images/icons/dollar.svg);
  }
}

.about {
  .article {
    .title {
      margin-bottom: 15px;
      font-family: $font-gill-semibold;
      font-size: 24px;
    }
    .text {
      font-family: $font-gill-regular;
      overflow: hidden;
    }
    .title--secondary {
      margin-bottom: 20px;
    }
  }
  .about-avatar {
    width: 175px;
    margin-right: 40px;
    margin-bottom: 15px;
    .img {
      width: 100%;
    }
  }  
}

.about-team {
  margin-top: 50px;
  .grid-item--secondary {
    padding-top: 10px;
  }
}

.about-photos {
  margin-top: 50px;
}

.about-info {
  display: inline-block;
  margin-left: 185px;
  background-color: #f9f9f9;
  padding: 35px 30px 30px;
  border-radius: 10px;
  .item {
    display: inline-block;
    vertical-align: top;
    + .item {
      margin-left: 15px;
      padding-left: 15px;
      border-left: 1px solid #e0e0e0;
    }
    .title {
      font-family: $font-gill-bold;
      font-size: 24px;
      color: $color-primary;
    }
    .text {
      font-family: $font-gill-regular;
      font-size: 18px;
      line-height: 1;
      color: #b0a2a2;
    }
  }
}

.about--secondary {
  .title-section--primary {
    color: #000;
  }
}

.about-main {
  .about-avatar {
    float: none !important;
    display: inline-block;
    vertical-align: middle;
  }
  .article > p,
  .article > .article-body {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 225px);
  }
}
