.anycontest {
  padding-top: 20px;
  @media (max-width: 481px) {
    padding-bottom: 40px;
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    @media (max-width: 481px) {
      flex-wrap: wrap;
    }

    .content {
      width: 23%;
      height: 200px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      padding: 25px 15px 15px 30px;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      @media (max-width: 481px) {
        width: 100%;
        height: 170px;
        margin: 0;
        margin-top: 20px;
      }

      h6 {
        font-family: $font-gill-regular;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 15px;
        @media (max-width: 481px) {
          margin-bottom: 10px;
        }
      }
      p {
        font-family: $font-gill-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
      }
    }
  }
}