
.article {
  > p, .article-body > p, ol li, ul li {
    margin-bottom: 10px;
    font-family: $font-gill-regular;
    font-size: 18px;
    line-height: 24px;
    cursor: text;
  }
  > ol {
    padding-left: 20px;
  }
  > ul {
    li {
      line-height: 18px;
    }
  }
  > p {
    padding-bottom: 0;
  }
  iframe {
    width: 100% !important;
  }

  figure {
    width: 100%;
    img {
      max-width: 100%;
    }
  }
}

.main-page {
  .article--main {
    position: relative;
    max-width: 640px;
    margin-bottom: 0;
    padding-bottom: 0;
    h1 {
      margin-bottom: 30px;
      font-family: $font-gotham-light;
      font-size: 35px;
      line-height: 40px;
      color: #b8b8b8;
      strong {
        display: block;
        margin-bottom: 20px;
        font-family: $font-gotham-medium;
        font-size: 71px;
        font-weight: normal;
        line-height: 80px;
        color: #fff;
      }
    }
  }  
}

.article-item {
  margin-bottom: 30px;
}

.article-head {
  margin-bottom: 15px;
}

.article-body {
  margin-bottom: 10px;
  overflow: hidden;
}

.article-category,
.article-date {
  display: inline-block;
}

.article-category {
  margin-right: 10px;
  font-family: $font-gill-bold;
  font-size: 11px;
  color: $color-meta;
  text-transform: uppercase;
}

.article-date {
  font-size: 10px;
  text-transform: uppercase;
}

.article-title {
  margin-bottom: 10px;
  font-family: $font-gill-bold;
  font-size: 18px;
}

.article-description {
  font-size: 13px;
}

.article-image {
  margin-bottom: 10px;
}

.article-author {
  font-family: $font-primary-bold;
  font-size: 13px;
}

// article page
.article {
  padding-bottom: 30px;
  .title--primary {
    margin-bottom: 20px;
    line-height: 40px;
  }
  .title--secondary {
    margin-bottom: 5px;
    font-family: $font-gill-semibold;
    font-size: 24px;
    text-transform: none;
  }
  p > a {
    font-family: $font-serif-secondary-bold;
    line-height: 1;
    text-decoration: none;
    transition: .3s;
    border-bottom: 1px solid #ccc;
    &:focus {
      color: #000;
      transition: .3s;
    }
    &:hover,
    &:active {
      text-decoration: none;
      color: rgb(227,84,44);
      transition: $transition-primary;
      border-bottom-color: rgba(227,84,55,.3);
    }
  }
  p + .title--secondary {
    margin-top: 25px;
  }
}

.article-cover {
  margin-bottom: 10px;
  // max-height: 418px;
  > img {
    display: block;
    width: 100%;
  }
}

.article-lead {
  margin-bottom: 10px !important;
  font-family: $font-serif-primary !important;
  font-size: 22px !important;
  line-height: 30px !important;
}

.article--casting {
  .article-lead {
    margin-top: 30px;
    margin-bottom: 25px;
  }
  .article-lead-item {
    margin-bottom: 8px;
    font-family: $font-primary-regular;
    font-size: 18px;
  }
}

.article-text {
  margin-bottom: 10px;
  font-family: $font-serif-secondary;
  font-size: 17px;
  line-height: 25px;
  img {
    display: block;
    width: 100% !important;
    height: auto !important;
    margin-bottom: 10px;
  }
  a {
    font-family: $font-serif-secondary-bold;
    line-height: 1;
    text-decoration: none;
    transition: .3s;
    border-bottom: 1px solid #ccc;
    &:focus {
      color: #000;
      transition: .3s;
    }
    &:hover,
    &:active {
      text-decoration: none;
      color: rgb(227,84,44);
      transition: $transition-primary;
      border-bottom-color: rgba(227,84,55,.3);
    }
  }
}

.article-figure {
  margin-top: 30px;
  margin-bottom: 10px;
  .article-image, img {
    display: block;
    width: 100% !important;
    height: auto !important;
    margin-bottom: 0;
  }
  .article-image-description {
    padding-top: 5px;
    font-family: $font-secondary-italic;
    font-size: 14px;
  }
}

.article-meta {
  margin-bottom: 5px;
  .meta-item {
    display: inline-block;
    margin-right: 20px;
    margin-left: 0;
    font-size: 14px;
  }
  .meta-date,
  .meta-views,
  .meta-comments {
    font-family: $font-secondary-regular;
    color: #969696;
  }
  .meta-author {
    font-family: $font-secondary-bold;
  }
}

.article-meta--secondary {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #e6e6e6;
}

.article-gallery {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.article-gallery-description {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 110px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: rgba(0,0,0,.5);
  font-family: $font-secondary-italic;
  font-size: 14px;
  color: #fff;
  z-index: 20;
}

.article-gallery {
  .article-slider-item {
    height: 500px;
    text-align: center;
    background-color: rgba(0,0,0,.2);
  }
}

.article-slider-image {
  display: inline-block;
  max-width: 100%;
  height: 100%;
}
