
.avatar {
  position: relative;
  display: inline-block;
  .avatar-image {
    display: block;
    width: 100%;
    border-radius: 50%;
  }
}

.avatar--lg {
  width: 128px;
  height: 128px;
}

.avatar--sm {
  vertical-align: top;
  margin-right: 5px;
  width: 40px;
  height: 40px;
}

.avatar--static {
  margin-right: 25px;
}
