
.banner {
  text-align: center;
}

.hero {
  .banner--secondary {
    position: absolute;
    right: 15px;
    top: 10px;
  }
}

.grid-item {
  .banner--secondary {
    width: 240px;
    margin-bottom: 20px;
    .link--image {
      width: 100%;
      img {
        display: block;
        width: 100%;
      }
    }
  }
}

.banner-lg {
  .link--banner,
  .banner-image {
    display: block;
    width: 100%;
  }
}

.banner--afiche,
.banner--article {
  position: relative;
  width: 100%;
  margin-top: 32px;
  overflow: hidden;
  text-align: center;
  .banner-body {
    display: table;
    height: 100%;
    width: 100%;
  }
  .link--banner {
    display: table-cell;
    vertical-align: middle;
    max-width: 100%;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid #e6e6e6;
    z-index: -1;
  }
}

.banner--afiche {
  height: 140px;
  margin-bottom: 44px;
}

.banner--article {
  height: 90px;
  margin-bottom: 30px;
}
