
.booking-wrapper {
  justify-content: flex-start;
  margin: 30px auto;
}

.booking-item {
  position: relative;
  margin-right: 30px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  text-align: center;
  line-height: 300px;
  figure {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
