
.breadcrumbs {
  margin-bottom: 20px;
}

.breadcrumbs-item {
  display: inline-block;
  position: relative;
  font-family: $font-gill-bold;
  font-size: 14px;
  &:before {
    content: ">";
    display: inline-block;
    margin: 0 6px 0 4px;
    font-family: $font-gill-regular;
    color: #b4b4b4;
  }
  &:first-child {
    &:before {
      content: none;
    }
  }
}

.breadcrumbs-item.active {
  font-family: $font-gill-regular;
  .link {
    display: inline;
    pointer-events: none;
    color: #b4b4b4;
  }
}
