.btn {
	padding: 10px 25px;
	transition: 0.3s;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	border: none;
	border-radius: 0;
	background-color: transparent;
	&:hover,
	&:active {
		transition: $transition-primary;
		color: #fff;
		box-shadow: none;
	}
	&:focus {
		color: #fff;
		box-shadow: none;
	}
	&.active {
		box-shadow: none;
	}
}

.btn--default {
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	&:focus {
		color: #000;
	}
	&:hover,
	&:active {
		color: #000;
		border-color: #000;
	}
}

.btn--login {
	position: relative;
	top: 15px;
	padding: 0;
	background-color: transparent;
	font-size: 13px;
	color: rgba(0, 0, 0, 0.4);
	.icon--logout {
		position: relative;
	}
	.icon--logout:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url($pathImages+'sprites.png');
		background-position: -20px 0;
		background-repeat: no-repeat;
		opacity: 1;
		transition: 0.3s;
	}
	.icon--logout:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url($pathImages+'icon-logout-hover.png');
		background-repeat: no-repeat;
		opacity: 0;
		transition: 0.3s;
	}
	&:focus {
		color: rgba(0, 0, 0, 0.4);
		background-color: transparent;
	}
	&:hover,
	&:active {
		color: rgba(227, 84, 44, 1);
		background-color: transparent;
		.icon--logout {
			background-image: none;
		}
		.icon--logout:before {
			opacity: 0;
			transition: $transition-primary;
		}
		.icon--logout:after {
			opacity: 1;
			transition: $transition-primary;
		}
	}
}

.btn--primary {
	font-family: $font-primary-bold;
	font-size: 15px;
	color: #fff;
	border-radius: 5px;
	background-color: $color-primary;
	&:hover,
	&:active {
		background-color: rgba($color-primary, 0.85);
	}
	&.btn--bordered {
		background: none;
		border: 2px solid rgba($color-primary, 1);
		color: #000;
		&:hover,
		&:active {
			border-color: rgba($color-primary, 0.8);
		}
	}
	&.is-disabled {
		pointer-events: none;
		border-color: rgba(#ccc, 0.8);
		background-color: rgba(#ccc, 0.5);
		color: rgba(#000, 0.3);
	}
}

.btn--secondary {
	display: inline-block;
	vertical-align: bottom;
	border: 1px dashed rgba(#b0a2a2, 0.5);
	border-radius: 5px;
	font-family: $font-primary-regular;
	font-size: 14px;
	line-height: 18px;
	color: #b0a2a2;
	&:focus {
		color: #b0a2a2;
		border: 1px dashed rgba(#b0a2a2, 0.5);
		background-color: transparent;
	}
	&:hover,
	&:active {
		color: rgba(227, 84, 44, 1);
		border: 1px dashed rgba(227, 84, 55, 0.5);
		background-color: transparent;
	}
	.sign {
		color: rgba(227, 84, 44, 1);
	}
}

.btn--filter {
	margin-right: 4px;
	margin-bottom: 8px;
	padding: 4px 15px;
	font-family: $font-gill-regular;
	font-size: 16px;
	color: #000;
	border: 1px solid #dcdcdc;
	border-radius: 20px;
	background-color: transparent;
	&:focus {
		color: #000;
	}
	&:hover {
		color: #000;
		border-color: #000;
		background-color: transparent;
	}
	&.active {
		color: #fff;
		background-color: $color-primary;
		border-color: transparent;
		box-shadow: none;
	}
}

.btn.btn--swag {
	margin-right: 5px;
	padding: 4px 15px;
	font-family: $font-secondary-bold;
	font-size: 13px;
	color: $color-primary;
	border: 1px solid $color-primary;
	background-color: #fff6e2;
	&:hover {
		border-color: $color-primary;
		background-color: #ffe2e2;
	}
	&.is-disabled {
		background-color: rgb(180, 180, 180);
		background-color: rgba(180, 180, 180, 0.3);
		border-color: rgb(180, 180, 180);
		border-color: rgba(180, 180, 180, 0.9);
		color: rgb(180, 180, 180);
		color: rgba(180, 180, 180, 0.9);
		pointer-events: none;
	}
}

.btn--dashed {
	position: relative;
	padding: 0;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
	border-radius: 0;
	font-family: $font-primary-regular;
	font-size: 12px;
	line-height: 16px;
	&:focus {
		color: #000;
		border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
		background-color: transparent;
	}
	&:hover,
	&:active {
		color: rgba(227, 84, 44, 1);
		border-bottom: 1px dashed rgba(227, 84, 55, 0.5);
		background-color: transparent;
	}
	&.active {
		pointer-events: none;
	}
}

.btn--dropdown {
	position: relative;
	padding: 0;
	.dropdown-status {
		display: inline-block;
		border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
		font-family: $font-primary-regular;
		font-size: 12px;
		line-height: 16px;
		transition: 0.3s;
		color: #000;
	}
	.caret {
		transition: 0.3s;
	}
	&:focus {
		.dropdown-status {
			color: #000;
			border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
			transition: 0.3s;
		}
	}
	&:hover,
	&:active {
		color: #000;
		.dropdown-status {
			color: rgba(227, 84, 44, 1);
			border-bottom: 1px dashed rgba(227, 84, 55, 0.5);
			transition: $transition-primary;
		}
		.caret {
			border-top-color: rgba(227, 84, 55, 0.5);
			transition: $transition-primary;
		}
	}
}

.btn--close {
	position: absolute;
	top: 20px;
	right: 20px;
	margin: 0;
	padding: 0;
	opacity: 0.2;
	transition: $transition-primary;
	z-index: 5;
	&:hover,
	&:active {
		opacity: 0.4;
		transition: 0.3s;
	}
}

.btn--sharing {
	padding: 3px 10px;
	font-family: $font-numbers;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	transition: $transition-primary;
	.number {
		margin-left: 5px;
	}
	&:hover,
	&:active {
		color: #fff;
		border: 1px solid transparent;
		transition: none;
	}
	&:focus {
		color: #000;
		border: 1px solid #e6e6e6;
		background-color: transparent !important;
	}
	&.fb {
		&:focus {
			.icon--social {
				&.fb {
					background-position: 4px -120px !important;
				}
			}
		}
		&:hover,
		&:active {
			background-color: #3b5998;
			.icon--social {
				&.fb {
					background-position: 4px -21px;
				}
			}
		}
	}
	&.vk {
		&:focus {
			.icon--social {
				&.vk {
					background-position: 0 -107px !important;
				}
			}
		}
		&:hover,
		&:active {
			background-color: #45668e;
			.icon--social {
				&.vk {
					background-position: -16px -24px;
				}
			}
		}
	}
	&.twi {
		&:focus {
			.icon--social {
				&.twi {
					background-position: 0 -91px !important;
				}
			}
		}
		&:hover,
		&:active {
			background-color: #4099ff;
			.icon--social {
				&.twi {
					background-position: 0 -75px;
				}
			}
		}
	}
	&.wh {
		&:focus {
			.icon--social {
				&.wh {
					background-image: url($pathImages+'whatsapp-logo.svg') !important;
				}
			}
		}
		&:hover,
		&:active {
			background-color: #43d854;
			.icon--social {
				&.wh {
					background-image: url($pathImages+'whatsapp-logo-active.svg');
				}
			}
		}
	}
}

.cropper {
	position: relative;
	.btn--cropper {
		position: relative;
		width: 100%;
		height: 100%;
		padding: 10px 10px 20px;
		font-family: $font-gill-regular;
		font-size: 14px;
		color: #c6c6c6;
		background-color: transparent;
		cursor: pointer;
		border: 2px dashed #c6c6c6;
		border-radius: 4px;
		transition: 0.3s;
		&:before {
			content: '+';
			display: block;
			margin-bottom: -25px;
			font-family: $font-gill-bold;
			font-size: 60px;
			color: $color-primary;
			transition: 0.3s;
		}
		&:hover,
		&:active {
			color: $color-primary;
			border-color: $color-primary;
			transition: none;
			&:before {
				color: $color-primary;
				transition: none;
			}
		}
		&:focus {
			color: $color-primary;
		}
	}

	.btn--reupload {
		margin: 3px auto 0;
		padding: 0;
		font-family: $font-gill-regular;
		font-size: 12px;
		font-size: 85%;
		color: #000;
		&:focus {
			color: #000;
		}
		&:hover,
		&:active {
			color: $color-primary;
			transition: none;
		}
	}

	.btn--remove {
		position: absolute;
		top: 0;
		right: -20px;
		padding: 0;
	}

	&.has-image {
		.btn--reupload,
		.btn--remove {
			display: block;
		}
	}
}

.btn--movie {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	cursor: pointer;
	z-index: 11;
	span {
		display: inline-block;
		padding: 7px 15px 5px;
		background-color: $color-primary;
		border-radius: 3px;
		font-family: $font-primary-bold;
		font-size: 15px;
		color: #fff;
		outline: none !important;
	}
	&:hover,
	&:active {
		span {
			background-color: #e94929;
		}
	}
}

.btn--tickets {
	margin-right: 8px;
	padding: 8px 20px;
	font-family: $font-primary-regular;
	font-size: 12px;
	color: #e35437;
	border: 1px solid #e35437;
	border-radius: 3px;
	background-color: transparent;
	&:focus {
		color: #e35437;
	}
	&:hover,
	&:active {
		color: #e35437;
		border-color: #e35437;
		background-color: rgba(227, 84, 55, 0.1);
	}
}

.btn--menu {
	width: 70px;
	height: 60px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: transparent;
	border: none;
	background-image: url($pathImages+'icon-menu.svg');
	background-position: center center;
	background-repeat: no-repeat;
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #06142e;
		background-image: url($pathImages+'icon-menu-close.svg');
		background-position: center center;
		background-repeat: no-repeat;
		opacity: 0;
		transition: 0.5s;
		z-index: 15;
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 100%;
		width: 50%;
		height: 100%;
		z-index: 15;
	}
}

.is-opened {
	.btn--menu {
		&:after {
			left: 0;
			opacity: 1;
		}
	}
}

.page-tabs {
	ul {
		display: flex;

		li {
			margin-right: 35px;
		}
	}

	.active a.btn.btn--primary {
		background: #e73f60;
		border: none;
		color: #fff;
	}
	.btn.btn--primary {
		background: #fff;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 25px;
		color: #000;
		font-size: 18px;
	}

	@media screen and (max-width: 500px) {
		.btn.btn--primary {
			font-size: 14px;
		}
		ul li {
			margin-right: 15px !important;
		}
	}
}
