
.comments {
  position: relative;
  margin-top: 30px;
  padding: 30px 0;
  clear: both;
  border-top: 1px solid #e6e6e6;
  // border-bottom: 1px solid #e6e6e6;
  z-index: 10;
  .main-body & {
    margin-bottom: -70px;
    .comments-header,
    #form,
    .comments-item {
      max-width: 900px;
    }
  }
}

.comments-inner {
	width: 740px;
}

.comments-header {
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
  display: flex;
  justify-content: space-between;
  .tip {
    font-family: $font-secondary-regular;
    font-size: 14px;
    color: #9c9899;
    .link {
      padding: 0;
      vertical-align: top;
      font-family: $font-secondary-bold;
      color: #000;
      &:hover,
      &:active {
        color: #e3542c;
      }
    }
  }
}

.comments-title {
  display: inline-block;
  position: relative;
  font-family: $font-secondary-bold;
  font-size: 18px;
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -12px;
    height: 2px;
    background-color: $color-primary;
  }
}

.comments-item {
  .form {
    position: relative;
    .btn--primary {
      margin-left: 20px;
    }
  }
  .form-control {
    margin-bottom: 10px;
    // border-width: 2px;
  }
  .comments-item {
    padding-left: 50px;
  }
}

.comments-item-wrapper {
  margin-bottom: 20px;
}

.comments-body {
  width: calc(100% - 60px);
  overflow: hidden;
  zoom: 1;
}

.comments-avatar {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.comments-avatar-image {
  display: block;
  width: 100%;
}

.comments-meta {
  margin-bottom: 5px;
}

.comments-author {
  display: inline-block;
  font-family: $font-secondary-bold;
  font-size: 14px;
}

.comments-time {
  position: relative;
  display: inline-block;
  font-family: $font-secondary-regular;
  font-size: 13px;
  color: #95999e;
}

.comments-text {
  margin-bottom: 5px;
  font-family: $font-secondary-regular;
  font-size: 14px;
  line-height: 21px;
}

.comments-control {
  .link {
    padding: 0;
    font-family: $font-secondary-bold;
    font-size: 13px;
  }
  .icon--disc {
    background-color: #000;
  }
}
