
.companies-head,
.companies-meta {
  display: flex;
  justify-content: space-between;
}

.companies-head,
.companies-meta {
  margin-bottom: 5px;
}

.companies-item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e6e6e6;
  .companies-title {
    font-family: $font-primary-bold;
    font-size: 18px;
  }
  .companies-address {
    font-family: $font-secondary-regular;
    font-size: 14px;
    color: rgba(0,0,0,.5);
  }
  .companies-phone {
    font-family: $font-secondary-regular;
    font-size: 14px;
  }
}

