
.contacts {
	padding: 20px 30px;
	background-color: #f9f9f9;
	border-radius: 10px;
	cursor: text;
	.title--secondary {
		margin-bottom: 10px;
	}

	.contacts-item {
		padding: 10px 0;
		.title {
			margin-bottom: 3px;
			font-family: $font-gill-bold;
			font-size: 18px;
			line-height: 22px;
		}
		.text,
		.meta {
			font-family: $font-gill-regular;
			font-size: 18px;
			line-height: 22px;
		}
		.text {
			margin-bottom: 3px;
			color: #898989;
		}
		.meta,
		.meta a {
			color: $color-primary;
			.strong {
				color: #000;
			}
		}
		+ .contacts-item {
			border-top: 1px solid #e0e0e0;
		}
	}
}
