
.copyright {
	font-family: $font-gill-regular;
	color: #000;
	cursor: text;
	.link {
		font-family: $font-gill-regular;
		color: #e35437;
		&:focus {
			color: #e35437;
		  background-color: transparent;
		}
		&:hover,
		&:active {
		  color: #ee7057;
		  background-color: transparent;
		}
		&:active {
			color: #e35437;
		  background-color: transparent;
		}
	}
}
