
.cropper {
  position: relative;
  // width: 130px;
  // height: 185px;
  width: 205px;
  height: 298px;
  .cropit-image-input {
    position: absolute;
    top: 0;
    opacity: 1;
    visibility: hidden;
  }

  .cropit-preview {
    width: 115px;
    height: 170px;
  }

  .cropit-preview {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
  }

  .cropit-preview-image {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    &:active {
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }
  }
}
