
.dropdown {
  cursor: pointer;
  .caret {
    margin-left: -1px;
    border-top-color: #969696;
    transition: .3s;
  }
  &.open {
    .caret {
      border-top-color: $color-primary;
      transition: none;
    }
    .link--primary {
      color: $color-primary;
      transition: none;
    }
  }
}

.nav--primary {
  .dropdown-menu {
    top: 43px;
    left: auto;
    right: -96px;
    width: 200px;
    background-color: $color-primary;
    border: none;
    box-shadow: none;
    border-radius: 0;
    box-shadow: 0 1px 10px 1px rgba(0,0,0,.3);
    .dropdown-menu-item {
      border-top: 1px solid rgba(255,255,255,.2);
      &:first-child {
        border-top: none;
      }
      .dropdown-menu-link {
        padding: 7px 25px;
        font-size: 13px;
        color: #fff;
        background-color: rgba(255,255,255,0);
        white-space: normal;
        transition: .3s;
        &:focus {
          color: #fff;
          background-color: rgba(255,255,255,0);
        }
        &:hover,
        &:active {
          background-color: rgba(255,255,255,.2);
          transition: none;
        }
      }
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translate(-50%);
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-bottom: 12px solid $color-primary;
    }
  }
}

.dropdown--dashed {
  display: inline-block;
  .dropdown-menu {
    top: -19px;
    left: -5px;
    min-width: 100px;
    padding: 15px 0;
    border: none;
  }
  .dropdown-menu-item {
    padding: 5px 20px;
    font-size: 12px;
    white-space: nowrap;
    &.active,
    &.active > a {
      font-family: $font-primary-bold;
      color: $color-primary !important;
      background-color: transparent;
    }
  }
  &.watch-meta-item {
    .dropdown-menu {
      left: -20px;
    }
  }
}

.dropdown--tickets {
  display: inline-block;
  cursor: default;
  .btn--dropdown {
    padding: 4px 7px 3px;
    background-color: #dee9ec;
    border: 1px solid #dee9ec;
    border-radius: 2px;
    line-height: 1;
    .dropdown-status {
      border-bottom: none;
    }
    &:hover,
    &:active {
      background-color: #d1dee1;
    }
    span {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  .dropdown-menu {
    width: 330px;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    bottom: 45px;
    padding: 20px 18px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
    &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: -16px;
      left: 50%;
      transform: translateX(-50%);
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 14px solid rgba(0, 0, 0, 0.1);
      filter: blur(2px);
      z-index: 3;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 13px solid #fff;
      z-index: 7;
    }
  }
  .dropdown-title {
    margin-bottom: 10px;
    font-family: $font-primary-bold;
    font-size: 14px;
    text-transform: uppercase;
  }
  .tickets-list {
    margin-bottom: 15px;
  }
  .tickets-list-item {
    display: inline-block;
    vertical-align: top;
    width: 23%;
    line-height: 18px;
  }
  .tickets-list-item-description {
    display: block;
    font-family: $font-primary-regular;
    font-size: 14px;
    color: rgba(0,0,0,.3);
  }
  .tickets-list-item-title {
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
  }
  &.open {
    .btn--dropdown {
      background-color: $color-primary;
      border: 1px solid $color-primary !important;
      span {
        // color: $color-primary;
        color: #fff;
        // border-bottom: 1px dashed rgba(0,0,0,0);
        transition: none;
      }
    }
  }
  .tickets-controls {
    .tip {
      font-family: $font-primary-regular;
      font-size: 12px;
      color: rgba(0,0,0,.3);
      transition: .3s;
    }
  }
}

.dropdown-filter-mobile {
  display: none;
}
