.error-page {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
	.title--primary {
		color: #c8395e;
		margin-bottom: 10px;
		font-size: 44px;
	}
}

.error-hero,
.error-body {
	display: inline-block;
	vertical-align: middle;
}

.error-body {
	width: 500px;
	margin-right: 50px;
}

.error-page-description {
	margin: 0 0 30px;
	font-family: $font-gill-regular;
	font-size: 20px;
	line-height: 26px;
	color: #fff;
	.link {
		font-family: $font-gill-bold;
	}
}
