
.faq-response {
  display: none;
  .faq-response-text {
    margin-bottom: 20px;
    padding-right: 100px;
    line-height: 22px;
  }
}

.faq-lead {
  margin-bottom: 20px;
  font-family: $font-primary-regular;
  font-size: 16px;
  line-height: 22px;
}

.faq-list {
  margin-top: 30px;
  margin-bottom: 50px;
}

.faq-question {
  margin-bottom: 10px;
  font-family: $font-primary-bold;
  font-size: 18px;
  span {
    color: #E65437;
  }
  .collapsed {
    span {
      color: #000;
      border-bottom: 1px dashed rgba(0,0,0,.5);
    }
  }
}

.faq-answer {
  position: relative;
  padding-top: 0;
  padding-left: 30px;
  padding-bottom: 20px;
  font-family: $font-secondary-regular;
  font-size: 16px;
  line-height: 20px;
  .divider {
    display: block;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 20px;
    width: 3px;
    background-color: #e65437;
    border-radius: 100px;
  }
}

.faq-answer-text {
  opacity: 0;
  transition: .2s;
}

.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: none;
}

.panel {
  box-shadow: none;
  border: none;
}

.panel-heading {
  padding: 5px 0;
}

.faq-user {
  width: 680px;
  margin-left: -25px;
  padding: 25px;
  background-color: #fff6e2;
  border-radius: 5px;
  .title--primary {
    font-family: $font-primary-bold;
    font-size: 24px;
  }
  .form--feedback .form-tip {
    right: 65px;
  }
}
