
.control-bar {
  margin-top: 10px;
}

.control-bar-filters {
  margin-left: -15px;
  .filters--primary {
    margin-bottom: 10px;
  }
  .filters-order {
    display: flex;
    justify-content: space-between;
    .btn--dashed {
      margin-left: 10px;
      &.active {
        border: none;
        color: $color-primary;
      }
    }
    .btn--default {
      margin-left: 20px;
      padding: 5px 10px;
      font-size: 12px;
      &:focus {
        color: #000;
      }
      &:hover {
        color: #000;
        border-color: #000;
        background-color: transparent;
      }
      &.active {
        color: #fff;
        background-color: $color-primary;
        border-color: transparent;
        box-shadow: none;
      }
    }
  }
  .filters-result {
    display: inline-block;
    margin-right: 15px;
    font-size: 12px;
    color: rgba(0,0,0,.5);
  }
  .filters--secondary.filters--movies,
  .filters--secondary.filters--search {
    .filters-order {
      display: inline-block;
    }
  }
}

.filters--studio {
  margin-bottom: 20px;
  .btn--filter {
    color: rgba(0,0,0,.3);
    border-color: #dcdcdc;
    pointer-events: none;
    &.active {
      color: #000;
      border-color: #000;
      background-color: transparent;
    }
  }
}

.filters--search {
  padding-bottom: 30px;
  font-size: 12px;
  .btn--dashed {
    font-family: $font-primary-bold;
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    text-transform: lowercase;
  }
}

.faq .btn--filter[data-type="all"].active {
  pointer-events: none;
}
