// ***
// react animations for step
.step-appear {
	opacity: 0.01;
}

.step-appear.step-appear-active {
	opacity: 1;
	transition: opacity 0.3s ease-in;
}
// ***

.form-step--team {
	.form-group {
		&.flex {
			justify-content: space-between;
		}
	}
	.form-group-item {
		position: relative;
		display: block;
		width: 250px;
		+ .form-group-item {
			margin-top: 15px;
		}
	}
	.btn--secondary {
		position: absolute;
		left: calc(100% + 20px);
		top: 0px;
		padding: 10px 20px;
	}
}

.form-step--result {
	.title--secondary {
		margin-bottom: 12px;
		font-family: $font-gill-bold;
		font-size: 18px;
		color: #000;
	}
	.text {
		font-size: 18px;
		line-height: 24px;
		color: #000;
	}
}

.form-wrapper {
	padding: 50px 0;
	background-color: #f5f5f5;
}

.form {
	.help-block {
		font-family: $font-gill-regular;
		font-size: 12px;
	}
	.has-error {
		.form-control {
			border-color: $color-primary;
		}
		.help-block {
			display: block;
			color: $color-primary;
		}
	}
}

.form-app {
	display: inline-block;
	vertical-align: top;
	width: 590px;
	min-height: 590px;
	margin-left: -25px;
	background-color: #f9f9f9;
	border-radius: 10px;
}

.form-sidebar {
	display: inline-block;
	vertical-align: top;
	width: 410px;
	margin-left: 45px;
}
.form-rules {
	margin-bottom: 30px;
	padding: 20px 20px 30px;
	border-radius: 10px;
	border: 1px dashed #bfbfbf;
	.title {
		margin-bottom: 15px;
		font-family: $font-gill-semibold;
		font-size: 24px;
	}
	.list {
		padding-left: 15px;
	}
	.list-item {
		position: relative;
		font-family: $font-gill-regular;
		font-size: 18px;
		&:before {
			content: '-';
			position: absolute;
			left: -20px;
			font-family: $font-gill-regular;
			font-size: 18px;
			color: #a9a9a9;
		}
		+ .list-item {
			margin-top: 5px;
		}
	}
}

.form-title {
	margin-bottom: 20px;
	font-family: $font-gill-bold;
	font-size: 25px;
	line-height: 30px;
	color: #000;
}

.form--secondary.form--search {
	position: relative;
	top: -6px;
	display: inline-block;
	width: 200px;
	height: 30px;
	.form-group {
		position: relative;
	}
	.form-control {
		height: 30px;
		font-size: 14px;
		color: rgb(150, 150, 150);
		border: 1px solid rgb(220, 220, 220);
		border-radius: 10px;
	}
}

.form--primary.form--search {
	.btn--primary {
		width: 150px;
		height: 40px;
	}
}

.form-control {
	height: 40px;
	padding-left: 12px;
	font-family: $font-gill-regular;
	font-size: 16px;
	color: #000;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	&:hover,
	&:active {
		border-color: #dcdcdc;
		transition: none;
	}
	&:focus {
		border-color: #65c0e5;
		box-shadow: 0 0 5px #65c0e5;
		transition: none;
	}
	&::-webkit-input-placeholder {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #999;
	}
	&:-moz-placeholder {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #999;
	}
	&::-moz-placeholder {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #999;
	}
	&:-ms-input-placeholder {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #999;
	}
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	outline: none !important;
	&:hover,
	&:focus,
	&:active {
		cursor: pointer;
	}
}

.select-wrapper {
	position: relative;
	background-color: #fff;
	border-radius: 3px;
	.form-control {
		position: relative;
		background-color: transparent;
		z-index: 1;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 19px;
		right: 10px;
		width: 8px;
		border-top: 5px solid #969696;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		z-index: 0;
	}
}

.form-group.checkbox {
	display: inline-block;
	margin: 0;
}

// custom checkbox
input[type='checkbox'] {
	visibility: hidden;
	top: -13px;
	margin-left: 2px !important;
}

.checkbox label {
	display: inline-block;
	max-width: 390px;
	cursor: pointer;
	position: relative;
	padding-left: 35px;
	font-family: $font-gill-bold;
	font-size: 11px;
	top: -2px;
	.link {
		display: inline;
		font-family: $font-gill-bold;
		line-height: 1;
		border-bottom: 1px solid rgba($color-primary, 0.4);
		&:hover,
		&:active {
			border-color: rgba($color-primary, 0.7);
		}
	}
}

.checkbox label:before {
	content: '';
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 10px;
	position: absolute;
	top: 1px;
	left: 0;
	background-color: #fff;
	border: 1px solid #dedede;
	border-radius: 3px;
	z-index: 0;
}

input[type='checkbox']:checked + label:after {
	content: '';
	display: inline-block;
	width: 16px;
	height: 13px;
	position: absolute;
	left: 1px;
	top: 3px;
	background-color: transparent;
	background-image: url('../images/icon-checked.svg');
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 1;
}

// custom radio
input[type='radio'] {
	visibility: hidden;
	top: -13px;
	margin-left: 2px !important;
}

// +7 box for phone niput
.phone-helper {
	width: 40px;
	height: 40px;
	padding-top: 11px;
	padding-bottom: 8px;
	padding-left: 12px;
	font-size: 13px;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
}

// form for profile edit
.form--profile {
	.form-header {
		margin-bottom: 30px;
		.form-group--about {
			overflow: hidden;
		}
		.textarea {
			height: 90px;
		}
	}
	.form-group.checkbox {
		padding-top: 5px;
	}
	.control-label {
		font-family: $font-gill-regular;
		font-size: 13px;
		font-weight: normal;
	}
	.form-control {
		display: inline-block;
	}
	.phone-group {
		.form-control {
			width: calc(100% - 45px);
		}
	}
	.form-footer {
		padding-top: 30px;
		.btn {
			font-family: $font-primary-bold;
			font-size: 14px;
		}
		.btn--primary {
			position: relative;
			padding: 8px 20px 7px;
			border-radius: 5px;
			// margin-right: calc(100% - 600px);
			.icon {
				color: #e73f60;
			}
		}
		.btn.link {
			padding-left: 0;
		}
	}

	.help-block {
		margin-bottom: 0;
	}

	&.is-loading {
		.form-control,
		.control-label,
		.cropper,
		.btn--primary,
		.Select-control {
			pointer-events: none;
		}
		.form-control,
		.Select-control {
			background-color: rgba(#ccc, 0.2);
		}
		.btn--primary {
			background-color: rgba(#ccc, 0.5);
		}
		.icon--loader {
			opacity: 1;
			transition: none;
		}
		.checkbox {
			opacity: 0.5;
		}
		.form-step--team .btn--secondary {
			pointer-events: none;
			opacity: 0.5;
		}
		.btn--bordered {
			background-color: rgba(#ccc, 0.5);
			pointer-events: none;
			border-color: rgba(#ccc, 0.3);
		}
	}
	.icon--loader {
		position: absolute;
		bottom: 5px;
		right: -45px;
		width: 30px;
		height: 30px;
		background: none;
		opacity: 0;
		transition: $transition-primary;
	}
}

.form--auth {
	.form-tip {
		margin-bottom: 10px;
		font-family: $font-gill-regular;
		font-size: 16px;
		font-weight: normal;
		color: #737373;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.application {
	.form-wrapper {
		background-color: transparent;
	}
	.grid-item--form {
		width: 100%;
	}
	.form-group--text {
		width: 500px;
		margin-right: 80px;
	}
	.form-group--image {
		position: relative;
		display: block !important;
		margin-left: 0 !important;
		.cropper {
			display: inline-block;
			vertical-align: top;
			margin-right: 30px;
		}
		.tip {
			display: inline-block;
			vertical-align: top;
			width: calc(100% - 245px);
			.title {
				font-family: $font-gill-regular;
				font-size: 16px;
				line-height: 20px;
				color: #606060;
			}
			.text {
				font-family: $font-gill-regular;
				font-size: 14px;
				line-height: 18px;
				color: #929292;
			}
			.tip-unit {
				+ .tip-unit {
					margin-top: 10px;
				}
			}
		}
	}
}

.iti__flag {
	background-image: url('../images/flags/flags.png');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.iti__flag {
		background-image: url('../images/flags/flags@2x.png');
	}
}

.form-section {
	+ .form-section {
		margin-top: 20px;
	}
}

.form-application {
	color: #fff;
	.info {
		opacity: 0.6;
		text-align: right;
	}
	.grid {
		align-items: flex-start;
	}
	.form-wrapper {
		background-color: #f9f9f9;
		border-radius: 10px;
		padding: 30px 45px 30px 25px;
		width: 600px;
	}
	.grid-item--year {
		flex: 1 0 120px;
		width: 120px;
	}

	.form-control,
	.control-label {
		color: #000;
	}
}

.form-group--text,
.form-group--image {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.form-group--text {
	width: 100%;
	flex-shrink: 0;
	margin-right: 50px;
}

.form--profile .form-footer .btn--primary {
	width: auto;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.form-scheme {
	.form-rules + & {
		margin-top: 50px;
	}
}

.form-scheme-item {
	position: relative;
	display: inline-block;
	+ .form-scheme-item {
		margin-top: 40px;
	}
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 18px;
		width: 2px;
		height: calc(100% + 40px);
		background: rgba(#b8bcc3, 0.5);
	}
	&::before {
		content: '';
		width: 18px;
		height: 18px;
		position: absolute;
		left: 10px;
		top: 50%;
		transform: translateY(-50%);
		border-radius: 50%;
		background-color: #b8bcc3;
		z-index: 1;
	}
	&:last-child {
		padding-bottom: 0;
		&::after {
			content: none;
		}
	}
	&.active {
		.form-scheme-item-title {
			color: $color-primary;
		}
		.form-scheme-item-description {
			color: #b0a2a2;
		}
		&::before {
			background-color: $color-primary;
		}
	}
}

.form-scheme-item-wrapper {
	position: relative;
	margin-left: 42px;
	padding: 20px 25px;
	background-color: #f9f9f9;
	border-radius: 10px;
	&::before {
		content: '';
		width: 18px;
		height: 18px;
		position: absolute;
		left: -18px;
		top: 50%;
		transform: translateY(-50%);
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right: 10px solid #f9f9f9;
	}
}

.form-scheme-item-title {
	font-family: $font-gill-bold;
	font-size: 24px;
	color: #b8bcc3;
}

.form-scheme-item-description {
	font-family: $font-gill-regular;
	font-size: 24px;
	line-height: 30px;
	color: #d9d9d9;
}

// form-application--inner for application.html page
.form-application.form-application--inner {
	background-image: url($pathImages+'background.jpg');
	background-repeat: no-repeat;
	background-position: top;
	margin-bottom: -25px;
	padding-bottom: 75px;
}

// .form-applicatino--inner {
// }
.form-application--inner .form-scheme-item-description {
	color: #a4a5a9;
}

.form-application--inner .form-scheme-item-title {
	color: #fff;
}

.form-application--inner .form-scheme-item-title {
	color: #ffffff;
}

// form on the application page
.application {
	padding-top: 20px;
	.article {
		margin-bottom: 30px;
		padding-bottom: 0;
	}
	.form-application {
		.control-label {
			font-size: 14px;
			white-space: nowrap;
			font-weight: normal;
			color: #606060;
		}

		.form-scheme-item-description {
			color: #a4a5a9;
		}

		.form-scheme-item-title {
			color: #000;
		}

		.form-scheme-item {
			display: inline-block;
			width: 337px;
			vertical-align: top;
		}

		.form-wrapper {
			display: block;
			width: 100%;
		}
		.form-row {
			.form-group {
				display: inline-block;
				vertical-align: top;
				+ .form-group {
					margin-left: 15px;
				}
			}
			&.flex {
				justify-content: space-between;
			}
		}
		.form-group--movie-name {
			width: 330px;
		}
		.form-group--genre {
			width: 300px;
		}
		.form-group--category {
			width: 190px;
		}
		.form-group--language {
			width: 120px;
		}
		.form-group--year {
			width: 105px;
		}
		.form-group--duration {
			width: 90px;
		}
		.form-group--link,
		.form-group--description {
			display: block;
			// width: 460px;
			width: 100%;
		}
		.form-group--name,
		.form-group--phone {
			width: 200px;
		}
		.form-group--phone {
			.phone-helper {
				color: #000;
			}
			.info.small {
				clear: both;
			}
		}
		.textarea {
			height: 170px;
			margin-bottom: -6px;
		}
		.form-section {
			.checkbox {
				+ .checkbox {
					margin-top: 20px;
				}
			}
		}
		.checkbox label {
			font-family: $font-gill-regular;
			font-size: 14px;
			line-height: 18px;
			color: #000;
			white-space: initial;
			.link {
				font-family: $font-gill-regular;
				color: $color-primary;
				border-bottom-color: rgba($color-primary, 0.4);
				&:focus {
					color: $color-primary;
				}
				&:hover,
				&:active {
					color: rgba($color-primary, 0.9);
					border-bottom-color: rgba($color-primary, 0.55);
				}
			}
		}
	}
}

.application-completed {
	background-color: #04122b;
	max-width: 700px;
	padding: 50px;
}

.form-nav {
	display: inline-block;
	position: relative;
	margin-bottom: 20px;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 1px;
		width: 99%;
		height: 2px;
		background-color: #e2e2e2;
	}
}

.form-nav-item {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 2px 20px 3px;
	background-color: #f9f9f9;
	border: 2px solid #e2e2e2;
	border-radius: 20px;
	font-size: 18px;
	color: #5e5e5e;
	cursor: default;
	z-index: 2;
	+ .form-nav-item {
		margin-left: 35px;
	}
	&.active {
		color: #000;
		border-color: $color-primary;
	}
}

.standart-form {
	padding: 20px 65px 50px 35px;
	background: #f9f9f9;
	width: 628px;
	border-radius: 10px;
	font-family: 'GillSans', Helvetica, Arial, sans-serif;

	h3 {
		font-size: 32px;
		font-family: 'GillSans-Bold', Helvetica, Arial, sans-serif;
		margin-bottom: 24px;
	}
	input[type='checkbox'] {
		visibility: unset;
	}
	label {
		display: flex;
		flex-direction: column;
		font-size: 18px;
		color: rgba(0, 0, 0, 0.6);
		margin-bottom: 18px !important;
		font-weight: normal;
	}

	label input {
		width: 430px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 2px;
		padding: 8.5px 18px;

		&::placeholder {
			color: rgba(0, 0, 0, 0.3);
		}
	}
	p {
		font-size: 18px;
		color: rgba(0, 0, 0, 0.6);

		a {
			color: #e73f60 !important;
			text-decoration: underline;
			text-underline-position: under;
		}
	}

	.line {
		border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
		width: 100%;
		margin: 30px 0;
	}

	button.submit {
		border: 2px solid #d54d63;
		box-sizing: border-box;
		border-radius: 3px;
		padding: 7px 24px;
		font-size: 18px;
		background: #fff;
		margin-top: 40px;
		display: block;
	}
}

// label.checkbox input {
//   width: auto;
// }

label.checkbox {
	position: relative;
	cursor: pointer;
	padding-left: 30px;
	color: #000;
	display: inline-block;

	input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;

		&:checked ~ .checkmark {
			// background: url(../images/icons/pink-check.png) no-repeat;

			&:after {
				background: url(../images/icons/pink-check.png) no-repeat;
				content: '';
				width: 20px;
				height: 15px;
				z-index: 5555;
				left: 3px;
				position: absolute;
				display: block;
			}
		}
	}

	span.checkmark {
		position: absolute;
		top: 5px;
		left: 0;
		height: 20px;
		width: 20px;
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 2px;

		&:after {
			content: '';
			position: absolute;
			display: none;
		}
	}
}

span.select2.select2-container.select2-container--default {
	font-size: 18px;
	color: #000;
}

.select2-container--default
	.select2-results__option--highlighted[aria-selected] {
	background: #e73f60;
	color: #fff !important;
}

.select2-results__option[aria-selected] {
	color: rgba(0, 0, 0, 0.3);
	font-size: 18px;
}

.select2-container--default .select2-results__option[aria-selected='true'] {
	display: none;
}

@media screen and (max-width: 500px) {
	.standart-form {
		width: 100%;
		padding: 20px;
		margin-right: 0 !important;
		margin-bottom: 30px;

		label {
			font-size: 16px;
			width: 100% !important;

			input {
				width: 100%;
			}
		}
	}

	.select2-results__option[aria-selected] {
		font-size: 16px;
	}
	span.select2.select2-container.select2-container--default {
		font-size: 16px;
	}
}
