
.grid {
  display: flex;
  justify-content: space-between;

  &.grid--wide {
    display: block;
  }
  > .grid-item--primary {
    display: inline-block;
    vertical-align: top;
    + .grid-item--primary {
      margin-left: 20px;
    }
    .thumb--article {
      .thumb-image {
        width: 100%;
      }
    }
    .grid-item--secondary {
      width: 235px;
    }
  }
}

.grid-item--primary {
  width: 490px;
}

.grid-item--secondary {
  width: 250px;
}

.grid-item--reviews {
  .reviews-box {
    margin-bottom: 30px;
    padding: 25px 20px;
    border: 1px solid $color-grey-border;
  }
}

.grid-item--archives {
  .archives-box {
    margin-bottom: 30px;
    padding: 25px 20px;
    border: 1px solid $color-grey-border;
  }
}

.grid-item--primary {
  .thumb--primary {
    margin-bottom: 20px;
  }
}

.grid-item--content {
  // width: 740px;
  width: 900px;
}

.grid-item--sidebar {
  width: 240px;
}

.grid-item--photo {
  width: 242px;
}

.grid-item--form {
      width: 100%;
  + .grid-item--form {
    margin-left: 15px;
  }
}

.grid-photo {
  max-width: 100%;
  margin-bottom: 7px;
  cursor: pointer;
  .grid-photo-image {
    display: block;
    width: 100%;
  }
}

.grid-item.grid-item--sidebar .movies-item .movies-item-cover {
  width: 240px;
}

.grid-item--statue {
  width: 100%;
  position: relative;
  padding-left: 317px;
  .btn {
    margin-top: 10px;
  }
  .statue {
    position: absolute;
    top: -100px;
    left: -100px;
    transition: all 40s cubic-bezier(.01,.93,.06,1);
    max-width: 400px;
    overflow: hidden;
      &:hover {
      filter: brightness(200%);
      cursor: pointer;
    }
  }
}

.statuette {
  .grid-item--statue{
    .statue {
      pointer-events: none;
    }
    h1 {
      padding-bottom: 20px;
    }
    h3 {
      line-height: 35px;
      margin-bottom: 15px;
      max-width: 600px;
    }
    p {
      padding: 0 0 20px;
      line-height: 24px;
    }
  }
}
