
.hero {
  position: relative;
  margin-bottom: 40px;
}

.hero {
	.swiper-controls {
    width: 100%;
    left: 0;
    top: 40%;
    &:before {
      display: none;
    }
    .arrow--left {
      left: 0;
    }
    .arrow--right {
      right: 0;
    }
	}
}
