
.font-icons {
  font-family: "websymbolsligaregular";
}

.tenge {
  padding: 0 !important;
  font-family: $font-tenge !important;
  font-stretch: normal !important;
  font-weight: normal !important;
}

.fa {
  font-family: "fontawesome";
  font-stretch: normal;
  font-weight: normal;
}

.icon {
  display: inline-block;
  background-image: url($pathImages + 'sprites.png');
  background-repeat: no-repeat;
}

.icon--search {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 15px;
  height: 16px;
  padding: 0;
  line-height: 1;
  background: none;
  border: none;
  color: $color-primary;
}

.icon--logout {
  vertical-align: middle;
  width: 17px;
  height: 15px;
  margin-left: 7px;
  background-image: none;
}

.icon--social {
  position: relative;
  vertical-align: middle;
  width: 17px;
  &.fb {
    top: -3px;
    height: 17px;
    margin-right: 5px;
    background-position: 4px -21px;
  }
  &.insta {
    top: -3px;
    height: 16px;
    margin-right: 5px;
    background-position: 0 -40px;
  }
  &.vk {
    top: -1px;
    height: 10px;
    margin-right: 5px;
    background-position: -16px -24px;
  }
  &.twi {
    top: -1px;
    height: 13px;
    margin-right: 5px;
    background-position: 0 -75px;
  }
  &.google {
    top: -1px;
    height: 11px;
    margin-right: 5px;
    background-position: 0 -61px;
  }
  &.wh {
    background-image: url($pathImages + 'whatsapp-logo.svg');
    width: 16px;
    height: 16px;
    background-position: center center;
  }
}

.movies-hero {
  .icon--social {
    &.wh {
      background-image: url($pathImages + 'whatsapp-logo-active.svg');
    }
  }
}


.icon--social {
  &.fb.icon--color {
    top: -1px;
    background-position: 4px -120px;
  }
  &.vk.icon--color {
    background-position: 0 -107px;
  }
  &.twi.icon--color {
    background-position: 0 -91px;
  }
}

.icon--map {
  vertical-align: middle;
  width: 11px;
  height: 16px;
  background-position: -80px 0;
}

.icon--order {
  position: relative;
  top: 2px;
  width: 16px;
  height: 12px;
  margin-left: 10px;
  background-position: -96px 0;
}

.icon--views {
  position: relative;
  top: 1px;
  width: 12px;
  height: 9px;
  background-position: -115px 0;
}

.icon--views.icon--lg {
  top: 0;
  width: 16px;
  height: 10px;
  margin-right: 5px;
  background-position: -115px -16px;
}

.icon--comments {
  position: relative;
  top: 3px;
  width: 14px;
  height: 12px;
  margin-right: 1px;
  background-position: -132px 0;
}

.icon--comments.icon--lg {
  width: 16px;
  height: 14px;
  margin-right: 3px;
  background-position: -132px -16px;
}

.icon--glasses {
  position: relative;
  top: 0;
  width: 20px;
  height: 11px;
  margin-left: 10px;
  background-position: -152px 0;
}

.icon--close {
  width: 24px;
  height: 24px;
  background-position: -176px 0;
}

.payment .icon--close {
  background-position: -176px -27px;
}

.icon--facts {
  width: 32px;
  height: 32px;
  margin-right: 20px;
  background-position: -224px 0;
}

.icon--type {
  width: 24px;
  height: 19px;
}

.icon--type.photo {
  background-position: -416px 0;
}

.icon--type.video {
  background-position: -384px 0;
}

.icon--disc {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 2px 1px;
  border-radius: 50%;
  background-color: #95999e;
}

.icon--edit {
  position: absolute;
  top: 24px;
  right: 0;
  width: 17px;
  height: 17px;
  padding: 0;
  background-position: -264px 0;
}

.icon--remove {
  width: 14px;
  height: 16px;
  padding: 0;
  background-position: -288px 0;
}

.icon--gender {
  width: 32px;
  height: 32px;
}

.icon--gender.woman {
  background-position: -344px 0;
}

.icon--gender.man {
  background-position: -304px 0;
}

.icon--step {
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 16px;
  height: 6px;
  margin-left: 7px;
  margin-right: 5px;
  background-position: -80px -20px;
  opacity: .2;
}

.icon--success,
.icon--error {
  width: 65px;
  height: 65px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-position: -32px -120px;
  overflow: hidden;
}

