
.info-list {
	display: inline-block;
	padding-top: 40px;
	border-top: 2px solid #b8b8b8;
}

.info-item {
	display: inline-block;
	vertical-align: top;
	.title {
		margin-bottom: 5px;
		font-family: $font-gotham-medium;
		font-size: 46px;
		line-height: 50px;
		color: #fff;
	}	
	.text {
		margin-bottom: 20px;
		font-family: $font-gotham-light;
		font-size: 23px;
		line-height: 30px;
		color: #b8b8b8;
	}
	+ .info-item {
		margin-left: 80px;
	}
}
