
.label--default {
  position: absolute;
  display: inline-block;
  font-family: $font-primary-bold;
  color: #fff;
  text-transform: uppercase;
  z-index: 3;
}

.label--primary {
  background: #7c2952;
  // background: linear-gradient( 140deg, #7c2952, #cb395e);
  background-color: #e73f60;
}

.label--secondary {
  background-color: $color-label-secondary;
}

.label--movies {
  top: 0;
  left: -10px;
  padding-top: 3px;
  padding-right: 12px;
  padding-bottom: 1px;
  padding-left: 12px;
  font-size: 14px;
}

.label--thumb {
  padding-top: 3px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-left: 7px;
  font-size: 11px;
}

.label--article {
  top: 5px;
  left: 5px;
}

.label--news {
  top: 113px;
  left: -10px;
  padding: 3px 12px 1px;
  font-size: 11px;
  line-height: 1.428571429;
}

.label--primary.label--movies,
.label--primary.label--news,
.label--secondary.label--movies,
.label--secondary.label--news {
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    border-left: 10px solid transparent;
    border-right: 0 solid transparent;
  }
}

.label--primary.label--movies,
.label--primary.label--news {
  &:before {
    border-top: 10px solid #94301C;
  }
}

.label--primary.link--label {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.label--secondary.label--movies,
.label--secondary.label--news {
  &:before {
    border-top: 5px solid #00c0ff;
  }
}

.label--gender {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 32px;
  height: 32px;
  z-index: 11;
}
