
.lead {
  padding-top: 70px;
  margin-bottom: 75px;
  &-image {
    margin-right: 45px;
  }
  &-body {
    zoom: 1;
    overflow: hidden;
    padding-top: 15px;
    .btn.btn-secondary,
    .btn.btn-primary {
      padding: 10px 55px;
    }
  }
  &-text {
    font-family: 'Graphie-Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 45px;
    padding-right: 105px;
  }
}

.lead-marcom {
  .title-lead {
    color: #e74517;
  }
}
