
body.lg-on {
  overflow: hidden;
}

.lSSlideOuter .lSPager.lSGallery {
  margin-top: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 0 !important;
  background-color: #1f1f1f;
}

.lSSlideOuter .lSPager.lSGallery li {
  display: inline-block;
  height: 90px;
  > a {
    display: inline-block;
    opacity: 1;
    transition: .3s;
  }
}

.lSSlideOuter .lSPager.lSGallery li.active,
.lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 0 !important;
}

.lSSlideOuter .lSPager.lSGallery li:hover {
  > a {
    opacity: .8;
    transition: none;
  }
  &.active {
    > a {
      opacity: 1;
    }
  }
}

.lSSlideOuter .lSPager.lSGallery li.active {
  border: 2px solid $color-primary !important;
}

.lSAction > a {
  top: 42% !important;
  width: 56px !important;
  height: 90px !important;
  background-image: none;
  background-color: rgba(0,0,0,.2);
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 31px !important;
    width: 32px !important;
    height: 32px !important;
    background-image: url($pathImages + 'sprites.png');
    background-repeat: no-repeat !important;
    background-position: -41px -18px;
  }
}

.lSAction > .lSPrev {
  left: 0 !important;
  &:before {
    left: 10px;
    background-position: -41px -40px;
  }
}

.lSAction > .lSNext {
  right: 0 !important;
  &:before {
    right: 10px;
    background-position: -41px -80px;
  }
}

.lg-backdrop {
  background-color: rgba(0,0,0,.8) !important;
}

.lg-outer .lg-item {
  background-image: url($pathImages + 'loading.gif') !important;
}

.lg-icon {
  font-family: 'lightgallery' !important;
}
