
.link {
  text-decoration: none;
  transition: .3s;
  &:focus {
    color: #000;
    transition: .3s;
  }
  &:hover,
  &:active {
    text-decoration: none;
    color: $color-primary;
    transition: none;
  }
}

.link--bold {
  font-family: $font-primary-bold;
}

.link--email {
  text-decoration: none;
  transition: .3s;
  color: rgba(227,84,44,1);
  &:focus {
    color: rgba(227,84,44,1);
  }
  &:hover,
  &:active {
    text-decoration: none;
    color: rgba(227,84,44,.7);
    transition: none;
  }
}

.link--social {
  opacity: .5;
  transition: .3s;
  color: #fff;
  &:focus {
    color: #fff;
  }
  &:hover,
  &:active {
    color: #fff;
    text-decoration: none;
    opacity: 1;
    transition: none;
  }
}

.link--image,
.link--banner {
  opacity: 1;
  transition: .3s;
  &:focus {
    opacity: 1;
  }
  &:hover,
  &:active {
    opacity: .9;
    transition: none;
  }
}

.link--overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}

.link--label {
  transition: .3s;
  z-index: 2;
  &:focus {
    color: #fff;
  }
  &:hover,
  &:active {
    color: #fff;
    transition: none;
  }
  &.label--thumb,
  &.label--primary.label--movies,
  &.label--primary.label--news {
    &:hover,
    &:active {
      opacity: .9;
      transition: none;
    }
  }
  &.label--secondary.label--movies,
  &.label--secondary.label--news {
    &:hover,
    &:active {
      background-color: #09befa;
    }
  }
}

.link--form {
  font-family: $font-primary-bold;
  font-size: 12px;
}

.link--insta {
  font-family: $font-primary-bold;
  color: #125688;
  opacity: 1;
  transition: .3s;
  &:focus {
    opacity: 1;
  }
  &:hover,
  &:active {
    opacity: .9;
    transition: none;
  }
}

.link--twitter {
  font-family: $font-primary-bold;
  color: #4099ff;
  opacity: 1;
  transition: .3s;
  &:focus {
    opacity: 1;
  }
  &:hover,
  &:active {
    opacity: .9;
    transition: none;
  }
}

.person-body {
  .link--twitter,
  .link--insta {
    display: none;
  }
}

.link--archive {
  margin-left: 51px;
  font-family: $font-primary-bold;
  font-size: 12px;
  letter-spacing: .5px;
  color: #000;
  transition: .3s;
  &:focus {
    color: #000;
  }
  &:active,
  &:hover {
    color: $color-primary;
  }
}
