
.list-group {
  margin-bottom: 10px;
  .list-title {
    margin-bottom: 5px;
    font-family: $font-gill-bold;
    font-size: 15px;
  }
}

.list--default {
  list-style-type: disc;
  list-style-position: inside;
  font-family: $font-gill-regular;
  font-size: 16px;
  .list-item {
    position: relative;
    padding-left: 15px;
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      top: 8px;
      width: 4px;
      height: 4px;
      margin: 0 2px 1px;
      border-radius: 50%;
      background-color: #000;
    }
  }
}
