
.live {
  margin-bottom: 20px;
  padding: 25px 20px 40px;
  border-top-width: 3px;
  border-top-style: solid;
  .live-title {
    font-family: $font-primary-bold;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .live-description {
    font-family: $font-secondary-regular;
    font-size: 12px;
    margin-bottom: 5px;
  }
}

.live--comments {
  border-top-color: #fa7030;
  background-color: #1f1f1f;
  color: #fff;
  .title--secondary {
    color: #fa7030;
  }
  .live-item {
    margin-bottom: 15px;
  }
  .live-title {
    font-family: $font-primary-bold;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 5px;
  }
  .live-description {
    font-family: $font-secondary-regular;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .live-meta {
    font-size: 12px;
    .meta-author {
      display: inline-block;
      margin-right: 10px;
      font-family: $font-primary-bold;
      color: rgba(255,255,255,.5);
    }
    .meta-date {
      display: inline-block;
      font-family: $font-secondary-regular;
      color: rgba(255,255,255,.3);
    }
  }
}

.live--news {
  padding-bottom: 20px;
  border-top-color: #fa7030;
  border-right: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  background-color: #fff;
  color: #fff;
  .title--secondary {
    color: #000;
  }
  .live-item {
    margin-bottom: 20px;
  }
  .live-description {
    font-family: $font-primary-regular;
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
  }
  .live-meta {
    margin-bottom: 2px;
    .meta-category {
      display: inline-block;
      margin-right: 8px;
      font-family: $font-primary-bold;
      font-size: 11px;
      color: #b4b4b4;
      text-transform: uppercase;
    }
    .meta-date {
      display: inline-block;
      font-family: $font-primary-regular;
      font-size: 10px;
      color: #646464;
      text-transform: uppercase;
    }
  }
  .live-author {
    font-family: $font-primary-bold;
    font-size: 12px;
    color: #000;
  }
}

.live--movies {
  padding-bottom: 0;
  border-top-color: #fa7030;
  border-right: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  background-color: #fff;
  color: #fff;
  .title--secondary {
    color: #000;
  }
  .live-item {
    margin-bottom: 20px;
    .number {
      display: inline-block;
      vertical-align: top;
      margin-top: 1px;
      margin-right: 5px;
      font-size: 12px;
      color: rgba(0,0,0,.4);
    }
  }
  .live-item-rating {
    margin-top: 1px;
    font-size: 12px;
    font-weight: bold;
    color: #000;
    .star,
    .index {
      display: inline-block;
      vertical-align: middle;
    }
    .star {
      position: relative;
      top: -1px;
      right: -1px;
    }
    .index {
      font-family: $font-secondary-bold;
    }
  }
  .live-meta {
    display: inline-block;
    max-width: 135px;
    margin-bottom: 2px;
    .meta-title {
      font-family: $font-primary-bold;
      font-size: 13px;
      color: #000;
    }
    .meta-description {
      display: inline-block;
      font-family: $font-secondary-regular;
      font-size: 12px;
      color: rgba(0,0,0,.5);
    }
  }
}

.live--studios {
  padding-bottom: 10px;
  border-top: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  background-color: #fff;
  color: #fff;
  .title--secondary {
    color: #000;
  }
  .live-item {
    margin-bottom: 10px;
  }
  .live-item-rating {
    // margin-top: 1px;
    // font-size: 12px;
    // font-weight: bold;
    // color: #000;
    // .star {
    //   display: inline-block;
    //   vertical-align: middle;
    //   position: relative;
    //   top: -1px;
    //   right: -1px;
    // }
  }
  .live-item-address {
    margin-bottom: 5px;
    font-family: $font-secondary-regular;
    font-size: 12px;
    color: rgba(0,0,0,.5);
  }
  .live-item-phone {
    margin-bottom: -2px;
    font-family: $font-secondary-regular;
    font-size: 12px;
    color: #000;
  }
  .live-title {
    font-family: $font-primary-bold;
    font-size: 15px;
    color: #000;
  }
  .tags {
    display: inline-block;
    font-family: $font-secondary-regular;
    font-size: 11px;
    color: rgba(0,0,0,.5);
    .tags-item {
      font-family: $font-secondary-bold;
      display: inline-block;
      margin-right: 5px;
      letter-spacing: 0.3px;
    }
  }
}
