
.map {
  width: 100%;
  height: 380px;
}

.map-info {
  position: relative;
  top: -30px;
  background-color: #000;
  color: #fff;
  padding: 15px;
  font-size: 14px;
  line-height: 18px;
  border-top: 4px solid $color-primary;
  .small {
    color: $color-primary;
  }
}
