
.menu {
  position: fixed;
  top: 60px;
  left: -100%;
  width: 100%;
  height: calc(100% - 60px);
  padding-bottom: 30px;
  background-color: #06142e;
  transition: .5s;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;
  .nav--primary {
    margin-right: 0;
    > a, > div {
      display: block;
      margin-right: 0;
      padding: 10px 0 10px 20px;
      color: #fff;
      border-bottom: 1px solid rgba(255,255,255,.05);
    }
    .link--primary {
      font-size: 16px;
      color: #fff;
    }
  }
  .nav--primary .link--primary:after {
    content: none;
  }
  .nav--user {
    width: 100%;
    padding-left: 20px;
    .user-name {
      color: #fff;
    }
    .btn--logout {
      color: rgba(255,255,255,.4);
    }
  }
  .nav--secondary {
    width: 100%;
    padding: 20px 0;
    .nav-item {
      display: block;
      margin-left: 20px !important;
      + .nav-item {
        margin-top: 12px;
      }
      .link--primary {
        font-size: 14px;
        color: rgba(255,255,255,.7);
      }
    }
  }
  .btn--arrow {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 60px;
    height: 40px;
    // border: 1px solid #fff;
    transition: .5s;
    padding-bottom: 0;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #fff;
      transform-origin: center center;
      transition: .5s;
    }
    &.is-opened {
      transform: rotate(180deg);
      &:after {
        border-top-color: $color-primary;
      }
    }
  }
  &.is-opened {
    left: 0;
  }
  .dropdown {
    padding-bottom: 0 !important;
    overflow: hidden;
    .caret {
      display: none;
    }
  }
  .dropdown .link--primary {
    margin-bottom: 10px;
  }
  .nav--primary .dropdown-menu {
    position: relative;
    top: auto;
    left: -20px;
    right: auto;
    display: block;
    width: calc(100% + 20px);
    // height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    background-color: #1f1f1f;
    box-shadow: none;
    float: none;
    transition: height .5s;
    z-index: 2;
    &:before {
      content: none;
    }
    .dropdown-menu-link {
      opacity: .7;
      background-color: #1F1F1F;
      padding-left: 30px !important;
    }
    .dropdown-menu-item {
      border-top: none;
    }
  }
  .btn--login {
    top: 0px;
    float: none !important;
    margin-left: 20px;
    color: rgba(255,255,255,.4);
    .icon--logout {
      color: #fff;
      background-image: url("../images/icon-logout.svg");
      &:before,
      &:after {
        content: "";
      }
    }
  }
}

.menu-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 910;
  background-color: rgba(0,0,0,.7);
}
