
.modal {
  .modal-dialog {
    width: 800px;
    border-radius: 0;
  }
  .modal-content {
    background-color: #f9f9f9;
    border: none;
    border-radius: 5px;
    box-shadow: none;
  }
  .modal-title {
    margin-bottom: 0;
    font-family: $font-gill-semibold;
    font-size: 24px;
  }
  .modal-header {
    padding-top: 40px;
    padding-bottom: 10px;
    border-bottom: none;
    padding-left: 40px;
  }
  .modal-body {
    padding: 0 40px;
    background-color: transparent;
    font-family: 'Graphie-Regular', Helvetica, Arial, sans-serif;
  }
  .modal-footer {
    margin-bottom: 20px;
    padding: 15px 0 40px;
    border-top: none;
    font-family: $font-gill-regular;
    font-size: 12px;
    text-align: center;
    .link--form {
      margin-left: 5px;
    }
  }
  .result-description {
    font-size: 22px;
    line-height: 24px;
  }
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0;
  opacity: .6;
  transition: .3s;
  .icon--close {
    width: 16px;
    height: 16px;
    background-position: 0 0;
    background-image: url("../images/icon-close.svg");
  }
}

.modal--about,
.modal--auth,
.modal--pass {
  .modal-header {
    padding-bottom: 15px;
  }
  // .modal-title {
  //   font-size: 20px;
  // }
  .form-group--submit {
    padding-top: 15px;
  }
  .phone-group {
    .form-control {
      width: 250px;
    }
  }
}

.modal--auth.modal--pass {
  .form-group--submit {
    margin-bottom: 0;
    padding-top: 5px;
    .btn--primary {
      margin-bottom: 0;  
    }
  }
  &.modal--auth {
    .modal-footer {
      display: block;
      p, .link--form {
        font-family: $font-gill-regular;
        font-size: 16px;
        color: #e73f60;
      }
      .link--form {
        font-family: $font-gill-semibold;
        &:focus {
          color: #e73f60;
        }
        &:hover,
        &:active {
          color: rgba(#e73f60, .8);
        }
      }
    }
  }
  .modal-title {
    &:after {
      content: none;
    }
  }
}

.modal--about,
.modal--phone {
  .modal-body {
    padding-bottom: 40px;
  }
}

.modal--banner {
  .btn--primary {
    position: static;
    width: 100%;
    margin: 0;
    padding: 15px 0;
    border-radius: 0;
    font-family: $font-primary-bold;
    font-size: 13px;
    text-transform: uppercase;
  }
  .modal-dialog {
    width: 100%;
    height: calc(100% - 48px);
    margin-top: 0;
  }
  .modal-header {
    padding: 0;
  }
  .modal-body {
    padding: 0;
  }
}

.modal--conditions {
  .modal-dialog {
    width: 700px;
  }
  .modal-title {
    font-size: 28px;
  }
  .modal-header {
    padding-left: 35px;
  }
  .modal-body {
    padding: 15px 35px 25px;
  }
  .list-default {
    margin-bottom: 20px;
  }
  .list-item {
    margin-bottom: 10px;
  }
}

.modal--payment {
  .modal-dialog {
    width: 660px;
  }
}

// modal for user ratings feedback after movie watch
.modal--feedback {
  .modal-dialog {
    width: 800px;
  }
  .modal-header {
    padding-top: 50px;
    padding-left: 40px;
  }
  .modal-title {
    text-align: left;
  }
  .modal-body {
    padding-left: 40px;
    padding-right: 20px;
  }
  .modal-footer {
    padding-bottom: 50px;
    padding-left: 40px;
    text-align: left;
    .btn--primary {
      padding: 10px 50px;
    }
  }
}

.modal--success,
.modal--error {
  .modal-dialog {
    width: 640px;
  }
  .modal-body {
    padding-top: 15px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.modal--error {
  .modal-header {
    padding-left: 40px;
  }
  .title--primary {
    color: #000;
    font-family: $font-gill-bold;
  }
  .text {
    margin-bottom: 15px;
    font-family: $font-gill-regular;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    + .btn--primary {
      margin-top: 25px;
    }
  }
}

// modal for ticketon iframe
.modal--ticketon {
  .modal-dialog {
    width: 780px;
    height: 520px;
  }
  .modal-content,
  .modal-body {
    height: 100%;
    padding: 0;
    .iframe-ticketon {
      width: 100%;
      height: 100%;
    }
  }
}

.modal--auth {
  .modal-body > .form-tip {
    margin-bottom: 10px;
    font-family: $font-gill-regular;
    font-size: 16px;
    font-weight: normal;
    color: #737373;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .modal-dialog {
    width: 380px;
  }
  .control-label {
    margin-bottom: 0;
    font-family: $font-gill-regular;
    font-size: 16px;
    font-weight: normal;
    color: #606060;
  }
  .checkbox label {
    top: -5px;
    font-family: $font-gill-regular;
    font-size: 15px;
    padding-left: 25px;
    .link {
      font-family: $font-gill-semibold;
      font-size: 15px;
      color: #e73f60;
      &:focus {
        color: #e73f60;
      }
      &:hover,
      &:active {
        color: rgba(#e73f60, .95);
      }
    }
  }
  .form-group--submit {
    text-align: center;
    .btn--primary {
      width: 100%;
      margin-bottom: 20px;
      padding: 10px 25px;
      font-family: $font-gill-semibold;
      font-size: 18px;
    }
    .link--form {
      font-family: $font-gill-regular;
      font-size: 16px;
      color: #e73f60;
      &:focus {
        color: #e73f60;
      }
      &:hover,
      &:active {
        color: rgba(#e73f60, .8);
      }
    }
  }
  .link--title {
    display: inline-block;
    font-family: $font-gill-semibold;
    font-size: 24px;
    line-height: 38px;
    color: #000;
    &:focus {
      color: #000;
    }
    &:hover,
    &:active {
      color: $color-primary;
    }
    + .modal-title {
      margin-left: 25px;
    }
  }
  .modal-title {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    line-height: 38px;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 3px;
      background-color: $color-primary;
    }
    + .link--title {
      margin-left: 25px;
    }
  }
  .modal-header {
    padding-bottom: 20px;
  }
  .modal-body {
    padding-bottom: 15px;
  }
  .modal-footer {
    display: none;
  }
}

.modal.modal--result {
  .modal-dialog {
    width: 500px;
  }
  .modal-body {
    font-family: $font-primary-regular;
    text-align: center;
  }
}
