
.money {
  padding: 25px;
  background-color: #FFF6E2;
  border-radius: 5px;
  font-family: $font-secondary-regular;
  .money-text {
    font-size: 16px;
  }
  .money-balance {
    font-family: $font-tenge;
    font-size: 34px;
    color: $color-primary;
    .number {
      display: inline-block;
      margin-right: 5px;
      font-family: $font-secondary-bold;
    }
  }
  .btn--primary {
    margin-bottom: 10px;
  }
}
