
.movies-online {
  padding-bottom: 35px;
  > .container {
    position: relative;
  }
  .movies-item {
    .movies-item-title {
      margin-top: 10px;
    }
    .movies-item-cover {
      width: 150px;
      height: 210px;
      img {
        display: block;
        width: 100%;
      }
    }
  }
}

.movies-list {
  margin-right: -35px;
  font-size: 0;
  .movies-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 24px;
    .label--news {
      top: -10px;
      font-size: 14px;
      padding: 10px 15px 8px;
      &:hover {
        opacity: 1;
      }
    }
    .label--default {
      text-transform: none;
    }

    .movies-item-description {
      font-family: $font-gill-regular;
      font-size: 14px;
    }
    .movies-item-author { 
      margin-top: 2px;
      font-family: $font-gill-regular;
      font-size: 14px;
      line-height: 20px;
      .highlight {
        font-family: $font-gill-bold;
      }
      + .movies-meta {
        margin-top: 3px;
      }
    }
    .movies-item-cover {
      overflow: hidden;
      // > img {
      //   width: 205px;
      //   height: 298px;
      // }
    }
  }
}

.movies-item {
  position: relative;
  display: inline-block;
  .movies-item-cover {
    margin-bottom: 10px;
    width: 100%;
    opacity: 1;
    // display: table-cell;
    // vertical-align: middle;
    // background-color: rgba(0,0,0,.1);
    background-color: #f1f7f9;
    overflow: hidden;
    transition: .3s;
    .link--image {
      width: 100%;
    }
  }
  .movies-item-title {
    font-family: $font-gill-bold;
    font-size: 14px;
    transition: .3s;
  }
  .movies-item-category {
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: $font-gill-bold;
    font-size: 11px;
    color: $color-meta;
    text-transform: uppercase;
  }
}

.movies-meta {
  .movies-meta-item {
    display: inline-block;
    // margin-left: 5px;
    font-family: $font-gill-regular;
    font-family: $font-numbers;
    font-size: 12px;
    color: #969696;
    &:first-child {
      margin-left: 0;
    }
    &.meta-views {
      .icon--views {
        margin-right: 3px;
      }
    }
    &.meta-date {
      display: none;
    }
    &.meta-comments {
      display: none;
      .icon--comments {
        margin-right: 2px;
      }
    }
  }
}

.movies-item-body {
  position: relative;
  &:hover,
  &:active {
    .movies-item-cover {
      opacity: .9;
      transition: $transition-primary;
    }
    .movies-item-title {
      color: $color-primary;
      transition: $transition-primary;
    }
  }
}

.movies-item-rating,
.movie-rating,
.reviews-rating {
  .stars-list {
    display: inline-block;
    text-align: left;
    margin-right: 2px;
    .stars-item {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }
  }
  .movies-item-rating-total,
  .reviews-rating-total,
  .stars-list {
    vertical-align: middle;
  }
}

.movies-item-rating-total,
.reviews-rating-total {
  display: inline-block;
  font-family: $font-numbers;
  font-weight: bold;
  line-height: 1;
}

.movie .movies-item-rating-total,
.reviews .reviews-rating-total {
  vertical-align: initial;
}

.grid-item {
  .movies-item {
    display: block;
    margin-bottom: 20px;
    .movies-item-cover {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .movies-item-title {
      margin-top: 8px;
      margin-bottom: 5px;
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.movies {
  padding-top: 10px;
  .movies-list {
    .movies-item {
      width: 205px;
      margin-bottom: 30px;
      margin-right: 35px;
      .movies-item-title {
        margin-top: 5px;
        margin-bottom: 2px;
        font-size: 18px;
        line-height: 18px;
      }
      .movies-item-cover {
        img {
          width: 100%;
        }
      }
    }
  }
}

// movie block on the movie page
.movie,
#tabAbout {
  padding-bottom: 30px;
  .movie-head {
    margin-bottom: 20px;
  }
  .movie-body {
    margin-bottom: 20px;
  }
  .stars-list {
    position: relative;
    top: 1px;
    vertical-align: top;
  }
  .movie-rating {
    font-family: $font-secondary-regular;
    font-size: 14px;
  }
  .movie-rating-total {
    font-family: $font-secondary-bold;
  }
  .movie-hero {
    position: relative;
    display: inline-block;
    margin-right: 35px;
    .movie-cover {
      width: 200px;
      margin-bottom: 5px;
      opacity: 1;
      transition: .3s;
      .link--image {
        width: 100%;
      }
    }
    .btn--primary {
      width: 100%;
    }
    .movies-meta {
      margin-bottom: 10px;
    }
  }
  .movie-info {
    font-family: $font-secondary-regular;
    font-size: 15px;
    overflow: hidden;
    .movie-info-item {
      margin-bottom: 10px;
    }
    .movie-info-title,
    .movie-info-description {
      display: inline-block;
      vertical-align: top;
    }
    .movie-info-title {
      width: 175px;
      width: 35%;
    }
    .movie-info-description {
      width: 63%;
      .link {
        font-family: $font-primary-bold;
      }
    }
  }
}

.movie-watch {
  margin-bottom: 30px;
  padding-top: 30px;
  border-top: 1px solid #e6e6e6;
  .title--primary {
    font-size: 24px;
    color: #000;
    text-transform: none;
  }
  .title-section--primary {
    font-size: 18px;
    color: #000;
    text-transform: none;
  }
  .movie-watch-body {
    padding-top: 5px;
    .video-tip {
      margin-top: 5px;
      font-size: 12px;
      text-align: right;
    }
  }
  .watch-meta {
    margin-bottom: 10px;
    .watch-meta-item {
      display: inline-block;
      margin-left: 20px;
      font-family: $font-primary-regular;
      font-size: 12px;
      > .link {
        border-bottom: 1px dashed rgba(0,0,0,.5);
        &:hover,
        &:active {
          border-bottom: 1px dashed rgba(227,84,44,.7);
        }
      }
      .episode {
        margin-left: 5px;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

// cinema styles, page with collection of online movies
.cinema {
  position: relative;
  .movies-list {
    margin-right: -40px;
  }
  .movies-item {
    margin-right: 40px;
  }
}

.movies-hero {
  position: relative;
  margin-bottom: 40px;
  // overflow: hidden;
  background-color: #1F1F1F;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  &.active {
    opacity: 1;
    visibility: visible;
    position: relative;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 500px;
    left: -700px;
    right: -700px;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
  }
  .movies-hero-item {
    position: relative;
    height: 500px;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to right, #1f1f1f, rgba(0,0,0,.3), #1f1f1f);
    }
    .title--primary {
      font-size: 54px;
      color: #fff;
    }
    .movies-meta {
      position: relative;
      padding-top: 50px;
      text-align: center;
      z-index: 3;
      .meta-year,
      .genres-item {
        font-family: $font-primary-regular;
        font-size: 12px;
        color: #fff;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      .meta-year {
        margin-bottom: 10px;
      }
      .meta-genres {
        text-align: center;
        .genres-item {
          display: inline-block;
          margin: 0 15px;
          color: rgba(255,255,255,.5);
        }
      }
    }
    .btn--primary {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      padding: 15px 50px;
      font-size: 16px;
      z-index: 3;
    }
  }
  .movies-hero-body {
    min-height: 300px;
    padding: 20px 0 30px;
    .title--primary,
    .aside,
    .link {
      color: #fff;
    }
    .title--primary {
      display: inline-block;
      font-size: 24px;
    }
    .aside,
    .link {
     font-family: $font-secondary-regular;
     font-size: 15px;
    }
    .aside {
      margin-top: 37px;
    }
    .link {
      opacity: 1;
      border-bottom: 1px solid #fff;
      line-height: 1;
      &:hover,
      &:active {
        opacity: .7;
      }
    }
    .movies-info-description {
      position: relative;
      // max-height: 125px;
      margin-right: 300px;
      margin-bottom: 10px;
      font-family: $font-gill-regular;
      font-size: 15px;
      color: rgba(255,255,255,.5);
    }
    .movies-meta {
      margin-bottom: 30px;
      .meta-item {
        display: inline-block;
      }
      .meta-views {
        width: 70px;
        margin-right: 40px;
        color: rgba(255,255,255,.5);
      }
      .meta-rating {
        color: #fff;
      }
      .sharing {
        position: relative;
        top: -5px;
      }
    }
  }
}

.movies-hero--watch {
  &:before {
    content: none;
  }
  .video--primary {
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -700px;
      right: -700px;
      box-shadow: 0 1px 5px rgba(0,0,0,.3);
      z-index: 0;
    }
  }
}
.movie-tab-description {
  max-width: 770px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-family: $font-gill-regular;
  font-size: 18px;
  line-height: 22px;
}

.movies--retro {
  .movies-item {
    width: 580px !important;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    .movies-item-title {
      margin-bottom: 12px !important;
      font-family: $font-gill-bold;
      font-size: 30px !important;
    }
  }
  .movies-item-visual {
    position: relative;
    width: 167px;
    margin-right: 15px;
  }
  .movies-item-visual,
  .movies-item-body {
    display: inline-block;
    vertical-align: top;
  }
  .movies-item-author {
    margin-bottom: 10px;
    font-family: $font-gill-semibold;
    font-size: 18px !important;
    line-height: 1;
    cursor: text;
  }
  .movies-item-description {
    margin-bottom: 7px;
    font-family: $font-gill-regular;
    font-size: 18px !important;
    line-height: 1;
    color: #b0a2a2;
    cursor: text;
  }
  .movies-item-body {
    width: calc(100% - 182px);
    &:hover,
    &:active {
      .movies-item-cover {
        opacity: 1;
      }
      .movies-item-title {
        color: #000;
      }
    }
  }
  .movies-item-cover {
    > img {
      width: 100%;
    }
  }
}

.movie-info-synopsis {
  padding: 0 0 20px;
  p {
    font-family: $font-primary-regular !important;
    font-size: 16px !important;
  }
}

.movie-watch {
  padding-top: 0;
  border-top: 0;
}

.movie-body {
  p.info {
    padding: 0 0 8px;
    font-size: 12px;
    &.small {
      padding: 0;
    }
  }
}

.film {
  p.info:not(.small),
  figcaption {
    font-family: $font-secondary-bold;
  }
  p.info,
  .afisha img {
    padding-bottom: 8px;
  }
  p.info.small {
    padding: 0;
  }
}

.film .afisha figcaption {
  color: inherit;
  transition: all .3s;
}

.small {
    font-family: $font-secondary-italic;
}

.film {
  position: relative;
}

.film:hover {
  .afisha figcaption {
    color: $color-primary;
  }
}

.add-movie {
  position: relative;
  height: 298px;
  p {
    position: absolute;
    top: 100px;
    width: 100%;
    font-family: $font-primary-bold;
    font-size: 13px;
    color: #c5c5c5;
    padding: 20px;
    text-align: center;
    transition: .3s;
  }
  .movies-item-body {
    height: 100%;
  }
  .movies-item-title {
    top: 50px;
    font-size: 36px !important;
  }
  &:hover,
  &:active {
    p {
      color: #c8395e;
    }
  }
}
