
.nav--primary {
  margin-bottom: 0;
  .link--primary {
    position: relative;
    padding: 0;
    font-size: 24px;
    font-family: $font-gill-semibold;
    color: #fff;
    letter-spacing: .8px;
    &:focus {
      color: #fff;
      background-color: transparent;
    }
    &:hover,
    &:active {
      color: $color-primary;
      background-color: transparent;
    }
    &.active {
      // pointer-events: none;
      color: $color-primary;
      .caret {
        border-top-color: $color-primary;
      }
    }
  }
  
  .link--primary.has-inner-nav.active {
    &:after {
      border-bottom: 10px solid #F5F5F5;
    }
  }
  > .link,
  > .dropdown {
    display: inline-block;
    margin-right: 20px;
  }
}

.nav--mini {
  overflow: hidden;
  .link--primary {
    position: relative;
    padding: 0;
    font-size: 18px;
    font-family: $font-gill-regular;
    color: #cbcccc;
    letter-spacing: .2px;
    &:focus {
      color: #cbcccc;
      background-color: transparent;
    }
    &:hover,
    &:active {
      color: $color-primary;
      background-color: transparent;
    }
    &.active {
      // pointer-events: none;
      color: $color-primary;
      .caret {
        border-top-color: $color-primary;
      }
    }
  }
  > .link,
  > .dropdown {
    display: inline-block;
    margin-right: 15px;
  }
}

.nav--inner {
  padding-bottom: 15px;
  .link--primary {
    position: relative;
    padding: 0;
    font-size: 24px;
    font-family: $font-gill-regular;
    color: #fff;
    letter-spacing: .2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:focus {
      color: #cbcccc;
      background-color: transparent;
    }
    &:hover,
    &:active {
      color: $color-primary;
      background-color: transparent;
    }
    &.active {
      pointer-events: none;
      &:after {
        content: "";
        position: absolute;
        left: 40%;
        top: 45px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
      }
    }
    + .link--primary {
      margin-left: 20px;
    }
  }
}

/*Secondary nav on inner pages*/
.inner-nav {
  padding: 5px 0;
  margin-bottom: 20px;
  .container {
    font-size: 13px;
    line-height: 13px;
  }
  .nav--secondary {
    // margin-left: -30px;
    font-size: 18px;
    font-family: $font-gill-semibold;
    overflow: visible;
    > li .link {
      padding: 12px 15px;
      border-radius: 10px;
    }
    li.active {
      a {
        pointer-events: none;
      }
      a,
      a:hover,
      a:focus {
        color: #fff;
        background-color: $color-primary;
      }
    }
  }
}

.nav--secondary {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  .nav-item {
    display: inline-block;
    margin-left: 30px;
    .link--primary {
      padding: 0;
      font-size: 12px;
      font-family: $font-primary-regular;
      font-weight: normal;
      font-style: normal;
      color: rgba(0,0,0,.4);
      &:focus {
        color: rgba(0,0,0,.4);
        background-color: transparent;
      }
      &:hover,
      &:active {
        color: rgba(227,84,44,1);
        background-color: transparent;
      }
    }
    &:first-child {
      margin-left: 0;
    }
    &.active {
      .link--primary {
        pointer-events: none;
        color: rgba(227,84,44,1);
        background-color: transparent;
      }
    }
  }
}

.nav--footer {
  display: inline-block;
  vertical-align: top;
  width: 800px;
  .col {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
  }
  .nav-item {
    // display: inline-block;
    // vertical-align: top;
    // width: 110px;
    .link--primary {
      padding: 0;
      font-family: $font-gill-regular;
      font-size: 18px;
      line-height: 1;
      color: #000;
      &:focus {
        color: #000;
        background-color: transparent;
      }
      &:hover,
      &:active {
        color: $color-primary;
        background-color: transparent;
      }
    }
    &.active {
      .link--primary {
        pointer-events: none;
        color: rgba(227,84,44,1);
        background-color: transparent;
      }
    }
  }
}

.nav--user {
  margin-top: 3px;
  .link {
    display: block;
    width: auto;
    &:hover,
    &:active {
      color: $color-primary;
    }
  }
  .link--login {
    color: #fff;
  }
  .link--lang {
    display: inline-block;
    margin-top: 8px;
    color: #cbcccc;
  }
  .fa {
    font-size: 14px;
  }
  .user {
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
  }
  .user-name {
    margin-bottom: 3px;
    font-family: $font-primary-bold;
    font-size: 13px;
  }
  .user-money {
    margin-right: 15px;
    font-family: $font-tenge;
    font-size: 13px;
    color: $color-primary;
    .number {
      display: inline-block;
      margin-right: 3px;
      font-family: $font-secondary-bold;
    }
  }
  .btn--logout {
    display: inline-block;
    padding: 0;
    font-family: $font-secondary-regular;
    font-size: 13px;
    color: rgba(0,0,0,.4);
    &:focus {
      color: rgba(0,0,0,.4);
    }
    &:hover,
    &:active {
      color: rgb(227,84,44);
    }
  }
}

.nav-item-mobile {
  display: none !important;
}

.backdrop {
  display: none;
}
