
.news--primary {
  position: relative;
  max-width: 100%;
  background-image: url($pathImages + 'bg-news.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0 55px;
  text-align: center;
  overflow: hidden;
  .title-section--primary {
    position: absolute;
    top: -24px;
    font-size: 34px;
    z-index: 10;
  }
  > .container {
    position: relative;
  }
  .title-section--primary {
    .original {
      position: relative;
      z-index: 2;
    }
    .shadow {
      position: absolute;
      left: 2px;
      top: 3px;
      width: 100%;
      color: rgba(0,0,0,.5);
      z-index: 0;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 16px;
        left: 0;
        width: 100%;
        background-color: #f1f7f9;
      }
    }
  }
}

.news--secondary {
  padding-top: 25px;
}
