
.nominations {
	padding: 20px 30px;
	background-color: #f9f9f9;
	border-radius: 10px;
	cursor: text;
	.title--secondary {
		margin-bottom: 10px;
	}
	.nominations-item {
		padding: 10px 0;
		margin-bottom: 3px;
		font-family: $font-gill-regular;
		font-size: 18px;
		line-height: 22px;
		color: #000;
		+ .nominations-item {
			border-top: 1px solid #e0e0e0;
		}
	}	
	+ .map {
		margin-top: 50px;
	}
}
