
.pagination--primary {
  width: 490px;
  margin-top: 15px;
  padding-top: 15px;
  font-size: 0;
  .pagination-item {
    display: inline-block;
    margin-right: 0;
    &.active {
      .pagination-link {
        color: $color-primary;
      }
    }
    &:first-child {
      .pagination-link {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
    &:last-child {
      .pagination-link {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
    + .pagination-item {
      margin-left: -2px;
    }
  }
  .pagination-link {
    padding: 5px 10px;
    font-family: $font-gill-bold;
    font-size: 18px;
    border: 2px solid #e5e5e5;
  }
}

.pagination--primary.pagination--big-center {
  text-align: center;
  width: 100%;
  li > *,
  li {
    font-size: 24px;
  }
}
