
.partners {
  padding-top: 30px;
  padding-bottom: 50px;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partners-item {
  display: inline-block;
  vertical-align: top;
  width: 17%;
  margin-bottom: 20px;
  text-align: center;
  .partners-body {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover,
    &:active {
      .partners-image {
        opacity: 1;
        transition: none;
      }
      .partners-name {
        color: $color-primary;
        transition: none;
      }
    }
  }
  .partners-image {
    margin: 0 auto -5px;
    width: 230px;
    height: 130px;
    line-height: 100px;
    filter: brightness(80%);
    opacity: .8;
    transition: .3s;
    img {
      border-radius: 0;
      max-width: 75%;
      max-height: 65%;
    }
  }
  .partners-name {
    font-family: $font-gill-semibold;
    color: #737783;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    opacity: .7;
    transition: .3s;
    .partners-first-name,
    .facses-seconda-name {
      display: block;
    }
  }
  .partners-meta {
    display: none;
    margin-top: 5px;
    font-family: $font-gill-regular;
    font-size: 13px;
    color: #b4b4b4;
    letter-spacing: 1px;
  }
  .partners-meta--primary {
    text-transform: uppercase;
  }
  .partners-meta--secondary {
    text-transform: normal;
  }
}

.application + .partners {
  .partners-item .partners-image {
    padding-left: 0;
    padding-right: 0; 
    filter: brightness(80%);
  }
}

.partners-item .partners-meta {
  letter-spacing: inherit;
}
