
.payment-wrapper {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 40px;
  background-color: #f1f7f9;
  opacity: 0;
  transition: .3s;
  z-index: 0;
  &.active {
    visibility: visible;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    opacity: 1;
    z-index: 7;
    transition: .3s;
  }
}

.payment--movie {
  position: relative;
  padding: 20px 15px 20px 90px;
}

.movie-watch {
  .video {
    overflow: hidden;
  }
}

.main--cinema {
  .payment-wrapper {
    .payment--movie {
      position: static;
    }
  }
}

.video {
  .payment--movie {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 40px;
    background-color: #f1f7f9;
    opacity: 0;
    z-index: 0;
    transition: .3s;
    &.active {
      visibility: visible;
      position: relative;
      top: auto;
      right: auto;
      left: auto;
      opacity: 1;
      z-index: 7;
      transition: .3s;
    }
  }
  .payment--success {
    // background-color: #f1f7f9;
    // padding-right: 50px;
    // padding-left: 50px;
  }
}

.payment--success,
.payment--error {
  // display: none;
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  z-index: 0;
  .title--primary {
    margin-bottom: 15px;
    font-size: 28px;
  }
  .icon--success,
  .icon--error {
    overflow: hidden;
  }
  .icon--error.font-icons {
    color: #E35437;
    font-size: 53px;
  }
  .success-body,
  .error-body {
    overflow: hidden;
  }
  .success-description,
  .error-description {
    margin-bottom: 25px;
    font-family: $font-primary-regular;
    font-size: 16px;
    line-height: 25px;
  }
  .btn--primary {
    padding: 10px 25px;
  }
  &.active {
    display: block;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    z-index: 7;
  }
}

.payment-meta {
	display: inline-block;
	vertical-align: middle;
	font-family: $font-primary-regular;
	font-size: 12px;
	.meta-item {
		display: inline-block;
		margin-right: 3px;
	}
}

// .movie-materials-body-item {
//   display: none;
//   position: absolute;
//   top: 20px;
//   left: 0;
//   right: 0;
//   font-family: $font-secondary-regular;
//   font-size: 15px;
//   opacity: 0;
//   z-index: 0;
//   // transition: .3s;
//   &.active {
//     display: block;
//     position: relative;
//     top: auto;
//     right: auto;
//     left: auto;
//     opacity: 1;
//     z-index: 7;
//   }
// }
