
.people {
  padding-top: 20px;
  .is-team {
    .people-item {
      position: relative;
    }
  }
}

.people-list {
  margin-right: -22px;
  .people-item {
    margin-bottom: 30px;
    margin-right: 22px;
  }
}

.people-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 160px;
  width: 180px;
  text-align: center;
  &:hover,
  &:active {
    .people-image {
      opacity: .9;
      transition: none;
    }
    .people-name {
      color: $color-primary;
      transition: none;
    }
  }
  .about-team & {
    &:hover,
    &:active {
      .people-image {
        opacity: 1;
        transition: none;
      }
      .people-name {
        color: #000;
        transition: none;
      }
    }
  }
  .people-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 125px;
    margin-bottom: 15px;
    transition: .3s;
    overflow: hidden;
  }
  .people-name {
    margin: 0 0 5px;
    font-family: $font-gill-semibold;
    font-size: 18px;
    transition: .3s;
  }
  .people-meta {
    font-family: $font-gill-regular;
    font-size: 16px;
    line-height: 20px;
    color: #b0a2a2;
  }
}
