
.person {
  .title--primary {
    margin-bottom: 20px;
  }
  .stars-list {
    position: relative;
    top: 1px;
    vertical-align: top;
  }
  .person-hero {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    width: 235px;
    margin-bottom: 5px;
    cursor: pointer;
    .person-image {
      display: block;
      width: 100%;
    }
  }
  .person-info {
    font-family: $font-secondary-regular;
    font-size: 15px;
    overflow: hidden;
    .person-info-item {
      margin-bottom: 10px;
    }
    .person-info-title,
    .person-info-description {
      display: inline-block;
      vertical-align: top;
    }
    .person-info-title {
      width: 175px;
      width: 35%;
    }
    .person-info-description {
      width: 63%;
      .link {
        font-family: $font-primary-bold;
      }
    }
  }
  .person-body {
    margin-bottom: 20px;
  }
  .movie-materials-body-item {
    .link {
      font-family: $font-primary-bold;
    }
  }
  .sharing {
    margin-bottom: 30px;
  }
}

.person-insta {
  position: relative;
  padding-top: 15px;
  padding-bottom: 20px;
  border-top: 2px solid #e6e6e6;
  border-right: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
  .swiper-control.arrow--left,
  .swiper-control.arrow--right {
    position: absolute;
    top: 45%;
    z-index: 10;

    top: 0;
    bottom: 0;
    width: 20px;
    background-color: #f0f;
  }
  .swiper-control.arrow--left {
    left: 10px;
  }
  .swiper-control.arrow--right {
    right: 10px;
  }
}

.person-insta-title,
.person-twitter-title {
  margin-bottom: 10px;
  font-family: $font-primary-regular;
  font-size: 14px;
}

.person-twitter {
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  border-bottom: 2px solid #e6e6e6;
}

.person-chart {
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
  .title--secondary {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
    font-family: $font-primary-bold;
    font-size: 14px;
    text-transform: none;
  }
  .person-meta {
    margin-bottom: 10px;
  }
  .chart-filters {
    position: absolute;
    top: 35px;
    left: 570px;
    right: 40px;
    .filter-job,
    .filter-period {
      .title--secondary {
        display: block;
        margin-bottom: 8px;
      }
      .btn.link {
        padding: 0;
        font-family: $font-primary-regular;
        font-size: 12px;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
      }
      .dropdown-menu {
        left: -20px;
      }
    }
    .filter-job {
      margin-bottom: 20px;
      padding-right: 50px;
      .dropdown {
        display: block;
        &:nth-child(2) {
          margin-bottom: 3px;
        }
      }
    }
    .filter-period {
      font-family: $font-primary-regular;
      font-size: 12px;
      .btn.link {
        display: inline-block;
      }
      .dropdown {
        top: -2px;
        margin-right: 2px;
      }
    }
  }
}

.person-rating {
  display: inline-block;
  font-family: $font-primary-regular;
  font-size: 14px;
  .rating-star,
  .rating-index {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
  .rating-star {
    position: relative;
    top: -1px;
  }
}
