
.profile {
  .profile-body {
    margin-bottom: 30px;
  }
  .profile-meta {
    margin-bottom: 15px;
    .avatar {
      margin-right: 25px;
    }
  }
  .profile-head {
    display: inline-block;
    position: relative;
    padding-top: 20px;
    padding-right: 28px;
    .title--primary {
      margin-bottom: 8px;
      font-size: 22px;
      color: #000;
    }
  }
  .profile-info {
    font-family: $font-primary-regular;
    font-size: 16px;
    color: rgba(0,0,0,.5);
    overflow: hidden;
    .profile-info-item {
      margin-bottom: 5px;
      .link {
        display: inline-block;
        &:first-child {
          margin-right: 10px;
        }
      }
    }
    .profile-info-item-social {
      font-family: $font-primary-bold;
    }
    .profile-info-item--phone {
      color: #000;
    }
  }
  .profile-description {
    font-family: $font-secondary-regular;
    font-size: 16px;
    line-height: 22px;
    .link {
      font-family: $font-primary-bold;
    }
  }
  .reviews-item {
    border-bottom: none;
  }
  .rating-item {
    padding-left: 0;
    .rating-data {
      left: 87%;
    }
  }
  .movies {
    padding-top: 0;
  }
  .movies-list {
    .movies-item-cost {
      margin-top: 3px;
      font-family: $font-secondary-regular;
      font-size: 15px;
      color: $color-primary;
      .number {
        margin-right: 3px;
        font-family: $font-secondary-bold;
      }
    }
  }
}

.profile--edit {
  padding-bottom: 70px;
}

