
.promo-codes {
  .tip {
    padding-top: 15px;
    padding-bottom: 30px;
    font-family: $font-secondary-regular;
    font-size: 16px;
    line-height: 24px;
  }
}

.promo-codes-item {
  padding: 25px 0 15px;
  border-top: 1px solid #e6e6e6;
}

.promo-codes-head {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.promo-codes-title {
  margin-bottom: 5px;
  font-family: $font-primary-bold;
  font-size: 18px;
}

.promo-codes-percentage {
  display: inline-block;
  vertical-align: top;
  width: 115px;
  font-family: $font-primary-regular;
  font-size: 18px;
}

.promo-codes-subject {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  padding-top: 4px;
  padding-right: 50px;
  font-family: $font-secondary-regular;
  font-size: 14px;
  color: rgba(0,0,0,.5);
}

.promo-codes-meta {
  text-align: right;
}

.promo-codes-left {
  margin: 2px 0;
  font-family: $font-secondary-regular;
  font-size: 16px;
  .highlight {
    display: inline-block;
    margin-left: 3px;
    font-family: $font-primary-regular;
    font-size: 18px;
  }
}

.promo-codes-date {
  font-family: $font-secondary-regular;
  font-size: 14px;
  color: rgba(0,0,0,.5);
}
