
.rating-item {
  position: relative;
  padding: 10px 0 10px 30px;
  border-top: 1px solid #e6e6e6;
  &:first-child {
    border-top: none;
  }
  .rating-movie,
  .rating-number {
    display: inline-block;
    vertical-align: top;
  }
  .rating-number {
    position: absolute;
    top: 6px;
    left: 0;
    margin-right: 12px;
    color: rgba(0,0,0,.4);
  }
  .rating-movie-cover,
  .rating-movie-meta {
    display: inline-block;
    vertical-align: middle;
  }
  .rating-movie-cover {
    width: 50px;
    margin-right: 10px;
    overflow: hidden;
    .link--image {
      display: block;
      width: 100%;
    }
    img {
      display: block;
      height: 100%;
    }
  }
  .rating-movie-meta {
    .meta-head {
      position: relative;
      display: inline-block;
      margin-bottom: 5px;
    }
    .meta-title {
      font-family: $font-primary-bold;
      font-size: 18px;
    }
    .meta-description {
      font-family: $font-secondary-regular;
      color: rgba(0,0,0,.5);
    }
  }
  .rating-data {
    position: absolute;
    top: 35px;
    left: 75%;
  }
  .rating-data-star,
  .rating-index,
  .rating-people {
    display: inline-block;
    vertical-align: middle;
  }
  .rating-index {
    margin-right: 5px;
    font-family: $font-primary-bold;
    font-size: 18px;
  }
  .rating-people {
    margin-right: 5px;
    font-family: $font-secondary-regular;
    color: #b4b4b4;
    font-size: 18px;
  }
  .meta-labels {
    display: flex;
    position: absolute;
    top: 0;
    left: 105%;
    .label--default {
      position: static;
      margin-left: 5px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
