
.reviews-item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  &:first-child {
    padding-top: 0;
  }
}

.reviews-meta {

}

.reviews-avatar,
.reviews-author,
.reviews-date {
  display: inline-block;
  vertical-align: middle;
}

.reviews-avatar {
  width: 48px;
  height: 48px;
  margin-right: 12px;
  border-radius: 50%;
  overflow: hidden;
  .reviews-avatar-image {
    display: block;
    width: 100%;
  }
}

.reviews-author {
  font-family: $font-secondary-bold;
  font-size: 16px;
}

.reviews-date {
  position: relative;
  font-family: $font-secondary-regular;
  font-size: 10px;
  top: 1px;
  text-transform: uppercase;
}

.reviews-body {
  padding-left: 60px;
  .stars-list {
    position: relative;
    top: 1px;
    vertical-align: top;
  }
  .movie-rating {
    font-family: $font-secondary-regular;
    font-size: 14px;
  }
  .movie-rating-total {
    font-family: $font-secondary-bold;
  }
}

.reviews-title {
  margin-bottom: 5px;
  font-family: $font-primary-bold;
  font-size: 24px;
}

.reviews-description {
  margin-bottom: 10px;
  font-family: $font-secondary-regular;
  font-size: 16px;
  line-height: 22px;
  .link {
    font-family: $font-secondary-bold;
  }
}
