
.search-section {
	margin-bottom: 15px;
	.title--secondary {
		margin-bottom: 10px;
		font-size: 11px;
		color: #b4b4b4;
	}
	.movies {
		padding-top: 0;
	}
	.companies-list {
		.companies-item {
			&:first-child {
				border-top: none;
			}
		}
	}
}
