
.select2 {
  height: 40px;
  font-size: 13px;
  color: #000;
  .select2-selection {
    border-color: transparent !important;
    height: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
  }
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 0;
  padding-top: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  display: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin: -2px 4px 0 0;
}

.select2-container .select2-search--inline .select2-search__field {
  margin: 0;
}

.select2-container {
  border: 1px solid #e2e2e2;
  border-radius: 4px;
}

.select2-container--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  font-family: $font-gill-regular;
  font-size: 14px;
  background-color: rgba(#f9f9f9, .4);
  border: 1px solid #e2e2e2;
}

.select2-dropdown {
  border-color: #dcdcdc;
}

.select2-results__option {
  padding-left: 15px;
}

.select2-container--open .select2-dropdown {
  top: -1px;
  left: -1px;
}
.select2 .select2-selection {
  padding-top: 6px;
}

.select2-container .select2-search--inline .select2-search__field {
  &::-webkit-input-placeholder {
    font-family: $font-gill-regular;
    font-size: 16px;
    line-height: 22px;
    color: #999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &:-moz-placeholder {
    font-family: $font-gill-regular;
    font-size: 16px;
    line-height: 22px;
    color: #999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &::-moz-placeholder {
    font-family: $font-gill-regular;
    font-size: 16px;
    line-height: 22px;
    color: #999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &:-ms-input-placeholder {
    font-family: $font-gill-regular;
    font-size: 16px;
    line-height: 22px;
    color: #999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } 
}

.Select {
  outline: none !important;
  z-index: 2;
  &.is-focused {
    .Select-control {
      box-shadow: 0 0 5px #65c0e5;
      border-color: #65c0e5;
    }
  }
}

.Select-control {
  height: 40px;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  font-family: $font-gill-regular;
  font-size: 16px;
  line-height: 22px;
  color: #999;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:hover {
    border: 1px solid #dcdcdc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  }
  .has-error & {
    border-color: $color-primary;
  }
}

.Select-placeholder {
  font-family: $font-gill-regular;
  font-size: 16px;
  line-height: 40px;
  color: #999;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Select-value {
  padding-top: 3px;
}

.Select--multi .Select-value {
  margin-bottom: 3px;
  padding-top: 0;
  border-color: rgba($color-primary, .7);
  background-color: rgba(231,63,96, .1);
  .Select-value-icon {
    border-right-color: rgba($color-primary, .5);
    color: rgba($color-primary, .7);
  }
}

.Select-value-label {
  font-family: $font-gill-regular;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
