
.similar {
  position: relative;
  padding: 25px 35px 20px;
  border: 1px solid #dcdcdc;
  .title--secondary {
    margin-bottom: 15px;
  }
  .swiper-controls {
    position: absolute;
    top: 170px;
    left: 0;
    width: 100%;
    padding: 0 7px;
    &:before {
      content: none;
    }
  }
  .movies-item {
    margin-bottom: 0;
  }
}
