.jury {

  .small-tabs {
    .btn--primary {
      width: max-content;
      min-width: 210px;
      height: 45px;
      color: #000;
      background: #fff;
      border: 1px solid hsla(0, 0%, 0%, 0.2);
      box-sizing: border-box;
      border-radius: 100px;
      padding: 12px 20px;
      @media (max-width: 481px) {
        font-size: 14px;
      }
    }
    .people-item {
      width: max-content;
      min-width: 210px;
      &.active {
        .btn--primary {
          background: #E73F60;
          color: #fff;
          border: transparent;
        }
      }
      @media (max-width: 481px) {
        width: max-content !important;
      }
    }
    
  }

  .jury-flex {
    @media (max-width: 481px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 60px 0;
      .people-image {
        width: 200px !important;
        height: 200px !important;
        margin: 0 !important;
      }
      h5 {
        margin: 15px 0;
        @media (max-width: 481px) {
          font-size: 24px;
        }
      }
      p {
        @media (max-width: 481px) {
          font-size: 18px;
        }
      }
    }
  }
}