
.auth-soc {
  margin-top: 25px;
  margin-left: -40px;
  margin-right: -40px;
  padding: 5px 40px 10px;
  text-align: center;
  border-top: 1px solid #dedede;
}

.auth-soc-title {
  display: inline-block;
  position: relative;
  top: -20px;
  padding: 0 30px;
  font-family: $font-gill-regular;
  font-size: 14px;
  color: rgba(0,0,0,.3);
  background-color: #f9f9f9;
  text-align: center;
}

.auth-soc-list {
  display: flex;
  justify-content: space-between;
}

.auth-soc-list-item {
  width: 145px;
  margin-bottom: 10px;
  text-align: left;
  .link--social {
    position: relative;
    width: 100%;
    padding: 7px 0 5px 30px;
    font-family: $font-secondary-regular;
    font-size: 13px;
    border-radius: 3px;
    opacity: 1;
    transition: .3s;
    .icon--social {
      position: absolute;
      left: 8px;
      &.fb {
        top: 7px;
      }
      &.twi {
        top: 10px;
      }
      &.vk {
        top: 12px;
      }
      &.google {
        top: 11px;
      }
    }
    &:focus {
      opacity: 1;
    }
    &:hover,
    &:active {
      opacity: .9;
      transition: none;
    }
  }
  .link--social.fb {
    background-color: #3b5998;
  }
  .link--social.twi {
    background-color: #4099ff;
  }
  .link--social.vk {
    background-color: #45668e;
  }
  .link--social.google {
    background-color: #d34836;
  }
}

.social-list {
  width: 225px;
  font-size: 0;
  text-align: right;
}

.social-list-item {
  margin-top: 0;
  .link--social {
    position: relative;
    width: 28px;
    height: 28px;
    font-size: 0;
    border: 1px solid rgba(150,143,141,.7);
    border-radius: 3px;
  }
  .icon--social {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.movies-hero {
  .btn--sharing {
    background-color: rgba(255,255,255,.2);
    border: none;
    color: #fff;
    &:hover,
    &:active {
      opacity: .7;
      background-color: rgba(255,255,255,.2);
    }
    .icon--social.fb {
      top: -1px;
    }
  }
}
