
.starbox {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
  width: 120px;
  height: 11px;
  line-height: 1;
  opacity: 0;
  transition: .3s;
  .positioner {
    position: relative;
    display: inline-block;
    line-height: 0;
    &.rated {
      .stars .star_holder .star {
        pointer-events: none;
        cursor: default;
      }
    }
  }
  .stars .star_holder {
    position: relative;
    line-height: 0;
    z-index: 2;
  }
  .stars .star_holder .star {
    display: inline-block;
    vertical-align: baseline;
    background-repeat: no-repeat;
    background-image: url($pathImages + 'icon-star-sm.png');
    width: 12px; /* make sure to use your image’s dimensions here */
    height: 12px;
    cursor: pointer;
  }
  .stars {
    background: #cccccc;
  }
  // .rated .stars {
  //   background: $color-primary;
  // }
  .rated.hover .ghost {
    background: $color-primary;
  }
  .colorbar {
    background: $color-primary;
  }
  .hover .colorbar {
    background: #df7e6b;
  }
  .rated .colorbar {
    background: $color-primary;
  }
  .rated.hover .colorbar {
    background: $color-primary;
  }
  .ghost {
    background: $color-primary;
  }
  .colorbar,
  .ghost {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  &.is-disabled {
    .stars .star_holder .star {
      cursor: default;
    }
  }
}



.movie-rating,
.studio-info .studio-rating,
.reviews-item,
.movies-hero {
  .starbox {
    position: relative;
    top: 1px;
    vertical-align: top;
    width: 170px;
    height: 16px;
    .stars .star_holder .star {
      background-image: url($pathImages + 'icon-star-lg.png');
      width: 17px;
      height: 16px;
    }
  }
}

.companies-head .studio-rating {
  .starbox {
    position: relative;
    top: 1px;
    vertical-align: top;
    width: 85px;
    height: 16px;
    .stars .star_holder .star {
      background-image: url($pathImages + 'icon-star-lg.png');
      width: 17px;
      height: 16px;
    }
  }
}

.afiche-about-item--rating {
  .starbox {
    position: relative;
    top: 1px;
    vertical-align: top;
    width: 170px;
    height: 16px;
    margin-right: 5px;
    .stars .star_holder .star {
      background-image: url($pathImages + 'icon-star-lg-blue.png');
      width: 17px;
      height: 16px;
    }
    .rated.hover .ghost {
      background: #588999;
    }
    .colorbar {
      background: #588999;
    }
    .rated .colorbar {
      background: #588999;
    }
    .rated.hover .colorbar {
      background: #588999;
    }
    .ghost {
      background: #588999;
    }
  }
}

.afiche-item-content
.afiche-about-item--rating
.starbox {
  width: 160px;
}

.afiche-item-content
.afiche-about-item--rating
.starbox
.stars .star_holder .star {
  background-image: url($pathImages + 'icon-star-lg-blue-white-bg.png');
  width: 16px;
  height: 15px;
}

.live-item-rating {
  .starbox {
    width: 60px;
  }
}

.companies-item {
  .starbox {
    width: 85px;
  }
}

.movies-hero {
  .starbox {
    .stars .star_holder .star {
      background-image: url($pathImages + 'icon-star-lg-hero.png');
    }
    .stars {
      background: #fff;
    }
  }
}

.feedback-total .starbox {
  position: relative;
  top: 1px;
  vertical-align: middle;
  width: 280px;
  height: 27px;
  margin-right: 10px;
  .stars .star_holder .star {
    background-image: url($pathImages + 'icon-star-lg-feedback.png');
    width: 28px;
    height: 27px;
  }
}

.feedback-cast-rating .starbox {
  position: relative;
  top: 1px;
  vertical-align: top;
  width: 160px;
  height: 16px;
  margin-right: 0;
  .stars .star_holder .star {
    background-image: url($pathImages + 'icon-star-feedback.png');
    width: 16px;
    height: 16px;
  }
}

.starbox-feedback {
  position: absolute;
  left: 0;
  top: 1px;
  font-family: $font-secondary-regular;
  font-size: 14px;
  white-space: nowrap;
  transition: .3s;
}

.movie .movie-rating {
  .starbox-feedback {
    left: 63px;
    top: 0;
  }
}

.companies-item .studio-rating {
  .starbox-feedback {
    left: auto;
    right: 0;
    top: 0;
  }
}
