
.studio {
  padding-bottom: 50px;
}

.studio-head {
  margin-bottom: 20px;
}
.stars-list {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-right: 2px;
  position: relative;
  top: 1px;
  .stars-item {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
}
.studio-rating {
  font-family: $font-secondary-regular;
  font-size: 14px;
}
.studio-rating-total {
  font-family: $font-secondary-bold;
}

.studio-meta,
.studio-info {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 30px;
}

.studio-meta {
  width: 235px;
}

.studio-info {
  width: 475px;
}

.studio-logo {
  margin-bottom: 20px;
}

.studio-contacts {
  margin-bottom: 20px;
  font-size: 14px;
}

.studio-phone {
  font-family: $font-secondary-regular;
  // &:first-child {
  //   margin-top: 0;
  // }
}

.studio-email {
  margin-top: 8px;
  .link {
    display: inline-block;
    font-family: $font-secondary-bold;
    max-width: 235px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.studio-address {
  margin-bottom: 15px;
  padding-right: 20px;
  font-family: $font-secondary-regular;
  font-size: 14px;
}

.studio-map {
  .studio-map-image {
    display: block;
    width: 100%;
  }
}

.studio-body {
  font-family: $font-secondary-regular;
  font-size: 15px;
}

.studio-description {
  margin-bottom: 10px;
  font-family: $font-secondary-regular;
  font-size: 15px;
  line-height: 24px;
}

