
.swiper-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.swiper-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 15px;
  width: 42px;
  height: 17px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 20px;
    width: 2px;
    background-color: #e1e1e1;
  }
}

.swiper-controls .arrow--left,
.swiper-controls .arrow--right {
  position: relative;
  width: 15px;
  height: 17px;
  background-image: url($pathImages + 'sprites.png');
  background-repeat: no-repeat;
  cursor: pointer;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 17px;
    background-image: url($pathImages + 'sprites.png');
    background-repeat: no-repeat;
    opacity: 0;
    transition: .3s;
    z-index: 3;
  }
  &:hover,
  &:active {
    &:before {
      opacity: 1;
      transition: $transition-primary;
    }
  }
}
.arrow--left {
  background-position: -41px 0;
  &:before {
    background-position: -41px -18px;
  }
}
.arrow--right {
  background-position: -60px 0;
  &:before {
    background-position: -60px -18px;

  }
}

.control-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  cursor: pointer;
  z-index: 20;
  &.shadow--left {
    left: 0;
    background-image: linear-gradient(to left, transparent, rgba(0,0,0,.5));
  }
  &.shadow--right {
    right: 0;
    background-image: linear-gradient(to right, transparent, rgba(0,0,0,.5));
  }
}

.control-shadow.shadow--left,
.control-shadow.shadow--right {
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 115px;
    width: 15px;
    height: 17px;
    background-image: url($pathImages + 'sprites.png');
    background-repeat: no-repeat;
    transition: .3s;
    z-index: 3;
  }
  &:before {
    opacity: 1;
  }
  &:after {
    opacity: 0;
  }
}

.control-shadow.shadow--left {
  &:before {
    left: 10px;
    background-position: -41px 0;
  }
  &:after {
    left: 10px;
    background-position: -41px -18px;
  }
  &:hover,
  &:active {
    &:after {
      opacity: 1;
      transition: $transition-primary;
    }
  }
}

.control-shadow.shadow--right {
  &:before {
    right: 10px;
    background-position: -60px 0;
  }
  &:after {
    right: 10px;
    background-position: -60px -18px;
  }
  &:hover,
  &:active {
    &:after {
      opacity: 1;
      transition: $transition-primary;
    }
  }
}

.swiper-news-primary {
  position: relative;
  left: -525px;
  display: inline-block;
  width: 2060px;
}

.news--primary {
  .swiper-controls {
    top: -30px;
    right: 0;
  }
}

// hero swiper
.swiper-hero {
  position: relative;
  left: -620px;
  width: 1240px;
  margin: 0 0 0 -50px !important;
}

.swiper-hero--secondary {
  width: 620px;
}

.swiper-box--right {
  position: absolute;
  top: 0;
  margin: 0;
  cursor: pointer;
  .swiper-control--right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 620px;
    padding: 0;
    background-image: linear-gradient(to bottom, transparent, rgba(31,31,31,1));
    opacity: 1;
    transition: .3s;
    z-index: 7;
    &:hover {
      opacity:  .7;
      transition: $transition-primary;
    }
    &:active {
      opacity:  .8;
      transition: $transition-primary;
    }
  }
}

.swiper-control--left {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 620px;
  padding: 0;
  background-image: linear-gradient(to bottom, transparent, rgba(31,31,31,1));
  opacity: 1;
  transition: .3s;
  cursor: pointer;
  z-index: 7;
  &:hover {
    opacity:  .7;
    transition: $transition-primary;
  }
  &:active {
    opacity:  .8;
    transition: $transition-primary;
  }
}

.swiper-box--right {
  left: 1030px;
}

.swiper-control-news--left,
.swiper-control-news--right {
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  width: 490px;
  padding: 0;
  opacity: 1;
  transition: .3s;
  cursor: pointer;
  z-index: 7;
  &:focus {
    opacity: 1;
  }
  &:hover {
    opacity:  .7;
    transition: $transition-primary;
  }
  &:active {
    opacity:  .9;
    transition: $transition-primary;
  }
}

.swiper-control-news--left {
  left: 5px;
  background-image: linear-gradient(to left, rgba(31,31,31,.1), rgba(31,31,31,1));
}

.swiper-control-news--right {
  right: 5px;
  background-image: linear-gradient(to right, rgba(31,31,31,.1), rgba(31,31,31,1));
}

.swiper-box--left {
  right: 1065px;
}

.swiper-box--right {
  left: 1030px;
}


.swiper-insta {
  .swiper-slide {
    display: inline-block;
    width: auto;
  }
  .swiper-controls {

  }
}

// hide swiper arrow if we are at the beginning or the end of the slide list
.swiper-button-disabled {
  visibility: hidden;
  opacity: 0;
}


.swiper-movies-hero {
  .arrow--left,
  .arrow--right {
    position: absolute;
    top: 210px;
    width: 46px;
    height: 75px;
    background-image: url($pathImages + 'sprites.png');
    background-repeat: no-repeat;
    opacity: .2;
    transition: .3s;
    z-index: 3;
    &:hover,
    &:active {
      opacity: .5;
      transition: $transition-primary;
    }
  }
  .arrow--left {
    left: 20px;
    background-position: -81px -37px;
  }
  .arrow--right {
    right: 20px;
    background-position: -123px -37px;
  }
}

.swiper-hero-mobile {
  width: 100%;
}

.swiper-hero-mobile-pagination {
  position: absolute;
  bottom: 40px;
  left: 15px;
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: rgba(255,255,255,.3);
    opacity: 1;
    transition: .3s;
  }
  .swiper-pagination-bullet-active {
    background-color: $color-primary;
  }
}

.swiper-news-primary-pagination {
  display: none;
  position: absolute;
  bottom: -15px;
  left: 15px;
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: #ccc;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background-color: $color-primary;
  }
}

.swiper-container-coverflow {
  height: auto;
  margin: 20px 0;
}

.swiper-slide {
  width: 220px;
  p.info {
    color: transparent;
    transition: color 1s;
  }
  &.swiper-slide-active {
    p.info {
      color: inherit;
    }
  }
}
