
.tabs {
	margin-top: 50px;
	padding-right: 50px;
	.about & {
		margin-top: 20px;
	}
}

.tab-pane {
	.article {
		padding: 20px 60px 20px 30px;
		background-color: #f9f9f9;
		border-radius: 10px;
	}
}

.nav--tabs {
	// display: flex;
	// flex: 1;
	margin-bottom: -10px;
	.nav-item {
		display: inline-block;
		// flex: 1;
		&.active {
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
			background-color: #f9f9f9;
			.nav-link {
				pointer-events: none;
			}
		}
		// &:last-child {
		// 	flex: 2;
		// }
	}
	.nav-link {
		padding: 10px 30px 15px;
		font-family: $font-gill-semibold;
		font-size: 24px;
		color: #000;
		background-color: transparent;
		transition: $transition-primary;
		&:focus {
			color: #000;
		  background-color: transparent;
		}
		&:hover,
		&:active {
			color: $color-primary;
		  background-color: transparent;
		  transition: none;
		}
	}
	&:after,
	&:before {
		content: none;
	}
}
