
.table {
  border: none;
  .table-title {
    font-family: $font-primary-regular;
    font-size: 13px;
    color: rgba(0,0,0,.3);
  }
  .table-title {
    padding: 0;
    border-top: none;
    font-family: $font-primary-regular;
    font-size: 13px;
  }
  .table-data {
    padding: 12px 0 4px;
    border-top: 1px solid #e6e6e6;
  }
  tr:nth-child(2) {
    .table-data {
      border-top: none;
    }
  }
  .table-data--year {
    padding-right: 30px;
    font-family: $font-secondary-regular;
    font-size: 14px;
  }
  .table-data--movie {
    font-family: $font-secondary-bold;
    font-size: 14px;
  }
  .table-data--character {
    padding-right: 20px;
    padding-left: 10px;
    font-family: $font-secondary-regular;
    font-size: 14px;
  }
  .table-data--job {
    padding-right: 30px;
    font-family: $font-secondary-regular;
    font-size: 14px;
    color: rgba(0,0,0,.3);
  }
}

.table-program {
  line-height: 1.375;
  position: relative;
  &:after {
    content: " ";
    position: absolute;
    width: 24px;
    height: 42px;
    background-color: #f2f2f2;
    right: 100%;
    top: 0;
  }
  td {
    vertical-align: baseline;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }
  .program-time {
    white-space: nowrap;
    padding-right: 30px;
  }
  .program-name {
    width: 250px;
    padding-right: 10px;
    font-family: $font-primary-bold;
  }
  .program-desc {
    padding-right: 20px;
  }
  tr:last-child {
    td {
      border: 0;
    }
  }
  .table-header {
    position: relative;
    border: 0;
    background-color: #f2f2f2;
    th {
      padding: 10px 0;
    }
  }
}
