
.thumb {
  display: inline-block;
  position: relative;
  text-align: left;
  .thumb-image {
    opacity: 1;
    transition: .3s;
  }
  .thumb-description {
    font-family: $font-secondary-regular;
  }
}

.thumb--dashed {
  margin-bottom: 30px;
  padding: 30px 30px 35px;
  border-radius: 10px;
  border: 1px dashed #b0a2a2;
  transition: $transition-primary;
  .thumb-title {
    margin-bottom: 5px;
    font-family: $font-gill-bold;
    font-size: 24px;
    line-height: 1;
    color: $color-primary
  }
  .thumb-description {
    font-family: $font-gill-regular;
    font-size: 18px;
    line-height: 1;
    color: #b0a2a2;
    transition: $transition-primary;
  }
  &:hover {
    border-color: $color-primary;
    transition: none;
    .thumb-description {
      color: $color-primary;
      transition: none;
    }
  }
  .grid-item--secondary & {
    margin-top: 53px;
  }
  .about-team .grid-item--secondary & {
    margin-top: 56px;
  }
}

.thumb--primary {
  width: 490px;
  margin: 0;

  .thumb-info {
    position: absolute;
    right: 40px;
    bottom: 25px;
    left: 25px;
    color: #fff;
  }
  .thumb-title {
    margin-bottom: 5px;
    font-family: $font-primary-bold;
    font-size: 19px;
    line-height: 24px;
  }
  .thumb-date {
    margin-bottom: 5px;
    font-size: 10px;
    text-transform: uppercase;
  }
  .thumb-description {
    font-size: 13px;
    line-height: 20px;
  }
  .thumb-author {
    margin-top: 8px;
    font-family: $font-secondary-bold;
    font-size: 13px;
    opacity: .5;
  }
  .thumb-image {
    position: relative;
    width: 100%;
  
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.7));
    }
  }
  .label--thumb {
    top: 25px;
    left: 18px;
  }
}

.thumb--secondary {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 235px;
  margin-bottom: 30px;
  .thumb-info {
    position: absolute;
    bottom: 15px;
    left: 20px;
    right: 20px;
    color: #fff;
    .thumb-title {
      font-family: $font-primary-bold;
      font-size: 15px;
      line-height: 20px;
    }
    .thumb-date {
      font-size: 10px;
      margin-bottom: 5px;
    }
  }
  .thumb-image {
    position: relative;
    max-width: 100%;
    img {
      width: 100%;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.7));
    }
  }
  .label--thumb {
    top: 15px;
    left: 13px;
  }
}

.link--overlay:hover + .thumb-image,
.link--overlay:active + .thumb-image {
  opacity: .9;
  transition: $transition-primary;
}

.thumb--secondary.thumb--casting {
  height: auto;
  .thumb-image {
    &:after {
      content: none;
    }
  }
  .thumb-info {
    position: static;
    padding: 20px 30px 50px 20px;
    background-color: #1f1f1f;
    .thumb-title {
      margin-bottom: 10px;
    }
    .thumb-description {
      font-size: 13px;
      opacity: .5;
    }
  }
  .thumb-contacts {
    margin-top: 10px;
  }
  .link--overlay {
    height: 222px;
    bottom: auto;
  }
}

.main--castings {
  .thumb--secondary.thumb--casting {
    .thumb-info {
      padding-top: 15px;
      padding-bottom: 20px;
      background-color: transparent;
      color: #000;
      border: 1px solid $color-grey-border;
      .thumb-title {
        font-size: 18px;
      }
      .thumb-description {
        font-size: 13px;
        opacity: 1;
      }
    }
    .thumb-contacts {
      font-family: $font-secondary-regular;
      font-size: 13px;
    }
    .thumb-date {
      margin-top: 8px;
      font-family: $font-secondary-regular;
      color: #646464;
      text-transform: uppercase;
    }
  }
}

.thumb--casting.is-archived {
  opacity: .5;
}

.thumb--article {
  margin-bottom: 30px;
  .thumb-meta {
    margin-bottom: 5px;
  }
  .thumb-category,
  .thumb-date {
    display: inline-block;
  }
  .thumb-category {
    margin-right: 10px;
    font-family: $font-primary-bold;
    font-size: 11px;
    color: $color-meta;
    text-transform: uppercase;
  }
  .thumb-image {
    width: 235px;
    height: 132px;
    margin-bottom: 8px;
    overflow: hidden;
    .link--image {
      display: block;
      width: 100%;
      img {
        display: block;
        width: 100%;
      }
    }
  }
  .thumb-date {
    font-size: 10px;
    text-transform: uppercase;
    color: #646464;
  }
  .thumb-title {
    margin-bottom: 5px;
    font-family: $font-primary-bold;
    font-size: 18px;
    line-height: 22px;
  }
  .thumb-description {
    font-size: 13px;
    line-height: 18px;
  }
  .thumb-author {
    margin-top: 2px;
    font-family: $font-primary-bold;
    font-size: 13px;
  }
}

.thumb--blog {
  margin-bottom: 20px;
  width: 100%;
  .label-default {
    position: static;
  }
  .thumb-body {
    overflow: hidden;
  }
  .thumb-meta {
    .thumb-meta-item {
      display: inline-block;
      margin-left: 5px;
      font-family: $font-secondary-regular;
      font-size: 12px;
      color: #969696;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .thumb-category {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    font-family: $font-primary-bold;
    font-size: 11px;
    color: $color-meta;
    text-transform: uppercase;
  }
  .thumb-image {
    width: 235px;
    height: 132px;
    margin-right: 20px;
    overflow: hidden;

    .link--image {
      display: block;
      width: 100%;
      img {
        display: block;
        width: 100%;
      }
    }
  }
  .thumb-meta {
    line-height: 1;
  }
  .thumb-date {
    font-size: 10px;
    text-transform: uppercase;
  }
  .thumb-title {
    margin-bottom: 5px;
    font-family: $font-primary-bold;
    font-size: 18px;
    line-height: 22px;
  }
  .thumb-description {
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 18px;
  }
  .thumb-author {
    margin-top: 2px;
    font-family: $font-primary-bold;
    font-size: 13px;
  }
}

.thumb--article.is-news {
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  .thumb-date {
    margin-left: 15px;
  }
  .thumb-title,
  .thumb-description {
    padding: 0 15px;
  }
  .thumb-description {
    padding-bottom: 20px;
  }
}

.grid-item--reviews {
  .thumb--article {
    margin-bottom: 20px;
  }
  .thumb-title {
    font-size: 15px;
    line-height: 19px;
  }
}

.thumb--hero {
  width: 620px;
  height: 420px;
  margin: 0;
  .thumb-info {
    position: absolute;
    right: 100px;
    bottom: 50px;
    left: 50px;
    color: #fff;
  }
  .thumb-title {
    margin-bottom: 10px;
    font-family: $font-primary-bold;
    font-size: 30px;
    line-height: 32px;
  }
  .thumb-date {
    margin-bottom: 5px;
    font-size: 10px;
    text-transform: uppercase;
  }
  .thumb-description {
    font-size: 15px;
    line-height: 22px;
  }
  .thumb-author {
    margin-top: 10px;
    font-family: $font-secondary-bold;
    font-size: 15px;
    opacity: .5;
  }
  .thumb-image {
    position: relative;
    height: 420px;
    // overflow: hidden;
    // > img {
    //   display: block;
    //   max-width: 100%;
    //   height: 100%;
    // }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom, transparent, rgba(31,31,31,1));
    }
  }
  .label--thumb {
    top: 30px;
    left: 50px;
  }
  &.is-hidden {
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,1));
    }
  }
  // &.is-active {
  //   margin-right: 420px;
  // }
}

.thumb--control {
  width: 100%;
  height: 84px;
  cursor: pointer;
  .thumb-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    left: 15px;
    color: #fff;
    z-index: 3;
  }
  .thumb-title {
    font-family: $font-primary-bold;
    font-size: 12px;
    line-height: 14px;
  }
  .thumb-image {
    position: relative;
    height: 84px;
    .thumb-image-pic {
      display: block;
      width: 100%;
      height: 100%;
      opacity: .2;
      transition: .3s;
    }
  }
  // .thumb-image:after {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   background-color: rgba(31,31,31,.7);
  //   transition: .3s;
  //   z-index: 1;
  // }
  .thumb-image:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-primary;
    opacity: 0;
    transition: .3;
    z-index: 2;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    border-top: 42px solid transparent;
    border-bottom: 42px solid transparent;
    border-right: 20px solid $color-primary;
    opacity: 0;
    transition: .3;
    z-index: 2;
  }
  &.active {
    cursor: default;
    pointer-events: none;
    .thumb-image:before {
      opacity: 1;
      transition: $transition-primary;
    }
    &:before {
      opacity: 1;
      transition: $transition-primary;
    }
  }
  &:hover,
  &:active {
    .thumb-image .thumb-image-pic {
      opacity: .4;
      transition: $transition-primary;
    }
  }
}

.thumb--insta {
  position: relative;
  margin-right: 10px;
  transition: .3s;
  .thumb-figure {
    height: 180px;
    margin-bottom: 5px;
    text-align: center;
    overflow: hidden;
    .thumb-figure-image {
      display: inline-block;
      height: 100%;
    }
  }
  .thumb-meta {
    font-family: $font-secondary-regular;
    font-size: 11px;
    color: rgba(0,0,0,.5);
  }
  .meta-item {
    display: inline-block;
  }
  .meta-date {
    margin-right: 5px;
  }
  &:hover {
    opacity: .9;
    transition: $transition-primary;
  }
  .font-icons {
    display: inline-block;
    margin-right: 3px;
  }
}

.thumb--twitter {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  width: 230px;
  .thumb-text {
    margin-bottom: 5px;
    font-family: $font-primary-regular;
    font-size: 13px;
    .link {
      color: $color-primary;
      opacity: 1;
      max-width: 230px;
      word-wrap: break-word;
      text-overflow: ellipsis;
      &:hover,
      &:active {
        opacity: .8;
      }
    }
  }
  .thumb-meta {
    font-family: $font-primary-regular;
    font-size: 11px;
    color: rgba(0,0,0,.5);
  }
}

.thumb--primary.thumb--square {
  height: 490px;
  .thumb-image {
    height: 100%;
  }
  .thumb-info {
    left: 30px;
    bottom: 40px;
  }
  .label--thumb {
    top: 20px;
    left: 30px;
  }
}
