.title-section {
	margin-bottom: 5px;
}

.title-section--primary {
	margin-bottom: 15px;
	padding-bottom: 0;
	font-family: $font-gill-bold;
	font-size: 42px;
	color: $color-primary;
	color: #fff;
}

.title-section--year {
	margin-right: 20px;
	color: #fff;
	&:active,
	&:hover {
		color: $color-primary;
	}
	&:focus {
		color: #fff;
	}
	&.active {
		color: $color-primary;
		pointer-events: none;
	}
}

.title--primary {
	margin-bottom: 10px;
	font-family: $font-primary-bold;
	font-size: 34px;
	.kz {
		font-family: $font-secondary-regular;
	}
}

.title--secondary {
	font-family: $font-gill-semibold;
	font-size: 24px;
	margin-bottom: 20px;
}

h1 {
	position: absolute;
	font-size: 0;
}
