// fonts
$font-primary-regular: 'Montserrat', Arial, sans-serif;

$font-icons: 'websymbolsligaregular';

$font-numbers: 'Helvetica Neue', Arial, sans-serif;

// colors
$color-primary: #333333;
$color-secondary: #4d526b;
$color-red: #e66958;
$color-grey: #cfcac6;

// transitions
$transition-primary: 0.3s;

$imgBase: '../images/';

$small: 560px;
$middle: 760px;
$tablet: 1000px;
$laptop: 1170px;
$desktop: 1300px;
$wide: 1400px;
$large: 1800px;

// breakpoints
$xs: 380px;
$sm: 560px;
$smd: 780px;
$md: 1000px;
$slg: 1025px;
$lg: 1200px;
