
.video {
  position: relative;
}

.video-wrapper {
  position: relative;
}

.video-wrapper.no-video {
  .video-image,
  > img {
    opacity: 1;
    transition: .3s;
  }
  &:hover,
  &:active {
    .video-image,
    > img {
      opacity: .9;
      transition: $transition-primary;
    }
  }
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  &.active {
    display: block;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    z-index: 7;
  }
}

.video--primary {
  position: relative;
  padding-top: 30px;
  // padding-bottom: 15px;
  padding-bottom: 45px;
  .link--backwards {
    position: relative;
    margin-top: 12px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    line-height: 1;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    transition: .3s;
    z-index: 21;
    &:focus {
      color: rgba(255, 255, 255, 0.5);
      transition: .3s;
    }
    &:hover,
    &:active {
      text-decoration: none;
      color: rgb(227,84,44);
      border-color: rgba(227,84,44,.6);
      transition: $transition-primary;
    }
    // &:after {
    //   content: "";
    //   position: absolute;
    //   display: block;
    //   right: 0;
    //   left: -1000px;
    //   height: 1px;
    //   background-color: #fff;
    // }
  }
  .video-iframe,
  .video-player {
    position: relative;
    z-index: 10;
  }
  .title--primary {
    color: #fff;
    line-height: 34px;
  }
  .btn--dropdown {
    .dropdown-status {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.5);
    }
    &:hover,
    &:active {
      .dropdown-status {
        color: rgba(255, 255, 255, 0.7);
      }
      .caret {
        border-top-color: rgba(255, 255, 255, 0.7);
      }
    }
  }
  .watch-meta {
    margin-top: 10px;
    position: absolute;
    bottom: 15px;
    left: 0;
    .watch-meta-item {
      display: inline-block;
      margin-left: 20px;
      font-family: $font-primary-regular;
      font-size: 12px;
      .dropdown-status {
        border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
        &:hover,
        &:active {
          border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
        }
      }
      .episode {
        margin-left: 5px;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .video-tip {
    position: absolute;
    right: 0;
    bottom: 16px;
    font-size: 10px;
    color: #ccc;
  }
}

// .video-player,
// .video-wrapper {
//   &:after,
//   &:before {
//     content: "";
//     display: block;
//     position: absolute;
//     top: 0;
//     bottom: 5px;
//     width: 10px;
//     background-color: #000;
//     z-index: 20;
//   }
//   &:after {
//     left: 0;
//   }
//   &:before {
//     right: 0;
//   }
// }

.video-player {
  position: relative !important;
  z-index: 7 !important;
}
