.winners {
  margin: 30px 0;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .winner {
    position: relative;
    width: 48.334%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    display: flex;
    margin-bottom: 30px;
    // &:hover {
    //     box-shadow: -10px -62px 100px -60px rgba(200, 57, 94, 0.49),
    //                 0px -50px 100px -60px rgba(200, 57, 94, 0.49);
    // }
    figure.afisha {
      position: relative;
      width: 167px;
      margin-right: 15px;

      img {
        width: 100%;
      }

      //   span::before {
      //     content: url(../images/min-statuya.png);
      //     position: absolute;
      //     bottom: 0;
      //     left: -50px;
      //     z-index: 10;
      //   }

      .link--overlay {
        opacity: 1;
        position: initial;
      }
    }

    .film-descr {
      font-size: 18px;

      figcaption {
        font-size: 30px;
        font-family: GillSans-Bold, Helvetica, Arial, sans-serif;
        margin-bottom: 12px;
        line-height: normal;

        a {
          &:hover {
            color: #e73f60;
          }
        }
      }

      p.info {
        &.producer {
          font-family: GillSans, Helvetica, Arial, sans-serif;
          margin-bottom: 10px;
          span {
            font-family: GillSans-Bold, Helvetica, Arial, sans-serif;
          }
        }
        &.small {
          font-family: GillSans, Helvetica, Arial, sans-serif;
          line-height: 1;
          color: #b0a2a2;
        }
      }
    }

    // &:nth-child(1),
    // &:nth-child(6) {
    //     transform: rotate(-10deg);
    // }

    // &:nth-child(2),
    // &:nth-child(7) {
    //   transform: rotate(1deg);
    // }

    // &:nth-child(3),
    // &:nth-child(8) {
    //   transform: rotate(-3deg);
    // }

    // &:nth-child(4) {
    //   transform: rotate(6deg);
    //   margin-left: 60px;
    // }

    // &:nth-child(5) {
    //   transform: rotate(-3deg);
    // }

    // &:nth-child(9) {
    //   transform: rotate(-7deg);
    //   margin: 60px 60px 0 60px;
    // }

    // &:nth-child(10) {
    //   transform: rotate(13deg);
    // }

    // figure {
    //   max-width: 100%;
    // }

    .label--news {
      // top: 0;
      // font-size: 12px;
      // padding: 6px 12px 4px;
      top: -10px;
      left: 18px;
      font-size: 14px;
      padding: 10px 15px 8px;
      &:hover {
        opacity: 1;
      }
    }

    .label--default {
      text-transform: none;
      max-width: 177px;
      left: -10px;
    }
  }
}
