{% set initData = [
  {
    value: 'Full time',
    option: 'Full time'
  }, {
    value: 'Part time',
    option: 'Part time'
  }, {
    value: 'Distance',
    option: 'Distance'
  }
] %}

{% macro Select(id, data , title = "Выберите страну", class) %}
<div class="select-form {{class}}" id="{{id}}">
  <div class="select-form__head">
    <span class="select-form__title">{{title}}</span>
  </div>
  <input data-select-input type="hidden" value="0">
  <ul class="select-form__options">
    {% for item in data %}
    <li data-select-value="{{item.value}}">{{item.option}}</li>
    {% endfor %}
  </ul>
</div>
{% endmacro %}