
@font-face {
  font-family: 'websymbolsligaregular';
  src: url($pathFonts + 'websymbolsligaregular.eot');
  src: url($pathFonts + 'websymbolsligaregular.eot?#iefix') format('embedded-opentype'),
       url($pathFonts + 'websymbolsligaregular.woff') format('woff'),
       url($pathFonts + 'websymbolsligaregular.ttf') format('truetype'),
       url($pathFonts + 'websymbolsligaregular.svg#WebSymbolsRegular') format('svg');
}

@font-face {
  font-family: 'fontawesome';
  src: url($pathFonts + 'fontawesome-webfont.eot');
  src: url($pathFonts + 'fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       url($pathFonts + 'fontawesome-webfont.woff') format('woff'),
       url($pathFonts + 'fontawesome-webfont.ttf') format('truetype'),
       url($pathFonts + 'fontawesome-webfont.svg#fontawesomeregular-webfont') format('svg');
}

@font-face {
  font-family: 'Tenge';
  src: url($pathFonts + 'Tenge.eot');
  src: url($pathFonts + 'Tenge.eot?#iefix') format('embedded-opentype'),
       url($pathFonts + 'Tenge.woff') format('woff'),
       url($pathFonts + 'Tenge.ttf') format('truetype'),
       url($pathFonts + 'Tenge.svg#Tenge') format('svg');
  }

@font-face {
  font-family: 'PTSans-Caption';
  src: url($pathFonts + 'PTSans-Caption.eot?#iefix') format('embedded-opentype'),
       url($pathFonts + 'PTSans-Caption.woff') format('woff'),
       url($pathFonts + 'PTSans-Caption.ttf') format('truetype'),
       url($pathFonts + 'PTSans-Caption.svg#FrutigerLTCYR-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-CaptionBold';
  src: url($pathFonts + 'PTSans-CaptionBold.eot?#iefix') format('embedded-opentype'),
       url($pathFonts + 'PTSans-CaptionBold.woff') format('woff'),
       url($pathFonts + 'PTSans-CaptionBold.ttf') format('truetype'),
       url($pathFonts + 'PTSans-CaptionBold.svg#FrutigerLTCYR-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Regular';
  src: url($pathFonts + 'PTSans-Regular.eot?#iefix') format('embedded-opentype'),
       url($pathFonts + 'PTSans-Regular.woff') format('woff'),
       url($pathFonts + 'PTSans-Regular.ttf') format('truetype'),
       url($pathFonts + 'PTSans-Regular.svg#FrutigerLTCYR-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Bold';
  src: url($pathFonts + 'PTSans-Bold.eot?#iefix') format('embedded-opentype'),
       url($pathFonts + 'PTSans-Bold.woff') format('woff'),
       url($pathFonts + 'PTSans-Bold.ttf') format('truetype'),
       url($pathFonts + 'PTSans-Bold.svg#FrutigerLTCYR-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Italic';
  src: url($pathFonts + 'PTSans-Italic.eot?#iefix') format('embedded-opentype'),
       url($pathFonts + 'PTSans-Italic.woff') format('woff'),
       url($pathFonts + 'PTSans-Italic.ttf') format('truetype'),
       url($pathFonts + 'PTSans-Italic.svg#FrutigerLTCYR-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif-Caption';
  src: url($pathFonts + 'PTSerif-Caption.eot?#iefix') format('embedded-opentype'),
       url($pathFonts + 'PTSerif-Caption.woff') format('woff'),
       url($pathFonts + 'PTSerif-Caption.ttf') format('truetype'),
       url($pathFonts + 'PTSerif-Caption.svg#FrutigerLTCYR-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif-Regular';
  src: url($pathFonts + 'PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
       url($pathFonts + 'PTSerif-Regular.woff') format('woff'),
       url($pathFonts + 'PTSerif-Regular.ttf') format('truetype'),
       url($pathFonts + 'PTSerif-Regular.svg#FrutigerLTCYR-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif-Bold';
  src: url($pathFonts + 'PTSerif-Bold.eot?#iefix') format('embedded-opentype'),
       url($pathFonts + 'PTSerif-Bold.woff') format('woff'),
       url($pathFonts + 'PTSerif-Bold.ttf') format('truetype'),
       url($pathFonts + 'PTSerif-Bold.svg#FrutigerLTCYR-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lightgallery';
  src: url($pathFonts + 'lg.eot?#iefix') format('embedded-opentype'),
       url($pathFonts + 'lg.woff') format('woff'),
       url($pathFonts + 'lg.ttf') format('truetype'),
       url($pathFonts + 'lg.svg#FrutigerLTCYR-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSans';
  src: url($pathFonts + 'GillSans.eot?#iefix') format('embedded-opentype'),
       url($pathFonts + 'GillSans.woff') format('woff'),
       url($pathFonts + 'GillSans.ttf') format('truetype'),
       url($pathFonts + 'GillSans.svg#GillSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSans-Bold';
  src: url($pathFonts + 'GillSans-Bold.eot?#iefix') format('embedded-opentype'),
       url($pathFonts + 'GillSans-Bold.woff') format('woff'),
       url($pathFonts + 'GillSans-Bold.ttf') format('truetype'),
       url($pathFonts + 'GillSans-Bold.svg#GillSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSans-SemiBold';
  src: url($pathFonts + 'GillSans-SemiBold.eot?#iefix') format('embedded-opentype'),
       url($pathFonts + 'GillSans-SemiBold.woff') format('woff'),
       url($pathFonts + 'GillSans-SemiBold.ttf') format('truetype'),
       url($pathFonts + 'GillSans-SemiBold.svg#GillSans-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Light';
  src: url($pathFonts + 'GothamPro-Light.eot?#iefix') format('embedded-opentype'),
       url($pathFonts + 'GothamPro-Light.woff') format('woff'),
       url($pathFonts + 'GothamPro-Light.ttf') format('truetype'),
       url($pathFonts + 'GothamPro-Light.svg#GothamPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Medium';
  src: url($pathFonts + 'GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
       url($pathFonts + 'GothamPro-Medium.woff') format('woff'),
       url($pathFonts + 'GothamPro-Medium.ttf') format('truetype'),
       url($pathFonts + 'GothamPro-Medium.svg#GothamPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
