
@-moz-document url-prefix() {
  .movies-online,
  .news--primary,
  .faces {
    .arrow--left {
      left: -7px;
    }
  }
  .news--primary .title-section--primary .shadow::before {
    bottom: 17px;
  }
}

@media screen\0 {
  .form--secondary.form--search .form-control {
    padding-top: 3px;
    padding-bottom: 0;
  }
}
