html,
body {
	height: 100%;
	// min-width: 1030px;
	min-width: 1230px;
}

body {
	// background-image: url("../images/bg-guy.jpg");
	background-position: 0 0;
	// background-size: cover;
	background-repeat: no-repeat;
	background-color: #000;
	font-family: $font-gill-regular;
	font-weight: normal;
	font-style: normal;
	color: #000;
	&.body-inner {
		background-image: url('../images/background-header.jpg');
		background-position: 0 0;
		background-size: initial;
		background-repeat: repeat;
		background-color: transparent;
		.header {
			position: relative;
			z-index: 3;
		}
		.footer--primary {
			border-bottom-color: #f3f3f3;
		}
	}
}

// @media (min-width: 1680px) {
//   body {
//     background-size: cover;
//     &.body-inner {
//       background-size: initial;
//     }
//   }
// }

body {
	line-height: 1.625;
	font-size: 16px;
}

b,
optgroup,
strong {
	font-family: $font-gill-bold;
}

.container {
	width: 1230px;
	margin: auto;
}

.header {
	position: relative;
	padding: 30px 0 10px;
	z-index: 3;
	background-image: url(../images/background-header.jpg);

	&.transparent {
		background: transparent;
	}

	.nav--secondary {
		vertical-align: middle;
		margin-right: 40px;
		margin-top: 15px;
		.nav-item {
			margin-left: 25px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	.form--search {
		vertical-align: middle;
	}
	button {
		margin-top: 7px;
	}
	.logo {
		margin-right: 50px;
		margin-top: 7px;
		margin-bottom: 25px;
	}
	.nav--primary {
		display: inline-block;
		width: auto;
		> .link {
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.header {
	.logo {
		margin-right: 70px;
	}
	.btn--primary {
		margin-top: 12px;
	}
}

.header--mobile {
	display: none;
	.logo {
		height: 155px;
	}
}

.main {
	min-height: calc(100% - 273px);
}

.main-page {
	position: relative;
	height: calc(100% - 140px);
	min-height: 815px;
	// margin-top: -124px;
	// min-height: 300px;
	padding-top: 100px;
	padding-bottom: 30px;
	.partners-item .partners-image {
		filter: brightness(100%);
	}
	h1 {
		font-size: 64px;
		line-height: 74px;
		position: relative;
		font-family: $font-secondary-bold;
		padding-bottom: 24px;
	}
	article {
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 100px;
	}
}

.section-bg-placeholder {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100vh;
	min-height: 1000px;
	// -- styles for new bg 2019 --
	background-image: url($pathImages+'poster-main-2020.jpg');
	background-position: right center;
	background-size: cover;
	// -- end --

	// background-image: url($pathImages + 'bg-guy.jpg');
	// background-position: 0 -350px;
	// background-size: cover;
	background-repeat: no-repeat;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), #000);
	}
}

.main-head {
	position: relative;
	padding-top: 50px;
	background-image: url('../images/background-header.jpg');
	z-index: 10;

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 135px;
		background-image: linear-gradient(
			to top,
			rgba(239, 63, 97, 0.5),
			transparent
		);
		z-index: 1;
	}
	.container {
		position: relative;
		z-index: 3;
	}
}

.main-body {
	position: relative;
	min-height: 513px;
	padding-top: 30px;
	padding-bottom: 70px;
	background-color: #fff;
	&:after {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 149px;
		background-color: #fff;
		z-index: 0;
	}
}

.main--secondary {
	padding-bottom: 0;
}

.footer {
	position: relative;
	padding-top: 30px;
	padding-bottom: 20px;
	background-image: none;
	background-color: #f9f9f9;
	color: #000;
	z-index: 1;

	.partners {
		display: none;
	}

	&.transparent {
		background: transparent;
		.partners {
			display: block;
		}
	}
	&.footer--error {
		.partners {
			display: none !important;
		}
	}
}

.footer--primary {
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	.brand-description,
	.contacts-list,
	.logo--secondary {
		display: inline-block;
		vertical-align: top;
	}
	.brand-description,
	.contacts-list {
		color: #fff;
	}
	.brand-description {
		width: 437px;
		margin-right: 15px;
		font-size: 14px;
	}
	.logo--secondary {
		width: 250px;
	}
	.social-list {
		color: #fff;
	}
	.social-list-item {
		display: inline-block;
		margin-right: 10px;
	}
}

.footer--main {
	background-color: #000;
	// margin-top: 100px;
	padding-top: 0;
	padding-bottom: 30px;
	.nav--footer .nav-item .link--primary {
		color: #fff;
		&:focus {
			color: #fff;
		}
		&:hover,
		&:active {
			color: $color-primary;
		}
	}
	.copyright {
		color: #fff;
	}
	.partners {
		padding-top: 0;
		margin-bottom: 50px;
	}
	// &:after {
	//   content: "";
	//   position: absolute;
	//   bottom: 100%;
	//   left: 0;
	//   width: 100%;
	//   height: 32px;
	//   background-image: linear-gradient(to bottom, transparent, #000);
	// }
}

.footer--secondary {
	padding-top: 10px;
	.nav--secondary {
		.nav-item {
			.link--primary {
				font-family: $font-secondary-regular;
				font-size: 13px;
				color: #fff;
				opacity: 0.4;
				&:focus {
					color: #fff;
					opacity: 0.4;
				}
				&:hover,
				&:active {
					color: #fff;
					opacity: 1;
				}
			}
			&.active {
				.link--primary {
					pointer-events: none;
					opacity: 1;
					background-color: transparent;
				}
			}
		}
	}
}

.footer--error {
	background-color: transparent;
}

.footer--secondary .nav--secondary .nav-item .link--primary {
	opacity: 0.8;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	line-height: 14px;
	font-size: 12px;
}

// header block for mobiles
.header--mobile {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	padding: 0;
	background: #fff !important;
	border-bottom: 1px solid #e6e6e6;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	text-align: center;
	z-index: 1210;
	.logo {
		position: absolute;
		top: 58%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: inline-block;
		// width: 250px;
		height: auto;
		width: 155px;
		margin: 0;
		margin-right: 0 !important;
		text-align: center;
		> a {
			display: inline-block;
			height: 50px;
		}
		svg {
			width: 100% !important;
			height: auto;
		}
		img {
			width: 82px;
			height: 40px;
		}
	}
	.form--search {
		// width: calc(100% - 40px);
		width: 20px;
		height: 59px;
		position: absolute;
		top: 0;
		right: 20px;
		background-color: #fff;
		z-index: 31;
		transition: 0.5s;
		// overflow: hidden;
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: -20px;
			top: 0;
			bottom: 0;
			width: 20px;
			background-color: #fff;
		}
		.form-group {
			margin-top: 18px;
			margin-bottom: 0;
			.close-search {
				display: block;
				width: 16px;
				height: 16px;
				position: absolute;
				top: 8px;
				right: 0;
				background-image: url($pathImages+'icon-close.svg');
				background-repeat: no-repeat;
				opacity: 0;
				transition: 0.3s;
			}
		}
		.form-control {
			width: calc(100% - 30px);
			margin-left: 30px;
			padding-left: 0;
			padding-right: 25px;
			border-top: none;
			border-right: none;
			border-left: none;
			border-bottom: 1px solid #e6e6e6;
			border-radius: 0;
			font-size: 13px;
			color: #646464;
			opacity: 0;
			transition: 0.3s;
			&:focus,
			&:active {
				font-size: 13px;
			}
		}
		.icon--search {
			width: 20px;
			height: 20px;
			top: 4px;
			left: 0;
			background-image: url($pathImages+'icon-search.svg');
			z-index: 21;
		}
		&.is-big {
			.form-group .close-search {
				opacity: 1;
			}
			.form-control {
				opacity: 1;
			}
		}
	}
}
