@media (max-width: 1375px) and (min-width: 1031px) {
	.banner--primary {
		.banner-image {
			display: block;
			width: 100%;
		}
	}
}

@media (max-width: 1030px) {
	.banner--primary {
		.banner-image {
			display: block;
			width: 1030px;
		}
	}
}

@media (max-width: 1024px) {
	body {
		// padding-top: 60px;
	}
}

@media (min-width: 481px) and (max-width: 1024px) {
	.menu {
		width: 30%;
	}
	.lg-outer {
		z-index: 3000;
	}
	.lg-backdrop {
		z-index: 2000;
	}
	.lg-toolbar {
		opacity: 1;
	}
	.tabs {
		min-height: 500px;
	}
	.modal {
		.modal-dialog {
			margin-top: 60px !important;
		}
	}
}

@media (max-width: 480px) {
	.menu {
		.nav--primary {
			> a {
				+ a {
					padding: 0 0 10px 20px;
				}
				&:nth-last-child(2) {
					margin-top: 15px;
				}
			}
		}
	}
	html,
	body {
		min-width: 100%;
	}
	body {
		position: relative;
		padding-top: 60px;
		&.body-inner {
			padding-top: 0;
		}
	}
	.btn--menu {
		display: inline-block;
	}
	.header {
		display: none;
		.container {
			padding: 0;
		}
		.logo {
			img {
				width: auto;
				z-index: 21;
			}
		}
		.btn--menu {
			z-index: 21;
		}
		.nav-item-mobile {
			display: block !important;
		}
	}
	.header.header--mobile {
		display: block;
	}
	.banner--primary,
	.banner--secondary {
		display: none;
	}
	.swiper-hero {
		display: none;
	}
	.hero-controls {
		display: none;
	}
	.main {
		position: relative;
		border-top: none;
	}
	.main--secondary {
		// padding-top: 15px;
	}

	.main-head {
		padding-top: 15px;
	}

	.main-body {
		padding-top: 20px;
		padding-bottom: 30px;
	}

	.main-page {
		height: 100%;
		min-height: 800px;
		padding-top: 20px;
		article {
			margin-bottom: 50px;
		}
		.article--main h1 strong {
			margin-bottom: 5px;
			font-size: 26px;
			line-height: 32px;
		}
		.article--main h1 {
			margin-bottom: 5px;
			font-size: 18px;
			line-height: 22px;
		}
	}

	.info-list {
		padding-top: 20px;
	}

	.info-item {
		display: block;
		margin-left: 0 !important;
	}

	.info-item .title {
		font-size: 24px;
		line-height: 28px;
	}

	.info-item .text {
		margin-bottom: 0;
		font-size: 15px;
		line-height: 18px;
	}

	.section-bg-placeholder {
		// background-position: 45% -385px;
		// &:after {
		//   height: 500px;
		// }

		// -- styles for new bg 2019 --
		//min-height: 800px;
		//background-position: top 60px right -114px;
		//background-size: 315% 85%;
		// --

		// -- styles for new bg 2020 --
		background-image: url($pathImages+'poster-mobile-2020.jpg');
	}

	.stones {
		display: none;
	}

	.about--secondary {
		padding-top: 20px;
	}

	.about .about-avatar {
		width: 70px;
		display: block;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.about-main .article > p {
		display: block;
		width: 100%;
	}

	.about {
		.article {
			.text {
				overflow: initial;
			}
		}
		.about-info {
			margin-left: 0;
		}
		.about-info .item + .item {
			margin-left: 0;
			border-left: none;
			padding-left: 0;
		}
	}

	#gallery-about {
		height: 300px !important;
	}

	.lSSlideWrapper .lSSlide {
		> li > img {
			height: 300px;
		}
	}

	.lSSlideOuter .lSPager.lSGallery {
		height: 300px;
	}

	.form--secondary.form--search {
		width: 170px;
	}

	.form-application {
		.container {
			padding: 0;
		}
		.form-group {
			display: block !important;
			width: 100% !important;
			max-width: 320px;
			margin: 0 auto 10px !important;
		}
		.form-wrapper {
			width: 100%;
			margin: 0;
			padding: 15px 15px 30px;
		}

		.form-title {
			text-align: center;
		}

		.form-scheme {
			padding: 50px 15px 0 0;
			margin: 0;
		}
		.info {
			margin-top: 5px;
			font-size: 12px;
			line-height: 14px;
			text-align: left;
		}
	}

	.form-nav-item {
		display: none;
		&.active {
			display: block;
		}
	}

	.form-app {
		width: 100%;
		margin-left: 0;
	}

	.form-rules {
		width: 100%;
	}

	.form-sidebar {
		width: 100%;
		margin-left: 0;
	}

	.form-scheme-item-wrapper {
		padding: 15px 20px;
	}

	.form-scheme-item-title {
		font-size: 18px;
	}

	.form-scheme-item-description {
		font-size: 18px;
	}

	.application {
		.form-application {
			.form-row .form-group--image {
				display: block;
				margin-right: 0;
				margin-left: 0;
				text-align: center;
				.cropper {
					display: inline-block;
				}
			}
		}
		.form-group--image .tip {
			position: static;
			width: 100%;
			margin-top: 25px;
			text-align: left;
		}
		.form-application .form-scheme-item {
			width: 100%;
		}
		.form-application .form-row .form-group {
			+ .form-group {
				margin-left: 0;
			}
		}
		.form-application .form-group--phone .phone-helper {
			margin-bottom: 5px;
		}
	}

	.control-bar-filters {
		margin-left: 0;
	}

	.table-program {
		&:after {
			display: none;
		}
		.table-header > th {
			display: none;
		}

		tr {
			display: block;
			width: 100%;
			margin-bottom: 10px;
		}
		td {
			display: block;
			width: 100%;
		}
		tr > td:not(:last-child) {
			padding-bottom: 5px;
			border-bottom: 0;
		}

		td.program-time,
		td.program-desc,
		td.program-name {
			padding-top: 0;
		}
		td.program-desc {
			padding-bottom: 10px;
		}
	}

	.inner-nav {
		margin-bottom: 15px;
	}

	.inner-nav-participants {
		margin-top: 20px;
		margin-bottom: -15px;
		.container {
			padding: 0;
			margin: 0;
			.nav--secondary > li .link {
				// margin-right: -5px;
			}
		}
	}

	.inner-nav .nav--secondary > li .link {
		margin-left: 0;
		margin-right: 0;
		padding: 5px;
		font-size: 14px;
		line-height: 18px;
	}

	.inner-nav {
		.nav--secondary {
			margin-left: 0;
		}
	}

	.nav--footer {
		width: 100%;
		.col {
			display: block;
			margin-right: 0;
		}
	}

	// titles
	.title--primary {
		font-size: 18px;
	}
	.title-section--primary {
		font-size: 14px;
		letter-spacing: 1px;
	}
	.title-section--primary {
		margin-bottom: 10px;
	}

	.faq {
		.filters--primary {
			margin-bottom: 0;
		}
	}

	.article {
		> p {
			padding-bottom: 0;
			> strong {
				display: block;
				margin-top: 20px;
				margin-bottom: -5px;
			}
		}
		.title--primary {
			margin-bottom: 5px;
			font-size: 22px;
			line-height: 28px;
		}
		.title--secondary {
			font-size: 18px;
			line-height: 22px;
		}
		.article-cover,
		.article-figure,
		.article-gallery {
			width: calc(100% + 30px);
			margin-left: -15px;
			margin-right: -15px;
			figcaption {
				padding-left: 15px;
				padding-right: 15px;
			}
			.article-slider-item {
				height: 180px;
				.article-slider-image {
					height: auto;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
		.article-meta .meta-item {
			margin-right: 10px;
			margin-bottom: 5px;
		}
		.article-lead {
			font-size: 15px !important;
			line-height: 22px !important;
		}
	}

	.article-body {
		width: 100% !important;
	}

	.container {
		width: 100% !important;
	}
	.grid {
		display: block;
	}
	.grid-item--content,
	.grid-item--sidebar,
	.grid-item--primary,
	.grid-item--secondary {
		width: 100%;
	}
	.grid > .grid-item--primary .grid-item--secondary {
		width: 100%;
		margin-right: 0;
		.thumb--article .thumb-image {
			height: auto;
		}
	}
	.grid > .grid-item--primary + .grid-item--primary {
		margin-left: 0;
	}
	.grid-item--primary {
		.thumb--primary {
			.label--thumb {
				top: -10px;
				left: 0;
			}
		}
	}
	.grid-item--sidebar {
		.movies-item {
			display: none;
		}
	}
	.grid-item--photo {
		display: inline-block;
		vertical-align: top;
		width: 32%;
	}
	.faces {
		display: none;
	}
	.article > p,
	.article ol li,
	.article ul li {
		font-size: 18px;
		line-height: 26px;
	}
	.btn--sharing {
		position: relative;
		width: 32px;
		height: 32px;
		font-size: 0;
		.number {
			display: none;
		}
		.icon--social {
			position: absolute;
			top: 50% !important;
			left: 50% !important;
			transform: translate(-50%, -50%);
		}
	}
	.footer {
		height: auto;
		padding-bottom: 0;
	}
	.footer--primary {
		position: relative;
		padding-bottom: 20px;
		.social-list {
			position: absolute;
			left: 0;
			bottom: 10px;
		}
		.social-list-row {
			display: inline-block;
			.social-list-item {
				width: 32px;
				height: 32px;
				margin-top: 0;
			}
			.link--social {
				position: relative;
				top: -50%;
				display: inline-block;
				width: 32px;
				height: 32px;
				border: 1px solid #646464;
				border-radius: 3px;
				font-size: 0;
			}
			.icon--social {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.brand-description {
			width: 100%;
			margin-bottom: 15px;
			line-height: 24px;
		}
		.logo--secondary {
			display: none;
		}
		.contacts-item {
			&:first-child,
			&:nth-child(2) {
				color: $color-primary;
			}
			+ .contacts-item {
				margin-top: 5px;
			}
		}
	}
	.footer--secondary {
		position: relative;
		padding-top: 10px;
		padding-bottom: 40px;
		.rocket-link {
			position: absolute;
			bottom: 0;
			left: 0;

			margin-bottom: 10px;
		}
		.nav--secondary {
			display: none;
		}
	}
	.hero {
		position: relative;
		height: 360px;
		.container {
			position: static;
			padding: 0;
		}
	}
	.thumb--hero {
		width: 100%;
		height: 300px;
		.thumb-image {
			height: 100%;
			background-position: center center;
		}
		.thumb-info {
			left: 15px;
			right: 30px;
			bottom: 10px;
			top: auto;
		}
		.label--thumb {
			top: 15px;
			left: 15px;
		}
		.thumb-title {
			font-size: 18px;
			line-height: 22px;
		}
		.thumb-description {
			font-size: 13px;
			line-height: 20px;
			color: rgba(255, 255, 255, 0.8);
		}
	}

	.thumb--dashed {
		width: 100%;
		margin-top: 30px !important;
		text-align: center;
	}

	.movies-online {
		.swiper-controls {
			top: -4px;
		}
		.movies-item {
			width: 100%;
			.movies-item-cover {
				width: 28vw;
				height: auto;
			}
			.movies-item-rating {
				.starbox {
					display: none;
				}
				.movies-item-rating-total {
					position: relative;
					display: block;
					font-family: $font-primary-regular;
					font-size: 12px;
					text-align: center;
					&:before {
						content: '';
						display: inline-block;
						vertical-align: middle;
						width: 12px;
						height: 12px;
						margin-right: 5px;
						background-image: url($pathImages+'star-red-small.svg');
					}
				}
			}
			.movies-item-title {
				margin-top: 5px;
				margin-bottom: 2px;
				font-family: $font-primary-bold;
				font-size: 12px;
				line-height: 15px;
				text-align: center;
			}
		}
	}
	.movies .movies-list .movies-item {
		text-align: center;
	}
	.movies-item .movies-item-cover {
		margin-bottom: 5px;
	}
	.movies-item-rating {
		margin-top: 5px;
	}
	.movie-tab-description {
		margin-top: 0;
		margin-bottom: 20px;
	}
	.swiper-news-primary {
		width: 100%;
		left: 0;
		.swiper-control-news--left,
		.swiper-control-news--right {
			display: none;
		}
	}
	.thumb--primary {
		.thumb-image {
			img {
				width: 100%;
			}
		}
		.label-thumb {
			left: 10px;
		}
	}
	.news--primary {
		background-image: none;
		padding: 0;
		padding-bottom: 20px;
		border-bottom: 1px solid #e6e6e6;
		.title-section--primary {
			display: none;
		}
		.swiper-news-primary-pagination {
			display: block;
		}
		.container {
			padding: 0;
		}
		.thumb--primary {
			width: 100%;
			.link--overlay {
				bottom: 30px;
			}
			.thumb-info {
				left: 15px;
				position: static;
				padding: 10px 15px;
			}
			.thumb-date,
			.thumb-title,
			.thumb-description,
			.thumb-author {
				color: #000;
			}
		}
	}
	.news--secondary {
		padding-top: 15px;
	}
	.thumb--article {
		width: 100%;
		margin-bottom: 20px;
		.thumb-image {
			width: 100%;
			//height: auto;
		}
	}
	.grid-item--reviews {
		.reviews-box {
			border: none;
			margin-bottom: 0;
			padding: 0;
			.title--secondary {
				margin-bottom: 10px;
				font-size: 14px;
				letter-spacing: 1px;
				color: $color-primary;
			}
		}
	}
	.thumb--secondary {
		height: auto;
		margin-bottom: 25px;
		.thumb-info {
			left: 15px;
		}
		.label--thumb {
			left: 10px;
		}
	}
	.thumb--secondary.thumb--casting {
		.thumb-info {
			padding-top: 15px;
			padding-bottom: 20px;
			background-color: #fff;
			border-right: 1px solid #e6e6e6;
			border-left: 1px solid #e6e6e6;
			border-bottom: 1px solid #e6e6e6;
		}
		.thumb-date,
		.thumb-title,
		.thumb-description,
		.thumb-contacts {
			color: #000;
		}
	}
	.thumb--primary.thumb--square {
		width: calc(100% + 30px);
		height: 100vw;
		margin-left: -15px;
		margin-right: -15px;
		padding-bottom: 0;
		border-bottom: none !important;
		.thumb-info {
			position: absolute !important;
			left: 15px;
			bottom: 30px;
			padding: 0 !important;
		}
		.label--thumb {
			left: 15px;
			top: 15px;
		}
		.thumb-date,
		.thumb-title {
			color: #fff !important;
		}
		.thumb-description {
			color: rgba(255, 255, 255, 0.8) !important;
		}
	}
	.pagination--primary {
		width: 100% !important;
		margin-top: 0;
		padding-top: 0;
		border-top: none;
		text-align: center;
	}
	.live--comments,
	.live--news {
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: -20px;
		padding-bottom: 15px;
		border-top: none;
		background-color: #f1f7f9;
		.live-title,
		.live-description {
			color: #000;
		}
		.live-meta {
			.meta-author,
			.meta-date {
				color: rgba(0, 0, 0, 0.5);
			}
			.meta-author .link {
				position: relative;
				&:before {
					content: '';
					display: inline-block;
					vertical-align: middle;
					width: 26px;
					height: 21px;
					margin-right: 5px;
					background-image: url($pathImages+'icon-comments.svg');
					background-repeat: no-repeat;
				}
			}
		}
	}
	.live--news,
	.live--studios {
		background-color: transparent;
		box-shadow: none;
		border: none;
		border-top: 1px solid #dcdcdc;
		.title--secondary {
			color: $color-primary;
		}
	}
	.live--studios {
		margin-bottom: 15px;
		border-top: none;
	}
	.columns {
		padding-top: 15px;
	}
	.articles {
		.article-gallery-description {
			bottom: 90px;
		}
		.thumb--primary {
			width: calc(100% + 30px);
			margin-left: -15px;
			margin-right: -15px;
			padding-bottom: 10px;
			border-bottom: 1px solid #e6e6e6;
			.thumb-info {
				position: static;
				padding: 15px 15px 0;
			}
			.label--thumb {
				left: 15px;
				top: 15px;
			}
			.thumb-date,
			.thumb-title,
			.thumb-description {
				color: #000;
			}
		}
	}
	.breadcrumbs {
		margin-bottom: 10px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #b4b4b4;
		.breadcrumbs-item {
			display: inline;
			.link {
				font-family: $font-secondary-regular;
				font-size: 13px;
				color: #000;
			}
			&.active {
				.link {
					color: #b4b4b4;
				}
			}
		}
	}
	.lSSlideOuter .lSPager.lSGallery li {
		width: 115px !important;
		height: 65px;
	}
	.lSSlideOuter .lSPager.lSGallery {
		padding-bottom: 5px !important;
	}
	.comments-header .tip {
		font-size: 0;
		.link {
			font-size: 14px;
		}
	}
	.control-bar {
		padding-top: 10px;
		.form .form-control {
			width: calc(100% - 50px) !important;
		}
	}
	.form--primary.form--search {
		.btn--primary {
			width: 40px;
			height: 40px;
			padding: 0;
			font-size: 0;
			background-image: url($pathImages+'icon-search-white.svg');
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
	.hepl-block {
		text-align: left;
	}
	.icon--order {
		// display: none;
		margin-left: 0;
	}
	.dropdown-filter-mobile {
		display: inline-block;
	}
	.dropdown--dashed + .dropdown--dashed {
		margin-left: 5px;
	}
	.filters-result {
		// display: none !important;
		display: block !important;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.btn--filter {
		padding: 4px 10px;
		font-size: 14px;
	}
	// .btn--filter.btn--swag {
	//   position: relative;
	//   display: inline-block;
	//   margin-top: 5px;
	//   padding: 0;
	//   background-color: transparent !important;
	//   border: none !important;
	//   font-family: $font-primary-regular;
	//   font-size: 12px;
	//   color: #000;
	//   &:before {
	//     content: "";
	//     display: inline-block;
	//     vertical-align: text-bottom;
	//     width: 18px;
	//     height: 18px;
	//     position: static;
	//     margin-right: 5px;
	//     border: 1px solid #dcdcdc;
	//     border-radius: 3px;
	//   }
	//   &.active {
	//     &:before {
	//       border-color: $color-primary;
	//       background-image: url($pathImages + 'icon-checked.svg');
	//       background-position: center center;
	//       background-repeat: no-repeat;
	//     }
	//   }
	// }
	.movies-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-right: 0;
		.movies-item {
			width: 100% !important;
			margin-right: 0 !important;
			.movies-item-cover > img {
				height: auto;
			}
		}

		.movies-item .label--news {
			padding: 6px 10px !important;
		}
	}
	.add-movie {
		height: auto;
	}
	.movies .movies-item {
		// width: 30% !important;
		// margin-right: 5px !important;
		margin-bottom: 20px;
		float: none !important;
		display: inline-block;
		vertical-align: top;

		.movies-item-rating {
			.starbox {
				display: none;
			}
			.movies-item-rating-total {
				position: relative;
				display: block;
				font-family: $font-primary-regular;
				font-size: 12px;
				text-align: center;
				&:before {
					content: '';
					display: inline-block;
					vertical-align: top;
					width: 12px;
					height: 12px;
					margin-right: 5px;
					background-image: url($pathImages+'star-red-small.svg');
				}
			}
		}
		.movies-item-title {
			margin-top: 5px;
			margin-bottom: 2px;
			font-family: $font-primary-bold;
			font-size: 12px;
			line-height: 26px !important;
			text-align: center;
		}
		.movies-meta {
			display: none;
		}
	}
	.movies-item .movies-item-cover {
		height: auto;
		margin-bottom: 10px;
	}
	.label--movies {
		font-size: 10px;
	}
	.movie {
		.movie-hero {
			width: 100%;
			margin: 0 auto !important;
			text-align: center;
			.movie-cover {
				margin-left: auto;
				margin-right: auto;
				img {
					width: 200px;
				}
			}
			.label--movies {
				top: 10px;
				// left: auto;
				left: calc(50% - 106px);
			}
			.btn--primary {
				width: 200px;
			}
		}
	}
	.movie .movie-info {
		overflow: initial;
	}
	.comments-inner,
	.video-iframe,
	.videoplayer {
		width: 100%;
	}
	.comments-item .comments-item {
		padding-left: 20px;
	}
	.comments-item .form .btn--primary {
		padding: 5px 15px;
		font-size: 13px;
	}
	.sharing {
		.sharing-item + .sharing-item {
			margin-left: 10px;
		}
	}
	#tabAbout .movie-info {
		.movie-info-description {
			display: inline;
		}
		.movie-info-title {
			width: auto;
			margin-right: 5px;
		}
	}
	.tabs {
		position: relative;
		margin-top: 0;
		padding-right: 0;
		// &:after {
		//   content: "";
		//   display: block;
		//   position: absolute;
		//   top: 0;
		//   height: 52px;
		//   right: -15px;
		//   width: 20%;
		//   background-image: linear-gradient(to right, transparent,#fff);
		// }
		.nav--tabs {
			.nav-link {
				padding: 5px 10px;
				font-size: 18px;
			}
		}
		.tab-pane .article {
			padding-right: 20px;
		}

		.nav--tabs {
			margin-bottom: 10px;
			.nav-item {
				border-radius: 10px !important;
			}
		}
	}
	.tabs-nav {
		position: relative;
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		padding: 10px 15px 6px;
		overflow: auto;
		white-space: nowrap;
		border-top: 1px solid #e6e6e6;
	}
	.nav--inner {
		padding-bottom: 5px;
		.link--primary {
			font-size: 14px;
			+ .link--primary {
				margin-left: 5px;
			}
			&.active:after {
				top: 24px;
			}
		}
	}
	.swiper-movies-hero {
		margin-left: -15px !important;
		margin-right: -15px !important;
		width: calc(100% + 30px);
		.arrow--left,
		.arrow--right {
			top: 45px;
			width: 17px;
			height: 31px;
		}
		.arrow--left {
			background-image: url($pathImages+'icon-arrow-left.svg');
			background-position: center center;
		}
		.arrow--right {
			background-image: url($pathImages+'icon-arrow-right.svg');
			background-position: center center;
		}
	}
	.main--cinema {
		padding-top: 0;
		.cinema {
			padding-bottom: 0;
		}
		.pagination--primary {
			width: calc(100% + 30px) !important;
			margin-right: -15px;
			margin-left: -15px;
			padding: 10px 0;
			border-top: 1px solid #e6e6e6;
			border-bottom: 1px solid #e6e6e6;
			color: #c8c8c8;
		}
		.title-section.title-section--primary {
			font-size: 14px;
			color: $color-primary;
			text-transform: uppercase;
		}
		.form--secondary.form--search {
			width: 100% !important;
			float: none !important;
			.form-control {
				display: inline-block;
				height: 40px;
				vertical-align: middle;
				font-size: 13px;
			}
			.icon.icon--search {
				position: static;
				display: inline-block;
				vertical-align: middle;
				width: 40px;
				height: 40px;
				padding: 0;
				font-size: 0;
				background-image: url($pathImages+'icon-search-white.svg');
				background-position: center center;
				background-repeat: no-repeat;
				background-color: $color-primary;
				border-radius: 3px;
			}
		}
		.control-bar {
			padding-top: 10px !important;
		}
		.movies-item .movies-item-cover img {
			width: 100%;
		}
		.movies-item .movies-item-title {
			margin-top: 5px;
		}
	}
	.control-bar {
		padding-top: 20px;
	}
	.movies-hero {
		.movies-hero-item {
			height: 250px;
			.title--primary {
				font-size: 18px;
			}
			.movies-meta {
				margin-bottom: 10px !important;
				padding-top: 30px;
				.meta-year {
					font-size: 10px;
				}
				.meta-genres {
					.genres-item {
						font-size: 10px;
					}
				}
			}
			.btn--primary {
				bottom: 40px;
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
		.movies-hero-body .aside {
			margin-top: 0;
			margin-bottom: 10px;
			float: none !important;
		}
		.movies-hero-body .movies-info-description {
			margin-right: 0;
		}
	}
	.video .payment--movie {
		padding-left: 50px;
	}
	.payment-wrapper .radio .form-group {
		width: 220px;
	}
	.form--payment .form-group--promo {
		height: auto;
	}
	.form--payment .form-group--promo .btn--swag {
		position: static;
		width: 200px;
		margin-top: 10px;
	}
	.form--payment .btn--primary {
		width: 200px;
	}
	.form-nav {
		width: 100%;
		text-align: center;
	}
	.form-sdiebar {
		margin-top: 20px;
	}
	.movies-hero--watch .video--primary {
		.video-iframe {
			width: calc(100% + 30px) !important;
			height: auto !important;
			margin-left: -15px;
			margin-right: -15px;
		}
		.video-tip {
			display: none;
		}
		.link--backwards {
			font-size: 12px;
		}
		.title--primary {
			line-height: 28px;
		}
	}
	.rating-list {
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-left: -15px;
	}
	.rating-item {
		.meta-labels {
			top: auto;
			bottom: 0;
			left: auto;
			right: 5px;
		}
		.rating-number {
			left: 15px;
			margin-right: 0;
		}
		.rating-movie-cover,
		.rating-movie-meta {
			vertical-align: top;
		}
		.rating-movie-meta {
			width: calc(100% - 80px);
			padding-top: 5px;
		}
	}
	.rating-item .rating-data {
		position: static;
		margin-bottom: 3px;
		float: none !important;
	}
	.selection-people {
		.people-list {
			.people-item {
				.people-image {
					width: 280px;
				}
			}
		}
	}
	.people {
		padding-top: 5px;
	}
	.people-list {
		margin-right: 0;
		.people-item {
			position: relative;
			width: 100%;
			margin-bottom: 10px;
			margin-right: 0;
			text-align: left;
			overflow: hidden;
			// .link--overlay {
			//   position: static !important;
			//   display: inline-block;
			//   opacity: 1;
			//   &:focus {
			//     color: #000;
			//   }
			//   &:active {
			//     color: $color-primary;
			//   }
			// }
			.people-image {
				float: left;
				display: inline-block;
				vertical-align: top;
				width: 55px;
				height: auto;
				margin-right: 10px;
				margin-bottom: 0;
				img {
					width: 100%;
				}
			}
			.people-name {
				display: inline-block;
				margin-top: 7px;
				margin-left: 0;
				margin-right: 0;
			}
			.people-body {
				display: inline-block;
				vertical-align: top;
				max-width: calc(100% - 70px);
				padding-left: 10px;
				> .link--overlay {
					display: none;
				}
			}
			.people-meta {
				letter-spacing: 0;
				font-weight: 400;
				overflow: hidden;
			}
		}
	}
	.main--people {
		.control-bar-filters .filters-order {
			display: block;
			float: none !important;
		}
	}
	.chart-person {
		width: 100% !important;
	}
	.person-chart .chart-filters {
		position: static;
		float: none !important;
	}
	.icon--map {
		display: none;
	}
	.control-bar-filters .filters-order {
		display: inline;
	}
	.dropdown--dashed {
		margin-bottom: 3px;
		vertical-align: middle;
	}
	.companies-item {
		.btn--dashed {
			display: none;
		}
		.companies-title {
			margin-bottom: 3px;
		}
		.companies-head,
		.companies-meta {
			display: block;
		}
	}
	.studio-info {
		width: 100%;
	}
	.filters--primary.filters--studio {
		margin-bottom: 10px;
		.btn--filter {
			display: inline-block;
		}
	}
	.person-insta,
	.person-twitter {
		display: none;
	}
	.person {
		.person-body {
			position: relative;
		}
		.link--twitter,
		.link--insta {
			display: block;
			position: absolute;
			left: calc(45% + 10px);
			font-size: 12px;
			padding-left: 20px;
			background-position: left center;
			background-repeat: no-repeat;
		}
		.link--twitter {
			top: 60px;
			color: #4099ff;
			background-image: url($pathImages+'icon-twitter.svg');
		}
		.link--insta {
			top: 40px;
			margin-bottom: 10px;
			color: #125688;
			background-image: url($pathImages+'icon-insta.svg');
		}
		.person-hero {
			width: 45%;
		}
		.person-info {
			width: 100%;
		}
		.table--rating {
			.table-data {
				border-top: none;
			}
			.table-title,
			.table-data--character,
			.table-data--job,
			.table-data--year {
				display: none;
			}
			.table-data--movie {
				overflow: hidden;
				.link {
					display: block;
					float: left;
				}
				.table-data--job,
				.table-data--year {
					float: left;
					display: inline-block !important;
					padding: 0;
				}
				.table-data--year {
					margin-right: 5px;
					color: rgba(0, 0, 0, 0.3);
				}
			}
		}
	}
	.error-page {
		display: block;
		padding: 10px 0;
		text-align: center;
		.error-body {
			display: block;
			width: 100%;
			margin-right: 0;
		}
		.error-hero {
			display: block;
			position: static;
			width: 30%;
			margin: 0 auto 20px;
			text-align: center;
			img {
				width: 90%;
			}
		}
		.error-page-description {
			width: 100%;
			padding: 0 20px;
			font-size: 14px;
			text-align: center;
		}
		.title--primary {
			width: auto;
			margin-bottom: 8px;
			padding: 0;
			font-size: 18px;
			line-height: 1;
			text-align: center;
		}
	}
	.feedback--primary {
		.feedback-description {
			width: 100%;
		}
	}
	.form--feedback {
		width: 100%;
		.textarea {
			width: 100%;
		}
		.feedback-meta {
			width: 100%;
		}
		.feedback-meta .form-control {
			width: 100%;
		}
		.form-tip {
			position: static;
			margin-top: 5px;
		}
		.form-footer {
			width: 100%;
			.btn--primary {
				float: none !important;
			}
		}
		.control-label {
			letter-spacing: 0;
			font-weight: 400;
		}
	}
	.faq-user {
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		border-radius: 0;
	}
	.faq-question span {
		line-height: 24px;
	}
	.faq-list {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.avatar--lg {
		width: 80px;
		height: 80px;
	}
	.cropper--avatar .cropit-image-preview.avatar--lg {
		width: 128px;
		height: 128px;
	}
	.cropper .btn--reupload {
		position: absolute;
		top: -25px;
		left: 73px;
	}
	.cropper .btn--cropper {
		padding: 10px 50px 35px;
		font-size: 14px;
		&:before {
			margin-bottom: -20px;
			font-size: 65px;
		}
	}
	.profile--edit {
		.cropper--avatar {
			margin-bottom: 30px;
		}
	}
	.profile-wrapper {
		display: inline-block;
		width: calc(100% - 100px);
	}
	.profile .profile-meta .avatar {
		margin-right: 15px;
	}
	.profile .profile-head {
		padding-top: 0;
		.icon--edit {
			top: 0;
		}
	}
	.profile .profile-head .title--primary {
		font-size: 16px;
	}
	.profile .profile-info {
		font-size: 12px;
	}
	.profile .profile-description {
		font-size: 14px;
		line-height: 16px;
	}
	.tabs-nav-item {
		float: none !important;
	}
	.thumb--blog .thumb-image {
		width: 100%;
		height: auto;
		margin-bottom: 10px;
		float: none !important;
	}
	.thumb--primary {
		width: 100%;
		.thumb-image {
			margin-bottom: 10px;
		}
		.thumb-info {
			position: static;
			color: #000;
		}
	}
	.money {
		margin-bottom: 20px;
	}
	.money .money-text {
		display: inline-block;
		font-size: 14px;
	}
	.money .money-balance {
		display: inline-block;
		font-size: 18px;
	}
	.money .money-balance .number {
		font-size: 18px;
	}
	.money .btn--primary {
		margin-top: 10px;
	}
	.profile .reviews-author,
	.profile .reviews-avatar {
		display: none;
	}
	.profile .reviews-body {
		padding-left: 0;
	}
	.movies-item-cost {
		text-align: center;
	}
	.promo-codes-head {
		width: auto;
		.btn--dashed {
			display: none;
		}
	}
	.promo-codes-left {
		display: inline-block;
		width: 50px;
		margin-right: 20px;
		font-size: 0;
		.highlight {
			font-size: 12px;
		}
	}
	.promo-codes-percentage {
		width: 35%;
	}
	.promo-codes-date,
	.promo-codes-subject {
		width: 30%;
		margin-right: 0;
		padding-right: 0;
		font-size: 12px;
	}
	.promo-codes-meta {
		width: 50%;
	}
	.grid-item--form.grid-item--form {
		width: 100%;
		margin-left: 0;
	}
	.form--auth .control-label {
		margin-bottom: 3px;
		font-size: 12px;
		letter-spacing: 0;
	}
	.form--profile .form-header {
		margin-bottom: 0;
	}
	.form--profile .form-footer {
		text-align: center;
	}
	.form--profile .form-footer .btn.link {
		margin-top: 10px;
		padding: 0;
	}
	.form--profile .form-header .form-group--about {
		width: 100%;
	}
	.cropper--avatar {
		display: block;
		margin: 0 auto 20px;
	}
	.cropper--blog {
		width: 100%;
		float: none !important;
	}
	.form--blog .form-group--cover {
		float: none !important;
		margin-top: 0;
		margin-bottom: 40px;
	}
	.form-row.flex {
		display: block !important;
	}
	.cropper--blog .btn--reupload {
		left: 0;
	}
	.form--profile .form-footer .btn--primary {
		display: block;
		width: 100%;
		max-width: 320px;
		margin: 0 auto;
		.icon {
			color: #fff;
			right: 15px;
		}
	}
	.form--blog .blog-cover {
		width: 100%;
	}
	.form--profile {
		padding-right: 0;
	}
	.form--blog .textarea--article {
		width: 100%;
	}
	.form--blog .form-group--rubrics {
		width: 100%;
	}
	.form--blog .blog-meta {
		width: 100%;
	}
	.form--blog .form-group--tags {
		width: 100%;
	}
	.modal {
		// top: 60px;
		z-index: 2000;
		.modal-dialog {
			width: 100%;
			margin: 0;
			.modal-content {
				border-radius: 0;
			}
			.modal-header,
			.modal-body,
			.modal-footer {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.close {
			top: 13px;
		}
	}
	.modal--about .phone-group .form-control,
	.modal--auth .phone-group .form-control,
	.modal--pass .phone-group .form-control {
		width: calc(100% - 50px);
	}
	.auth-soc-list-item {
		width: 48%;
		.link--social {
			text-align: center;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.modal--about .modal-title,
	.modal--auth .modal-title,
	.modal--pass .modal-title {
		font-size: 18px;
	}
	.modal--banner {
		.modal-header,
		.modal-body,
		.modal-footer {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		.btn--primary {
			padding: 5px 0;
		}
	}
	.payment--success .icon--success,
	.payment--error .icon--error,
	.payment--success .icon--error,
	.payment--error .icon--success {
		margin-right: 10px;
		font-size: 35px !important;
	}
	.payment--success .title--primary,
	.payment--error .title--primary {
		font-size: 20px;
	}
	.payment--success .success-description,
	.payment--success .error-description,
	.payment--error .success-description,
	.payment--error .error-description {
		font-size: 14px;
		line-height: 20px;
	}
	.modal--payment {
		.tabs:after {
			display: none;
		}
		.form--payment .controls--secondary {
			float: none !important;
			margin-top: 10px;
		}
		.tabs-body-item--number .phone-group {
			width: 100%;
			.tip {
				display: block;
				position: static !important;
				margin-top: 5px;
			}
		}
		.tabs-body-item--instruct .step {
			width: 100%;
			img {
				width: 100%;
			}
		}
		.title--secondary {
			font-size: 20px !important;
		}
	}
	.tabs-body-item--instruct {
		.btn--primary {
			display: none;
		}
	}
	.modal.modal--payment .form--payment .radio .form-group {
		width: 100%;
		padding: 0 5%;
	}
	.payment--success .btn--primary,
	.payment--error .btn--primary {
		padding: 5px 10px;
		font-size: 12px;
	}
	.modal--ticketon {
		overflow: auto !important;
		.modal-dialog {
			width: 780px;
		}
	}
	.afiche-item-meta,
	.afiche-item-phone,
	.afiche-item-premier {
		display: none;
	}
	.afiche-item-rating {
		margin-right: 2px;
		font-size: 14px;
		text-align: right;
	}
	.link--afiche .afiche-item-title {
		display: inline-block;
		width: calc(100% - 40px);
		padding-right: 10px;
		.afiche-item-title-name {
			display: inline !important;
			font-size: 14px;
			line-height: 18px;
		}
		.afiche-item-title-description {
			margin-top: 5px;
		}
	}
	.afiche-list .panel-collapse {
		padding-left: 30px;
	}
	.afiche-item-content .afiche-nav {
		margin-bottom: 15px;
	}
	.afiche-item-content .afiche-list-inner-time-item {
		margin-right: 8px;
	}
	.afiche-item-link {
		padding-right: 0;
		font-family: $font-primary-regular;
		font-size: 12px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	}
	.afiche-list .panel-heading .link--afiche,
	.afiche-list .link--afiche {
		padding: 10px 0;
	}
	.afiche-list-inner-nav {
		display: none;
	}
	.afiche-list-inner-body-item {
		margin-bottom: 0;
		padding-bottom: 10px;
		border-bottom: 1px solid #f3f3f3;
		+ .afiche-list-inner-body-item {
			margin-top: 10px;
		}
	}
	.afiche-list-inner-body-item-title {
		margin-bottom: 15px;
	}
	.afiche-list-inner-time-type {
		font-size: 8px;
	}
	.afiche-list-inner-body-item-name .link span {
		font-size: 14px;
	}
	.afiche-list-inner-time-item {
		.dropdown--dashed {
			margin-bottom: 0;
		}
	}
	.afiche-list-inner-time-item .btn--dropdown span {
		font-size: 14px;
	}
	.afiche-list-inner-body-item-meta {
		font-size: 13px;
	}
	.afiche-list-inner-time {
		display: block;
		width: 100%;
	}
	.afiche-item-content .afiche-list-inner-body-item-name .link {
		line-height: 20px;
	}
	.dropdown--tickets {
		.arrow {
			position: absolute;
			left: 50%;
			top: -11px;
			transform: translateX(-50%);
			width: 30px;
			height: 13px;
			display: none;
			z-index: 1010;
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 2px;
				left: 0;
				border-left: 16px solid transparent;
				border-right: 16px solid transparent;
				border-top: 14px solid rgba(0, 0, 0, 0.05);
				filter: blur(2px);
				z-index: 3;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				border-left: 15px solid transparent;
				border-right: 15px solid transparent;
				border-top: 13px solid #fff;
				z-index: 7;
			}
		}
		&.open {
			.arrow {
				display: block;
			}
		}
	}
	.dropdown--tickets .dropdown-menu {
		// position: fixed;
		top: auto;
		left: auto;
		// right: 0;
		bottom: calc(100% + 9px);
		transform: none;
		padding: 10px;
		box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
		&:after,
		&:before {
			display: none;
		}
	}
	.afiche-tip {
		display: none;
	}
	.afiche-types {
		width: 100%;
		margin: 10px 0 0 0;
		border: none;
	}
	.afiche-types-item {
		width: 50%;
		.btn--primary {
			width: 100%;
			border: 1px solid #e6e6e6;
			box-shadow: none;
		}
	}
	.afiche-types-item:first-child .btn--primary {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.afiche-types-item:last-child .btn--primary {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	.afiche-about-list--movie .afiche-about-item:first-child p {
		padding: 0;
	}
	.afiche-about-list--movie {
		width: 100%;
	}
	.afiche-controls {
		background-color: transparent;
		&:after,
		&:before {
			background-color: transparent;
		}
	}
	.afiche .breadcrumbs {
		padding-top: 10px;
		margin-bottom: 10px;
		.breadcrumbs-item.active .link {
			display: inline;
		}
	}
	.afiche-nav {
		margin-top: 0;
	}
	.afiche-controls .dropdown-menu {
		right: 0;
		left: auto;
	}
	.afiche-item-wrapper {
		padding-top: 0;
	}
	.afiche-sidebar,
	.afiche-item-content {
		float: none !important;
		width: 100%;
		margin: 0;
	}
	.afiche-item .afiche-about-figure {
		float: none !important;
		margin-bottom: 10px;
	}
	.afiche-item-content .afiche-about-figure {
		float: none !important;
		width: 100%;
		margin-bottom: 10px;
	}
	.afiche-item-content .afiche-about-list {
		width: 100%;
		padding-bottom: 30px;
	}
	.afiche-list-inner-time {
		width: 100% !important;
		margin: 0;
	}
	.afiche-sidebar .title--secondary {
		color: $color-primary;
	}
	.afiche-sidebar-list-item .link {
		font-family: $font-primary-bold;
		font-size: 14px;
	}
	.afiche-sidebar-list-item.active .link {
		background-color: transparent !important;
		color: #000;
		&:after,
		&:before {
			content: none;
		}
	}
	.afiche {
		padding-bottom: 30px;
	}
	.afiche-item-content .afiche-item-content-title {
		font-size: 18px;
		line-height: 20px;
	}
	.afiche-about-item {
		width: 100%;
		margin: 0;
	}
	.afiche-about-item-title {
		font-size: 14px;
	}
	.afiche-item-soon-trailer {
		.video-iframe {
			width: 100% !important;
			height: auto !important;
		}
	}
	.main--search {
		padding-bottom: 20px;
		.filters-order {
			display: inline !important;
		}
		.control-bar-filters .filters-order .btn--dashed {
			margin-left: 0;
			margin-right: 5px;
			&:first-child {
				margin-left: 5px;
			}
		}
		.filters--search {
			padding-bottom: 10px;
		}
	}
	.filters--search .btn--dashed {
		border-width: 1px;
		line-height: 14px;
	}
	.search-section .companies-list .companies-item:first-child {
		padding-top: 0;
		padding-bottom: 0;
	}
	.search-section .companies-list .companies-item {
		padding-top: 10px;
		padding-bottom: 0;
	}
	.dropdown--dashed.is-header {
		// position: absolute;
		// top: 10px;
		// right: 10px;
		position: relative;
		top: -5px;
		margin-bottom: 10px;
		.dropdown-menu {
			right: auto;
			left: 0;
		}
	}
	.afiche-item {
		.panel-title {
			position: relative;
		}
		.panel-title:after {
			content: '';
			display: block;
			position: absolute;
			top: 17px;
			right: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid #b2b2b2;
			transform-origin: center center;
			transition: 0.5s;
		}
		&.is-opened {
			.panel-title:after {
				border-top-color: $color-primary;
				transform: rotate(180deg);
			}
		}
	}
	.control-bar-filters .filters-order .btn--dashed {
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 5px;
	}
	.control-bar-filters .filters-order .btn--default {
		margin-left: 0;
		padding: 3px 5px;
	}
	.movies-hero-body .sharing {
		margin-top: 10px;
	}
	// .cinema {
	.icon--order {
		display: none;
	}
	// }
	.rating-item .rating-movie-meta .meta-title {
		font-size: 16px;
	}
	.rating-item .rating-index,
	.rating-item .rating-people {
		font-family: $font-numbers;
		font-weight: 400;
		font-size: 14px;
	}
	.rating-item .rating-movie {
		width: calc(100% - 35px);
		padding-bottom: 10px;
		padding-left: 10px;
	}
	.rating-item .rating-movie-meta .meta-head {
		margin-bottom: 3px;
	}
	.studio-meta {
		width: 100%;
	}
	.studio-map {
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		iframe {
			width: 100%;
		}
	}
	.pagination--primary {
		.pagination-link {
			font-size: 14px;
			color: #000;
		}
	}
	.pagination-mobile {
		width: calc(100% + 30px);
		margin-right: -15px;
		margin-left: -15px;
		padding: 10px 0;
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
		color: #c8c8c8;
	}
	.banner--afiche {
		height: auto;
		margin-bottom: 20px;
		.banner-image {
			width: 100%;
		}
	}
	.lg-outer {
		z-index: 3000;
	}
	.lg-backdrop {
		z-index: 2000;
	}
	.lg-toolbar {
		opacity: 1;
	}
	.icon--facts {
		margin-right: 10px;
	}
	.link--archive {
		margin-left: 33px;
	}
	.money .money-balance {
		position: relative;
		top: 1px;
	}

	// baykonur
	.film .afisha img {
		width: 100%;
	}
	.header .btn--menu {
		margin-top: 0;
	}
	.container {
		.winners {
			display: block;
			width: 100%;
			.winner {
				display: block;
				width: 100%;
				transform: rotate(0);
				margin: 0;
				+ .winner {
					margin-top: 30px;
				}
			}
		}
	}
	.partners-list {
		display: block;
	}
	.partners-item {
		display: block;
		width: 100%;
		max-width: 320px;
		margin: 0 auto;
		+ .partners-list-item {
			margin-top: 20px;
		}
	}
	.partners-item .partners-image {
		width: 200px;
	}
	.application .form-group--text,
	.form-group--text {
		width: 100%;
		margin-right: 0;
	}
	.form-group--image {
		display: block;
		height: auto;
		width: 100%;
		.cropper {
			position: relative;
			margin: 0 auto;
		}
	}
	.footer--primary .social-list {
		text-align: left;
	}
	.cropit-image-input {
		width: 100%;
	}
	.grid-item--statue {
		padding-left: 0;
		h1 {
			font-size: 48px;
		}
		.statue {
			display: none;
			width: 20%;
			top: 0;
			left: 200px;
			img {
				width: 100%;
			}
		}
	}
	.hero .swiper-controls {
		top: -15px;
	}
	.movie .movie-hero .movie-cover {
		width: 100%;
		text-align: left;
	}
	.movie .movie-info {
		.movie-info-item {
			padding-right: 20px;
		}
		.movie-info-title,
		.movie-info-description {
			width: 100%;
		}
	}
	.movies-list .movies-item .movies-item-cover {
		height: auto;
		img {
			width: 100%;
		}
	}
	.movies .movies-list {
		margin-bottom: 30px;
		.movies-item {
			margin-bottom: 15px;
			.label--news {
				padding: 6px 0 4px;
			}
		}
		.add-movie {
			padding-top: 15px;
			p {
				position: static;
				padding: 0;
			}
			.movies-item-title {
				margin-bottom: 10px;
			}
		}
	}

	.booking-wrapper {
		display: block !important;
	}
	.booking-item {
		display: block;
		width: 100%;
		margin-right: 0;
		+ .booking-item {
			margin-top: 20px;
		}
	}
	// form on the application page
	.application {
		.form-application {
			padding-top: 0;
			.form-wrapper {
				width: calc(100% + 30px);
				margin-left: -15px;
				margin-right: -15px;
				border-radius: 0;
			}
			.form-group--genre {
				width: 100%;
			}
			.form-row {
				.form-group {
					+ .form-group.form-group--genre,
					+ .form-group.form-group--name,
					+ .form-group.form-group--email {
						margin-left: 0;
					}
				}
			}
			.form-group--link,
			.form-group--description {
				width: 100%;
			}
			.form-group--image {
				width: auto;
				.cropper,
				.cropit-preview {
					width: 230px;
					height: 340px;
				}
				.cropper {
					margin-left: 0;
				}
			}
		}
	}
}

@media (min-width: 481px) {
	.application {
		.form-application {
			.form-scheme-item::after {
				content: '';
				position: absolute;
				top: -21px;
				left: 55px;
				width: calc(100% + 10px);
				height: 1px;
				background: #b8bcc3;
			}

			.form-scheme-item-title::before {
				content: '';
				border: 9px solid #b8bcc3;
				border-radius: 25px;
				position: absolute;
				left: 50px;
				top: -30px;
			}

			.form-scheme-item:nth-child(3n)::after {
				content: none;
			}
		}
	}
}
