
a {
  display: inline-block;
}

a,
a:hover,
a:focus,
a:active,
a span,
a:hover span,
a:focus span,
a:active span,
.nav li a,
.nav li a:hover,
.nav li a:focus,
.nav li a:active,
button,
button:hover,
button:focus,
button:active, {
  text-decoration: none;
  box-shadow: none;
  outline: none !important;
}

p,
span,
h1,h2,h3,h4,h5,h6,
ul,
ul li {
  margin: 0;
  padding: 0;
  // cursor: default;
}

ul li {
  list-style: none;
}

a:hover,
a:focus,
a:active,
button:hover,
button:focus,
button:active {
  cursor: pointer;
  span {
    cursor: pointer;
  }
}

span, a {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

textarea {
  resize: none;
}
