
.stones {
  background-image: url(../images/stones.png);
  width: 938px;
  height: 591px;
  pointer-events: none;
  position: absolute;
  top: -160px;
  left: 80px;
}

.grey {
  background-color: #E6E9F0;
  &,
  & > * {
    color: #747882;
  }
}

.flex {
  display: flex;
  justify-content: space-around;
}
