$font-primary-regular: 'PTSans-Caption', Helvetica, Arial, sans-serif;
$font-primary-bold: 'PTSans-CaptionBold', Helvetica, Arial, sans-serif;

$font-secondary-regular: 'PTSans-Regular', Helvetica, Arial, sans-serif;
$font-secondary-bold: 'PTSans-Bold', Helvetica, Arial, sans-serif;
$font-secondary-italic: 'PTSans-Italic', Helvetica, Arial, sans-serif;

$font-serif-primary: 'PTSerif-Caption', Helvetica, Arial, sans-serif;
$font-serif-secondary: 'PTSerif-Regular', Helvetica, Arial, sans-serif;
$font-serif-secondary-bold: 'PTSerif-Bold', Helvetica, Arial, sans-serif;

$font-gotham-light: 'GothamPro-Light', Helvetica, Arial, sans-serif;
$font-gotham-medium: 'GothamPro-Medium', Helvetica, Arial, sans-serif;

$font-gill-regular: 'GillSans', Helvetica, Arial, sans-serif;
$font-gill-bold: 'GillSans-Bold', Helvetica, Arial, sans-serif;
$font-gill-semibold: 'GillSans-SemiBold', Helvetica, Arial, sans-serif;

$font-numbers: 'Helvetica Neue', Arial, sans-serif;
$font-tenge: 'Tenge';

// $color-primary: #c8395e;
$color-primary: #e73f60;
// $color-primary: rgb(227,84,55);

$color-meta: #b4b4b4;
$color-label-secondary: #24c5fa;
$color-grey-border: #e6e6e6;

$transition-primary: 0.3s;

// variables for proper paths, cause on prod styles load via ajax into the head
$build: '';

$pathFonts: '../fonts/';
$pathImages: '../images/';

@if $build == 'prod' {
	$pathFonts: '/styles/fonts/';
	$pathImages: '/images/';
}
else {
	$pathFonts: '../fonts/';
	$pathImages: '../images/';
}
