$icon-font-path: 'node_modules/bootstrap-sass/assets/fonts/bootstrap/';
// bower:scss
@import 'node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'node_modules/font-awesome/scss/font-awesome.scss';
// endbower

@import 'variables';
@import 'reset';
@import 'fonts';

@import 'modules/abouts';
@import 'modules/articles';
@import 'modules/avatars';
@import 'modules/banners';
@import 'modules/bookings';
@import 'modules/breadcrumbs';
@import 'modules/buttons';
@import 'modules/comments';
@import 'modules/companies';
@import 'modules/contacts';
@import 'modules/copyrights';
@import 'modules/cropits';
@import 'modules/dropdowns';
@import 'modules/errors';
@import 'modules/grids';
@import 'modules/faqs';
@import 'modules/filters';
@import 'modules/forms';
@import 'modules/heros';
@import 'modules/icons';
@import 'modules/infos';
@import 'modules/labels';
@import 'modules/leads';
@import 'modules/lightsliders';
@import 'modules/links';
@import 'modules/lists';
@import 'modules/lives';
@import 'modules/logos';
@import 'modules/menus';
@import 'modules/maps';
@import 'modules/modals';
@import 'modules/moneys';
@import 'modules/movies';
@import 'modules/navs';
@import 'modules/news';
@import 'modules/nominations';
@import 'modules/paginations';
@import 'modules/partners';
@import 'modules/peoples';
@import 'modules/persons';
@import 'modules/prices';
@import 'modules/profiles';
@import 'modules/programs';
@import 'modules/promo-codes';
@import 'modules/ratings';
@import 'modules/reviews';
@import 'modules/searches';
@import 'modules/selects';
@import 'modules/sharings';
@import 'modules/similars';
@import 'modules/socials';
@import 'modules/soons';
@import 'modules/stars';
@import 'modules/studios';
@import 'modules/swipers';
@import 'modules/tables';
@import 'modules/tabs';
@import 'modules/titles';
@import 'modules/thumbs';
@import 'modules/videos';
@import 'modules/winners';
@import 'modules/anycontest';
@import 'modules/small-tabs';

@import 'layout';
@import 'hacks';
@import 'utils';
@import 'rocket-logo';
@import 'media';

// pages
@import 'pages/financing';
@import 'pages/accreditation';
@import 'pages/video-contest';
@import 'pages/music_video';
@import 'pages/pitches';

body {
	main.main.pr-pages {
		background: #fff;
	}
}

.upper {
	text-transform: uppercase;
}

.error-404 {
	background: #000 !important;
}

body {
	@media screen and (max-width: 1024px) {
		.container {
			width: 95%;
		}

		.main--secondary {
			min-height: 100%;
			background: #fff;
		}
	}

	@media screen and (max-width: 500px) {
		.main--secondary {
			min-height: auto;
		}
	}
}
